{:properties 0,
 :definitions 0,
 :deferred_sets 0,
 :number-of-transitions 5,
 :deadlock false,
 :file
 "./prob-examples/B/PragmasUnits/Tests/WrongComparisonInInvariant.mch",
 :enumerated_sets 0,
 :variables 2,
 :number-of-states 3,
 :included-machines
 ["./prob-examples/B/PragmasUnits/Tests/WrongComparisonInInvariant.mch"],
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 2,
 :sha256
 "36b59149db6b9536dbc1e79bfb5b8bf25aa62ecfefb546e290b21d87c3bd0626",
 :invariants 3,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 50,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 0,
 :formalism :b}
