{:properties 15,
 :definitions 2,
 :deferred_sets 1,
 :number-of-transitions 1425468,
 :deadlock false,
 :file "./prob-examples/EventBTrans/SteveWright_VM/ControlFlowR2.mch",
 :enumerated_sets 1,
 :variables 3,
 :number-of-states 32340,
 :included-machines
 ["./prob-examples/EventBTrans/SteveWright_VM/ControlFlowR2.mch"],
 :sha512
 "c6cd6858336337c7972154053f47d75e4b849e3140b1f1ae20faa395496512531e05ac2931e0109c518a35d1e15865919620c57e1c5e4f20680f41850b773db6",
 :comment "",
 :files 1,
 :static_assertions 1,
 :operations 10,
 :sha256
 "17ded670ca8d997bedf593cad18d2ae8c6dca555c3ae1699d500a6788fe77ec6",
 :invariants 2,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 71110,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors nil,
   :states 32340,
   :transitions 1425468,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 498755824,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "79e0b7479a41fa0474ef8a4ee40b9307285cb97c",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 80274,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("general_error_occurred" "internal_error(error_manager)"),
   :states 6638,
   :transitions 1373745,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 809670416,
   :result "general_error_occurred",
   :model-checking-time-unit :msec,
   :machine-hash "79e0b7479a41fa0474ef8a4ee40b9307285cb97c",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 75142,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("model_check_incomplete"),
   :states 32340,
   :transitions 1425468,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 2443,
   :memory-usage 503512800,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "79e0b7479a41fa0474ef8a4ee40b9307285cb97c",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 82167,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 32340,
   :transitions 1425468,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 498765600,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "79e0b7479a41fa0474ef8a4ee40b9307285cb97c",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 77520,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("model_check_incomplete"),
   :states 32340,
   :transitions 1425468,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 2699,
   :memory-usage 542917472,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "79e0b7479a41fa0474ef8a4ee40b9307285cb97c",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 80222,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 8,
 :formalism :b}
