{:properties 22,
 :definitions 2,
 :deferred_sets 1,
 :number-of-transitions :unknown,
 :deadlock :unknown,
 :file "./prob-examples/EventBTrans/SteveWright_VM/ControlFlowR3.mch",
 :enumerated_sets 1,
 :variables 7,
 :number-of-states :unknown,
 :included-machines
 ["./prob-examples/EventBTrans/SteveWright_VM/ControlFlowR3.mch"],
 :sha512
 "ede3edb0770e8ce5b17eceb71a5be9869267071fdebeee0b8cdaddfd482f9a4a74c697e9a83112438d107daa17826d08ee717992c846ba76414a575c6b95ce5e",
 :comment "",
 :files 1,
 :static_assertions 1,
 :operations 19,
 :sha256
 "903c4ec614ddf4d4ef1215cd6dc0262bb67c2712c16956b21acedc0c1ba5fde1",
 :invariants 3,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time :timeout,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 13,
 :formalism :b}
