{:properties 184,
 :definitions 3,
 :deferred_sets 2,
 :number-of-transitions :unknown,
 :deadlock :unknown,
 :file "./prob-examples/EventBTrans/SteveWright_VM/MemMchR4.mch",
 :enumerated_sets 1,
 :variables 15,
 :number-of-states :unknown,
 :included-machines
 ["./prob-examples/EventBTrans/SteveWright_VM/MemMchR4.mch"],
 :sha512
 "2fe25a15fd385bf625019bab949ffa753b1201c58db833603dfda3bf62750b62a78c261d2101d2a09da97352a153e6612dddf40fe176451e82ec0f3850827e25",
 :comment "",
 :files 1,
 :static_assertions 1,
 :operations 74,
 :sha256
 "a5658aa9b780c122f9a081c207e05521e0ecff77eb521189502247b3f7cab1a0",
 :invariants 7,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time :timeout,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}],
 :dynamic_assertions 0,
 :invariant-violated :unknown,
 :constants 85,
 :formalism :b}
