{:properties 63,
 :definitions 3,
 :deferred_sets 2,
 :number-of-transitions :unknown,
 :deadlock :unknown,
 :file "./prob-examples/EventBTrans/SteveWright_VM/RegMach4.mch",
 :enumerated_sets 1,
 :variables 15,
 :number-of-states :unknown,
 :included-machines
 ["./prob-examples/EventBTrans/SteveWright_VM/RegMach4.mch"],
 :sha512
 "b93a9189344cf163e835c1d17a05297987d9bc739f53e8c798c8c58f6d989f2386e85cf9e18f544fbea0c710ddb8984c10d62c199d618152b69b27d3d2d9d18c",
 :comment "",
 :files 1,
 :static_assertions 1,
 :operations 39,
 :sha256
 "c08bcaadff74423d35d3c3aff033263ce99c5ad3591b45832cc435cc70e42e69",
 :invariants 2,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time :timeout,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}],
 :dynamic_assertions 0,
 :invariant-violated :unknown,
 :constants 32,
 :formalism :b}
