{:properties 8,
 :definitions 0,
 :deferred_sets 2,
 :number-of-transitions 58241,
 :deadlock false,
 :file "./prob-examples/B/Demo/Simpson/Simpson_Four_Slot_Symm.mch",
 :enumerated_sets 0,
 :variables 10,
 :number-of-states 25345,
 :included-machines
 ["./prob-examples/B/Demo/Simpson/Simpson_Four_Slot_Symm.mch"],
 :sha512
 "8953b0914016ba71c5d9e0126f5d745877bde513ac7c18f02869c18e62d7204a58576d6bf7ffee74d2b64509f5b8d16f5ec35ac42aab2ed5dd55ef8e3d0f4f0c",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 9,
 :sha256
 "a88fa6d8958bac2f476a684d60f8e2cb96c43099b5f0b26fb85d8c64ab100bf8",
 :invariants 10,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 209715200,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 7340,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors nil,
   :states 25345,
   :transitions 58241,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 143,
   :memory-usage 209601216,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "262961665e0b11ca688bb4b86f980d5287bd86f2",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 15510,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 25345,
   :transitions 58241,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 209191488,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "262961665e0b11ca688bb4b86f980d5287bd86f2",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 8482,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 25345,
   :transitions 58241,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 204158096,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "262961665e0b11ca688bb4b86f980d5287bd86f2",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 9831,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 24065,
   :transitions 50945,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 69,
   :memory-usage 209075536,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "262961665e0b11ca688bb4b86f980d5287bd86f2",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 13321,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 25345,
   :transitions 58241,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 209181680,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "262961665e0b11ca688bb4b86f980d5287bd86f2",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 9125,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 3,
 :formalism :b}
