{:properties 2,
 :definitions 8,
 :deferred_sets 2,
 :number-of-transitions 1024,
 :deadlock true,
 :file "./prob-examples/B/Laws/CBC/SetLaws_als.mch",
 :enumerated_sets 0,
 :variables 0,
 :number-of-states 1024,
 :included-machines ["./prob-examples/B/Laws/CBC/SetLaws_als.mch"],
 :comment "",
 :files 1,
 :static_assertions 1,
 :operations 1,
 :sha256
 "cbca2b2ae32162a472a30cf861052eb2bf8c1e721e654063446dfac4c5d23a6f",
 :invariants 0,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 5080,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 4,
 :formalism :b}
