{:properties 1,
 :definitions 2,
 :deferred_sets 0,
 :file
 "./prob-examples/B/NewSyntax/ExpressionsWithOperations/TopologyOpExpr.mch",
 :enumerated_sets 2,
 :variables 2,
 :sha512
 "df9b562cff15da28957aa87b804978edf47d1ddf3e52f9a2551216c3dd87469653dd91f49d0d02725450a21452ef7b5b9fb4057909784379e2fe244b06bcfa56",
 :static_assertions 0,
 :operations 3,
 :sha256
 "0338b0e0bfde1bbcdaf80972b9bd1398cce0da042a791cc131bd595e0e0d11e4",
 :invariants 1,
 :runs
 [{:errors nil,
   :states 7,
   :transitions 8,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162904384,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "ff595816b96af8b88aa9fbae5d18563ab8cc9a6f",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 158,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 7,
   :transitions 8,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162943232,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "ff595816b96af8b88aa9fbae5d18563ab8cc9a6f",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 169,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 6,
   :transitions 8,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162986048,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "ff595816b96af8b88aa9fbae5d18563ab8cc9a6f",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 168,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 6,
   :transitions 8,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 4,
   :memory-usage 163038688,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "ff595816b96af8b88aa9fbae5d18563ab8cc9a6f",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 173,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 7,
   :transitions 8,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 4,
   :memory-usage 162999536,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "ff595816b96af8b88aa9fbae5d18563ab8cc9a6f",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 172,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 2,
 :constants 1}
