{:properties 0,
 :definitions 0,
 :deferred_sets 0,
 :number-of-transitions 60,
 :deadlock false,
 :file "./prob-examples/TLA/Full_Clock/clock_translated_err.mch",
 :enumerated_sets 0,
 :variables 3,
 :number-of-states 59,
 :included-machines
 ["./prob-examples/TLA/Full_Clock/clock_translated_err.mch"],
 :sha512
 "0311064d02e12009b1c98dffcde4b3ab64308b0b0c026f08bcda6606be8faacbfa775a1001b6de629a541eb75c3276b50536f0824e8d614634ba678cfb97f32a",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 1,
 :sha256
 "dc74a352d4cb93aaaf279c8d7c387e5d78cf9d4794163f940f84bec4091f9d2c",
 :invariants 0,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 60,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors nil,
   :states 59,
   :transitions 60,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 161990128,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "29b6e2eee3b1081377bcd23d8292a597edd5fe17",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 141,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 59,
   :transitions 60,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 161992400,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "29b6e2eee3b1081377bcd23d8292a597edd5fe17",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 143,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 59,
   :transitions 60,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 5,
   :memory-usage 162095456,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "29b6e2eee3b1081377bcd23d8292a597edd5fe17",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 145,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 59,
   :transitions 60,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 5,
   :memory-usage 162088512,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "29b6e2eee3b1081377bcd23d8292a597edd5fe17",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 148,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 59,
   :transitions 60,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 162002240,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "29b6e2eee3b1081377bcd23d8292a597edd5fe17",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 140,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 0,
 :formalism :b}
