{:properties 5,
 :definitions 2,
 :deferred_sets 1,
 :number-of-transitions :unknown,
 :deadlock :unknown,
 :file "./prob-examples/B/Puzzles/ChainLinkPuzzle.mch",
 :enumerated_sets 0,
 :variables 2,
 :number-of-states :unknown,
 :included-machines ["./prob-examples/B/Puzzles/ChainLinkPuzzle.mch"],
 :sha512
 "cca516f7d3a57108dcdf868f95617c8fb5b0715d628165007f61b81a308bd954320355767496dd27d4f089bec46d88c50e4217a9fd04e015f7e6a550c4bda2ee",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 2,
 :sha256
 "30f125b7b06651a5267799c4df6ca1117d79c95db0950e9743c239687cb08b9c",
 :invariants 0,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time :timeout,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}],
 :dynamic_assertions 0,
 :invariant-violated :unknown,
 :constants 1,
 :formalism :b}
