{:properties 2,
 :definitions 2,
 :deferred_sets 0,
 :number-of-transitions :unknown,
 :deadlock true,
 :file "./prob-examples/B/Puzzles/DesertOilTruck.mch",
 :enumerated_sets 0,
 :variables 3,
 :number-of-states :unknown,
 :included-machines ["./prob-examples/B/Puzzles/DesertOilTruck.mch"],
 :sha512
 "971a34c2fa192c05bc9954395a4f2c3983ff6f8d822353397535ac9314b2d89f8141a712f70713675d39e3990835e4c6f26adb28bdaa520c277455e28febce8a",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 5,
 :sha256
 "c6467118c85d0d3ae783b1ce5643271d0216f18d57551c4b3d8f5fec4d7ce94d",
 :invariants 3,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time :timeout,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:errors ("deadlock"),
   :states 14,
   :transitions 40,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1780,
   :memory-usage 163419808,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "817c3d70a05e7446b9919b5bf3a5818c5edaaea7",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 85,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 18,
   :transitions 54,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 162686272,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "817c3d70a05e7446b9919b5bf3a5818c5edaaea7",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 142,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}],
 :dynamic_assertions 0,
 :invariant-violated :unknown,
 :constants 2,
 :formalism :b}
