{:properties 2,
 :definitions 13,
 :deferred_sets 0,
 :number-of-transitions 19448,
 :deadlock true,
 :file "./prob-examples/B/Puzzles/DiceMovementPuzzle.mch",
 :enumerated_sets 0,
 :variables 9,
 :number-of-states 19448,
 :included-machines
 ["./prob-examples/B/Puzzles/DiceMovementPuzzle.mch"],
 :sha512
 "178ea07a606574636d5f5b446fea69dc203f1ea7e3bdeef8a535fd6cb37f5245600733713008a5f3c0a990cc37669855d8281148ae155ecd0b6593f6d8017bf6",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 2,
 :sha256
 "b51148aedee16f976801632617d392193d4ca9a14d5e5c306152f521e4feab2c",
 :invariants 4,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 209715200,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 2840,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 14443,
   :transitions 19448,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 204537984,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "a2e6bb1299ade37940957fb39eec80a7cbff1b0b",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 2774,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 14443,
   :transitions 19448,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 56,
   :memory-usage 207863856,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "a2e6bb1299ade37940957fb39eec80a7cbff1b0b",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 4055,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 19448,
   :transitions 19448,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 199339120,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "a2e6bb1299ade37940957fb39eec80a7cbff1b0b",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 3210,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 19448,
   :transitions 19448,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 196006576,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "a2e6bb1299ade37940957fb39eec80a7cbff1b0b",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 6361,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 19448,
   :transitions 19448,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 165,
   :memory-usage 200227184,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "a2e6bb1299ade37940957fb39eec80a7cbff1b0b",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 8081,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 2,
 :formalism :b}
