{:properties 6,
 :definitions 2,
 :deferred_sets 0,
 :number-of-transitions 120,
 :deadlock true,
 :file "./prob-examples/B/Puzzles/Dodecahedron_Coloring.mch",
 :enumerated_sets 2,
 :variables 0,
 :number-of-states 120,
 :included-machines
 ["./prob-examples/B/Puzzles/Dodecahedron_Coloring.mch"],
 :sha512
 "ac8cbaecd88277163c2f1e076fa7cc7edbd2c6f53a10b350caec3d900abff80d6af55b4b3685be9295b795fff77935b2bd6a58e1825805aeb1260cbd2119fe26",
 :comment "",
 :files 1,
 :static_assertions 2,
 :operations 0,
 :sha256
 "4f15e9ea06db1f44a9a4addf58b703a5ccdb4332e5f7175cf830925f9faec75f",
 :invariants 0,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 30,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors nil,
   :states 120,
   :transitions 120,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 3,
   :memory-usage 164323056,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "f275b733894d069bbcec52c1145f04a8ba888a7a",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 44,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 120,
   :transitions 120,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 164234112,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "f275b733894d069bbcec52c1145f04a8ba888a7a",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 34,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 60,
   :transitions 120,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 164431504,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "f275b733894d069bbcec52c1145f04a8ba888a7a",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 38,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 120,
   :transitions 120,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 163957456,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "f275b733894d069bbcec52c1145f04a8ba888a7a",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 37,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 60,
   :transitions 120,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 2,
   :memory-usage 164407824,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "f275b733894d069bbcec52c1145f04a8ba888a7a",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 48,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 2,
 :formalism :b}
