{:properties 2,
 :definitions 6,
 :deferred_sets 1,
 :file "./prob-examples/B/Puzzles/Hanoi10.mch",
 :enumerated_sets 0,
 :variables 1,
 :sha512
 "c497c29984bc6bf26ebbc76f5204dcd6db310d2ff2d52ee7e3ce45245c47f7870ee662b40830ccf495e5b605603fbcea74a0d2dd50044f3af9da87a195907b50",
 :static_assertions 0,
 :operations 1,
 :sha256
 "6d6e192bd3a51b67cfe2ed6c26dd58aacd580ed9364f78995b131030ed588804",
 :invariants 1,
 :runs
 [{:errors nil,
   :states 59050,
   :transitions 177146,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 297515744,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "785bbcb2869f0fe8728391ad5111572514e9f588",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 57517,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 59050,
   :transitions 177146,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 297594432,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "785bbcb2869f0fe8728391ad5111572514e9f588",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 57753,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 59050,
   :transitions 177146,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 5,
   :memory-usage 297650208,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "785bbcb2869f0fe8728391ad5111572514e9f588",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 63248,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 59050,
   :transitions 177146,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 5,
   :memory-usage 318062480,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "785bbcb2869f0fe8728391ad5111572514e9f588",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 62073,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 59050,
   :transitions 177146,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 286046496,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "785bbcb2869f0fe8728391ad5111572514e9f588",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 58146,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :constants 1}
