{:properties 1,
 :definitions 8,
 :deferred_sets 0,
 :number-of-transitions 678084,
 :deadlock true,
 :file "./prob-examples/B/Puzzles/KnightsTour_tlc.mch",
 :enumerated_sets 0,
 :variables 3,
 :number-of-states 508462,
 :included-machines ["./prob-examples/B/Puzzles/KnightsTour_tlc.mch"],
 :sha512
 "d99847d14dc742cdc336afe30cc24c10420c5a7a0aebc8efc3d2be4a1ad9f10e341ae203975267bc5f194fd7add8818c71b53f1e81738d509d25dd6be18656dd",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 1,
 :sha256
 "7dda9763efd86d92b41bec88a634a54e89363570bca41c64a760fdebf2f8355a",
 :invariants 3,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 594250,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors nil,
   :states 508462,
   :transitions 678084,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 4,
   :memory-usage 1061035184,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "167512db51b8b04dfcee95fc32f33abb7db90032",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 660593,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 60,
   :transitions 189,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 4,
   :memory-usage 163093456,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "167512db51b8b04dfcee95fc32f33abb7db90032",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 214,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 508462,
   :transitions 678084,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 1060803360,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "167512db51b8b04dfcee95fc32f33abb7db90032",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 562528,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 60,
   :transitions 189,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162997920,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "167512db51b8b04dfcee95fc32f33abb7db90032",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 215,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 508462,
   :transitions 678084,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 962816368,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "167512db51b8b04dfcee95fc32f33abb7db90032",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 641132,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 1,
 :formalism :b}
