{:properties 2,
 :definitions 7,
 :deferred_sets 0,
 :number-of-transitions 5963,
 :deadlock true,
 :file "./prob-examples/B/Puzzles/McCarthyMutilatedChessboard_MC.mch",
 :enumerated_sets 0,
 :variables 2,
 :number-of-states 2901,
 :included-machines
 ["./prob-examples/B/Puzzles/McCarthyMutilatedChessboard_MC.mch"],
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 3,
 :sha256
 "d49b07152d5df8fac418b07d6710d012c8119b4822a31a6fe46f3fc91f45ab4b",
 :invariants 2,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 209715200,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 3360,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 2,
 :formalism :b}
