{:properties 7,
 :definitions 3,
 :deferred_sets 0,
 :number-of-transitions 44,
 :deadlock true,
 :file "./prob-examples/B/Puzzles/Minesweeper.mch",
 :enumerated_sets 0,
 :variables 0,
 :number-of-states 44,
 :included-machines ["./prob-examples/B/Puzzles/Minesweeper.mch"],
 :comment "",
 :files 1,
 :static_assertions 1,
 :operations 0,
 :sha256
 "aa507f78345380cc147dfc06f48dafd8034de261ba593aa1a0dca3a26df64df3",
 :invariants 0,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 20,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 4,
 :formalism :b}
