{:properties 1,
 :definitions 8,
 :deferred_sets 0,
 :number-of-transitions 55,
 :deadlock true,
 :file "./prob-examples/B/Puzzles/NQueensModelCheck.mch",
 :enumerated_sets 0,
 :variables 2,
 :number-of-states 55,
 :included-machines
 ["./prob-examples/B/Puzzles/NQueensModelCheck.mch"],
 :sha512
 "466c24cf8bbf30f03c6f307fbf599a386b55729dd5fc02450fb64f6d2eef40cf9d1f63baa46d07ced97e1bc0ed40ee0d6faf9da258800c4adf5ad61621b4e5b9",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 1,
 :sha256
 "ecef9135195e94b805eaf12fcad89e2d56708e781c4e136df705db97dc818602",
 :invariants 2,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 160,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 21,
   :transitions 35,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 162651232,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "0c3277f4d555e0447418e4107887011683327efe",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 143,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 55,
   :transitions 55,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 162577360,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "0c3277f4d555e0447418e4107887011683327efe",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 146,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 55,
   :transitions 55,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 4,
   :memory-usage 162705824,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "0c3277f4d555e0447418e4107887011683327efe",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 185,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 21,
   :transitions 35,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 4,
   :memory-usage 162710720,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "0c3277f4d555e0447418e4107887011683327efe",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 152,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 55,
   :transitions 55,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 162636848,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "0c3277f4d555e0447418e4107887011683327efe",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 163,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 1,
 :formalism :b}
