{:properties 6,
 :definitions 2,
 :deferred_sets 0,
 :number-of-transitions 303,
 :deadlock false,
 :file "./prob-examples/B/Puzzles/PexSolve.mch",
 :enumerated_sets 0,
 :variables 0,
 :number-of-states 202,
 :included-machines ["./prob-examples/B/Puzzles/PexSolve.mch"],
 :sha512
 "90388c78a9d268128f32386b3240cc4832044f72337d11390cc599ddbd3ca502627a3798052d5977e695b5ff97417b0850d27feb0febf726ca9345e7f7162e51",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 1,
 :sha256
 "de18773f21fba84c76b86a531cb12463b69d8e83a62e077568ac8b8869a7f3f1",
 :invariants 0,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 40,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors nil,
   :states 202,
   :transitions 303,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 5,
   :memory-usage 162695008,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "57743c880d2ab11d13be6b1cc8b03fb6b4def0b3",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 55,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 202,
   :transitions 303,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162560528,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "57743c880d2ab11d13be6b1cc8b03fb6b4def0b3",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 44,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 202,
   :transitions 303,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 162592000,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "57743c880d2ab11d13be6b1cc8b03fb6b4def0b3",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 40,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 202,
   :transitions 303,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 162601440,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "57743c880d2ab11d13be6b1cc8b03fb6b4def0b3",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 41,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 202,
   :transitions 303,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 5,
   :memory-usage 162729952,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "57743c880d2ab11d13be6b1cc8b03fb6b4def0b3",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 53,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 3,
 :formalism :b}
