{:properties 6,
 :definitions 2,
 :deferred_sets 0,
 :number-of-transitions 303,
 :deadlock false,
 :file "./prob-examples/B/Puzzles/PexSolve.mch",
 :enumerated_sets 0,
 :variables 0,
 :number-of-states 202,
 :included-machines ["./prob-examples/B/Puzzles/PexSolve.mch"],
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 1,
 :sha256
 "de18773f21fba84c76b86a531cb12463b69d8e83a62e077568ac8b8869a7f3f1",
 :invariants 0,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 40,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 3,
 :formalism :b}
