{:properties 4,
 :definitions 23,
 :deferred_sets 0,
 :number-of-transitions 665282,
 :deadlock false,
 :file "./prob-examples/B/Puzzles/Puzzle8_difficult.mch",
 :enumerated_sets 0,
 :variables 1,
 :number-of-states 181441,
 :included-machines
 ["./prob-examples/B/Puzzles/Puzzle8_difficult.mch"],
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 5,
 :sha256
 "3752c4259a5d88582694a43470d74623d2cf49d21ebb5c92748ec6b7a7f18351",
 :invariants 1,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 456150,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 2,
 :formalism :b}
