{:properties 4,
 :definitions 10,
 :deferred_sets 0,
 :number-of-transitions 38,
 :deadlock false,
 :file "./prob-examples/B/Puzzles/Puzzle3.mch",
 :enumerated_sets 0,
 :variables 1,
 :number-of-states 13,
 :included-machines ["./prob-examples/B/Puzzles/Puzzle3.mch"],
 :sha512
 "71d7e7c472a4f4246c96434d9f5fc160f7df7ed14f9083f79bb26b2ad71ee72afa5c9fc354ceef95d9d735cbc2e885329b645b23e0224d271a528b8b3c3e2036",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 5,
 :sha256
 "46cca77869fb8afac30cdc39adbce6983144eb27af3a6e40c9d9141a6fb961e8",
 :invariants 1,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 240,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors nil,
   :states 13,
   :transitions 38,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 344,
   :memory-usage 163833504,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "d24f42a11c8d9f9248f718f7717f8a4b6a8f8c5c",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 114,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 13,
   :transitions 38,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 163304848,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "d24f42a11c8d9f9248f718f7717f8a4b6a8f8c5c",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 224,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 13,
   :transitions 38,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 163315440,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "d24f42a11c8d9f9248f718f7717f8a4b6a8f8c5c",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 235,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 13,
   :transitions 38,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1628,
   :memory-usage 163829760,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "d24f42a11c8d9f9248f718f7717f8a4b6a8f8c5c",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 142,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 13,
   :transitions 38,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 163349120,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "d24f42a11c8d9f9248f718f7717f8a4b6a8f8c5c",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 236,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 2,
 :formalism :b}
