{:properties 4,
 :definitions 16,
 :deferred_sets 0,
 :number-of-transitions 1028162,
 :deadlock false,
 :file "./prob-examples/B/Puzzles/Puzzle8.mch",
 :enumerated_sets 0,
 :variables 1,
 :number-of-states 181441,
 :included-machines ["./prob-examples/B/Puzzles/Puzzle8.mch"],
 :sha512
 "22a292b667265c0853dea5b5ff033a85898b79fd2c1f191e32f3729feb789a156e2cd3fc7c190e4d89f45533e9d9a1ca851375476cfff39c00576e579e4fd2d3",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 7,
 :sha256
 "23732cbd328155bfa2c1c58c7ed9ac53844096268226e223b07d471dd2ca7d40",
 :invariants 1,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 661740,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors nil,
   :states 181441,
   :transitions 1028162,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 2837,
   :memory-usage 763157808,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "1d3f766aa1cac869910bd61405ed095bb6e7ab51",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 721988,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 181441,
   :transitions 1028162,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 661590704,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "1d3f766aa1cac869910bd61405ed095bb6e7ab51",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 655356,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 181441,
   :transitions 1028162,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 728279888,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "1d3f766aa1cac869910bd61405ed095bb6e7ab51",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 626255,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 181441,
   :transitions 1028162,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 728290896,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "1d3f766aa1cac869910bd61405ed095bb6e7ab51",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 634438,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 181441,
   :transitions 1028162,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 4667,
   :memory-usage 728629984,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "1d3f766aa1cac869910bd61405ed095bb6e7ab51",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 790158,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 2,
 :formalism :b}
