{:properties 4,
 :definitions 16,
 :deferred_sets 0,
 :number-of-transitions 1028162,
 :deadlock false,
 :file "./prob-examples/B/Puzzles/Puzzle8.mch",
 :enumerated_sets 0,
 :variables 1,
 :number-of-states 181441,
 :included-machines ["./prob-examples/B/Puzzles/Puzzle8.mch"],
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 7,
 :sha256
 "23732cbd328155bfa2c1c58c7ed9ac53844096268226e223b07d471dd2ca7d40",
 :invariants 1,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 661740,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 2,
 :formalism :b}
