{:properties 20,
 :definitions 18,
 :deferred_sets 0,
 :number-of-transitions 0,
 :deadlock true,
 :file "./prob-examples/B/Puzzles/SudokuAsConstant_NoSolNorvig.mch",
 :enumerated_sets 0,
 :variables 0,
 :number-of-states 0,
 :included-machines
 ["./prob-examples/B/Puzzles/SudokuAsConstant_NoSolNorvig.mch"],
 :sha512
 "38c00cbc90975ca7ef54c461aaf5e9f0ff8b5a42ebb35fbe8987dd89d125d63f235541eca39baeb98b8c76fbebb7b9823bf0cbdbe1c9cca60e412b9885083193",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 2,
 :sha256
 "a0da65421115e4f7dd621b687c5256fc9402712f46e2acf155945eb68ef6ccc1",
 :invariants 0,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 10,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors nil,
   :states 0,
   :transitions 0,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 163005504,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "106293f36a3a67e7439edd84fa03240604d97397",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 10,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 0,
   :transitions 0,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time _,
   :memory-usage 163075648,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "106293f36a3a67e7439edd84fa03240604d97397",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 11,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 0,
   :transitions 0,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 24,
   :memory-usage 163127216,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "106293f36a3a67e7439edd84fa03240604d97397",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 10,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 0,
   :transitions 0,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 163006208,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "106293f36a3a67e7439edd84fa03240604d97397",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 11,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 0,
   :transitions 0,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time _,
   :memory-usage 163063408,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "106293f36a3a67e7439edd84fa03240604d97397",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 12,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 1,
 :formalism :b}
