{:properties 1,
 :definitions 19,
 :deferred_sets 0,
 :file "./prob-examples/B/Puzzles/Sudoku_Miracle_All72.mch",
 :enumerated_sets 0,
 :variables 2,
 :sha512
 "0196128d1b2e3abd360f78f3c282e22cbea9596542d8a5454024bae7f3de098a68c06bbc2f5580d881dee33d5d83cf669fe8dd46af402040f3a2385cadd17660",
 :static_assertions 0,
 :operations 2,
 :sha256
 "4230fbab139774dedc9d78cbb908cb9e9f2432043edbf2227ed7d8dc28d9a334",
 :invariants 2,
 :runs
 [{:errors nil,
   :states 73,
   :transitions 145,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 174087120,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "d98529541ddde0a32b3cf15c74802c983ab4e7aa",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 344,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 73,
   :transitions 145,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 174081584,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "d98529541ddde0a32b3cf15c74802c983ab4e7aa",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 302,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 73,
   :transitions 145,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 174057872,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "d98529541ddde0a32b3cf15c74802c983ab4e7aa",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 321,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 73,
   :transitions 145,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 339,
   :memory-usage 174354624,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "d98529541ddde0a32b3cf15c74802c983ab4e7aa",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 446,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 73,
   :transitions 145,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 341,
   :memory-usage 174313392,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "d98529541ddde0a32b3cf15c74802c983ab4e7aa",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 479,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :constants 1}
