{:properties 123,
 :definitions 38,
 :deferred_sets 0,
 :number-of-transitions 259,
 :deadlock false,
 :file "./prob-examples/B/Puzzles/SudokuHexAsConstant2.mch",
 :enumerated_sets 0,
 :variables 0,
 :number-of-states 2,
 :included-machines
 ["./prob-examples/B/Puzzles/SudokuHexAsConstant2.mch"],
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 2,
 :sha256
 "5d92229839c1a0d428165c889c0a5956c3267fca9c237b569a8cc3cee9430f08",
 :invariants 0,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 60,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 1,
 :formalism :b}
