{:properties 8,
 :definitions 0,
 :deferred_sets 0,
 :number-of-transitions 16,
 :deadlock true,
 :file "./prob-examples/B/Puzzles/Sum9.mch",
 :enumerated_sets 0,
 :variables 0,
 :number-of-states 16,
 :included-machines ["./prob-examples/B/Puzzles/Sum9.mch"],
 :sha512
 "80b34a0ad3dd4b7938ac0f85ff82ceece1d6a8eb14977d413d9472d3aab3e4759d49b9a34ea0ef4f16d322ba05d42a6bb9e9275320dd8a0f91dc06ac17b5f115",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 0,
 :sha256
 "fe2e9d1a5a53f5a488fca5d42e4df6f1ef3f6c40eaef72fb406793febc5594ad",
 :invariants 0,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 20,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors nil,
   :states 16,
   :transitions 16,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 2,
   :memory-usage 162093040,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "0b3876e65889eab5c7c5a6d0d8000f38e4f6b37d",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 30,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 16,
   :transitions 16,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162003456,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "0b3876e65889eab5c7c5a6d0d8000f38e4f6b37d",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 23,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 8,
   :transitions 16,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 3,
   :memory-usage 162158256,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "0b3876e65889eab5c7c5a6d0d8000f38e4f6b37d",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 33,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 16,
   :transitions 16,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 162009056,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "0b3876e65889eab5c7c5a6d0d8000f38e4f6b37d",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 23,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 8,
   :transitions 16,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162082720,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "0b3876e65889eab5c7c5a6d0d8000f38e4f6b37d",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 27,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 5,
 :formalism :b}
