{:properties 2,
 :definitions 0,
 :deferred_sets 2,
 :number-of-transitions 80,
 :deadlock false,
 :file
 "./prob-examples/EventBPrologPackages/Stefan_SecureBuilding/M21_mch.eventb",
 :enumerated_sets 0,
 :variables 2,
 :number-of-states 10,
 :included-machines
 ["./prob-examples/EventBPrologPackages/Stefan_SecureBuilding/M21_mch.eventb"],
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 3,
 :sha256
 "ab03c31a709a0508cd52cf6e2e3e05073ae35592a185213b727a84391da6e60f",
 :invariants 3,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 120,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 1,
 :formalism :eventb}
