{:properties 2,
 :definitions 0,
 :deferred_sets 2,
 :number-of-transitions 146,
 :deadlock false,
 :file
 "./prob-examples/EventBPrologPackages/Stefan_SecureBuilding/M21_err3_mch.eventb",
 :enumerated_sets 0,
 :variables 2,
 :number-of-states 17,
 :included-machines
 ["./prob-examples/EventBPrologPackages/Stefan_SecureBuilding/M21_err3_mch.eventb"],
 :sha512
 "8511b88ec74b63d448fc2cb0caa53e08414e4658b356ee013f79fabe85c27763b5dcbf7a81e1b4204cf8df5f1f91cd5d6081b84e0e49039d0b019e2b438be05a",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 3,
 :sha256
 "7cae4155b9589980c49b0ecc78b077ffad6a71686ee710a97a072eafdae28728",
 :invariants 3,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 120,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors nil,
   :states 17,
   :transitions 146,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162826832,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "25e3886d917045e2197431059ad9cee35987be7b",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 121,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 17,
   :transitions 146,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162823840,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "25e3886d917045e2197431059ad9cee35987be7b",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 117,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("invariant_violation"),
   :states 8,
   :transitions 74,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 162969936,
   :result "invariant_violation",
   :model-checking-time-unit :msec,
   :machine-hash "25e3886d917045e2197431059ad9cee35987be7b",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 151,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("invariant_violation"),
   :states 9,
   :transitions 84,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 228,
   :memory-usage 163476208,
   :result "invariant_violation",
   :model-checking-time-unit :msec,
   :machine-hash "25e3886d917045e2197431059ad9cee35987be7b",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 86,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 17,
   :transitions 146,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 154,
   :memory-usage 163308368,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "25e3886d917045e2197431059ad9cee35987be7b",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 98,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated true,
 :constants 1,
 :formalism :eventb}
