{:properties 7,
 :definitions 3,
 :deferred_sets 0,
 :file
 "./prob-examples/B/Mathematical/Info4/Kapitel2-REG/MyhillNerodeEquivRelation.mch",
 :enumerated_sets 1,
 :variables 1,
 :sha512
 "4bf2da20c0859bc6a5698816ea92236312b0e44fe09c585b23a4237af529a56807fc6bb6c7166c06b866ee8eec056b275e294b57ce52e1e9186d5971ec54d649",
 :static_assertions 8,
 :operations 2,
 :sha256
 "e92633f6bd158b28847a1d1e2837a05c33a149f4d2bd2afba19cdc635619af13",
 :invariants 1,
 :runs
 [{:errors nil,
   :states 10,
   :transitions 30,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 164486784,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "f65363ae76124e58a94c4cd13f64a45bc082aaaf",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 120,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 9,
   :transitions 30,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 416,
   :memory-usage 164850080,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "f65363ae76124e58a94c4cd13f64a45bc082aaaf",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 81,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 9,
   :transitions 30,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 164567424,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "f65363ae76124e58a94c4cd13f64a45bc082aaaf",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 124,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 10,
   :transitions 30,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 164504928,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "f65363ae76124e58a94c4cd13f64a45bc082aaaf",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 117,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 10,
   :transitions 30,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 690,
   :memory-usage 164745888,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "f65363ae76124e58a94c4cd13f64a45bc082aaaf",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 90,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :constants 6}
