{:properties 1,
 :definitions 2,
 :deferred_sets 0,
 :number-of-transitions 2,
 :deadlock true,
 :file "./prob-examples/B/Tickets/Hansen3/Testing_CircDef.mch",
 :enumerated_sets 0,
 :variables 0,
 :number-of-states 2,
 :included-machines
 ["./prob-examples/B/Tickets/Hansen3/Testing_CircDef.mch"],
 :sha512
 "55da35a2da7de1b628fe3797905c2914aada4bd7da246880356b45f6626968a941c98bfede66fc9e067da1e67d277a9bf2a553d5b49c885056e683708f989a99",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 0,
 :sha256
 "932483392c6929cb545345fc472ce1cf92e7afcbe37883ab53d356a9a0950a09",
 :invariants 0,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 30,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 1,
   :transitions 2,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 161703888,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "3f0d14664d5e4a01d337ea39d2a10cb90f5d3817",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 24,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 2,
   :transitions 2,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 161627632,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "3f0d14664d5e4a01d337ea39d2a10cb90f5d3817",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 21,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 2,
   :transitions 2,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 3,
   :memory-usage 161717664,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "3f0d14664d5e4a01d337ea39d2a10cb90f5d3817",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 27,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 1,
   :transitions 2,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 2,
   :memory-usage 161778272,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "3f0d14664d5e4a01d337ea39d2a10cb90f5d3817",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 31,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 2,
   :transitions 2,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 161636208,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "3f0d14664d5e4a01d337ea39d2a10cb90f5d3817",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 22,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 1,
 :formalism :b}
