{:properties 3,
 :definitions 0,
 :deferred_sets 1,
 :number-of-transitions 2,
 :deadlock true,
 :file
 "./prob-examples/EventBPrologPackages/Tickets/Ticket_DefSetCst.eventb",
 :enumerated_sets 1,
 :variables 0,
 :number-of-states 2,
 :included-machines
 ["./prob-examples/EventBPrologPackages/Tickets/Ticket_DefSetCst.eventb"],
 :sha512
 "ae573b73d75fe09d4c8ea28ea9e430bc352abf5729941cfaba773ae491de8654792ccfed27c57f1f663f63f0fafbe8c8e5afe27496b1d1f260795e5c32838253",
 :comment "",
 :files 1,
 :static_assertions 1,
 :operations 0,
 :sha256
 "17bf43abdd347373f5e9b13bb072243cc3cd36296bff3224ce00383c3c77c6a3",
 :invariants 0,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 20,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 1,
   :transitions 2,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 161938896,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "f0eba3d73ba07f196cc2a26a9761b0ca0cee119a",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 25,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 2,
   :transitions 2,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 3,
   :memory-usage 161956848,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "f0eba3d73ba07f196cc2a26a9761b0ca0cee119a",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 27,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 2,
   :transitions 2,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 161873584,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "f0eba3d73ba07f196cc2a26a9761b0ca0cee119a",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 23,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 2,
   :transitions 2,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 161865280,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "f0eba3d73ba07f196cc2a26a9761b0ca0cee119a",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 21,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 1,
   :transitions 2,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 2,
   :memory-usage 162022032,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "f0eba3d73ba07f196cc2a26a9761b0ca0cee119a",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 30,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 2,
 :formalism :eventb}
