{:properties 14,
 :definitions 0,
 :deferred_sets 0,
 :number-of-transitions 0,
 :deadlock true,
 :file "./prob-examples/B/UnsatCore/UnsatTest4_WD.mch",
 :enumerated_sets 0,
 :variables 0,
 :number-of-states 0,
 :included-machines ["./prob-examples/B/UnsatCore/UnsatTest4_WD.mch"],
 :sha512
 "b75665437f3595f427878b6b303ae46a570f65f92db3e9efd266b7c6862c4b8414f680cc99e9385044760f1af857d7811e1416f48875564154513cd1fcc25ff9",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 0,
 :sha256
 "993322d0221fb4d9733fd8e1c753c3b085fd971fd543d71137b7d21b851deb9e",
 :invariants 0,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 0,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors ("well_definedness_error" "well_definedness_error"),
   :states 0,
   :transitions 0,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time _,
   :memory-usage 162242896,
   :result "well_definedness_error",
   :model-checking-time-unit :msec,
   :machine-hash "107fe0b779fcc1aee36db8feeb782f0b9ccb9710",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 8,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock" "well_definedness_error"),
   :states 0,
   :transitions 0,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time _,
   :memory-usage 162247808,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "107fe0b779fcc1aee36db8feeb782f0b9ccb9710",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 9,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("well_definedness_error" "well_definedness_error"),
   :states 0,
   :transitions 0,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time _,
   :memory-usage 162192336,
   :result "well_definedness_error",
   :model-checking-time-unit :msec,
   :machine-hash "107fe0b779fcc1aee36db8feeb782f0b9ccb9710",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 6,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("well_definedness_error" "well_definedness_error"),
   :states 0,
   :transitions 0,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time _,
   :memory-usage 162192560,
   :result "well_definedness_error",
   :model-checking-time-unit :msec,
   :machine-hash "107fe0b779fcc1aee36db8feeb782f0b9ccb9710",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 8,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock" "well_definedness_error"),
   :states 0,
   :transitions 0,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time _,
   :memory-usage 162204432,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "107fe0b779fcc1aee36db8feeb782f0b9ccb9710",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 9,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 7,
 :formalism :b}
