{:properties 6,
 :definitions 0,
 :deferred_sets 2,
 :number-of-transitions :unknown,
 :deadlock :unknown,
 :file
 "./prob-examples/B/Puzzles/GolferSchoolgirls/GolferSchoolGirls_v2.mch",
 :enumerated_sets 0,
 :variables 0,
 :number-of-states :unknown,
 :included-machines
 ["./prob-examples/B/Puzzles/GolferSchoolgirls/GolferSchoolGirls_v2.mch"],
 :sha512
 "21f4afb436e98321183f86056a1e341c3e652ac64f290702b696a16dbc1adcd9e86f5a086023b4d181b0eac34ef2a115c80c63a97e0b5b8ac2e8f353d4885b3f",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 0,
 :sha256
 "b33b4ece1eef1daeda9d1892db64a803ed71ec8d6b45ccf80e05e29cb0fc71e4",
 :invariants 0,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time :timeout,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}],
 :dynamic_assertions 0,
 :invariant-violated :unknown,
 :constants 1,
 :formalism :b}
