{:properties 0,
 :definitions 6,
 :deferred_sets 0,
 :number-of-transitions 9791,
 :deadlock true,
 :file "./prob-examples/TLC/Laws/ArithmeticLaws_TLC.mch",
 :enumerated_sets 0,
 :variables 3,
 :number-of-states 3536,
 :included-machines
 ["./prob-examples/TLC/Laws/ArithmeticLaws_TLC.mch"],
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 3,
 :sha256
 "4119f60d461a7ce47504036acd1e82e2103b13570a9fbdce5bbf3660aeabd698",
 :invariants 76,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 209715200,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 710,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 0,
 :formalism :b}
