{:properties 2,
 :definitions 5,
 :deferred_sets 0,
 :number-of-transitions 146,
 :deadlock true,
 :file "./prob-examples/TLC/Laws/BoolWithArithLaws.mch",
 :enumerated_sets 0,
 :variables 3,
 :number-of-states 65,
 :included-machines ["./prob-examples/TLC/Laws/BoolWithArithLaws.mch"],
 :sha512
 "a3259834d04f580078e0249f04dd09350c5571ab74647f9283aae781d4d817c5b61b53cc99d4068aa11ce406e79dd8e1e81c409974a2be163ccab2d04520bf34",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 3,
 :sha256
 "39191ca69feaed2fb707cac44ed0c943ac46fe67b6cc51dc421d3f9061440be4",
 :invariants 50,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 40,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors nil,
   :states 65,
   :transitions 146,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 15,
   :memory-usage 163142016,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "c6450d4996bb6cb82baf645297d944b65d808419",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 177,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 64,
   :transitions 146,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162890128,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "c6450d4996bb6cb82baf645297d944b65d808419",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 54,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 10,
   :transitions 11,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 14,
   :memory-usage 162909040,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "c6450d4996bb6cb82baf645297d944b65d808419",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 54,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 65,
   :transitions 146,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162797184,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "c6450d4996bb6cb82baf645297d944b65d808419",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 52,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 65,
   :transitions 146,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162943088,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "c6450d4996bb6cb82baf645297d944b65d808419",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 154,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 2,
 :formalism :b}
