{:properties 0,
 :definitions 1,
 :deferred_sets 0,
 :number-of-transitions 2038,
 :deadlock true,
 :file "./prob-examples/TLC/Laws/CardinalityLaws_TLC.mch",
 :enumerated_sets 0,
 :variables 1,
 :number-of-states 1024,
 :included-machines
 ["./prob-examples/TLC/Laws/CardinalityLaws_TLC.mch"],
 :sha512
 "b5c1dca355231a29ed6072e0318bdabd2a4f2a16003a36b614199174d993fd0d461d5971725f0d562739fccc1f6144293dd7eff4010263b3fbb862295d1d26ae",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 2,
 :sha256
 "dbe76b3daf590fa3b23d6aca9e6c58d24626edf916e2ee1183c3cc9dbc162af9",
 :invariants 11,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 190,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 1008,
   :transitions 2013,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 95,
   :memory-usage 163972736,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "49e3102279e11921a3c4c566b977f494604282c7",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 281,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 1024,
   :transitions 2038,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 163181824,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "49e3102279e11921a3c4c566b977f494604282c7",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 212,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 1024,
   :transitions 2038,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 163325328,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "49e3102279e11921a3c4c566b977f494604282c7",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 406,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 1024,
   :transitions 2038,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 173,
   :memory-usage 163886272,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "49e3102279e11921a3c4c566b977f494604282c7",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 436,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 1008,
   :transitions 2013,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 163447584,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "49e3102279e11921a3c4c566b977f494604282c7",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 215,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 0,
 :formalism :b}
