{:properties 0,
 :definitions 41,
 :deferred_sets 0,
 :number-of-transitions :unknown,
 :deadlock true,
 :file "./prob-examples/TLC/Laws/RelLaws_TLC.mch",
 :enumerated_sets 2,
 :variables 5,
 :number-of-states :unknown,
 :included-machines ["./prob-examples/TLC/Laws/RelLaws_TLC.mch"],
 :sha512
 "ce26cfbac58fd61b6b26c981440aa27ec78e8860db9ea0c55fb901e8ef0a0539d4524c72de19ec66b0c804fcbced2c0b74ea7d1919bd061de6575f8426982e04",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 5,
 :sha256
 "fffb3095d5a7216130ca611d2c0cda5a44262187548a869d139eb49b09778094",
 :invariants 131,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time :timeout,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:errors ("deadlock"),
   :states 254161,
   :transitions 471329,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 29,
   :memory-usage 783514464,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "83fd9aec2d9f63a18fb04a7da3ad3f96d8089998",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 318591,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("invariant_violation"),
   :states 0,
   :transitions 21,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 165573744,
   :result "invariant_violation",
   :model-checking-time-unit :msec,
   :machine-hash "83fd9aec2d9f63a18fb04a7da3ad3f96d8089998",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 244,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:errors ("invariant_violation"),
   :states 0,
   :transitions 21,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 32,
   :memory-usage 165751056,
   :result "invariant_violation",
   :model-checking-time-unit :msec,
   :machine-hash "83fd9aec2d9f63a18fb04a7da3ad3f96d8089998",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 252,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated true,
 :constants 0,
 :formalism :b}
