{:properties 26,
 :definitions 0,
 :deferred_sets 0,
 :number-of-transitions 2,
 :deadlock false,
 :file "./prob-examples/B/Tickets/Valerio6/BIT_VECTOR_ARITHMETICS.mch",
 :enumerated_sets 0,
 :variables 0,
 :number-of-states 0,
 :included-machines
 ["./prob-examples/B/Tickets/Valerio6/BIT_VECTOR_ARITHMETICS.mch"
  "./prob-examples/B/Tickets/Valerio6/BIT_DEFINITION.mch"
  "./prob-examples/B/Tickets/Valerio6/MAX_BIT_VECTOR_DEFINITION.mch"
  "./prob-examples/B/Tickets/Valerio6/POWER2.mch"
  "./prob-examples/B/Tickets/Valerio6/POWER.mch"],
 :sha512
 "496fe6a7d1bbecf416f47778a8f271515d9152d75c6fa24b39abf1a77f64c30350d9e9e92b41f42c6bade69fbbcbd72c9ae3afd51762580a9b4aa069d3c35ba7",
 :comment "",
 :files 5,
 :static_assertions 52,
 :operations 0,
 :sha256
 "fb01319b8b5301d325aeefbb7d70fcc9882e02048c71265b0ced68e86dc8cf85",
 :invariants 0,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 20,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors ("setup_constants_inconsistent"),
   :states 2,
   :transitions 2,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 165700480,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "8c0c71121289796634f3276ac544ac120b78587b",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 21,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("setup_constants_inconsistent"),
   :states 2,
   :transitions 2,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 2,
   :memory-usage 165788880,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "8c0c71121289796634f3276ac544ac120b78587b",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 28,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("setup_constants_inconsistent"),
   :states 2,
   :transitions 2,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 165708848,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "8c0c71121289796634f3276ac544ac120b78587b",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 24,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock" "setup_constants_inconsistent"),
   :states 1,
   :transitions 2,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 165737152,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "8c0c71121289796634f3276ac544ac120b78587b",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 25,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock" "setup_constants_inconsistent"),
   :states 1,
   :transitions 2,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 2,
   :memory-usage 165810288,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "8c0c71121289796634f3276ac544ac120b78587b",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 30,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 22,
 :formalism :b}
