{:properties 1,
 :definitions 1,
 :deferred_sets 2,
 :number-of-transitions :unknown,
 :deadlock :unknown,
 :file "./prob-examples/B/STUPS2_KURS/Hotel.mch",
 :enumerated_sets 1,
 :variables 1,
 :number-of-states :unknown,
 :included-machines ["./prob-examples/B/STUPS2_KURS/Hotel.mch"],
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 3,
 :sha256
 "9df537217901f14df42e5c2397817e67f08d16827d1ec3d4dc901f4e46a1a921",
 :invariants 1,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time :timeout,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated :unknown,
 :constants 1,
 :formalism :b}
