{:properties 2,
 :definitions 0,
 :deferred_sets 0,
 :number-of-transitions 6,
 :deadlock false,
 :file "./prob-examples/B/STUPS2_KURS/Runner.mch",
 :enumerated_sets 1,
 :variables 1,
 :number-of-states 3,
 :included-machines ["./prob-examples/B/STUPS2_KURS/Runner.mch"],
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 1,
 :sha256
 "8a03bbc76fd7e0cbec6480568f7c35520e45783644042717581bb0b8f61c69c7",
 :invariants 0,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 40,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 1,
 :formalism :b}
