{:properties 3,
 :definitions 16,
 :deferred_sets 0,
 :number-of-transitions :unknown,
 :deadlock :unknown,
 :file "./prob-examples/B/STUPS2_KURS/SudokuSETS9.mch",
 :enumerated_sets 1,
 :variables 2,
 :number-of-states :unknown,
 :included-machines ["./prob-examples/B/STUPS2_KURS/SudokuSETS9.mch"],
 :sha512
 "910e2b06db74bef2d8b31498fcea6401d28d472f0f9777d37ffc897a2f8c5851e1fdb5a6dbc960194044824b4e33763d6edeb5d186d0e318a6adde56c2a2566e",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 4,
 :sha256
 "42c40491042a0b7ec78e07148a969ef1ad85117e983ef8606f3e54491ea646ff",
 :invariants 1,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time :timeout,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}],
 :dynamic_assertions 0,
 :invariant-violated :unknown,
 :constants 2,
 :formalism :b}
