{:properties 3,
 :definitions 6,
 :deferred_sets 0,
 :number-of-transitions :unknown,
 :deadlock :unknown,
 :file "./prob-examples/B/STUPS2_KURS/SudokuMikeSmall2.mch",
 :enumerated_sets 0,
 :variables 0,
 :number-of-states :unknown,
 :included-machines
 ["./prob-examples/B/STUPS2_KURS/SudokuMikeSmall2.mch"],
 :sha512
 "d01c37e4955ccb358cd011f1d1de77ea05c561e21de9d3e532206ee02bf9dd1a51f50c0f87a1f7954a8e752880111d5b6e81b241f8796901c5def13149bde65a",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 3,
 :sha256
 "dbb21473667104d9c5fc5d155d73cbb990419de2287c0b72bc7fac9151d17ae6",
 :invariants 0,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time :timeout,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}],
 :dynamic_assertions 0,
 :invariant-violated :unknown,
 :constants 1,
 :formalism :b}
