{:properties 2,
 :definitions 0,
 :deferred_sets 0,
 :number-of-transitions :unknown,
 :deadlock :unknown,
 :file "./prob-examples/B/STUPS2_KURS/SumSet.mch",
 :enumerated_sets 0,
 :variables 2,
 :number-of-states :unknown,
 :included-machines ["./prob-examples/B/STUPS2_KURS/SumSet.mch"],
 :sha512
 "fa5022fd3eef593f3fde822f4c9fbe762ad59f563ce2b94e1aceb24dc647f56a0b18f61858fa7a5deea9a1e5f037622a60e2ed21cc3cb28ba1a43008c37121fb",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 1,
 :sha256
 "0ef21d96e501d97e682136ce47ebf98042c34f398107bfc7250d489b041be346",
 :invariants 4,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time :timeout,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}],
 :dynamic_assertions 0,
 :invariant-violated :unknown,
 :constants 1,
 :formalism :b}
