{:properties 4,
 :definitions 2,
 :deferred_sets 0,
 :number-of-transitions :unknown,
 :deadlock true,
 :file
 "./prob-examples/B/Tickets/Hansen9/SimpleCSGGrammar2_SlowCLPFD_v2.mch",
 :enumerated_sets 1,
 :variables 1,
 :number-of-states :unknown,
 :included-machines
 ["./prob-examples/B/Tickets/Hansen9/SimpleCSGGrammar2_SlowCLPFD_v2.mch"],
 :sha512
 "866fb29376be6b6c476e648d41cce4b7ef05b0c258234aef01442331ee81dacbdd703b6c9f5db940bcf89b1501819096f36ef45e2f68c8b85e6165f7b0aa5d10",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 1,
 :sha256
 "fa9a2113b9725bc56a1a814a5429e32e4654d6de9bfc3e411ad4bfbf51fb20fb",
 :invariants 1,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time :timeout,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:errors ("deadlock"),
   :states 12,
   :transitions 25,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 163092384,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "42ab3211e24094ae4a29b3c7971931e0a03a21a1",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 226,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:errors ("deadlock"),
   :states 12,
   :transitions 25,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 4,
   :memory-usage 163181040,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "42ab3211e24094ae4a29b3c7971931e0a03a21a1",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 235,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated :unknown,
 :constants 3,
 :formalism :b}
