{:properties 0,
 :definitions 1,
 :deferred_sets 1,
 :number-of-transitions 5570544,
 :deadlock false,
 :file "./prob-examples/B/Tickets/Treharne1/House_Tracker.mch",
 :enumerated_sets 0,
 :variables 1,
 :number-of-states 131072,
 :included-machines
 ["./prob-examples/B/Tickets/Treharne1/House_Tracker.mch"],
 :sha512
 "c7358305305d123b518f92374acab5a0dbfa5ec8e666d6988bf7f6e0c902a896b42a43e5911b4311667a882a67664dad7daecc942b4ae1fcfb95b5dfc79a94f4",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 4,
 :sha256
 "52084eceefcc6b0d23d605db8485230b788e795004c96da68e17d023cf2741cc",
 :invariants 1,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 400480,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors nil,
   :states 131072,
   :transitions 5570544,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 1635790352,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "81c6717407bb37539071173d5fe95f96dcef1bb1",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 425780,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:errors nil,
   :states 131072,
   :transitions 5570544,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 1635806960,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "81c6717407bb37539071173d5fe95f96dcef1bb1",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 440287,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:errors nil,
   :states 131072,
   :transitions 5570544,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1111,
   :memory-usage 1663464144,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "81c6717407bb37539071173d5fe95f96dcef1bb1",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 478248,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated true,
 :constants 0,
 :formalism :b}
