{:properties 0,
 :definitions 0,
 :deferred_sets 0,
 :number-of-transitions :unknown,
 :deadlock :unknown,
 :file
 "./prob-examples/EventBPrologPackages/Tests/EnablingRelationTest_mch.eventb",
 :enumerated_sets 0,
 :variables 2,
 :number-of-states :unknown,
 :included-machines
 ["./prob-examples/EventBPrologPackages/Tests/EnablingRelationTest_mch.eventb"],
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 8,
 :sha256
 "73eee8f0d179c42e56751594381f83cd3aad88fd6120e56fdfc74628b21f57f6",
 :invariants 2,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time :timeout,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated :unknown,
 :constants 0,
 :formalism :eventb}
