{:properties 0,
 :definitions 0,
 :deferred_sets 0,
 :number-of-transitions 4598,
 :deadlock false,
 :file
 "./prob-examples/EventBPrologPackages/Tests/UnicodeGermanUmlauteAndJapanesCharacters2_mch.eventb",
 :enumerated_sets 0,
 :variables 3,
 :number-of-states 2913,
 :included-machines
 ["./prob-examples/EventBPrologPackages/Tests/UnicodeGermanUmlauteAndJapanesCharacters2_mch.eventb"],
 :sha512
 "76e08f4c3d0b99c06852dd27523b6d31752df19c1555010161726c8ebc1b9f76f5691bf2a196f368b9be967410c3a04a8d115e28686c8830aa1a0bd0d3abfddd",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 2,
 :sha256
 "f3741c3c6e03d524c6d57903531944ac64aaad1e7e7a2fc036ec4ebe7159f153",
 :invariants 2,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 540,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors nil,
   :states 2913,
   :transitions 4598,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 165616080,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "8fdffdd81109e8ab75efc21642bcb60f30a474d7",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 541,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("invariant_violation"),
   :states 2,
   :transitions 5,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 141,
   :memory-usage 162177696,
   :result "invariant_violation",
   :model-checking-time-unit :msec,
   :machine-hash "8fdffdd81109e8ab75efc21642bcb60f30a474d7",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 41,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 2913,
   :transitions 4598,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 126,
   :memory-usage 166669552,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "8fdffdd81109e8ab75efc21642bcb60f30a474d7",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 810,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 2913,
   :transitions 4598,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 165613312,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "8fdffdd81109e8ab75efc21642bcb60f30a474d7",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 546,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("invariant_violation"),
   :states 3,
   :transitions 7,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 161655760,
   :result "invariant_violation",
   :model-checking-time-unit :msec,
   :machine-hash "8fdffdd81109e8ab75efc21642bcb60f30a474d7",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 86,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated true,
 :constants 0,
 :formalism :eventb}
