{:properties 3,
 :definitions 3,
 :deferred_sets 2,
 :number-of-transitions 126,
 :deadlock true,
 :file "./prob-examples/ASM/SBPM/ProveCommutativityAxioms_DEF.mch",
 :enumerated_sets 0,
 :variables 0,
 :number-of-states 126,
 :included-machines
 ["./prob-examples/ASM/SBPM/ProveCommutativityAxioms_DEF.mch"],
 :comment "",
 :files 1,
 :static_assertions 5,
 :operations 0,
 :sha256
 "3b82e6f646979b75ec971581e9fa26967e797a3b7292fd8611ff87d4e0c49fad",
 :invariants 0,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 20,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 5,
 :formalism :b}
