{:properties 10,
 :definitions 0,
 :deferred_sets 0,
 :number-of-transitions :unknown,
 :deadlock :unknown,
 :file
 "./prob-examples/EventBPrologPackages/Tickets/Kanso_Theory/Mesh5_mch.eventb",
 :enumerated_sets 0,
 :variables 8,
 :number-of-states :unknown,
 :included-machines
 ["./prob-examples/EventBPrologPackages/Tickets/Kanso_Theory/Mesh5_mch.eventb"],
 :sha512
 "efa6887182d579d97a14def1acddcf3a709ff745f20f8de774f29c044bae80bd395e7c7496632706639aaea3fc6f7ee0a37155245c55769953e676d8bc216958",
 :comment "",
 :files 1,
 :static_assertions 8,
 :operations 8,
 :sha256
 "0f228909c9e2fbe3e07bcd05ef803a4aa85d8b6dc0cc2324e7dd0418bcb36c79",
 :invariants 11,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time :timeout,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}],
 :dynamic_assertions 0,
 :invariant-violated :unknown,
 :constants 5,
 :formalism :eventb}
