{:properties 6,
 :definitions 0,
 :deferred_sets 1,
 :number-of-transitions :unknown,
 :deadlock :unknown,
 :file
 "./prob-examples/EventBPrologPackages/Abrial_Teaching/ch4_brp/file_3_mch.eventb",
 :enumerated_sets 0,
 :variables 8,
 :number-of-states :unknown,
 :included-machines
 ["./prob-examples/EventBPrologPackages/Abrial_Teaching/ch4_brp/file_3_mch.eventb"],
 :sha512
 "96d6d98ec8624ab6e269ae54d32061bb1e6c5822b92ad3724af4eee4824014a4532ac8b92173939ac20873d9368151b5d33819bc5ac12322729964ffd588af6f",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 3,
 :sha256
 "517e4722b433d3128e251c37ba0f415c93b47b840141235a4ed8340733052ea8",
 :invariants 20,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time :timeout,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}],
 :dynamic_assertions 4,
 :invariant-violated :unknown,
 :constants 3,
 :formalism :eventb}
