{:properties 0,
 :definitions 0,
 :deferred_sets 0,
 :number-of-transitions 1926,
 :deadlock false,
 :file "./prob-examples/B/Tickets/PROB-379/OpCallSelect.mch",
 :enumerated_sets 0,
 :variables 3,
 :number-of-states 484,
 :included-machines
 ["./prob-examples/B/Tickets/PROB-379/OpCallSelect.mch"
  "./prob-examples/B/Tickets/PROB-379/OpCallSelect1.mch"
  "./prob-examples/B/Tickets/PROB-379/OpCallSelect2.mch"],
 :sha512
 "ec6ae1e01169da86fa45677b2188322689a10f4aebf6ef5fc1235a9c0b16c6b73deb73cce8f23bc2cfc7f1dd350e6d57f4560ce0a47ca83539b7fb8d83e0d88d",
 :comment "",
 :files 3,
 :static_assertions 0,
 :operations 8,
 :sha256
 "fe9035f5dd30002302e91443dc6cf46d0351de0f8b843b8cdeac52132b3e11c9",
 :invariants 3,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 190,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors ("invariant_violation"),
   :states 20,
   :transitions 84,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 161938080,
   :result "invariant_violation",
   :model-checking-time-unit :msec,
   :machine-hash "be2fa2e43b01da2212c13b58cbc7fb16cce86ee1",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 83,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 484,
   :transitions 1409,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 151,
   :memory-usage 163288832,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "be2fa2e43b01da2212c13b58cbc7fb16cce86ee1",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 306,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 484,
   :transitions 1926,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162731696,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "be2fa2e43b01da2212c13b58cbc7fb16cce86ee1",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 201,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 484,
   :transitions 1926,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 162721968,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "be2fa2e43b01da2212c13b58cbc7fb16cce86ee1",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 216,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("invariant_violation"),
   :states 29,
   :transitions 119,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 152,
   :memory-usage 162452192,
   :result "invariant_violation",
   :model-checking-time-unit :msec,
   :machine-hash "be2fa2e43b01da2212c13b58cbc7fb16cce86ee1",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 57,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated true,
 :constants 0,
 :formalism :b}
