{:properties 8,
 :definitions 0,
 :deferred_sets 0,
 :number-of-transitions :unknown,
 :deadlock :unknown,
 :file
 "./prob-examples/EventBPrologPackages/Stefan/quicksort/qs5_mch.eventb",
 :enumerated_sets 0,
 :variables 13,
 :number-of-states :unknown,
 :included-machines
 ["./prob-examples/EventBPrologPackages/Stefan/quicksort/qs5_mch.eventb"],
 :sha512
 "52abb5b9de1bad914fa5e0c2be38a27f43761d1c52863a950bb179159fa47ae10e323d8b656340cb1d51d5dccbc020b643d120c07017e149b717a3fedd971652",
 :comment "",
 :files 1,
 :static_assertions 18,
 :operations 7,
 :sha256
 "ed79b6f949c1e40c7b32975c500a1d058e801db97ec300f2dedd1372bf8bb6f0",
 :invariants 28,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time :timeout,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}],
 :dynamic_assertions 19,
 :invariant-violated :unknown,
 :constants 4,
 :formalism :eventb}
