{:properties 2,
 :definitions 60,
 :deferred_sets 0,
 :file
 "./prob-examples/B/Tickets/Hansen23_WhilePerformance/WhileSlow_CartProduct.mch",
 :enumerated_sets 0,
 :variables 0,
 :sha512
 "219e5cf84bd307305fe812d00d7478b32669921dc31cbc3701c7302a7f15980c2ee83d8ccffaa2d8127ec855315b677e6c6fbd038cd999321972b33e54701491",
 :static_assertions 0,
 :operations 1,
 :sha256
 "6fb573e66c0de99e05a5c064cb8381ad94f9a205e163f43b7cfa441bf24d5825",
 :invariants 0,
 :runs
 [{:errors nil,
   :states 2,
   :transitions 3,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 163535648,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "9a978a360cc7587749ec1859ef26aecf26b9a676",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 824,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 2,
   :transitions 3,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 4,
   :memory-usage 163635568,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "9a978a360cc7587749ec1859ef26aecf26b9a676",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 784,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 2,
   :transitions 3,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 4,
   :memory-usage 163630032,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "9a978a360cc7587749ec1859ef26aecf26b9a676",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 771,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 2,
   :transitions 3,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 163606864,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "9a978a360cc7587749ec1859ef26aecf26b9a676",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 770,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 2,
   :transitions 3,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 163543888,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "9a978a360cc7587749ec1859ef26aecf26b9a676",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 826,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :constants 2}
