{:properties 3,
 :definitions 0,
 :deferred_sets 1,
 :number-of-transitions :unknown,
 :deadlock :unknown,
 :file
 "./prob-examples/EventBPrologPackages/SSF/Bepi_Soton/M0_infinite_int.eventb",
 :enumerated_sets 0,
 :variables 5,
 :number-of-states :unknown,
 :included-machines
 ["./prob-examples/EventBPrologPackages/SSF/Bepi_Soton/M0_infinite_int.eventb"],
 :sha512
 "ff48ed211fc8d0dc9fa71a6580dc0c801d86d2aab526c3ff485fd4c1af857a2d9dbe9cfb47e2a88333385df31e4e85da9a2de9dabbc6a3dfb36963009030dde5",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 5,
 :sha256
 "b5f74ce8ada974b7b7a9a762a156fb4bbf7af4be3c6216d011dbf376d8de1dee",
 :invariants 6,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time :timeout,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}],
 :dynamic_assertions 0,
 :invariant-violated :unknown,
 :constants 5,
 :formalism :eventb}
