{:properties 2,
 :definitions 0,
 :deferred_sets 2,
 :number-of-transitions 8784,
 :deadlock true,
 :file
 "./prob-examples/EventBPrologPackages/SSF/Bepi_Soton/M1_mch.eventb",
 :enumerated_sets 0,
 :variables 12,
 :number-of-states 4184,
 :included-machines
 ["./prob-examples/EventBPrologPackages/SSF/Bepi_Soton/M1_mch.eventb"],
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 10,
 :sha256
 "6563bd3190287e2a953db03e1250d5e973113642aa5c4fe8c1d05c926c438f9f",
 :invariants 20,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 3180,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 4,
 :formalism :eventb}
