{:properties 3,
 :definitions 0,
 :deferred_sets 2,
 :number-of-transitions 192472,
 :deadlock true,
 :file
 "./prob-examples/EventBPrologPackages/SSF/Bepi_Soton/M2_mch.eventb",
 :enumerated_sets 1,
 :variables 16,
 :number-of-states 93944,
 :included-machines
 ["./prob-examples/EventBPrologPackages/SSF/Bepi_Soton/M2_mch.eventb"],
 :sha512
 "fff45d6e407298b66b4705cca4d2a50bd9913e5dc2098a7211ae7a22b77a58f28bc61e30fddff06ea2901e563567cb502417c83a691ce8b239ac6e70a1b1b776",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 12,
 :sha256
 "e35191ed3c96e0c54188cb80840c0d23d7eef184114fc1f6fba7de5bd51ce777",
 :invariants 34,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 99050,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors nil,
   :states 93944,
   :transitions 192472,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 14835,
   :memory-usage 318006512,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "038d33db59a727e950836d9695d7291750762665",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 137543,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 93944,
   :transitions 192472,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 291717280,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "038d33db59a727e950836d9695d7291750762665",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 111789,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 93944,
   :transitions 192472,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 316869472,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "038d33db59a727e950836d9695d7291750762665",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 101424,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 37836,
   :transitions 94784,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 254904912,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "038d33db59a727e950836d9695d7291750762665",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 39809,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 30071,
   :transitions 56351,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 6515,
   :memory-usage 237717312,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "038d33db59a727e950836d9695d7291750762665",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 40306,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 5,
 :formalism :eventb}
