{:properties 3,
 :definitions 0,
 :deferred_sets 3,
 :number-of-transitions :unknown,
 :deadlock true,
 :file
 "./prob-examples/EventBPrologPackages/SSF/Bepi_Soton/M3_mch.eventb",
 :enumerated_sets 1,
 :variables 25,
 :number-of-states :unknown,
 :included-machines
 ["./prob-examples/EventBPrologPackages/SSF/Bepi_Soton/M3_mch.eventb"],
 :sha512
 "09edceea97589f78bb2cfb8e757c2fbb122f4a83fcd8e80b6975c99e53819d1333851f28f6555bb742a6dcab5defc28010b6e0072baabb523999f883d8843ec8",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 16,
 :sha256
 "4dc9725dca8e094880adfe395743ebbaefcde41fd044a96e83bac0f470cbc4ab",
 :invariants 67,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time :timeout,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:errors ("deadlock"),
   :states 527056,
   :transitions 1286040,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 1682692112,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "9b4f43d2d1697721054873c6117aef4b2b26b1d1",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 639130,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:errors ("deadlock"),
   :states 436800,
   :transitions 872381,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 10322,
   :memory-usage 1319420448,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "9b4f43d2d1697721054873c6117aef4b2b26b1d1",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 672107,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated :unknown,
 :constants 6,
 :formalism :eventb}
