{:sha256
 "0ae1dba2b2fcf48b1ba48af06026cd526066e7d868c6676742510cb7b2075ec4",
 :sha512
 "c9d43c0d288ce210ecbe8f272ee7207b4db508e1ae2ea7315f971e176caefb0df30bb0f2c7533d18c84a2cdb701c19f10e4868a93497e6c80337a58241bb1199",
 :file "./prob-examples/B/LTL/Turcanu/machineEco_mch4.eventb",
 :runs
 [{:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}],
 :comment "SHA changed"}
