{:properties 0,
 :definitions 1,
 :deferred_sets 0,
 :number-of-transitions 15,
 :deadlock false,
 :file "./prob-examples/TLA/Fowlers_DSL/fowler.mch",
 :enumerated_sets 0,
 :variables 5,
 :number-of-states 9,
 :included-machines ["./prob-examples/TLA/Fowlers_DSL/fowler.mch"],
 :sha512
 "0638e8d5dc78c11e06786db5cf1324eb70498bcab4830996c53470c62a79765517698b0a422184df27df97737f675c6854e8458e5e848a89dd9976279a9598ee",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 4,
 :sha256
 "e381d026596482eec2b18fa8d26b352cf3696b9aef8e5e7c38ad07296f2d8a3a",
 :invariants 0,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 50,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors nil,
   :states 9,
   :transitions 15,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 162046784,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "6d183ff26e074cfd028a3a2759ec62e08aaf847d",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 39,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 9,
   :transitions 15,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162039456,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "6d183ff26e074cfd028a3a2759ec62e08aaf847d",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 38,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 9,
   :transitions 15,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 738,
   :memory-usage 162549376,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "6d183ff26e074cfd028a3a2759ec62e08aaf847d",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 29,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 9,
   :transitions 15,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 733,
   :memory-usage 162537136,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "6d183ff26e074cfd028a3a2759ec62e08aaf847d",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 27,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 9,
   :transitions 15,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162049920,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "6d183ff26e074cfd028a3a2759ec62e08aaf847d",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 39,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 0,
 :formalism :b}
