{:properties 95,
 :definitions 0,
 :deferred_sets 1,
 :number-of-transitions :unknown,
 :deadlock :unknown,
 :file
 "./prob-examples/EventBPrologPackages/Dedale/LandingGears-5-fevrier-2015/LandingSystem_5_mch.eventb",
 :enumerated_sets 17,
 :variables 32,
 :number-of-states :unknown,
 :included-machines
 ["./prob-examples/EventBPrologPackages/Dedale/LandingGears-5-fevrier-2015/LandingSystem_5_mch.eventb"],
 :sha512
 "d1d6759532735028c3ec0053aa22e55d9a095ce51577d6879c11f2503c128fb080ee79bfd1f85b16aec3ffd6aa145a4471831a6cac2a8c535b7c1ddf8a0c139f",
 :comment "",
 :files 1,
 :static_assertions 2,
 :operations 88,
 :sha256
 "71e6d270073e88774844bab142c587efd846fb0d0a003797a223d9b74752126f",
 :invariants 62,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time :timeout,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}],
 :dynamic_assertions 0,
 :invariant-violated :unknown,
 :constants 32,
 :formalism :eventb}
