{:properties 41,
 :definitions 0,
 :deferred_sets 1,
 :number-of-transitions 110468,
 :deadlock false,
 :file
 "./prob-examples/EventBPrologPackages/Dedale/LandingGears-5-fevrier-2015/LandingSystem_3_mch.eventb",
 :enumerated_sets 10,
 :variables 15,
 :number-of-states 24662,
 :included-machines
 ["./prob-examples/EventBPrologPackages/Dedale/LandingGears-5-fevrier-2015/LandingSystem_3_mch.eventb"],
 :sha512
 "f3a46c9b004d5c67ef1c52ebb9fe5535a2410529c44aa062fd6f0b7af88b4abe17decdbcf8c8c361e0e8d2066f98fafe4b1dbf6229c6b23dfd2e3f7e2fcddc92",
 :comment "",
 :files 1,
 :static_assertions 2,
 :operations 21,
 :sha256
 "552c805f1a0953cd5424963a4e8f2fa28f011abc3b8476a514fbca7db74dba10",
 :invariants 26,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 262144000,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 32870,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors nil,
   :states 24662,
   :transitions 110468,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 12785,
   :memory-usage 248147072,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "5c1668cdf4883b81172cb9e2d81f1bac33ece6e8",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 59530,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("model_check_incomplete"),
   :states 24662,
   :transitions 110468,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 233231408,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "5c1668cdf4883b81172cb9e2d81f1bac33ece6e8",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 41905,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 24662,
   :transitions 110468,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 242328864,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "5c1668cdf4883b81172cb9e2d81f1bac33ece6e8",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 38483,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 24662,
   :transitions 110468,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 242330592,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "5c1668cdf4883b81172cb9e2d81f1bac33ece6e8",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 41259,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("model_check_incomplete"),
   :states 24662,
   :transitions 110468,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 25569,
   :memory-usage 246857424,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "5c1668cdf4883b81172cb9e2d81f1bac33ece6e8",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 56399,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 15,
 :formalism :eventb}
