{:number-of-transitions :unknown,
 :deadlock :unknown,
 :file "./prob-examples/B/Tickets/PROB-404/Main.mch",
 :number-of-states :unknown,
 :included-machines [],
 :sha512
 "8b17f3623a35a5650ae9b70f6973f5b43ce45f0a4d91b7e4e07c66694fc07059537e80f5391568b905e4f0dfc3a315ca4c370f89b5133a53966e119c5d59b301",
 :comment "",
 :sha256
 "3676bab9da5b6b8e9ae92855970bbaadb1e6e5de3960e9f89d9a21d04ec4a188",
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time :timeout,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors ("load_main_file" "parse_error"),
   :states nil,
   :transitions nil,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time nil,
   :memory-usage nil,
   :result nil,
   :model-checking-time-unit :msec,
   :machine-hash nil,
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{},
   :model-checking-time nil,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("load_main_file" "parse_error"),
   :states nil,
   :transitions nil,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time nil,
   :memory-usage nil,
   :result nil,
   :model-checking-time-unit :msec,
   :machine-hash nil,
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{},
   :model-checking-time nil,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("load_main_file" "parse_error"),
   :states nil,
   :transitions nil,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time nil,
   :memory-usage nil,
   :result nil,
   :model-checking-time-unit :msec,
   :machine-hash nil,
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{},
   :model-checking-time nil,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("load_main_file" "parse_error"),
   :states nil,
   :transitions nil,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time nil,
   :memory-usage nil,
   :result nil,
   :model-checking-time-unit :msec,
   :machine-hash nil,
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{},
   :model-checking-time nil,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("load_main_file" "parse_error"),
   :states nil,
   :transitions nil,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time nil,
   :memory-usage nil,
   :result nil,
   :model-checking-time-unit :msec,
   :machine-hash nil,
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{},
   :model-checking-time nil,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :invariant-violated :unknown,
 :formalism :b}
