{:properties 6,
 :definitions 0,
 :deferred_sets 1,
 :number-of-transitions 5,
 :deadlock false,
 :file
 "./prob-examples/EventBPrologPackages/TreeFileSysContPerm/FMCH00.eventb",
 :enumerated_sets 0,
 :variables 2,
 :number-of-states 3,
 :included-machines
 ["./prob-examples/EventBPrologPackages/TreeFileSysContPerm/FMCH00.eventb"],
 :sha512
 "4b29112ac5f9e2581234a652a870029d3c7497a5260e24f47c62cbf1f496e4fea031a1c97995e7de89bd28034bcd92d345e25f1f4b8a2a32f1c22b68afff66ea",
 :comment "",
 :files 1,
 :static_assertions 10,
 :operations 4,
 :sha256
 "a371b5f862cf22e567e94df56662f71c74ca4ccc76a58a939fee3ee49e48c0d0",
 :invariants 3,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 60,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors ("model_check_incomplete"),
   :states 3,
   :transitions 5,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 239,
   :memory-usage 164332208,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "9a97bf498c5ad3b748a245b611c013c789145b15",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 41,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 3,
   :transitions 5,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 163779520,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "9a97bf498c5ad3b748a245b611c013c789145b15",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 57,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 3,
   :transitions 5,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 2627,
   :memory-usage 164284720,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "9a97bf498c5ad3b748a245b611c013c789145b15",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 48,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 3,
   :transitions 5,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 163776368,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "9a97bf498c5ad3b748a245b611c013c789145b15",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 54,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("model_check_incomplete"),
   :states 3,
   :transitions 5,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 163832096,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "9a97bf498c5ad3b748a245b611c013c789145b15",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 60,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 9,
 :invariant-violated false,
 :constants 3,
 :formalism :eventb}
