{:properties 3,
 :definitions 3,
 :deferred_sets 0,
 :number-of-transitions :unknown,
 :deadlock :unknown,
 :file
 "./prob-examples/TLA/TLA_Distribution/AlternatingBit/MCAlternatingBit.mch",
 :enumerated_sets 1,
 :variables 7,
 :number-of-states :unknown,
 :included-machines
 ["./prob-examples/TLA/TLA_Distribution/AlternatingBit/MCAlternatingBit.mch"],
 :sha512
 "07d21e293a9ffaa9a18d80d8530dc9138f07a6f4e241409d46cf09ed0dd49a58bc681ff8956004cce63cb68a53dec3d2a90fb6d500427c9efaa3055791152651",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 7,
 :sha256
 "e6dba3fb839ef7534ce6a50b5ad971fba372a79d91fcdb3f3050155edd8492ab",
 :invariants 7,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time :timeout,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}],
 :dynamic_assertions 0,
 :invariant-violated :unknown,
 :constants 3,
 :formalism :b}
