{:properties 0,
 :definitions 1,
 :deferred_sets 0,
 :number-of-transitions :unknown,
 :deadlock :unknown,
 :file "./prob-examples/B/FeatureChecks/BF_test.mch",
 :enumerated_sets 0,
 :variables 3,
 :number-of-states :unknown,
 :included-machines ["./prob-examples/B/FeatureChecks/BF_test.mch"],
 :sha512
 "0b3f594c050bc176d987ba0209c43d2ca28974bcf55074df2496f748473bb75fd13d6c6a02e89a3630e34d58648eaa07abe17955d652c5ef6e349b11ac40e07d",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 3,
 :sha256
 "d2f108e378b6a11f48b969ffad85dce94b74a49c58d17517745169e2637db9ff",
 :invariants 3,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time :timeout,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}],
 :dynamic_assertions 0,
 :invariant-violated :unknown,
 :constants 0,
 :formalism :b}
