{:properties 7,
 :definitions 0,
 :deferred_sets 1,
 :number-of-transitions 54,
 :deadlock false,
 :file "./prob-examples/B/FeatureChecks/DeferredSetMinCard.mch",
 :enumerated_sets 0,
 :variables 1,
 :number-of-states 15,
 :included-machines
 ["./prob-examples/B/FeatureChecks/DeferredSetMinCard.mch"],
 :sha512
 "a3042a79016e5e9187111e3d9d9da7f23cbf6c2d1a4142975d946027397d9dd8a6df66898011d53233263fa2ac99809d4cd224fcf7bac75049a435f28f5323ba",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 1,
 :sha256
 "7c69645bc2890535efb4f093816f56f81a44ac59a01072346975a259afbf051e",
 :invariants 0,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 30,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors nil,
   :states 15,
   :transitions 54,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 5,
   :memory-usage 162016720,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "860f5b7776dc9927ec6d9f6fa920804dbc2f0621",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 38,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 15,
   :transitions 54,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 161906448,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "860f5b7776dc9927ec6d9f6fa920804dbc2f0621",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 35,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 15,
   :transitions 54,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 5,
   :memory-usage 162008480,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "860f5b7776dc9927ec6d9f6fa920804dbc2f0621",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 40,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 15,
   :transitions 54,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 161926816,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "860f5b7776dc9927ec6d9f6fa920804dbc2f0621",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 35,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 15,
   :transitions 54,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 161912320,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "860f5b7776dc9927ec6d9f6fa920804dbc2f0621",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 35,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 1,
 :formalism :b}
