{:properties 8,
 :definitions 0,
 :deferred_sets 0,
 :number-of-transitions 34,
 :deadlock false,
 :file "./prob-examples/B/FeatureChecks/ForAll_VariousVersions.mch",
 :enumerated_sets 1,
 :variables 1,
 :number-of-states 4,
 :included-machines
 ["./prob-examples/B/FeatureChecks/ForAll_VariousVersions.mch"],
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 3,
 :sha256
 "08679d351e9b6441288747c4a9556baeba127192587cc97627cf3b8d67f2970f",
 :invariants 0,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 50,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 3,
 :formalism :b}
