{:properties nil,
 :definitions nil,
 :deferred_sets nil,
 :file
 "./prob-examples/B/Tickets/TclTk_Unicode_Error/LogicQuestion_err.mch",
 :enumerated_sets nil,
 :variables nil,
 :sha512
 "9e9c19e311dbfe0a5e7d2af0fdf2005b30e678a93850dbf1eae61a0cc864d7d0125cb86e82def56aa8a49b788ff69f2e019904ef2d13cb57a6328bea0c9785c3",
 :static_assertions nil,
 :operations nil,
 :sha256
 "28488ff6dd5aa25a321d9be17055ce4b4f0d9f9519f47e359360e47e5893a07a",
 :invariants nil,
 :runs
 [{:errors ("load_main_file" "parse_error"),
   :states nil,
   :transitions nil,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time nil,
   :memory-usage nil,
   :result nil,
   :model-checking-time-unit :msec,
   :machine-hash nil,
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{},
   :model-checking-time nil,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("load_main_file" "parse_error"),
   :states nil,
   :transitions nil,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time nil,
   :memory-usage nil,
   :result nil,
   :model-checking-time-unit :msec,
   :machine-hash nil,
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{},
   :model-checking-time nil,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("load_main_file" "parse_error"),
   :states nil,
   :transitions nil,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time nil,
   :memory-usage nil,
   :result nil,
   :model-checking-time-unit :msec,
   :machine-hash nil,
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{},
   :model-checking-time nil,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("load_main_file" "parse_error"),
   :states nil,
   :transitions nil,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time nil,
   :memory-usage nil,
   :result nil,
   :model-checking-time-unit :msec,
   :machine-hash nil,
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{},
   :model-checking-time nil,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("load_main_file" "parse_error"),
   :states nil,
   :transitions nil,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time nil,
   :memory-usage nil,
   :result nil,
   :model-checking-time-unit :msec,
   :machine-hash nil,
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{},
   :model-checking-time nil,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions nil,
 :constants nil}
