{:properties 0,
 :definitions 0,
 :deferred_sets 0,
 :number-of-transitions 11,
 :deadlock true,
 :file "./prob-examples/B/RefinementChecking/LinkingInvariants/M0.mch",
 :enumerated_sets 0,
 :variables 2,
 :number-of-states 11,
 :included-machines
 ["./prob-examples/B/RefinementChecking/LinkingInvariants/M0.mch"],
 :sha512
 "4ce5478ce9343072175dfc6d67b4880bf17d6f62b588a6965c662657aa102ff37b9f833e9812a7994f65c50f80ddd3d8ddb93ac6e07bb85b857990f3cb76720f",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 1,
 :sha256
 "8e8755c7b9d8f06ccd3f989f8baf9d4deaadc4a087b1efb2e7ce3bd505565032",
 :invariants 2,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 50,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors nil,
   :states 11,
   :transitions 11,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 161550176,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "238e6842980b057a2e5d69bf92c0520697ead515",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 49,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 10,
   :transitions 11,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 4,
   :memory-usage 161716000,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "238e6842980b057a2e5d69bf92c0520697ead515",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 60,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 11,
   :transitions 11,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 161653200,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "238e6842980b057a2e5d69bf92c0520697ead515",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 70,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 11,
   :transitions 11,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 5,
   :memory-usage 161744240,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "238e6842980b057a2e5d69bf92c0520697ead515",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 74,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 10,
   :transitions 11,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 161628768,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "238e6842980b057a2e5d69bf92c0520697ead515",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 56,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 1,
 :invariant-violated false,
 :constants 0,
 :formalism :b}
