{:properties 0,
 :definitions 1,
 :deferred_sets 0,
 :number-of-transitions 1,
 :deadlock true,
 :file
 "./prob-examples/B/Tickets/DefinitionCapture/DefCaptureAtelierB.mch",
 :enumerated_sets 0,
 :variables 0,
 :number-of-states 1,
 :included-machines
 ["./prob-examples/B/Tickets/DefinitionCapture/DefCaptureAtelierB.mch"],
 :sha512
 "953b384840147483a086342e2b67f38e91fcdd9e8e24c96b767a6774c17f67fe22a5d3da2899ce3dc62b509d33e015065ac6d4d575f6e7bb36aef9e588867168",
 :comment "",
 :files 1,
 :static_assertions 2,
 :operations 0,
 :sha256
 "40965a468a4a7b89368bbc537dca22e3c1c44a028b1c1628b1ee54dbb9f7e181",
 :invariants 0,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 10,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors ("definition_variable_capture"),
   :states 1,
   :transitions 1,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 161485344,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "8fd00c4a53800f0f4c3a50505b1b34ad52cd06ed",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 12,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("definition_variable_capture"),
   :states 1,
   :transitions 1,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 3,
   :memory-usage 161562320,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "8fd00c4a53800f0f4c3a50505b1b34ad52cd06ed",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 13,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock" "definition_variable_capture"),
   :states 0,
   :transitions 1,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 2,
   :memory-usage 161574192,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "8fd00c4a53800f0f4c3a50505b1b34ad52cd06ed",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 18,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock" "definition_variable_capture"),
   :states 0,
   :transitions 1,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 161513280,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "8fd00c4a53800f0f4c3a50505b1b34ad52cd06ed",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 16,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("definition_variable_capture"),
   :states 1,
   :transitions 1,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 161494336,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "8fd00c4a53800f0f4c3a50505b1b34ad52cd06ed",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 10,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 0,
 :formalism :b}
