{:properties 0,
 :definitions 0,
 :deferred_sets 0,
 :number-of-transitions 1,
 :deadlock true,
 :file "./prob-examples/B/Tickets/Prevost1/TestSeesVar1.mch",
 :enumerated_sets 0,
 :variables 1,
 :number-of-states 1,
 :included-machines
 ["./prob-examples/B/Tickets/Prevost1/TestSeesVar1.mch"],
 :sha512
 "067916b2c9ca710b7b8c4b46a466f8f684a622d120d09f3c6367b8ab42b2baca8fadabee31dea7369bb0ccde1c05dec55168785590ce2b96666cc72af91fcfa1",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 0,
 :sha256
 "a4ade8be1d666a0a6da4457ee22793de731e471baf82e981709a7d76555293bc",
 :invariants 1,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 10,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors nil,
   :states 1,
   :transitions 1,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 161217328,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "508497dde4447e0e500ca1ddf406aad499d9edc3",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 12,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 0,
   :transitions 1,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 161292976,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "508497dde4447e0e500ca1ddf406aad499d9edc3",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 16,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 1,
   :transitions 1,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 161400208,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "508497dde4447e0e500ca1ddf406aad499d9edc3",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 46,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 1,
   :transitions 1,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 2,
   :memory-usage 161467216,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "508497dde4447e0e500ca1ddf406aad499d9edc3",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 47,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 0,
   :transitions 1,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 161353856,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "508497dde4447e0e500ca1ddf406aad499d9edc3",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 16,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 0,
 :formalism :b}
