{:properties 0,
 :definitions 0,
 :deferred_sets 0,
 :number-of-transitions 25,
 :deadlock false,
 :file
 "./prob-examples/EventBPrologPackages/Tickets/ExportClassicalB/TestLeftAsVar_mch.eventb",
 :enumerated_sets 0,
 :variables 3,
 :number-of-states 8,
 :included-machines
 ["./prob-examples/EventBPrologPackages/Tickets/ExportClassicalB/TestLeftAsVar_mch.eventb"],
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 2,
 :sha256
 "bfa06e1355a459702db4044f46abc24df7b4fcd08c2a5ba1ca084d03d15dd716",
 :invariants 1,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 90,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}],
 :dynamic_assertions 1,
 :invariant-violated false,
 :constants 0,
 :formalism :eventb}
