{:properties 10,
 :definitions 0,
 :deferred_sets 2,
 :number-of-transitions 366,
 :deadlock true,
 :file "./prob-examples/EventBPrologPackages/OLSR/M1_mch.eventb",
 :enumerated_sets 0,
 :variables 7,
 :number-of-states 230,
 :included-machines
 ["./prob-examples/EventBPrologPackages/OLSR/M1_mch.eventb"],
 :sha512
 "78e03851cd652740e0d0d79d226ddada9faa926652984223782909e8c7234a722da76ef45bec350b49274eae350746b5cb02e7cd3b7605ab773fe560d7f97d5d",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 5,
 :sha256
 "2659fc8308d4c7d5760b48aaa0798cc12833f57974e89666dc9b95301bbb1955",
 :invariants 15,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 210,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors nil,
   :states 230,
   :transitions 366,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 4563,
   :memory-usage 164875680,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "333292ac9c2b3b3414c2273ffa5ad2b463150746",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 255,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 230,
   :transitions 366,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 164071888,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "333292ac9c2b3b3414c2273ffa5ad2b463150746",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 234,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 64,
   :transitions 112,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 163639344,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "333292ac9c2b3b3414c2273ffa5ad2b463150746",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 90,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 64,
   :transitions 112,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 2632,
   :memory-usage 164155168,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "333292ac9c2b3b3414c2273ffa5ad2b463150746",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 95,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 230,
   :transitions 366,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 164099488,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "333292ac9c2b3b3414c2273ffa5ad2b463150746",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 223,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 4,
 :formalism :eventb}
