{:properties 10,
 :definitions 0,
 :deferred_sets 2,
 :number-of-transitions 366,
 :deadlock true,
 :file "./prob-examples/EventBPrologPackages/OLSR/M1_mch.eventb",
 :enumerated_sets 0,
 :variables 7,
 :number-of-states 230,
 :included-machines
 ["./prob-examples/EventBPrologPackages/OLSR/M1_mch.eventb"],
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 5,
 :sha256
 "2659fc8308d4c7d5760b48aaa0798cc12833f57974e89666dc9b95301bbb1955",
 :invariants 15,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 210,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 4,
 :formalism :eventb}
