{:properties 14,
 :definitions 0,
 :deferred_sets 4,
 :number-of-transitions 78336,
 :deadlock true,
 :file "./prob-examples/EventBPrologPackages/OLSR/M2_corrected.eventb",
 :enumerated_sets 0,
 :variables 20,
 :number-of-states 39168,
 :included-machines
 ["./prob-examples/EventBPrologPackages/OLSR/M2_corrected.eventb"],
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 11,
 :sha256
 "8a79402dd381d70aa6a073ec564652c9f7e0b71ddd7936eae2a4065ee4a2c10d",
 :invariants 33,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 60750,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}],
 :dynamic_assertions 1,
 :invariant-violated false,
 :constants 7,
 :formalism :eventb}
