{:properties 0,
 :definitions 0,
 :deferred_sets 0,
 :number-of-transitions 31,
 :deadlock false,
 :file "./prob-examples/B/Ivo/BenchmarksPOR/Peterson/syspeterson.mch",
 :enumerated_sets 0,
 :variables 7,
 :number-of-states 16,
 :included-machines
 ["./prob-examples/B/Ivo/BenchmarksPOR/Peterson/syspeterson.mch"],
 :sha512
 "fbba5564261741dfc991d103267dc3a58f211af7b6ca36967381108168acdcf921f8ccdadd68c5fe0be06eefce80efcae930d3cbe8e027d8ced87e5b69e9a1b6",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 6,
 :sha256
 "d7b4e55300e92ce8916c0a464c3c2e848a40171248eb104b979de3811eec16d2",
 :invariants 9,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 70,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors nil,
   :states 9,
   :transitions 12,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 142,
   :memory-usage 162371632,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "9d8f4257dc312e740d9e2baaf108b2ba7a75672c",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 29,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 16,
   :transitions 31,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 161849664,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "9d8f4257dc312e740d9e2baaf108b2ba7a75672c",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 59,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("invariant_violation"),
   :states 13,
   :transitions 28,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 171,
   :memory-usage 162540480,
   :result "invariant_violation",
   :model-checking-time-unit :msec,
   :machine-hash "9d8f4257dc312e740d9e2baaf108b2ba7a75672c",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 42,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("invariant_violation"),
   :states 13,
   :transitions 28,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 161983536,
   :result "invariant_violation",
   :model-checking-time-unit :msec,
   :machine-hash "9d8f4257dc312e740d9e2baaf108b2ba7a75672c",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 83,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 16,
   :transitions 31,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 161859824,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "9d8f4257dc312e740d9e2baaf108b2ba7a75672c",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 63,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated true,
 :constants 0,
 :formalism :b}
