{:properties 5,
 :definitions 0,
 :deferred_sets 0,
 :number-of-transitions 1054,
 :deadlock false,
 :file
 "./prob-examples/EventBPrologPackages/Tickets/ProjectionDiagram/m3_mch.eventb",
 :enumerated_sets 2,
 :variables 5,
 :number-of-states 246,
 :included-machines
 ["./prob-examples/EventBPrologPackages/Tickets/ProjectionDiagram/m3_mch.eventb"],
 :sha512
 "89c66e0beba02048a2ffb8c7384bfe9e7dd48fbd28fdd7ed34aba6ee40907a624ebf2a24d7b4393d08614bb93e12b44083b4e99784844276ad952328c076754e",
 :comment "",
 :files 1,
 :static_assertions 2,
 :operations 10,
 :sha256
 "e8e316b055054297ea0eca6478171ce5e3983637abbe1a541f76260b31f4f2a9",
 :invariants 5,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 240,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors ("model_check_incomplete"),
   :states 238,
   :transitions 985,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1934,
   :memory-usage 164074352,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "0444bcc7ed95d5857ce919c5d7778df964653fff",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 301,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 214,
   :transitions 814,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 2951,
   :memory-usage 163927648,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "0444bcc7ed95d5857ce919c5d7778df964653fff",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 241,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 246,
   :transitions 1054,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 163328592,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "0444bcc7ed95d5857ce919c5d7778df964653fff",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 237,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 246,
   :transitions 1054,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 163331376,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "0444bcc7ed95d5857ce919c5d7778df964653fff",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 237,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("model_check_incomplete"),
   :states 246,
   :transitions 1054,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 163410384,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "0444bcc7ed95d5857ce919c5d7778df964653fff",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 282,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 1,
 :invariant-violated false,
 :constants 4,
 :formalism :eventb}
