{:properties 2,
 :definitions 0,
 :deferred_sets 0,
 :number-of-transitions 2,
 :deadlock true,
 :file
 "./prob-examples/B/Tickets/LambdaInverse/LambdaInverseBehaviour.mch",
 :enumerated_sets 1,
 :variables 0,
 :number-of-states 2,
 :included-machines
 ["./prob-examples/B/Tickets/LambdaInverse/LambdaInverseBehaviour.mch"],
 :sha512
 "7e432fdcf787748d903fe1a3235b1ff1ee750065418c083acfe2dc3d837980c343a48ef7182f10b5e3670ec9879ac83fbb97da21653836d0d7dfe78c6e48eecc",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 0,
 :sha256
 "f6dbbec10b16022e1e888d42f360b2fa07cde8581588f601841a75322ad33723",
 :invariants 0,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 30,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 1,
   :transitions 2,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 3,
   :memory-usage 162285840,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "454835c89ff21f3f78dabd5d8c75986e0eb9a78d",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 30,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 2,
   :transitions 2,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 2,
   :memory-usage 162225408,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "454835c89ff21f3f78dabd5d8c75986e0eb9a78d",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 28,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 2,
   :transitions 2,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162143776,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "454835c89ff21f3f78dabd5d8c75986e0eb9a78d",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 24,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 1,
   :transitions 2,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 162211248,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "454835c89ff21f3f78dabd5d8c75986e0eb9a78d",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 25,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 2,
   :transitions 2,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 162135264,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "454835c89ff21f3f78dabd5d8c75986e0eb9a78d",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 21,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 2,
 :formalism :b}
