{:properties 3,
 :definitions 1,
 :deferred_sets 0,
 :number-of-transitions 2,
 :deadlock true,
 :file
 "./prob-examples/EventBPrologPackages/Records/INTEGER_Record.mch",
 :enumerated_sets 0,
 :variables 1,
 :number-of-states 2,
 :included-machines
 ["./prob-examples/EventBPrologPackages/Records/INTEGER_Record.mch"],
 :sha512
 "db7b0d3158694db9d821e72d814f6d6560a65206b9b15bddfd9d265243dbacb0fe9283adebc7cad59a6605a6d3b884592e038b185b5eaf8cd4b7b11ff7a1a2ba",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 0,
 :sha256
 "e6423f11a87c6ce1e5325033a27b925f5caf25eabfa66a6a9f64ef6d8c94e08d",
 :invariants 0,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 20,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors nil,
   :states 2,
   :transitions 2,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 162258512,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "8c0ec4d091b33038d5075a3df37a3ab41ec93010",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 36,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 1,
   :transitions 2,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162297744,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "8c0ec4d091b33038d5075a3df37a3ab41ec93010",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 40,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 1,
   :transitions 2,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 2,
   :memory-usage 162341376,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "8c0ec4d091b33038d5075a3df37a3ab41ec93010",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 45,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 2,
   :transitions 2,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 162266960,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "8c0ec4d091b33038d5075a3df37a3ab41ec93010",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 38,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 2,
   :transitions 2,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 2,
   :memory-usage 162317648,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "8c0ec4d091b33038d5075a3df37a3ab41ec93010",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 42,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 2,
 :formalism :b}
