{:properties 4,
 :definitions 1,
 :deferred_sets 0,
 :number-of-transitions 2,
 :deadlock false,
 :file
 "./prob-examples/EventBPrologPackages/Records/INTEGER_Record_Unsat.mch",
 :enumerated_sets 0,
 :variables 1,
 :number-of-states 0,
 :included-machines
 ["./prob-examples/EventBPrologPackages/Records/INTEGER_Record_Unsat.mch"],
 :sha512
 "a076c6df3919b4039c6a4058cf1dc0acfcd3a1f78eb89b3d962de591fd07ea6167b5fb5e5f54f2ff909bd3144383c8892785da34758a4e82bcf990f579637c50",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 0,
 :sha256
 "b8b170db94bb3b76b10fab9b3aedf171cbf4efcb9e1284356d2b224962478b32",
 :invariants 0,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 30,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors ("setup_constants_inconsistent"),
   :states 2,
   :transitions 2,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162315936,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "7a8fac37f42e64c545f02b7b68f270dbc71ee9ba",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 38,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("setup_constants_inconsistent"),
   :states 2,
   :transitions 2,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 2,
   :memory-usage 162366672,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "7a8fac37f42e64c545f02b7b68f270dbc71ee9ba",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 43,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("setup_constants_inconsistent"),
   :states 2,
   :transitions 2,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162307376,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "7a8fac37f42e64c545f02b7b68f270dbc71ee9ba",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 39,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock" "setup_constants_inconsistent"),
   :states 1,
   :transitions 2,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162346208,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "7a8fac37f42e64c545f02b7b68f270dbc71ee9ba",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 42,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock" "setup_constants_inconsistent"),
   :states 1,
   :transitions 2,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 2,
   :memory-usage 162389888,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "7a8fac37f42e64c545f02b7b68f270dbc71ee9ba",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 44,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 2,
 :formalism :b}
