{:properties 1,
 :definitions 1,
 :deferred_sets 0,
 :number-of-transitions :unknown,
 :deadlock :unknown,
 :file "./prob-examples/B/Tester/OpCalls/ParaClash/Call1_Clash.mch",
 :enumerated_sets 0,
 :variables 2,
 :number-of-states :unknown,
 :included-machines
 ["./prob-examples/B/Tester/OpCalls/ParaClash/Call1_Clash.mch"
  "./prob-examples/B/Tester/OpCalls/ParaClash/Base.mch"],
 :sha512
 "b3a516c2c132bd5f3d701ab1ac5c40a0bf16295b6dc8ef5d15bae9d45a2366c9e2c908baefcb5acb1054701fd6ac1d03661db50be50729ed0d2ad86704ddb2f7",
 :comment "",
 :files 2,
 :static_assertions 0,
 :operations 6,
 :sha256
 "cd963f42ab35c03bcf865477c2a9618b5e1f1704e19663a1a57d2ef0fc51f566",
 :invariants 2,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time :timeout,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}],
 :dynamic_assertions 0,
 :invariant-violated :unknown,
 :constants 1,
 :formalism :b}
