{:properties 0,
 :definitions 0,
 :deferred_sets 0,
 :number-of-transitions 341,
 :deadlock false,
 :file
 "./prob-examples/EventBPrologPackages/Tests/Witnesses/NonDetAssign1_finite_unproven_mch.eventb",
 :enumerated_sets 0,
 :variables 2,
 :number-of-states 99,
 :included-machines
 ["./prob-examples/EventBPrologPackages/Tests/Witnesses/NonDetAssign1_finite_unproven_mch.eventb"],
 :sha512
 "3f0f3cbc3b7a3bdbcd0ac7a349acf05e12e5928bf49317aa2691815b4cc4013d2fb1906ccf34a60d6ff9ef39825b48119beaea70fe9c9771333c0d4edab05e33",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 3,
 :sha256
 "c94ea7bfcae51d0f72be270668cf51516a9e001806b934d73089962d5b09ab85",
 :invariants 3,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 100,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors nil,
   :states 99,
   :transitions 341,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 147,
   :memory-usage 162598704,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "03c2769f686d52a0f4a60d625fb0dc48f54d63f2",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 116,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 99,
   :transitions 341,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 161957184,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "03c2769f686d52a0f4a60d625fb0dc48f54d63f2",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 101,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 99,
   :transitions 341,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 161959888,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "03c2769f686d52a0f4a60d625fb0dc48f54d63f2",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 108,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 99,
   :transitions 341,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 161972592,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "03c2769f686d52a0f4a60d625fb0dc48f54d63f2",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 121,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 99,
   :transitions 341,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 414,
   :memory-usage 162613104,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "03c2769f686d52a0f4a60d625fb0dc48f54d63f2",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 106,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 0,
 :formalism :eventb}
