{:properties 0,
 :definitions 0,
 :deferred_sets 0,
 :number-of-transitions :unknown,
 :deadlock :unknown,
 :file
 "./prob-examples/EventBPrologPackages/Tests/Witnesses/NonDetAssign1_mch.eventb",
 :enumerated_sets 0,
 :variables 2,
 :number-of-states :unknown,
 :included-machines
 ["./prob-examples/EventBPrologPackages/Tests/Witnesses/NonDetAssign1_mch.eventb"],
 :sha512
 "f76105947f29073c99e9dfe615214fe218c5c7b257a26ac1ae653abe58d390d944f6a7d906d04a52cd130f9468d8d1ea8c6a49d5b5e0d2aafd2e3d1940650678",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 3,
 :sha256
 "70520bb4f7db84d75cf52deccdff81ac182f20d2e7378ef530333364d4c26cf8",
 :invariants 2,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time :timeout,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}],
 :dynamic_assertions 0,
 :invariant-violated :unknown,
 :constants 0,
 :formalism :eventb}
