{:properties 0,
 :definitions 0,
 :deferred_sets 0,
 :number-of-transitions 7,
 :deadlock false,
 :file
 "./prob-examples/B/PragmasUnits/InternalRepresentationTests/DifferentUnitNotations.mch",
 :enumerated_sets 0,
 :variables 4,
 :number-of-states 1,
 :included-machines
 ["./prob-examples/B/PragmasUnits/InternalRepresentationTests/DifferentUnitNotations.mch"],
 :sha512
 "7d378a01e1e671be04fa02935d9083dd22991fd5feb276e9eee4d33a13e2adb037a34d65a3f58e977dac36df1168b28b751af595c092d33ac1b0db16f018d582",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 6,
 :sha256
 "baca4df6f00e81e38aadaf000b561094b08788150ac2fd86a3834a00ea985bc5",
 :invariants 4,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 30,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors nil,
   :states 1,
   :transitions 7,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 161443632,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "4f766594db580d4848127064bbf11926955ef324",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 21,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 1,
   :transitions 7,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 161453872,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "4f766594db580d4848127064bbf11926955ef324",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 21,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 1,
   :transitions 7,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 15,
   :memory-usage 161782752,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "4f766594db580d4848127064bbf11926955ef324",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 67,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 1,
   :transitions 7,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 161622752,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "4f766594db580d4848127064bbf11926955ef324",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 58,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 1,
   :transitions 2,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 13,
   :memory-usage 161604432,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "4f766594db580d4848127064bbf11926955ef324",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 33,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 0,
 :formalism :b}
