{:properties 0,
 :definitions 0,
 :deferred_sets 0,
 :number-of-transitions 5,
 :deadlock false,
 :file
 "./prob-examples/B/PragmasUnits/InternalRepresentationTests/UserDefinedAlias_internal.mch",
 :enumerated_sets 0,
 :variables 3,
 :number-of-states 2,
 :included-machines
 ["./prob-examples/B/PragmasUnits/InternalRepresentationTests/UserDefinedAlias_internal.mch"],
 :sha512
 "b232510e5b9b05ec62dade499dc674ec4f27cf3ce111df8d82edade274b2770b240fd2c67bec3c928094c483e7f46390546e2e1fbdbb660de5d7e26e976d0c9b",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 2,
 :sha256
 "5301582205e4949672a9758065b98ce76a54c74cb32b3dcd7a718d13f639aae7",
 :invariants 3,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 30,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors nil,
   :states 2,
   :transitions 5,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 161549568,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "20075a4dd923cd8a2439fd961abd147b8bb41d9b",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 51,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 2,
   :transitions 5,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 60,
   :memory-usage 161804592,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "20075a4dd923cd8a2439fd961abd147b8bb41d9b",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 34,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 2,
   :transitions 5,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 161377408,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "20075a4dd923cd8a2439fd961abd147b8bb41d9b",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 17,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 2,
   :transitions 5,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 161366912,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "20075a4dd923cd8a2439fd961abd147b8bb41d9b",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 18,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 2,
   :transitions 5,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 31,
   :memory-usage 161606384,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "20075a4dd923cd8a2439fd961abd147b8bb41d9b",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 25,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 0,
 :formalism :b}
