{:properties 0,
 :definitions 0,
 :deferred_sets 0,
 :number-of-transitions 25013,
 :deadlock false,
 :file
 "./prob-examples/EventBPrologPackages/ABZ_Landing_Gear_Journal/buggy_v1/Ref3_ControllerSensors_mch.eventb",
 :enumerated_sets 8,
 :variables 21,
 :number-of-states 4706,
 :included-machines
 ["./prob-examples/EventBPrologPackages/ABZ_Landing_Gear_Journal/buggy_v1/Ref3_ControllerSensors_mch.eventb"],
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 30,
 :sha256
 "2f7721d826bbbbb2e914c27cabba23f8b8cc22953c1c4a74d44267e32b3f7df3",
 :invariants 15,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 209715200,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 22320,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 0,
 :formalism :eventb}
