{:properties 0,
 :definitions 0,
 :deferred_sets 0,
 :number-of-transitions 596733,
 :deadlock false,
 :file
 "./prob-examples/EventBPrologPackages/ABZ_Landing_Gear_Journal/buggy_v1/Ref5_Switch_mch.eventb",
 :enumerated_sets 8,
 :variables 29,
 :number-of-states 86612,
 :included-machines
 ["./prob-examples/EventBPrologPackages/ABZ_Landing_Gear_Journal/buggy_v1/Ref5_Switch_mch.eventb"],
 :sha512
 "a518e1445e9dbfeea3f3e52adba46d63f167af507125e64650575ed82ccff7571601a5f552584349df800096499ac147f48bf64f5337d55435796fe85f24e285",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 38,
 :sha256
 "0328bf2ff0e2f88669bbbed8fbeb42050c143bbc5df45bd75283415ab527e67d",
 :invariants 18,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 485580,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors nil,
   :states 86612,
   :transitions 596733,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 731313392,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "f0af2c161ac31073ed29a70f49dfaa857ca017c6",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 500882,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 86612,
   :transitions 595195,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 69320,
   :memory-usage 748733104,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "f0af2c161ac31073ed29a70f49dfaa857ca017c6",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 627588,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 86612,
   :transitions 596733,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 698809280,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "f0af2c161ac31073ed29a70f49dfaa857ca017c6",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 495718,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 86612,
   :transitions 596733,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 731310544,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "f0af2c161ac31073ed29a70f49dfaa857ca017c6",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 503812,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states nil,
   :transitions nil,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time nil,
   :memory-usage 166704512,
   :result nil,
   :model-checking-time-unit :msec,
   :machine-hash "f0af2c161ac31073ed29a70f49dfaa857ca017c6",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time nil,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 0,
 :formalism :eventb}
