{:properties 1,
 :definitions 0,
 :deferred_sets 0,
 :number-of-transitions :unknown,
 :deadlock :unknown,
 :file
 "./prob-examples/EventBPrologPackages/ABZ_Landing_Gear_Journal/buggy_v1/Ref7_Time_mch.eventb",
 :enumerated_sets 9,
 :variables 42,
 :number-of-states :unknown,
 :included-machines
 ["./prob-examples/EventBPrologPackages/ABZ_Landing_Gear_Journal/buggy_v1/Ref7_Time_mch.eventb"],
 :sha512
 "178c09b5db05921eb6ec7708be3a6a8be7d7a66857c669bd5317aff7a490a849a2c5892cf33d5db1669d211284d2320af62fe72571f3c0938dcced0a194294f6",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 45,
 :sha256
 "e0a6e4d5aeeaa9e8467aad27ac3df51d1d5053034bbd07415653223212a6dde6",
 :invariants 36,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time :timeout,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors ("invariant_violation"),
   :states 11796,
   :transitions 64426,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 313169904,
   :result "invariant_violation",
   :model-checking-time-unit :msec,
   :machine-hash "b6e90cfdff0778425138f797e6d11bb89c8f1772",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 76161,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("invariant_violation"),
   :states 23430,
   :transitions 129924,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 107430,
   :memory-usage 451236944,
   :result "invariant_violation",
   :model-checking-time-unit :msec,
   :machine-hash "b6e90cfdff0778425138f797e6d11bb89c8f1772",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 187103,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}],
 :dynamic_assertions 0,
 :invariant-violated true,
 :constants 1,
 :formalism :eventb}
