{:properties 0,
 :definitions 52,
 :deferred_sets 0,
 :number-of-transitions 1,
 :deadlock true,
 :file "./prob-examples/Latex/puzzles/ProBLatex2.mch",
 :enumerated_sets 1,
 :variables 0,
 :number-of-states 1,
 :included-machines
 ["./prob-examples/Latex/puzzles/ProBLatex2.mch"
  "./lib/LibraryMeta.def"
  "./lib/LibraryStrings.def"],
 :sha512
 "866629bc23afeee5c9bced44d1b3362303308e7bfce920eaf4de8f2fad6ad9eb84c343eb2da0610affeb830046821757ebe5729ce196a461222f7a664cd6d2c8",
 :comment "",
 :files 3,
 :static_assertions 0,
 :operations 0,
 :sha256
 "23e5d18a7ce1377049bab4ffb3c2db81d73d238a9e545b7c57cee586b9922213",
 :invariants 0,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 10,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors nil,
   :states 1,
   :transitions 1,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 2,
   :memory-usage 160821328,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "1a1fd635330777a33b82093fe6dcdb3641b555f0",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 15,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 0,
   :transitions 1,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 3,
   :memory-usage 160880976,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "1a1fd635330777a33b82093fe6dcdb3641b555f0",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 17,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 1,
   :transitions 1,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 160744320,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "1a1fd635330777a33b82093fe6dcdb3641b555f0",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 12,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 1,
   :transitions 1,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 160753168,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "1a1fd635330777a33b82093fe6dcdb3641b555f0",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 9,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 0,
   :transitions 1,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 160819936,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "1a1fd635330777a33b82093fe6dcdb3641b555f0",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 16,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 0,
 :formalism :b}
