{:properties 2,
 :definitions 0,
 :deferred_sets 0,
 :number-of-transitions 4,
 :deadlock false,
 :file
 "./prob-examples/B/ErrorMachines/UndefinedArithmetic/MaxOfEmptySet.mch",
 :enumerated_sets 0,
 :variables 1,
 :number-of-states 0,
 :included-machines
 ["./prob-examples/B/ErrorMachines/UndefinedArithmetic/MaxOfEmptySet.mch"],
 :sha512
 "78ef57ff653b472d07a1f1ee991c10d018d892d54764967cbcbe6e247b580a039b06ff07a7255eb6c56d3ab4693f646a1cfe40754119ee0a404536c0583b624e",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 0,
 :sha256
 "af2ab3d781e5b7b3010643c0a3800bc9ffb52e6962536a5a96ee4ce6d8ae35e3",
 :invariants 1,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 0,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors ("well_definedness_error"),
   :states 0,
   :transitions 4,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time _,
   :memory-usage 161863616,
   :result "well_definedness_error",
   :model-checking-time-unit :msec,
   :machine-hash "861a8885c13ca01649e1e8a186ba2798442c98e3",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 8,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("well_definedness_error"),
   :states 0,
   :transitions 4,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time _,
   :memory-usage 161853952,
   :result "well_definedness_error",
   :model-checking-time-unit :msec,
   :machine-hash "861a8885c13ca01649e1e8a186ba2798442c98e3",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 6,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("well_definedness_error"),
   :states 0,
   :transitions 4,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time _,
   :memory-usage 161854176,
   :result "well_definedness_error",
   :model-checking-time-unit :msec,
   :machine-hash "861a8885c13ca01649e1e8a186ba2798442c98e3",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 8,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("well_definedness_error"),
   :states 0,
   :transitions 4,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time _,
   :memory-usage 161904464,
   :result "well_definedness_error",
   :model-checking-time-unit :msec,
   :machine-hash "861a8885c13ca01649e1e8a186ba2798442c98e3",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 7,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("well_definedness_error"),
   :states 0,
   :transitions 4,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time _,
   :memory-usage 161907056,
   :result "well_definedness_error",
   :model-checking-time-unit :msec,
   :machine-hash "861a8885c13ca01649e1e8a186ba2798442c98e3",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 8,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 1,
 :formalism :b}
