{:sha256
 "6d2714af317af05d52877b837c7862d4646132d76a5ecd5ae451fd7016d496af",
 :sha512
 "82f7fadda507b23ba65c060c4dd31f3f07ccb62c2531c98c4e56635c0cf582ba85dd1cdaba533547ac16da171435464698a0788376e139eb14f4c61ad0bfd725",
 :file
 "./prob-examples/EventBPrologPackages/BPEL2B_PurchaseOrder/Model_Machine_4_NoDeadlock_v3.eventb",
 :runs
 [{:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}],
 :comment "SHA changed"}
