{:properties 5,
 :definitions 1,
 :deferred_sets 0,
 :number-of-transitions :unknown,
 :deadlock :unknown,
 :file
 "./prob-examples/EventBTrans/Deploy/Siemens/TrainCtrl2_Mach4.mch",
 :enumerated_sets 1,
 :variables 11,
 :number-of-states :unknown,
 :included-machines
 ["./prob-examples/EventBTrans/Deploy/Siemens/TrainCtrl2_Mach4.mch"],
 :sha512
 "5f48233dd86632bab96f4383385f628fa8bdce582981e6d60c0149f25cb3eeca0c130df877920bcabf801843fe1e927d83930b2e8ed6fd415fd79612c961ceaa",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 8,
 :sha256
 "db784d4d43384b9ef090926266dbeb1742c30b3e706d37930229aa15ce7c4b82",
 :invariants 12,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time :timeout,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 3,
 :formalism :b}
