{:properties 0,
 :definitions 0,
 :deferred_sets 1,
 :number-of-transitions 5,
 :deadlock true,
 :file "./prob-examples/B/SchneiderBook/Chapter13/Books.mch",
 :enumerated_sets 0,
 :variables 1,
 :number-of-states 4,
 :included-machines
 ["./prob-examples/B/SchneiderBook/Chapter13/Books.mch"],
 :sha512
 "86e24d2b79b5fac47e354b35ab81581cd223931e0ef38a8654c8f0429c4331d0528e9755b440cc74f53c803897b224d100ce7f576f177e3626d8e26103e88aa8",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 1,
 :sha256
 "73229bd3e3c7a14f35d5374e1a57501f4004a35d0cb7cd2c0d503b250ae981b3",
 :invariants 1,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 110,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors nil,
   :states 4,
   :transitions 5,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 5,
   :memory-usage 162085200,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "db8446606561a88e893e7fad2ae8390359a8ef07",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 122,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 3,
   :transitions 5,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 162039568,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "db8446606561a88e893e7fad2ae8390359a8ef07",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 114,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 4,
   :transitions 5,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 161958208,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "db8446606561a88e893e7fad2ae8390359a8ef07",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 110,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 3,
   :transitions 5,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 5,
   :memory-usage 162124880,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "db8446606561a88e893e7fad2ae8390359a8ef07",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 119,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 4,
   :transitions 5,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 161995936,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "db8446606561a88e893e7fad2ae8390359a8ef07",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 118,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 0,
 :formalism :b}
