{:properties 8,
 :definitions 0,
 :deferred_sets 1,
 :number-of-transitions 34,
 :deadlock true,
 :file
 "./prob-examples/EventBPrologPackages/Abrial_HL3/Cm0_mch.eventb",
 :enumerated_sets 0,
 :variables 15,
 :number-of-states 33,
 :included-machines
 ["./prob-examples/EventBPrologPackages/Abrial_HL3/Cm0_mch.eventb"],
 :comment "",
 :files 1,
 :static_assertions 1,
 :operations 11,
 :sha256
 "ef937058509f7a7bc6976099480de8891db454ee74e3f2c93a65e9ae8a7600a3",
 :invariants 24,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 150,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}],
 :dynamic_assertions 1,
 :invariant-violated false,
 :constants 5,
 :formalism :eventb}
