{:properties 3,
 :definitions 0,
 :deferred_sets 0,
 :number-of-transitions 3138,
 :deadlock false,
 :file "./prob-examples/EventBPrologPackages/MLift_mch.eventb",
 :enumerated_sets 0,
 :variables 5,
 :number-of-states 673,
 :included-machines
 ["./prob-examples/EventBPrologPackages/MLift_mch.eventb"],
 :sha512
 "a21c9adb27f0ab3d3fe6bebc9fb6788b4ccc850decf281d772755d16a6304e6b7bb94de72d09422dce9892f2c7ea56630c7dd603d8bdd9a199f7b865dcee050a",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 8,
 :sha256
 "b15ac66189cc272f2e350c9eed13f6d407618cc7fa3b0d3562402b94013c63ae",
 :invariants 3,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 500,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors nil,
   :states 673,
   :transitions 3138,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1762,
   :memory-usage 164418576,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "7bf971361e5cbc34fb2917ce31ed87e738ae2f76",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 672,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 673,
   :transitions 3138,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 163464912,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "7bf971361e5cbc34fb2917ce31ed87e738ae2f76",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 505,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 673,
   :transitions 3138,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 163467872,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "7bf971361e5cbc34fb2917ce31ed87e738ae2f76",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 540,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 673,
   :transitions 3138,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 468,
   :memory-usage 164465840,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "7bf971361e5cbc34fb2917ce31ed87e738ae2f76",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 748,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 673,
   :transitions 3138,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 163453232,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "7bf971361e5cbc34fb2917ce31ed87e738ae2f76",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 536,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 2,
 :formalism :eventb}
