{:properties 1,
 :definitions 0,
 :deferred_sets 0,
 :file "./prob-examples/EventBPrologPackages/sieve.eventb",
 :enumerated_sets 0,
 :variables 2,
 :sha512
 "a092c9852b58e48c3762755fc2ae2ccad74c04aa43449315786bb5eaff15a7222f406b2ee756bd603b42a7a733664b84ecd5cd44b4a78c50336a4dbaac75bb8f",
 :comment "SHA changed",
 :static_assertions 0,
 :operations 3,
 :sha256
 "2a0c0dd0503f6a3f777afee8d7f9784f98661338e9e86257262edc08ada6e9af",
 :invariants 2,
 :runs
 [{:errors nil,
   :states 32,
   :transitions 33,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 162546064,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "3e001a576c56b6cdcec7ac1e207aac914479a71f",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 206,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 32,
   :transitions 33,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 245,
   :memory-usage 163214656,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "3e001a576c56b6cdcec7ac1e207aac914479a71f",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 101,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 32,
   :transitions 33,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 216,
   :memory-usage 163052016,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "3e001a576c56b6cdcec7ac1e207aac914479a71f",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 95,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 32,
   :transitions 33,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162601488,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "3e001a576c56b6cdcec7ac1e207aac914479a71f",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 215,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 32,
   :transitions 33,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162549472,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "3e001a576c56b6cdcec7ac1e207aac914479a71f",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 200,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :constants 1}
