{:properties 2,
 :definitions 15,
 :deferred_sets 0,
 :number-of-transitions :unknown,
 :deadlock true,
 :file "./prob-examples/B/Puzzles/PeaceableQueens/JustQueens_MC.mch",
 :enumerated_sets 0,
 :variables 10,
 :number-of-states :unknown,
 :included-machines
 ["./prob-examples/B/Puzzles/PeaceableQueens/JustQueens_MC.mch"],
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 4,
 :sha256
 "453f6110325cbc8db5b2a7a9629497d08087f437cfefb09f355cf855e7e9438d",
 :invariants 11,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time :timeout,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated :unknown,
 :constants 2,
 :formalism :b}
