{:properties 1,
 :definitions 1,
 :deferred_sets 0,
 :number-of-transitions 1,
 :deadlock true,
 :file
 "./prob-examples/B/Tester/InitialisationChecks/InitIF_Fails.mch",
 :enumerated_sets 1,
 :variables 2,
 :number-of-states 0,
 :included-machines
 ["./prob-examples/B/Tester/InitialisationChecks/InitIF_Fails.mch"],
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 0,
 :sha256
 "8cf675b121cfc64bf72f4225c7ee20c52ccb1dcbfa0972c2c4d1516a3fe10571",
 :invariants 0,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 90,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 1,
 :formalism :b}
