{:properties 24,
 :definitions 31,
 :deferred_sets 0,
 :number-of-transitions :unknown,
 :deadlock :unknown,
 :file "./prob-examples/B/Tickets/Schneider2_Trees/data_complex.mch",
 :enumerated_sets 4,
 :variables 0,
 :number-of-states :unknown,
 :included-machines
 ["./prob-examples/B/Tickets/Schneider2_Trees/data_complex.mch"
  "./prob-examples/B/Tickets/Schneider2_Trees/LibraryIO.def"],
 :comment "",
 :files 2,
 :static_assertions 0,
 :operations 0,
 :sha256
 "ff4f70dd27804163704f140cd9f0f41997f65c9a18ed056dbca105454375ffe3",
 :invariants 0,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time :timeout,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated :unknown,
 :constants 13,
 :formalism :b}
