{:properties 17,
 :definitions 31,
 :deferred_sets 0,
 :number-of-transitions :unknown,
 :deadlock :unknown,
 :file "./prob-examples/B/Tickets/Schneider2_Trees/NewSolver.mch",
 :enumerated_sets 0,
 :variables 0,
 :number-of-states :unknown,
 :included-machines
 ["./prob-examples/B/Tickets/Schneider2_Trees/NewSolver.mch"
  "./prob-examples/B/Tickets/Schneider2_Trees/LibraryIO.def"
  "./prob-examples/B/Tickets/Schneider2_Trees/data.mch"],
 :sha512
 "34238230eed2b7330bded9293146ec66f8886f1572a3857c449239846c67d5805094d2f63794c848ede6d5e0b084f63a7c08dea9ca84cc97afc5130fe7cbce93",
 :comment "",
 :files 3,
 :static_assertions 0,
 :operations 0,
 :sha256
 "2de7977db4de802889f3a457710c71e353236302bc1e556be0eee0f9c73ca577",
 :invariants 0,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time :timeout,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}],
 :dynamic_assertions 0,
 :invariant-violated :unknown,
 :constants 8,
 :formalism :b}
