{:properties 0,
 :definitions 0,
 :deferred_sets 0,
 :number-of-transitions :unknown,
 :deadlock :unknown,
 :file
 "./prob-examples/EventBPrologPackages/Advance/CAN_Bus/CB3FSMM_mch.eventb",
 :enumerated_sets 4,
 :variables 18,
 :number-of-states :unknown,
 :included-machines
 ["./prob-examples/EventBPrologPackages/Advance/CAN_Bus/CB3FSMM_mch.eventb"],
 :sha512
 "17eb2da4a709563325e713fde2ab330701ce7458c77bf20cd2677d93f4f08a87669cbb44faed1ea68923a592078dd57868be2b9ca4bba45cf4f827c6f7a5c1b9",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 21,
 :sha256
 "96f67086af84479d28a092c471f84d9854da6181c422fdd91b77968d2897ae38",
 :invariants 9,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time :timeout,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:errors ("general_error_occurred" "internal_error(error_manager)"),
   :states 14,
   :transitions 35,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 162799632,
   :result "general_error_occurred",
   :model-checking-time-unit :msec,
   :machine-hash "11b579130d6a2d6381bdeb30a58a98f4dab4cc9a",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 155,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 0,
 :formalism :eventb}
