{:properties 7,
 :definitions 3,
 :deferred_sets 0,
 :number-of-transitions 53,
 :deadlock false,
 :file "./prob-examples/TLC/NoError/Schleusen_Records.mch",
 :enumerated_sets 2,
 :variables 2,
 :number-of-states 17,
 :included-machines
 ["./prob-examples/TLC/NoError/Schleusen_Records.mch"],
 :sha512
 "3d4569b12e6d7540d1f30d45b04f73d3de0a66772299e45c96b71fdf2d91ed48139816b50c51fe5c3bd1f2f7e5407529ab3aadb8098d3f6930698cd7bb310618",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 4,
 :sha256
 "d598956cc24dbf2376917fb8066a6e35f65991394ede290a023280ef1594987b",
 :invariants 5,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 110,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors nil,
   :states 17,
   :transitions 53,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 163607072,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "0c06f782e3da087e6f24603fce9653fe32b73b96",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 155,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 17,
   :transitions 53,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 2025,
   :memory-usage 163877584,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "0c06f782e3da087e6f24603fce9653fe32b73b96",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 112,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 17,
   :transitions 53,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 163541632,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "0c06f782e3da087e6f24603fce9653fe32b73b96",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 131,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 17,
   :transitions 53,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 163531664,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "0c06f782e3da087e6f24603fce9653fe32b73b96",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 127,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 17,
   :transitions 53,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 447,
   :memory-usage 163941232,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "0c06f782e3da087e6f24603fce9653fe32b73b96",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 125,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 3,
 :formalism :b}
