{:properties 8,
 :definitions 5,
 :deferred_sets 0,
 :number-of-transitions :unknown,
 :deadlock true,
 :file "./prob-examples/B/Optimisation/BinPacking_exec.mch",
 :enumerated_sets 1,
 :variables 4,
 :number-of-states :unknown,
 :included-machines
 ["./prob-examples/B/Optimisation/BinPacking_exec.mch"],
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 2,
 :sha256
 "dd0a36629a179af24f94be20df320c910526a984c0c9bad9e5141cfaf5b7778e",
 :invariants 3,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time :timeout,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated true,
 :constants 1,
 :formalism :b}
