{:properties 3,
 :definitions 0,
 :deferred_sets 0,
 :number-of-transitions 504,
 :deadlock false,
 :file
 "./prob-examples/B/FeatureChecks/SetOperators/TestPartition.mch",
 :enumerated_sets 1,
 :variables 0,
 :number-of-states 252,
 :included-machines
 ["./prob-examples/B/FeatureChecks/SetOperators/TestPartition.mch"],
 :sha512
 "c34a851a0d9cb0b6678affeda6948a484cb83d21859dcc99b2d550396723e9ea9311b4f7f42e22ef205e82df6adfa252d59b125b9473eaa7ca358fff9f298406",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 2,
 :sha256
 "bbd7cdd6b0b9bec7373c022ad73840f4c5d3203c8b93e0cce05693e06e559165",
 :invariants 0,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 50,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors nil,
   :states 252,
   :transitions 504,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 12,
   :memory-usage 163282416,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "a18494643ca45a804c787bd90bec8a0947ef08b3",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 89,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 252,
   :transitions 504,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 163110464,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "a18494643ca45a804c787bd90bec8a0947ef08b3",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 58,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 252,
   :transitions 504,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 163160208,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "a18494643ca45a804c787bd90bec8a0947ef08b3",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 58,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 252,
   :transitions 378,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 12,
   :memory-usage 163285728,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "a18494643ca45a804c787bd90bec8a0947ef08b3",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 82,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 252,
   :transitions 504,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 163150256,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "a18494643ca45a804c787bd90bec8a0947ef08b3",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 57,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 3,
 :formalism :b}
