{:properties 7,
 :definitions 0,
 :deferred_sets 0,
 :number-of-transitions 131073,
 :deadlock false,
 :file
 "./prob-examples/EventBPrologPackages/Tickets/SonLazySetEvaluation/m0_v2_mch.eventb",
 :enumerated_sets 0,
 :variables 2,
 :number-of-states 65537,
 :included-machines
 ["./prob-examples/EventBPrologPackages/Tickets/SonLazySetEvaluation/m0_v2_mch.eventb"],
 :sha512
 "64de1b1e141867ebd6518830db2adb08f9eb14f5e485f2be6023d7a44441692a9e446dde70de4ffb6edfec475e2bf225b07a5610d81e39ea6b3d35da138eaaf5",
 :comment "",
 :files 1,
 :static_assertions 1,
 :operations 1,
 :sha256
 "3e6e2890c36626d390ebc61fe574da275bb65ca03a44a2ad387b13376d07611d",
 :invariants 2,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 645290,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors nil,
   :states 65537,
   :transitions 131073,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 346263120,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "a5b2d2f6431f7a1bacf337056c57bf1ff1ac61a7",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 672490,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 65537,
   :transitions 131073,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 346260080,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "a5b2d2f6431f7a1bacf337056c57bf1ff1ac61a7",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 680814,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:errors nil,
   :states 65537,
   :transitions 131073,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 334236064,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "a5b2d2f6431f7a1bacf337056c57bf1ff1ac61a7",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 625851,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 7,
 :formalism :eventb}
