{:properties 16,
 :definitions 0,
 :deferred_sets 1,
 :number-of-transitions 2464,
 :deadlock true,
 :file
 "./prob-examples/EventBPrologPackages/Disprover/DeferredSetTests/DefSetStatiSymTest_ctx.eventb",
 :enumerated_sets 0,
 :variables 0,
 :number-of-states 2464,
 :included-machines
 ["./prob-examples/EventBPrologPackages/Disprover/DeferredSetTests/DefSetStatiSymTest_ctx.eventb"],
 :sha512
 "ab57d12486c2149e16a7a82e76c35785f3266c26ecb3a801c018cb85cbbc646c1f06363d53073787f5f46858aa8b9b0481fc5cf1784067df3efbc7abee557045",
 :comment "",
 :files 1,
 :static_assertions 1,
 :operations 0,
 :sha256
 "aae5e58189b23ed5d943a5d93e4978cbc3d9db7f45463e11e4474585f8d51332",
 :invariants 0,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 540,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 1232,
   :transitions 2464,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 166805920,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "c857d795315d929b808ae4057c2896fa6c43bfd1",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 561,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 2464,
   :transitions 2464,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 166709968,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "c857d795315d929b808ae4057c2896fa6c43bfd1",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 547,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 1232,
   :transitions 2464,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 2,
   :memory-usage 167135952,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "c857d795315d929b808ae4057c2896fa6c43bfd1",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 599,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 2464,
   :transitions 2464,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 3,
   :memory-usage 166595728,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "c857d795315d929b808ae4057c2896fa6c43bfd1",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 616,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 2464,
   :transitions 2464,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 166048000,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "c857d795315d929b808ae4057c2896fa6c43bfd1",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 564,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 9,
 :formalism :eventb}
