{:number-of-transitions :unknown,
 :deadlock :unknown,
 :file
 "./prob-examples/B/Special/PO_ModelChecking/CDIS/ABS_DISPLAY2.mch",
 :number-of-states :unknown,
 :included-machines [],
 :comment "",
 :sha256
 "b9519f7f40515e6d40197952dd3fe892407f745b22e9528b2ec8713c46778ac1",
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time :timeout,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}],
 :invariant-violated :unknown,
 :formalism :b}
