{:number-of-transitions :unknown,
 :deadlock :unknown,
 :file "./prob-examples/B/EventB/M_Lift_DRAFT_NewVersion.mch",
 :number-of-states :unknown,
 :included-machines [],
 :sha512
 "61ffffb03ea5355712a2994b657f7b3d7b61cd11a12dcdb3a1a03982d2dbfc57303112dbcc71f3171a419cdc347c01a9a48959a8c9dd261561699fc4d8eb1dfd",
 :comment "",
 :sha256
 "7e2b632cf21e824e7a039ff2b03202dc858340cd24fb1c80d2a7500c72b52743",
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time :timeout,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors ("load_main_file" "parse_error"),
   :states nil,
   :transitions nil,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time nil,
   :memory-usage nil,
   :result nil,
   :model-checking-time-unit :msec,
   :machine-hash nil,
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{},
   :model-checking-time nil,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("load_main_file" "parse_error"),
   :states nil,
   :transitions nil,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time nil,
   :memory-usage nil,
   :result nil,
   :model-checking-time-unit :msec,
   :machine-hash nil,
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{},
   :model-checking-time nil,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("load_main_file" "parse_error"),
   :states nil,
   :transitions nil,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time nil,
   :memory-usage nil,
   :result nil,
   :model-checking-time-unit :msec,
   :machine-hash nil,
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{},
   :model-checking-time nil,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("load_main_file" "parse_error"),
   :states nil,
   :transitions nil,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time nil,
   :memory-usage nil,
   :result nil,
   :model-checking-time-unit :msec,
   :machine-hash nil,
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{},
   :model-checking-time nil,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("load_main_file" "parse_error"),
   :states nil,
   :transitions nil,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time nil,
   :memory-usage nil,
   :result nil,
   :model-checking-time-unit :msec,
   :machine-hash nil,
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{},
   :model-checking-time nil,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :invariant-violated :unknown,
 :formalism :b}
