{:properties 21,
 :definitions 1,
 :deferred_sets 2,
 :number-of-transitions 32,
 :deadlock false,
 :file "./prob-examples/B/EventB/rodin_train_4.mch",
 :enumerated_sets 0,
 :variables 8,
 :number-of-states 24,
 :included-machines ["./prob-examples/B/EventB/rodin_train_4.mch"],
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 7,
 :sha256
 "8d5910e85174210574b8b96ca6c69135a61e056c75d4376e6c2729a7ec473648",
 :invariants 16,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 60,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 9,
 :formalism :b}
