{:properties 5,
 :definitions 0,
 :deferred_sets 0,
 :number-of-transitions 10,
 :deadlock true,
 :file "./prob-examples/B/PragmasUnits/CaseStudies/FuelLevel/ctx.mch",
 :enumerated_sets 1,
 :variables 0,
 :number-of-states 10,
 :included-machines
 ["./prob-examples/B/PragmasUnits/CaseStudies/FuelLevel/ctx.mch"],
 :sha512
 "584a240b7eb569f42174a1b056acd793850e12cc7b773fb34dd6b5f693b139594d305f7765540ac01b843281f9fe991f29daa3afa0c60712dbbbcdeda57a0d89",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 0,
 :sha256
 "c19b2c9ae9dd5fcdd5f49cfdf275c86b3dfeebc9bd5c697a69ede54740e2fe84",
 :invariants 0,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 20,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 5,
   :transitions 10,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 2,
   :memory-usage 161870672,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "9b6ae754f80736471ccb939bb8c9b718cd11b034",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 33,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 10,
   :transitions 10,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 161716112,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "9b6ae754f80736471ccb939bb8c9b718cd11b034",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 22,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 10,
   :transitions 10,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 161722976,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "9b6ae754f80736471ccb939bb8c9b718cd11b034",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 25,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 5,
   :transitions 10,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 161795792,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "9b6ae754f80736471ccb939bb8c9b718cd11b034",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 27,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 10,
   :transitions 10,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 3,
   :memory-usage 161805808,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "9b6ae754f80736471ccb939bb8c9b718cd11b034",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 26,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 3,
 :formalism :b}
