{:properties 1,
 :definitions 2,
 :deferred_sets 0,
 :number-of-transitions :unknown,
 :deadlock :unknown,
 :file "./prob-examples/TLC/InvariantViolation/TravelAgency.mch",
 :enumerated_sets 10,
 :variables 11,
 :number-of-states :unknown,
 :included-machines
 ["./prob-examples/TLC/InvariantViolation/TravelAgency.mch"],
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 10,
 :sha256
 "f130933f73d2f6762d850a2108b10812cfb2a190f44bf487cd807c121290585e",
 :invariants 18,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time :timeout,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated true,
 :constants 1,
 :formalism :b}
