{:properties 5,
 :definitions 0,
 :deferred_sets 0,
 :file
 "./prob-examples/EventBPrologPackages/Tests/WD/BitFunctions_ctx.eventb",
 :enumerated_sets 0,
 :variables 0,
 :sha512
 "13a48696ca6322b7c663fc0726e5ac56c6900b0a1195fd780e6aebe9147ab0637b3c7c744621b635805615729ce2b925ad618b1687c5d8a93fb1ca5bcce841e0",
 :static_assertions 0,
 :operations 0,
 :sha256
 "fffe5df52a5cb7a95083c98846cc2f89124226d8ca73855aa4fd48dea72dd56b",
 :invariants 0,
 :runs
 [{:errors ("deadlock"),
   :states 1,
   :transitions 2,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 2,
   :memory-usage 169234896,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "b3132b4536407f2be6955eb3f911342954a24f83",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 47,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 2,
   :transitions 2,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 169077968,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "b3132b4536407f2be6955eb3f911342954a24f83",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 37,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 1,
   :transitions 2,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 169152816,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "b3132b4536407f2be6955eb3f911342954a24f83",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 43,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 2,
   :transitions 2,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 2,
   :memory-usage 169168576,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "b3132b4536407f2be6955eb3f911342954a24f83",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 42,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 2,
   :transitions 2,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 169086336,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "b3132b4536407f2be6955eb3f911342954a24f83",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 39,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :constants 3}
