{:properties 4,
 :definitions 4,
 :deferred_sets 0,
 :number-of-transitions 1926290,
 :deadlock false,
 :file
 "./prob-examples/B/LTL/MammarFrappier/FlightSystem_corrected_4_4.mch",
 :enumerated_sets 2,
 :variables 2,
 :number-of-states 194482,
 :included-machines
 ["./prob-examples/B/LTL/MammarFrappier/FlightSystem_corrected_4_4.mch"],
 :sha512
 "9006e291ce9d14379edd0041a8e34da051c28111694e46ebb83ebe9e2295b4f268575ebec3463b554f22133914281940bf7d2333c3879a00df81bce17d391a6d",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 5,
 :sha256
 "4ced4de5c13eaeba5da1d05d733a8ca6ca3dfd20e7ddd98ac8c890a4a992885c",
 :invariants 4,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 531990,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors nil,
   :states 194482,
   :transitions 1926290,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 3185,
   :memory-usage 951689184,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "5b149d9c004528b9e638fd581c96176848cfc475",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 627161,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 194482,
   :transitions 1926290,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 919349568,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "5b149d9c004528b9e638fd581c96176848cfc475",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 571999,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 194482,
   :transitions 1926290,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1904,
   :memory-usage 985302608,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "5b149d9c004528b9e638fd581c96176848cfc475",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 540002,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 194482,
   :transitions 1926290,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 946628608,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "5b149d9c004528b9e638fd581c96176848cfc475",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 491926,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 194482,
   :transitions 1926290,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 946618784,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "5b149d9c004528b9e638fd581c96176848cfc475",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 520341,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 6,
 :invariant-violated false,
 :constants 1,
 :formalism :b}
