{:properties 2,
 :definitions 6,
 :deferred_sets 0,
 :number-of-transitions 15212,
 :deadlock false,
 :file
 "./prob-examples/B/LTL/MammarFrappier/FlightSystem_corrected_3_3.mch",
 :enumerated_sets 2,
 :variables 2,
 :number-of-states 2198,
 :included-machines
 ["./prob-examples/B/LTL/MammarFrappier/FlightSystem_corrected_3_3.mch"],
 :sha512
 "68da5f1a414b11d65effb491224b1bfcba28f98e1c46bd2fa0ca928e053a049bd9b573174d78ef65e7554c6b369938fd0fdb9dd318395c2b2da72b3a4f161c43",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 5,
 :sha256
 "b14b28fb94d031814e2e7bc3db0ffad120cffa31e03c5e0e2ecb201b47d19189",
 :invariants 4,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 209715200,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 4550,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors nil,
   :states 2198,
   :transitions 15212,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 170250192,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "f68ead31ca22aac3736a7498f7520a96fd02fe31",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 5640,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 2198,
   :transitions 15212,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 170504560,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "f68ead31ca22aac3736a7498f7520a96fd02fe31",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 4957,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 2198,
   :transitions 15212,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 2505,
   :memory-usage 171446464,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "f68ead31ca22aac3736a7498f7520a96fd02fe31",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 5106,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 2198,
   :transitions 15212,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 170514496,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "f68ead31ca22aac3736a7498f7520a96fd02fe31",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 4654,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 2198,
   :transitions 15212,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 2608,
   :memory-usage 171208688,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "f68ead31ca22aac3736a7498f7520a96fd02fe31",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 6136,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 6,
 :invariant-violated false,
 :constants 1,
 :formalism :b}
