{:properties 435,
 :definitions 0,
 :deferred_sets 5,
 :number-of-transitions :unknown,
 :deadlock :unknown,
 :file
 "./prob-examples/EventBPrologPackages/controleAcces2/m01_v2.eventb",
 :enumerated_sets 0,
 :variables 72,
 :number-of-states :unknown,
 :included-machines
 ["./prob-examples/EventBPrologPackages/controleAcces2/m01_v2.eventb"],
 :sha512
 "40b6befd00378dfd648ec46904ad5206a0502a67ddc80d3b217555f5aa50c89e5012a4499e69e2846115eb3b38b3d226a31ac55a28ba7075ae904a370d4d84b9",
 :comment "",
 :files 1,
 :static_assertions 17,
 :operations 78,
 :sha256
 "0b347c8e53d48e8a9fbed75a1ddc1c39d28920ddac8ed186d020f564eb3475c0",
 :invariants 71,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time :timeout,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}],
 :dynamic_assertions 0,
 :invariant-violated :unknown,
 :constants 60,
 :formalism :eventb}
