{:properties 0,
 :definitions 2,
 :deferred_sets 0,
 :number-of-transitions :unknown,
 :deadlock :unknown,
 :file "./prob-examples/B/FeatureChecks/DEFINITIONS/DefDouble.mch",
 :enumerated_sets 1,
 :variables 2,
 :number-of-states :unknown,
 :included-machines
 ["./prob-examples/B/FeatureChecks/DEFINITIONS/DefDouble.mch"],
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 6,
 :sha256
 "6e0726a2c5133c4dd25b4746f7bb32208e3ef0bb3ef77d77da5a2bb5081dc723",
 :invariants 1,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time :timeout,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated :unknown,
 :constants 0,
 :formalism :b}
