{:properties 0,
 :definitions 0,
 :deferred_sets 0,
 :number-of-transitions 25,
 :deadlock false,
 :file
 "./prob-examples/EventBPrologPackages/ABZ_Landing_Gear/Mch0_GearDoor_mch.eventb",
 :enumerated_sets 4,
 :variables 2,
 :number-of-states 9,
 :included-machines
 ["./prob-examples/EventBPrologPackages/ABZ_Landing_Gear/Mch0_GearDoor_mch.eventb"],
 :sha512
 "9e21143981fa262878d99840b03c0c6f54ad99e37aa1f077671847de137c4f57a1e025f2bb3f71d1987224ca0903930c5127e415705ee8ae2a521333b23bb234",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 8,
 :sha256
 "832a0a8a9fc2750743ce3d371330bb9d4b104bcc42c7a2811390a2e6d0ac0241",
 :invariants 0,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 40,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors nil,
   :states 9,
   :transitions 14,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 95,
   :memory-usage 161948576,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "9e40fa72010c316b06ed762d20b70e8366f0384a",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 29,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 9,
   :transitions 24,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 100,
   :memory-usage 161978576,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "9e40fa72010c316b06ed762d20b70e8366f0384a",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 34,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 9,
   :transitions 25,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 161547936,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "9e40fa72010c316b06ed762d20b70e8366f0384a",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 46,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 9,
   :transitions 25,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 161543936,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "9e40fa72010c316b06ed762d20b70e8366f0384a",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 41,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 9,
   :transitions 25,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 161540800,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "9e40fa72010c316b06ed762d20b70e8366f0384a",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 42,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 0,
 :formalism :eventb}
