{:properties 1,
 :definitions 0,
 :deferred_sets 0,
 :number-of-transitions 18,
 :deadlock false,
 :file "./prob-examples/B/SchneiderBook/Chapter16/PositionCounter.mch",
 :enumerated_sets 0,
 :variables 1,
 :number-of-states 9,
 :included-machines
 ["./prob-examples/B/SchneiderBook/Chapter16/PositionCounter.mch"],
 :sha512
 "a0048d9560c7c28a91569404cbecbc3a105688ac4c03effa828a967a2db8b7d79104970f7b8d472b83bddf4230df449e7b0eb9b3bc73132f9149b0804a1e9b9f",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 2,
 :sha256
 "25fee470e2e55a7d83e9e3a4a54c1af19f2bb8ffd1bb23421b1f23cd0d07f3eb",
 :invariants 2,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 40,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors nil,
   :states 9,
   :transitions 18,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 161754144,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "5b3f2331ae5d197ef64093128ef0ae73801dac5c",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 46,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 9,
   :transitions 18,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 161716592,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "5b3f2331ae5d197ef64093128ef0ae73801dac5c",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 36,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 9,
   :transitions 18,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 23,
   :memory-usage 161910224,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "5b3f2331ae5d197ef64093128ef0ae73801dac5c",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 49,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 9,
   :transitions 18,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 161706256,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "5b3f2331ae5d197ef64093128ef0ae73801dac5c",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 34,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 9,
   :transitions 18,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 29,
   :memory-usage 161966800,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "5b3f2331ae5d197ef64093128ef0ae73801dac5c",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 52,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 1,
 :formalism :b}
