{:properties 5,
 :definitions 5,
 :deferred_sets 0,
 :file
 "./prob-examples/B/Mathematical/Info4/Kapitel3-CF/PDA/PDA_from_CFG_Unicode.mch",
 :enumerated_sets 2,
 :variables 3,
 :sha512
 "fa462167a9c7dac44bd82681a1ec3fe2f245a4cacede5172242967541a8feec906010674ba025d4a8f15984b2da54ccecd3c2e7b29ee2a880b61ab03a870edf8",
 :static_assertions 0,
 :operations 3,
 :sha256
 "3848e766918ef229aff87272af1ff70f3cb84f99ceca99264de4d428372d19a4",
 :invariants 2,
 :runs
 [{:errors ("deadlock"),
   :states 6,
   :transitions 9,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 746,
   :memory-usage 163586704,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "53f568ea6443d61fa82ace1c4f78f112fe578f18",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 41,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 6,
   :transitions 9,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 163003344,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "53f568ea6443d61fa82ace1c4f78f112fe578f18",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 53,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 17,
   :transitions 18,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 162943984,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "53f568ea6443d61fa82ace1c4f78f112fe578f18",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 53,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 17,
   :transitions 18,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 467,
   :memory-usage 163680480,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "53f568ea6443d61fa82ace1c4f78f112fe578f18",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 42,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 17,
   :transitions 18,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162974816,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "53f568ea6443d61fa82ace1c4f78f112fe578f18",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 60,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :constants 5}
