{:properties 2,
 :definitions 7,
 :deferred_sets 0,
 :file
 "./prob-examples/B/Mathematical/Info4/Kapitel3-CF/PDA/PDA_from_CFG.mch",
 :enumerated_sets 2,
 :variables 3,
 :sha512
 "c17420cde3af41bf676075900c3900367ba4fb9b0542e91e511869e052e9943efa3411304c19190a433030510b1e2b78ade7cc951f89425d25cc24052f799f07",
 :static_assertions 0,
 :operations 3,
 :sha256
 "1cac8a9a7796aa610a27acd1082c7d758c4da8febed61c9ec9214e7905ab1526",
 :invariants 2,
 :runs
 [{:errors ("definition_variable_capture"),
   :states 17,
   :transitions 18,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 458,
   :memory-usage 163676384,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "f169b29a3c77b877c8dabb6124bb01a5a2bcde47",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 41,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock" "definition_variable_capture"),
   :states 6,
   :transitions 9,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 732,
   :memory-usage 163564128,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "f169b29a3c77b877c8dabb6124bb01a5a2bcde47",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 40,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock" "definition_variable_capture"),
   :states 6,
   :transitions 9,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 163003056,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "f169b29a3c77b877c8dabb6124bb01a5a2bcde47",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 55,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("definition_variable_capture"),
   :states 17,
   :transitions 18,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 162990928,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "f169b29a3c77b877c8dabb6124bb01a5a2bcde47",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 49,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("definition_variable_capture"),
   :states 17,
   :transitions 18,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 163021824,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "f169b29a3c77b877c8dabb6124bb01a5a2bcde47",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 60,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :constants 2}
