{:properties 2,
 :definitions 0,
 :deferred_sets 0,
 :number-of-transitions 78,
 :deadlock false,
 :file "./prob-examples/CSPB/CONS/oddeven.mch",
 :enumerated_sets 0,
 :variables 2,
 :number-of-states 7,
 :included-machines ["./prob-examples/CSPB/CONS/oddeven.mch"],
 :sha512
 "ef961c96dc1198cc65a6af32ab9eb1316fc8eec51c230b7646580a1338a79b4bcd9e5b83ba8dfbcf69983b953b0f9fe478088385f30050e57cd0b7f430b0ed66",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 7,
 :sha256
 "7b27e9fb2fce2ef0bf20f5bec7d3aa4400e3d0855dbc2a6cabfa9ec74c9fd76e",
 :invariants 2,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 130,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors nil,
   :states 2,
   :transitions 3,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 784,
   :memory-usage 162945648,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "9c8a8f83d0a1dc18423110b70842ab847b2dc5ce",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 53,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 7,
   :transitions 78,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162393856,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "9c8a8f83d0a1dc18423110b70842ab847b2dc5ce",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 135,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 7,
   :transitions 78,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 216,
   :memory-usage 162874752,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "9c8a8f83d0a1dc18423110b70842ab847b2dc5ce",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 49,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 7,
   :transitions 78,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 162383520,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "9c8a8f83d0a1dc18423110b70842ab847b2dc5ce",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 136,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 7,
   :transitions 78,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162404832,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "9c8a8f83d0a1dc18423110b70842ab847b2dc5ce",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 144,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 2,
 :formalism :b}
