{:properties 7,
 :definitions 0,
 :deferred_sets 0,
 :number-of-transitions 906,
 :deadlock true,
 :file
 "./prob-examples/B/PragmasUnits/CaseStudies/Abrial_Hybrid/hybrid_train/T_m1.mch",
 :enumerated_sets 0,
 :variables 9,
 :number-of-states 906,
 :included-machines
 ["./prob-examples/B/PragmasUnits/CaseStudies/Abrial_Hybrid/hybrid_train/T_m1.mch"],
 :sha512
 "2532e4fb57d68a9feaf7334e7e51bdd16e74b473ec8e3f66a19e5465cd9fa049e3bf737572052550baea4b876c58822755e0c44d4347107deace71eb65ed1d76",
 :comment "",
 :files 1,
 :static_assertions 2,
 :operations 11,
 :sha256
 "86f6ba55d51bb98543035c0eecaf56cd3bec35d448499a0c69e0b9ddaff1dc18",
 :invariants 10,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 670,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors nil,
   :states 906,
   :transitions 906,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 2741,
   :memory-usage 181284192,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "ddf19faa40ce2eb881c3fd2a3ade498a42d5c26b",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 929,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 6,
   :transitions 906,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 163767712,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "ddf19faa40ce2eb881c3fd2a3ade498a42d5c26b",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 98,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 6,
   :transitions 906,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 2426,
   :memory-usage 164514016,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "ddf19faa40ce2eb881c3fd2a3ade498a42d5c26b",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 69,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 906,
   :transitions 906,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 163733632,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "ddf19faa40ce2eb881c3fd2a3ade498a42d5c26b",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 733,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 906,
   :transitions 906,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 163670576,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "ddf19faa40ce2eb881c3fd2a3ade498a42d5c26b",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 870,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 2,
 :invariant-violated false,
 :constants 4,
 :formalism :b}
