{:properties 40,
 :definitions 33,
 :deferred_sets 0,
 :file
 "./prob-examples/B/Tickets/ReversePendingCoroutine/TestSuffixWithReverse.mch",
 :enumerated_sets 0,
 :variables 0,
 :sha512
 "b3c3977de9ef399cf032d5177eb3767a894528b3ca96bc55dadaea42b9317d35ad6ae48dd280a8cc6957309e235f5caa84d7c44c3c58c2698602bc8f483e32dd",
 :static_assertions 4,
 :operations 0,
 :sha256
 "227d73c8e457c9189db71064be32b23313a852a027495196978783d311cdccef",
 :invariants 0,
 :runs
 [{:errors nil,
   :states 4,
   :transitions 4,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 3,
   :memory-usage 163252016,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "658328824f09123a2741ed14db0077bec38899fa",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 27,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 4,
   :transitions 4,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 163170448,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "658328824f09123a2741ed14db0077bec38899fa",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 24,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 4,
   :transitions 4,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 163162448,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "658328824f09123a2741ed14db0077bec38899fa",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 21,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 2,
   :transitions 4,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 2,
   :memory-usage 163315712,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "658328824f09123a2741ed14db0077bec38899fa",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 33,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 2,
   :transitions 4,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 163241280,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "658328824f09123a2741ed14db0077bec38899fa",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 27,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :constants 21}
