{:properties 6,
 :definitions 0,
 :deferred_sets 0,
 :number-of-transitions 5,
 :deadlock false,
 :file "./prob-examples/B/Tickets/PROB-406/B1.mch",
 :enumerated_sets 0,
 :variables 2,
 :number-of-states 2,
 :included-machines
 ["./prob-examples/B/Tickets/PROB-406/B1.mch"
  "./prob-examples/B/Tickets/PROB-406/X1.mch"
  "./prob-examples/B/Tickets/PROB-406/Y1.mch"],
 :sha512
 "8b672d08a0f71328c084d53b04b3971f845a99544330afc32ad5ccf7c8a3abd278e5d65b63b9abe5b85577aaffb68682b14e79a37eda6824037ba0fefec62c30",
 :comment "",
 :files 3,
 :static_assertions 0,
 :operations 3,
 :sha256
 "3239ffc0c552db09d31a18bf8ea03710d0d5c70812e751afe4116bd612d8b83b",
 :invariants 2,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 30,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors nil,
   :states 2,
   :transitions 5,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 161819888,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "3ff324f14a59cace71a313540a1887197255d8fd",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 40,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 2,
   :transitions 5,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 161780784,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "3ff324f14a59cace71a313540a1887197255d8fd",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 30,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 2,
   :transitions 5,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 161790992,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "3ff324f14a59cace71a313540a1887197255d8fd",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 31,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 2,
   :transitions 5,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 11,
   :memory-usage 161973216,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "3ff324f14a59cace71a313540a1887197255d8fd",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 48,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 2,
   :transitions 3,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 12,
   :memory-usage 161935456,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "3ff324f14a59cace71a313540a1887197255d8fd",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 43,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 4,
 :formalism :b}
