{:properties 12,
 :definitions 0,
 :deferred_sets 0,
 :number-of-transitions 2,
 :deadlock false,
 :file "./prob-examples/B/Tickets/PROB-406/MM.mch",
 :enumerated_sets 0,
 :variables 8,
 :number-of-states 0,
 :included-machines
 ["./prob-examples/B/Tickets/PROB-406/MM.mch"
  "./prob-examples/B/Tickets/PROB-406/A1.mch"
  "./prob-examples/B/Tickets/PROB-406/X1.mch"
  "./prob-examples/B/Tickets/PROB-406/Y1.mch"
  "./prob-examples/B/Tickets/PROB-406/A2.mch"
  "./prob-examples/B/Tickets/PROB-406/X2.mch"
  "./prob-examples/B/Tickets/PROB-406/Y2.mch"
  "./prob-examples/B/Tickets/PROB-406/B1.mch"
  "./prob-examples/B/Tickets/PROB-406/B2.mch"],
 :sha512
 "5be030ad528f22b27b0304fe0a992206fd69a5fde11abaa0b67c3cc2e8acbd78198fe2a5425be3671b25cbb4b0538b14211a920bfb8ec1a1321a11e88576c7f7",
 :comment "",
 :files 9,
 :static_assertions 0,
 :operations 16,
 :sha256
 "bfb08c238c0afed6d6ccba2b25a547260ae52f4f5f00bf8d227dbc6fc486a8e1",
 :invariants 8,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 20,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors ("setup_constants_inconsistent" "model_check_incomplete"),
   :states 2,
   :transitions 7,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 14,
   :memory-usage 162397968,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "f5c59868b4a7280c9ddea316af249d71fc6a9deb",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 80,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("setup_constants_inconsistent"),
   :states 2,
   :transitions 20,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162236416,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "f5c59868b4a7280c9ddea316af249d71fc6a9deb",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 66,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("setup_constants_inconsistent"),
   :states 2,
   :transitions 20,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162246400,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "f5c59868b4a7280c9ddea316af249d71fc6a9deb",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 67,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("setup_constants_inconsistent"),
   :states 2,
   :transitions 20,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162275376,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "f5c59868b4a7280c9ddea316af249d71fc6a9deb",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 75,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("setup_constants_inconsistent" "model_check_incomplete"),
   :states 2,
   :transitions 20,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 13,
   :memory-usage 162440656,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "f5c59868b4a7280c9ddea316af249d71fc6a9deb",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 85,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 8,
 :formalism :b}
