{:properties 53,
 :definitions 0,
 :deferred_sets 0,
 :number-of-transitions :unknown,
 :deadlock :unknown,
 :file
 "./prob-examples/EventBPrologPackages/Teaching/Pacman_Machine_game_mch.eventb",
 :enumerated_sets 1,
 :variables 36,
 :number-of-states :unknown,
 :included-machines
 ["./prob-examples/EventBPrologPackages/Teaching/Pacman_Machine_game_mch.eventb"],
 :sha512
 "efb8d7caa21b0ab3f8d9ec2325e62465990893bee279949713aacf8416e8e0a4cdb112aebb4ff0e0c0cfbb5a9aa6e16b8f364d06f0c90e69f21078bf9bf9a06f",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 28,
 :sha256
 "096d7e6ccaaa20e7b4e0429339dc89fc2006db7caca8efbb76b3da1c36462142",
 :invariants 66,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time :timeout,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}],
 :dynamic_assertions 0,
 :invariant-violated :unknown,
 :constants 21,
 :formalism :eventb}
