{:properties 0,
 :definitions 0,
 :deferred_sets 0,
 :number-of-transitions 340265,
 :deadlock false,
 :file
 "./prob-examples/B/Ivo/BenchmarksEnablingAnalysis/other/CAN_BUS.mch",
 :enumerated_sets 4,
 :variables 18,
 :number-of-states 132598,
 :included-machines
 ["./prob-examples/B/Ivo/BenchmarksEnablingAnalysis/other/CAN_BUS.mch"],
 :sha512
 "43cfc9289b74bbc6326bbc87cb7cfdf848537bfa57dfcf899c83dcd0c226700b7a83f1ac39e3268de5093ba61f812c54088cfb0d4dc66b5b048204a6a2338d45",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 21,
 :sha256
 "19746f986d1653b2c9f246ca979637ce17204a3d984c7eb68848aa190b1d52d3",
 :invariants 9,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 419430400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 80710,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors nil,
   :states 132598,
   :transitions 340265,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 388562928,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "aa9e8b89f68ff3213a5feb20c865ee77207380af",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 88098,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("model_check_incomplete"),
   :states 81510,
   :transitions 141415,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1374,
   :memory-usage 309330592,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "aa9e8b89f68ff3213a5feb20c865ee77207380af",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 96855,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("model_check_incomplete"),
   :states 112336,
   :transitions 244357,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1177,
   :memory-usage 354765104,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "aa9e8b89f68ff3213a5feb20c865ee77207380af",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 139059,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 132598,
   :transitions 340265,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 388555504,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "aa9e8b89f68ff3213a5feb20c865ee77207380af",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 98352,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("general_error_occurred" "internal_error(error_manager)"),
   :states 14,
   :transitions 35,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 163005920,
   :result "general_error_occurred",
   :model-checking-time-unit :msec,
   :machine-hash "aa9e8b89f68ff3213a5feb20c865ee77207380af",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 185,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 0,
 :formalism :b}
