{:properties 1,
 :definitions 0,
 :deferred_sets 1,
 :number-of-transitions 22018,
 :deadlock false,
 :file
 "./prob-examples/B/Ivo/BenchmarksEnablingAnalysis/other/USB_4Endpoints.mch",
 :enumerated_sets 1,
 :variables 4,
 :number-of-states 693,
 :included-machines
 ["./prob-examples/B/Ivo/BenchmarksEnablingAnalysis/other/USB_4Endpoints.mch"],
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 38,
 :sha256
 "b241d5763c5fb883259e58da7f5ebbfe46ff92a5f8f10092560e19dc24c7d76a",
 :invariants 5,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 209715200,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 1650,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 1,
 :formalism :b}
