{:properties 0,
 :definitions 0,
 :deferred_sets 0,
 :file "./prob-examples/B/Other/Corinna/PartialOrderEtc/PO_Simple.mch",
 :enumerated_sets 1,
 :variables 3,
 :sha512
 "82d5c5aa80bc6df74144541b86aae41ba29b57a57ed9f1ff01ef2a56fe6c27368c948731bc457009c1dfae6b6c54b0e1f9527275b2cf57a6a88214cb462f6dbc",
 :static_assertions 0,
 :operations 4,
 :sha256
 "6bc32bca0216e97bb4684ddd56688434b20faba35c699e2a19f0c57a981fe02a",
 :invariants 0,
 :runs
 [{:errors ("bmachine_static_checks"),
   :states 13,
   :transitions 59,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 161647392,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "f763d27b479163e7c427af8bc096c37fddfca80d",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 39,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("bmachine_static_checks"),
   :states 13,
   :transitions 59,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 27,
   :memory-usage 161879968,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "f763d27b479163e7c427af8bc096c37fddfca80d",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 54,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("bmachine_static_checks"),
   :states 13,
   :transitions 59,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 161658144,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "f763d27b479163e7c427af8bc096c37fddfca80d",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 39,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("bmachine_static_checks"),
   :states 13,
   :transitions 59,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 161653872,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "f763d27b479163e7c427af8bc096c37fddfca80d",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 42,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("bmachine_static_checks"),
   :states 13,
   :transitions 59,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 26,
   :memory-usage 161872896,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "f763d27b479163e7c427af8bc096c37fddfca80d",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 55,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :constants 1}
