{:properties 7,
 :definitions 0,
 :deferred_sets 0,
 :number-of-transitions 104255,
 :deadlock false,
 :file
 "./prob-examples/EventBPrologPackages/BinarySearch/binary_search_mch.eventb",
 :enumerated_sets 0,
 :variables 5,
 :number-of-states 97262,
 :included-machines
 ["./prob-examples/EventBPrologPackages/BinarySearch/binary_search_mch.eventb"],
 :sha512
 "033a4fccc0ec7901acc763ff32eea974aa3a91e3959ec8d1786f958a60bcc40e5c27e0b72c6ad4245123702647a545e1a1db773f434dfdd378edeab4b9e12227",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 12,
 :sha256
 "0684db4a2cb4e0fc308001f26b12af77f8b1a01cc656b1d95f9fb339ea93a8ac",
 :invariants 7,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 36180,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors ("invariant_violation"),
   :states 55937,
   :transitions 62931,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 244406912,
   :result "invariant_violation",
   :model-checking-time-unit :msec,
   :machine-hash "b4ea25d4a404e57b4ec34577ef76b47f48503052",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 30634,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 97262,
   :transitions 104255,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 278856832,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "b4ea25d4a404e57b4ec34577ef76b47f48503052",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 40462,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("invariant_violation"),
   :states 55937,
   :transitions 62931,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 317,
   :memory-usage 256100816,
   :result "invariant_violation",
   :model-checking-time-unit :msec,
   :machine-hash "b4ea25d4a404e57b4ec34577ef76b47f48503052",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 40729,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 97262,
   :transitions 104255,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 278851632,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "b4ea25d4a404e57b4ec34577ef76b47f48503052",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 41657,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 97262,
   :transitions 104255,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 131,
   :memory-usage 297817712,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "b4ea25d4a404e57b4ec34577ef76b47f48503052",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 66207,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 6,
 :formalism :eventb}
