{:properties 0,
 :definitions 0,
 :deferred_sets 0,
 :number-of-transitions :unknown,
 :deadlock :unknown,
 :file
 "./prob-examples/EventBPrologPackages/Tickets/RefinementRepeatInvariants/M3_mch.eventb",
 :enumerated_sets 0,
 :variables 3,
 :number-of-states :unknown,
 :included-machines
 ["./prob-examples/EventBPrologPackages/Tickets/RefinementRepeatInvariants/M3_mch.eventb"],
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 2,
 :sha256
 "e2aed981ada98b348a639242a19607a866334d2e18b5f63aa22a0796a6f0e9d1",
 :invariants 8,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time :timeout,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated true,
 :constants 0,
 :formalism :eventb}
