{:properties 7,
 :definitions 0,
 :deferred_sets 4,
 :number-of-transitions 836148,
 :deadlock false,
 :file
 "./prob-examples/EventBPrologPackages/EventB2Java/MIO_ref6_mch.eventb",
 :enumerated_sets 0,
 :variables 21,
 :number-of-states 144090,
 :included-machines
 ["./prob-examples/EventBPrologPackages/EventB2Java/MIO_ref6_mch.eventb"],
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 21,
 :sha256
 "9c6a692ca9179a043af8ec1d8e2f4ed4548784d9e5e6a941f2efb7778943342b",
 :invariants 27,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 261870,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 5,
 :formalism :eventb}
