{:properties 4,
 :definitions 1,
 :deferred_sets 0,
 :file
 "./prob-examples/EventBPrologPackages/EventB2Java/sort_m2_data400.mch",
 :enumerated_sets 0,
 :variables 4,
 :sha512
 "c6cc44c99c872767e15cb3adb0a97545b28a78031821e786f2392151f3710c3f418b11e6c48a36bfc50bdf689d7fba585fe4389498ab071167c2cfbd8a8076c2",
 :comment "SHA changed",
 :static_assertions 0,
 :operations 4,
 :sha256
 "3ca8f7cea4db562a6edc87b30be5ef1541163e9bb1257e75f80203e9bff0e066",
 :invariants 8,
 :runs
 [{:errors nil,
   :states 80201,
   :transitions 80202,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 1512128464,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "6d3485d22e0cd9e41df03562e7538ab129b19951",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 51081,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 80201,
   :transitions 80202,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1936,
   :memory-usage 1527902688,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "6d3485d22e0cd9e41df03562e7538ab129b19951",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 60495,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 80201,
   :transitions 80202,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 1527589648,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "6d3485d22e0cd9e41df03562e7538ab129b19951",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 33388,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 80201,
   :transitions 80202,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 1527543024,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "6d3485d22e0cd9e41df03562e7538ab129b19951",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 33577,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 80201,
   :transitions 80202,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 171,
   :memory-usage 1551793792,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "6d3485d22e0cd9e41df03562e7538ab129b19951",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 47035,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 6,
 :constants 2}
