{:properties 4,
 :definitions 1,
 :deferred_sets 0,
 :number-of-transitions :unknown,
 :deadlock :unknown,
 :file
 "./prob-examples/EventBPrologPackages/EventB2Java/sort_m2_data2000.mch",
 :enumerated_sets 0,
 :variables 4,
 :number-of-states :unknown,
 :included-machines
 ["./prob-examples/EventBPrologPackages/EventB2Java/sort_m2_data2000.mch"],
 :sha512
 "8f161d533a1f1a69e660868b7362c86911b0f7591fff46dfd49eb575dc5394f3f46d647cb2bb75ce6a8ef4b09e16a3d9008f81a67dd329cd9e68e41030641908",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 4,
 :sha256
 "bd044baf8d9f6d19b0e545c4d808ad2dd015bf306d447375f0e7866767cc38a4",
 :invariants 8,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time :timeout,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}],
 :dynamic_assertions 6,
 :invariant-violated :unknown,
 :constants 2,
 :formalism :b}
