{:properties 2,
 :definitions 2,
 :deferred_sets 0,
 :number-of-transitions 22,
 :deadlock false,
 :file
 "./prob-examples/B/Tester/DefinitionMultiInclude/AtelierBCorrect/Apply.mch",
 :enumerated_sets 0,
 :variables 1,
 :number-of-states 6,
 :included-machines
 ["./prob-examples/B/Tester/DefinitionMultiInclude/AtelierBCorrect/Apply.mch"
  "./prob-examples/B/Tester/DefinitionMultiInclude/AtelierBCorrect/CallOrApplyD.def"],
 :sha512
 "cc3f52dd1913b0bda9eb2ddba4308cfc1b74fcb671cad27f2ddccad758514a29ef3eb2a953d39536b18db87906a508c284782d127a91271ef0e2da12f58b5e51",
 :comment "",
 :files 2,
 :static_assertions 0,
 :operations 1,
 :sha256
 "9bfd8d6918588401584976e4ba07531053489b2b4a9e2228ee336cac3ebfe124",
 :invariants 0,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 50,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors nil,
   :states 6,
   :transitions 22,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162332992,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "5087fa39a8e6814887588cff96c793285d20b639",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 53,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 6,
   :transitions 22,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 4,
   :memory-usage 162434720,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "5087fa39a8e6814887588cff96c793285d20b639",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 59,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 6,
   :transitions 22,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 162340624,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "5087fa39a8e6814887588cff96c793285d20b639",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 54,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 6,
   :transitions 22,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 5,
   :memory-usage 162433984,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "5087fa39a8e6814887588cff96c793285d20b639",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 59,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 6,
   :transitions 22,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 162347088,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "5087fa39a8e6814887588cff96c793285d20b639",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 51,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 2,
 :formalism :b}
