{:properties 0,
 :definitions 3,
 :deferred_sets 2,
 :number-of-transitions :unknown,
 :deadlock :unknown,
 :file "./prob-examples/B/SymmetryReduction/ServerFarm/ServerFarm.mch",
 :enumerated_sets 0,
 :variables 2,
 :number-of-states :unknown,
 :included-machines
 ["./prob-examples/B/SymmetryReduction/ServerFarm/ServerFarm.mch"],
 :sha512
 "7fa4c74515b1d153afdbd10b78469813c54030582ad8b6e8cb77081acac8a050b26973005d9917379521e790b55710bce434ab23f70e3f6fc299bc48ceef8673",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 4,
 :sha256
 "3c3987ec7242f50e08d5e5caaa98f7f50a747bb502644b1ee8d123311f5a9800",
 :invariants 1,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time :timeout,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}],
 :dynamic_assertions 0,
 :invariant-violated :unknown,
 :constants 0,
 :formalism :b}
