{:properties 3,
 :definitions 3,
 :deferred_sets 1,
 :number-of-transitions 2,
 :deadlock true,
 :file
 "./prob-examples/B/SymmetryReduction/StaticSymmetryReduction/DefSetPartTest3.mch",
 :enumerated_sets 0,
 :variables 0,
 :number-of-states 2,
 :included-machines
 ["./prob-examples/B/SymmetryReduction/StaticSymmetryReduction/DefSetPartTest3.mch"],
 :sha512
 "0932f53c75c9c32a86e5cdb393bfc1c943332f4030f363c19b6da9b6c810b33c0ebdc8df273e954a443d52e151bc5767d6aae03a9a57553da58c3030f06314ba",
 :comment "",
 :files 1,
 :static_assertions 1,
 :operations 0,
 :sha256
 "d45c21f4e715f81964fa5e4ba3ffce9288f10ac8ecbc063778314468ba5c2611",
 :invariants 0,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 30,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors nil,
   :states 2,
   :transitions 2,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162248192,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "96225507043e1393a99fd9f02e52f6afd6d986ca",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 23,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 2,
   :transitions 2,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162239744,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "96225507043e1393a99fd9f02e52f6afd6d986ca",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 22,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 2,
   :transitions 2,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 2,
   :memory-usage 162298864,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "96225507043e1393a99fd9f02e52f6afd6d986ca",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 29,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 1,
   :transitions 2,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162315936,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "96225507043e1393a99fd9f02e52f6afd6d986ca",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 26,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 1,
   :transitions 2,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 3,
   :memory-usage 162359424,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "96225507043e1393a99fd9f02e52f6afd6d986ca",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 32,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 2,
 :formalism :b}
