{:properties 0,
 :definitions 0,
 :deferred_sets 0,
 :number-of-transitions 172,
 :deadlock false,
 :file
 "./prob-examples/B/TestCaseGeneration/B4MSecure/Functional_2_2.mch",
 :enumerated_sets 2,
 :variables 4,
 :number-of-states 14,
 :included-machines
 ["./prob-examples/B/TestCaseGeneration/B4MSecure/Functional_2_2.mch"],
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 17,
 :sha256
 "95fe79ef6f2b959b6c02e49a172c270f3e4a3172eb513e4a7161bf5c65e8fa11",
 :invariants 3,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 260,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 0,
 :formalism :b}
