{:properties 1,
 :definitions 18,
 :deferred_sets 0,
 :number-of-transitions 22029,
 :deadlock true,
 :file "./prob-examples/TLA/Case_study_Merz/ACP_NP/ACP_NB_TLC.mch",
 :enumerated_sets 1,
 :variables 2,
 :number-of-states 4285,
 :included-machines
 ["./prob-examples/TLA/Case_study_Merz/ACP_NP/ACP_NB_TLC.mch"],
 :sha512
 "dc364a12f0bb69767f55f7132e0b932dc63a4a3104586bf6500d2cdaf414ce041f2daf26ae883cfa4aa759076af1882314f5b542167c70c0b493183897d65c5b",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 5,
 :sha256
 "501aa761fc9aaae59e5eabdc72e8d3e1ff85f9df5cab3b8d2cec1deff25f1237",
 :invariants 0,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 209715200,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 26450,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors nil,
   :states 4285,
   :transitions 22029,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 2520,
   :memory-usage 182983296,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "7bc1555116738aa5a8f8097c17e8f36b2e936b52",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 28970,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 81,
   :transitions 529,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 165151504,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "7bc1555116738aa5a8f8097c17e8f36b2e936b52",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 791,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 4285,
   :transitions 22029,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 181433872,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "7bc1555116738aa5a8f8097c17e8f36b2e936b52",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 28326,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 4285,
   :transitions 22029,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 182243072,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "7bc1555116738aa5a8f8097c17e8f36b2e936b52",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 28287,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 81,
   :transitions 529,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 3220,
   :memory-usage 166095936,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "7bc1555116738aa5a8f8097c17e8f36b2e936b52",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 725,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 1,
 :formalism :b}
