{:properties 0,
 :definitions 0,
 :deferred_sets 0,
 :number-of-transitions 1,
 :deadlock true,
 :file "./prob-examples/B/Tickets/Hansen16/BecomeElementGuard.mch",
 :enumerated_sets 0,
 :variables 1,
 :number-of-states 1,
 :included-machines
 ["./prob-examples/B/Tickets/Hansen16/BecomeElementGuard.mch"],
 :sha512
 "64ed9b1cc012a9bdbe5844abb608ab92ea921e8a968adad99171a19219bfda7029028ec22dd4af7febb252c5e7dd0d1265f7931ca55f0cb3c0a1f2a12b2c55f6",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 1,
 :sha256
 "6bb0ce11a65d630215ec03f807d97082bd4980e64f0274a1f9946d05126e8a5f",
 :invariants 1,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 0,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors nil,
   :states 1,
   :transitions 1,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 161495392,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "5ac88fd22bd3e1538b852f554d7fbde8dadd5c3f",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 51,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 1,
   :transitions 1,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 5,
   :memory-usage 161575760,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "5ac88fd22bd3e1538b852f554d7fbde8dadd5c3f",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 52,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 0,
   :transitions 1,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 161388224,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "5ac88fd22bd3e1538b852f554d7fbde8dadd5c3f",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 21,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 1,
   :transitions 1,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 161312736,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "5ac88fd22bd3e1538b852f554d7fbde8dadd5c3f",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 16,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 0,
   :transitions 1,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 5,
   :memory-usage 161464784,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "5ac88fd22bd3e1538b852f554d7fbde8dadd5c3f",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 21,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 0,
 :formalism :b}
