{:properties 0,
 :definitions 1,
 :deferred_sets 0,
 :number-of-transitions 8,
 :deadlock false,
 :file "./prob-examples/B/Tickets/181/alstom_memory.mch",
 :enumerated_sets 0,
 :variables 2,
 :number-of-states 2,
 :included-machines
 ["./prob-examples/B/Tickets/181/alstom_memory.mch"],
 :sha512
 "0863bacefddf9075c2113ef7d26384fe9ff47eb3bed5bec6d9ce4cc970899cc4fdc846fb119d3c40f3b799f73cdca0c69addf7546821bf9f489dd7b15f05541b",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 4,
 :sha256
 "0165ae5ea7d929bfde348edd2faeabae3c656ee17626d91e4f00678b3353a1fe",
 :invariants 1,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 110,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors nil,
   :states 2,
   :transitions 8,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 162200288,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "c7c6ba2c97f4d715943bf5a0063579e21ea564d4",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 111,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 2,
   :transitions 8,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 958,
   :memory-usage 162683440,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "c7c6ba2c97f4d715943bf5a0063579e21ea564d4",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 50,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 2,
   :transitions 8,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 785,
   :memory-usage 201503552,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "c7c6ba2c97f4d715943bf5a0063579e21ea564d4",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 36,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 2,
   :transitions 8,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162184752,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "c7c6ba2c97f4d715943bf5a0063579e21ea564d4",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 103,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 2,
   :transitions 8,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 162174112,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "c7c6ba2c97f4d715943bf5a0063579e21ea564d4",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 101,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 0,
 :formalism :b}
