{:properties 0,
 :definitions 0,
 :deferred_sets 0,
 :file
 "./prob-examples/B/Tickets/Hansen32_CompileBug/M1_Internal_v3.mch",
 :enumerated_sets 0,
 :variables 0,
 :sha512
 "42d42c89b9f100aa48c6489356fa749b7d8ad6d09e1b8d802581873b32792f0dfd5522a36e5322c5825da11adea16c94f9cb389d2aa74923bdd597325c582168",
 :comment "SHA changed",
 :static_assertions 0,
 :operations 2,
 :sha256
 "7404fd96d3b46f4dc377acc6520daf3bd7a309a3b85dfaf7bb48612340b7cf5f",
 :invariants 0,
 :runs
 [{:errors nil,
   :states 1,
   :transitions 2,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 161870048,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "c32b8c5320ae4a4b08c5236031fa9954c9027032",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 691,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 1,
   :transitions 2,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 161871904,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "c32b8c5320ae4a4b08c5236031fa9954c9027032",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 712,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 1,
   :transitions 2,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 3,
   :memory-usage 161963552,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "c32b8c5320ae4a4b08c5236031fa9954c9027032",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 721,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 1,
   :transitions 2,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 4,
   :memory-usage 161957344,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "c32b8c5320ae4a4b08c5236031fa9954c9027032",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 648,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 1,
   :transitions 2,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 161861440,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "c32b8c5320ae4a4b08c5236031fa9954c9027032",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 684,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :constants 0}
