{:properties 2,
 :definitions 0,
 :deferred_sets 1,
 :number-of-transitions 192,
 :deadlock true,
 :file
 "./prob-examples/B/Implementations/Values/IntervalValuationB.mch",
 :enumerated_sets 0,
 :variables 0,
 :number-of-states 192,
 :included-machines
 ["./prob-examples/B/Implementations/Values/IntervalValuationB.mch"],
 :sha512
 "4c0bba548fbfe7046d7f0340c22c25fba9a980be6575b750a30e3824c2af3e4cfb5263bd2295d848beb13b54f6af39b37dc38dc7e63fa36e75ce6876ff741b0a",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 0,
 :sha256
 "92e727c3191f8b9f363f3ec76be10ec75677a1e907c7ef4a97cd3bd1bd0da172",
 :invariants 0,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 40,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors nil,
   :states 192,
   :transitions 192,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162275392,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "2271e477468fdb8d9014d63e42dd38ca28de4655",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 30,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 96,
   :transitions 192,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162378544,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "2271e477468fdb8d9014d63e42dd38ca28de4655",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 37,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 96,
   :transitions 192,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 3,
   :memory-usage 162479856,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "2271e477468fdb8d9014d63e42dd38ca28de4655",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 50,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 192,
   :transitions 192,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 162249328,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "2271e477468fdb8d9014d63e42dd38ca28de4655",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 34,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 192,
   :transitions 192,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 2,
   :memory-usage 162391312,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "2271e477468fdb8d9014d63e42dd38ca28de4655",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 44,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 2,
 :formalism :b}
