{:properties 0,
 :definitions 1,
 :deferred_sets 0,
 :number-of-transitions 19,
 :deadlock false,
 :file "./prob-examples/ASM/TranslationToB/TestParIf.mch",
 :enumerated_sets 1,
 :variables 2,
 :number-of-states 6,
 :included-machines
 ["./prob-examples/ASM/TranslationToB/TestParIf.mch"],
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 3,
 :sha256
 "6eb7cc0d3c86ad51cd8cec96b77a85f211f20bbe1cadc40446bad864f31909b0",
 :invariants 0,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 60,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 0,
 :formalism :b}
