{:properties 2,
 :definitions 9,
 :deferred_sets 0,
 :file "./prob-examples/B/Other/Namur/Jars.mch",
 :enumerated_sets 1,
 :variables 1,
 :sha512
 "fabf7d30007f51497c7a1a7bd7a59689aa87b7e2994cf89df855834faa30d2cc11a51a103b9cac8ab5942f055ece2dd6ef866d1e5eab1c08b07084da867954a8",
 :static_assertions 0,
 :operations 3,
 :sha256
 "77a775865059d6ea73a036aa83a436a02d58ca691cf188ca722f1b3a553d43b3",
 :invariants 1,
 :runs
 [{:errors nil,
   :states 17,
   :transitions 60,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162864960,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "65e6f10541f99a1adeb6576e1e6734191abbb7da",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 150,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 17,
   :transitions 60,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 278,
   :memory-usage 163593856,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "65e6f10541f99a1adeb6576e1e6734191abbb7da",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 75,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 17,
   :transitions 60,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 162851568,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "65e6f10541f99a1adeb6576e1e6734191abbb7da",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 146,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 17,
   :transitions 60,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 840,
   :memory-usage 163572608,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "65e6f10541f99a1adeb6576e1e6734191abbb7da",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 82,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 17,
   :transitions 60,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 162861552,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "65e6f10541f99a1adeb6576e1e6734191abbb7da",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 145,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :constants 1}
