{:properties 0,
 :definitions 1,
 :deferred_sets 0,
 :number-of-transitions 4,
 :deadlock false,
 :file "./prob-examples/B/ErrorMachines/Warnings/ReuseSETElement.mch",
 :enumerated_sets 1,
 :variables 0,
 :number-of-states 1,
 :included-machines
 ["./prob-examples/B/ErrorMachines/Warnings/ReuseSETElement.mch"],
 :sha512
 "b6aa84f8add38b45751353a816ab702665b454aa7a6b3d4c6ae10262f18a8b0ebe52fd525b786da34429f6e37a32190a41264a2f4aa10593f1c50303fad9d6cb",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 2,
 :sha256
 "67a62060a351c6e5fb5d53e919bee251a5d01cd1b91e79ab5be9c69ce226ae91",
 :invariants 0,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 30,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors ("bmachine_static_checks" "type_error"),
   :states 1,
   :transitions 4,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 161552016,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "ce9d88a0ff49656c19989b5800b1b450751da104",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 43,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("bmachine_static_checks" "type_error"),
   :states 1,
   :transitions 4,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 161543232,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "ce9d88a0ff49656c19989b5800b1b450751da104",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 37,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("bmachine_static_checks" "type_error"),
   :states 1,
   :transitions 4,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 161553632,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "ce9d88a0ff49656c19989b5800b1b450751da104",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 38,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("bmachine_static_checks" "type_error"),
   :states 1,
   :transitions 4,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 12,
   :memory-usage 161707008,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "ce9d88a0ff49656c19989b5800b1b450751da104",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 52,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("bmachine_static_checks" "type_error"),
   :states 1,
   :transitions 3,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 12,
   :memory-usage 161696368,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "ce9d88a0ff49656c19989b5800b1b450751da104",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 50,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 0,
 :formalism :b}
