{:properties 29,
 :definitions 0,
 :deferred_sets 2,
 :number-of-transitions :unknown,
 :deadlock :unknown,
 :file
 "./prob-examples/EventBPrologPackages/ProR_Traces/data_structure2_ctx7.eventb",
 :enumerated_sets 0,
 :variables 0,
 :number-of-states :unknown,
 :included-machines
 ["./prob-examples/EventBPrologPackages/ProR_Traces/data_structure2_ctx7.eventb"],
 :sha512
 "20bae77ba1945248762e59e50fea114ec5d517f0299f3902a664572aa3d662bd70a302dad42078f3be43eb5591ac055f85c68f52f32639879ea7f48ebc098aac",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 0,
 :sha256
 "0c8363176fba3deccc846195f01aecd14b6557a65bc8d74baaa9152499a1d813",
 :invariants 0,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time :timeout,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}],
 :dynamic_assertions 0,
 :invariant-violated :unknown,
 :constants 22,
 :formalism :eventb}
