{:properties 16,
 :definitions 0,
 :deferred_sets 2,
 :number-of-transitions 260,
 :deadlock true,
 :file
 "./prob-examples/EventBPrologPackages/ProR_Traces/data_structure1_err_ctx.eventb",
 :enumerated_sets 0,
 :variables 0,
 :number-of-states 260,
 :included-machines
 ["./prob-examples/EventBPrologPackages/ProR_Traces/data_structure1_err_ctx.eventb"],
 :sha512
 "54af6db9723c2a90ec3afda3bf90af793c6c474788a7eb85a780a6afb7836078bd2ef280d63c148648d6749fbf19b7e48a0d6eed75fc50868012f968fce1bcf9",
 :comment "",
 :files 1,
 :static_assertions 5,
 :operations 0,
 :sha256
 "34efd2d3b0359801675ed243e8709538232e04f9be7ae50ea380c6aee98dc999",
 :invariants 0,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 40,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors nil,
   :states 260,
   :transitions 260,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162984912,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "a21408418404a7dc1b66761f6fbbe2d31d42d977",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 37,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 260,
   :transitions 260,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 162939008,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "a21408418404a7dc1b66761f6fbbe2d31d42d977",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 38,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 130,
   :transitions 260,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 163064000,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "a21408418404a7dc1b66761f6fbbe2d31d42d977",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 43,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 260,
   :transitions 260,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 3,
   :memory-usage 163096912,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "a21408418404a7dc1b66761f6fbbe2d31d42d977",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 52,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 130,
   :transitions 260,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 2,
   :memory-usage 163193728,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "a21408418404a7dc1b66761f6fbbe2d31d42d977",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 55,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 14,
 :formalism :eventb}
