{:properties 20,
 :definitions 0,
 :deferred_sets 2,
 :number-of-transitions :unknown,
 :deadlock :unknown,
 :file
 "./prob-examples/EventBPrologPackages/ProR_Traces/debug_ctx.eventb",
 :enumerated_sets 0,
 :variables 0,
 :number-of-states :unknown,
 :included-machines
 ["./prob-examples/EventBPrologPackages/ProR_Traces/debug_ctx.eventb"],
 :sha512
 "5cb265a7d47657a5b93318048cafae8694c85152eb0f1e1f59bdcbdeb3660b8e6ca8a024db7bddcac7698de074aebb06aec7ca78fa22cb854ebc1366afe490fe",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 0,
 :sha256
 "30995c76e8da0c583a86956ac46102f82d0b28586e80bb515a718702de69c696",
 :invariants 0,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time :timeout,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}],
 :dynamic_assertions 0,
 :invariant-violated :unknown,
 :constants 18,
 :formalism :eventb}
