{:properties 0,
 :definitions 4,
 :deferred_sets 0,
 :number-of-transitions 179157,
 :deadlock true,
 :file "./prob-examples/TLC/Deadlock/CardTrick.mch",
 :enumerated_sets 1,
 :variables 4,
 :number-of-states 150181,
 :included-machines ["./prob-examples/TLC/Deadlock/CardTrick.mch"],
 :sha512
 "9fa5e2590eedb081676789d7f36adb7fba948148358e8f528f25717919ff76f74d101dcd0b1e4d952b3be832e450983057709b773429c0522505430cfb533892",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 3,
 :sha256
 "6366b133dc9635466239e6d9f584c36339ded93812afdeda98d1d4a8890535b8",
 :invariants 4,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 419430400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 24190,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors nil,
   :states 150181,
   :transitions 179157,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 392374928,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "0ed2afdb0087775c7a5bcd99c20bd257266e4cab",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 41456,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 150181,
   :transitions 179157,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 101,
   :memory-usage 421284192,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "0ed2afdb0087775c7a5bcd99c20bd257266e4cab",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 62473,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 150181,
   :transitions 179157,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 419482928,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "0ed2afdb0087775c7a5bcd99c20bd257266e4cab",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 30392,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 129461,
   :transitions 179157,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 446526160,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "0ed2afdb0087775c7a5bcd99c20bd257266e4cab",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 26895,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 129461,
   :transitions 179157,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 57,
   :memory-usage 489816640,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "0ed2afdb0087775c7a5bcd99c20bd257266e4cab",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 39492,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 0,
 :formalism :b}
