{:properties 0,
 :definitions 0,
 :deferred_sets 0,
 :number-of-transitions :unknown,
 :deadlock :unknown,
 :file "./prob-examples/B/Ivo/PruningActionsTest2_LARGE.mch",
 :enumerated_sets 1,
 :variables 3,
 :number-of-states :unknown,
 :included-machines
 ["./prob-examples/B/Ivo/PruningActionsTest2_LARGE.mch"],
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 3,
 :sha256
 "71fd1263d66037319f02979fb8f216016610acb1846a294a9b56bcc8b7f0b998",
 :invariants 2,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time :timeout,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated :unknown,
 :constants 0,
 :formalism :b}
