{:properties 1,
 :definitions 1,
 :deferred_sets 0,
 :number-of-transitions 17,
 :deadlock true,
 :file "./prob-examples/B/Ivo/SleepSetsStudyCase.mch",
 :enumerated_sets 0,
 :variables 4,
 :number-of-states 10,
 :included-machines ["./prob-examples/B/Ivo/SleepSetsStudyCase.mch"],
 :sha512
 "5007088dfc10fbeff91d65edc5789f6671c3b5b2de1a564b2ccb906053497959fde6f3969a6eeb29091aff3955b01b1913c5cc6ce087d70c348d5c882a653d86",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 4,
 :sha256
 "6a048c0feb072bcb71b77abdcc882a0916ef0d44b6afb664d8ef9955bdf7199e",
 :invariants 4,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 60,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 5,
   :transitions 7,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 142,
   :memory-usage 162651952,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "73cc44dbe055d2cdee969b7ff7510948191f8d0d",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 55,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 10,
   :transitions 17,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 148,
   :memory-usage 162630464,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "73cc44dbe055d2cdee969b7ff7510948191f8d0d",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 44,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 10,
   :transitions 17,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162048544,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "73cc44dbe055d2cdee969b7ff7510948191f8d0d",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 71,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 10,
   :transitions 17,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162023872,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "73cc44dbe055d2cdee969b7ff7510948191f8d0d",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 69,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 9,
   :transitions 17,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162105088,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "73cc44dbe055d2cdee969b7ff7510948191f8d0d",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 68,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 1,
 :formalism :b}
