{:properties 2,
 :definitions 4,
 :deferred_sets 0,
 :number-of-transitions 12,
 :deadlock false,
 :file "./prob-examples/B/LTL/SafetyMC/BeverageVendingMachine.mch",
 :enumerated_sets 0,
 :variables 3,
 :number-of-states 9,
 :included-machines
 ["./prob-examples/B/LTL/SafetyMC/BeverageVendingMachine.mch"],
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 5,
 :sha256
 "44ebfba843c5dd35a073697876644d18e33dbda9757f952ee30f322b8f000c46",
 :invariants 2,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 40,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 1,
 :formalism :b}
