{:properties 9,
 :definitions 1,
 :deferred_sets 5,
 :number-of-transitions :unknown,
 :deadlock :unknown,
 :file
 "./prob-examples/B/PerformanceTests/CardPropagation/DeferredSetSurjectionTest.mch",
 :enumerated_sets 2,
 :variables 0,
 :number-of-states :unknown,
 :included-machines
 ["./prob-examples/B/PerformanceTests/CardPropagation/DeferredSetSurjectionTest.mch"],
 :sha512
 "ae54c041031d66f195a2679d1e092585a9fc7122f3887e73604ec5aeb243847e3545a592b6c514269de7894f5e886bce2bf7dc92be415ddbd2b8125385c69103",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 0,
 :sha256
 "74d5ee80e185354cd88fd3646c0b45bd952a28bbbca066db3641d9181d5fa0a1",
 :invariants 0,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time :timeout,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}],
 :dynamic_assertions 0,
 :invariant-violated :unknown,
 :constants 3,
 :formalism :b}
