{:properties 3,
 :definitions 0,
 :deferred_sets 0,
 :number-of-transitions :unknown,
 :deadlock :unknown,
 :file "./prob-examples/B/Tickets/PROB-83/changeMemeM.eventb",
 :enumerated_sets 0,
 :variables 1,
 :number-of-states :unknown,
 :included-machines
 ["./prob-examples/B/Tickets/PROB-83/changeMemeM.eventb"],
 :sha512
 "e3a46c1d0b93d54257807eebb66e2b70369f1e31756e92f89391310d59dfb1b323013280b79eb3b3a09f00b0395c6df6f05ddc3d6d4868409bfb57c8a3a59d2c",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 1,
 :sha256
 "18ef93e60a0b5b5cf2d8309ae43291c42046d6fc86e07c5b7cc0bb3b053463b4",
 :invariants 1,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time :timeout,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}],
 :dynamic_assertions 0,
 :invariant-violated :unknown,
 :constants 1,
 :formalism :eventb}
