{:properties 16,
 :definitions 0,
 :deferred_sets 0,
 :number-of-transitions 228,
 :deadlock false,
 :file
 "./prob-examples/B/PragmasUnits/CaseStudies/Abrial_Hybrid/hybrid_nuclear/C_m0_internal.mch",
 :enumerated_sets 0,
 :variables 4,
 :number-of-states 190,
 :included-machines
 ["./prob-examples/B/PragmasUnits/CaseStudies/Abrial_Hybrid/hybrid_nuclear/C_m0_internal.mch"],
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 4,
 :sha256
 "eff40a14aa3497c23f04f70ebd44cb9d3c09a70efa7847b33b178b158fa9205b",
 :invariants 14,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 50,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated true,
 :constants 9,
 :formalism :b}
