{:properties 0,
 :definitions 0,
 :deferred_sets 0,
 :number-of-transitions 23,
 :deadlock false,
 :file
 "./prob-examples/EventBPrologPackages/AnimB_Tests/AnimB_Forall2_mch.eventb",
 :enumerated_sets 0,
 :variables 1,
 :number-of-states 5,
 :included-machines
 ["./prob-examples/EventBPrologPackages/AnimB_Tests/AnimB_Forall2_mch.eventb"],
 :sha512
 "5adae38da68d6af05aeb3bded47d2669411c2b393ceefbae7230a443953b3c3b671fff6b6d48c9d8707c796ee17c7f2150cb3a3383e23e5128303c491d32a292",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 8,
 :sha256
 "58fce4922be8d10ff2ef5d1a07bfffe0fee35db22825448820a93db264f5f999",
 :invariants 1,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 150,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors nil,
   :states 5,
   :transitions 23,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 208,
   :memory-usage 162422112,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "fbf9b1e50c1216436b30cbbf0ae08393299d471f",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 30,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 5,
   :transitions 23,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 210,
   :memory-usage 162391712,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "fbf9b1e50c1216436b30cbbf0ae08393299d471f",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 27,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 5,
   :transitions 23,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 161995376,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "fbf9b1e50c1216436b30cbbf0ae08393299d471f",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 148,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 5,
   :transitions 23,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 161992096,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "fbf9b1e50c1216436b30cbbf0ae08393299d471f",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 149,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 5,
   :transitions 23,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162017664,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "fbf9b1e50c1216436b30cbbf0ae08393299d471f",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 154,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 0,
 :formalism :eventb}
