{:properties 1,
 :definitions 0,
 :deferred_sets 0,
 :number-of-transitions 50,
 :deadlock true,
 :file "./prob-examples/B/ErrorMachines/ImplicationPriority.mch",
 :enumerated_sets 0,
 :variables 0,
 :number-of-states 50,
 :included-machines
 ["./prob-examples/B/ErrorMachines/ImplicationPriority.mch"],
 :sha512
 "57cf76d63cf6181885b5531d6d0599372ae3a4084e501c2b5e1905713ca67b26008410508ac3abc3287923f3d85f14a7c2c7be9a18bdc599f6eee3c1a3f5d56a",
 :comment "",
 :files 1,
 :static_assertions 2,
 :operations 0,
 :sha256
 "9ae60971ceb5e9472c5ef97d6eb30a4f070f1b46cbf472b32f208b93bc6e5c53",
 :invariants 0,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 20,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors ("bmachine_static_checks"),
   :states 50,
   :transitions 50,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 2,
   :memory-usage 162048240,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "2284f97f52418acedafc54cfa73a3b4653909805",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 30,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock" "bmachine_static_checks"),
   :states 25,
   :transitions 50,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 161989200,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "2284f97f52418acedafc54cfa73a3b4653909805",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 29,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("bmachine_static_checks"),
   :states 50,
   :transitions 50,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 161958880,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "2284f97f52418acedafc54cfa73a3b4653909805",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 22,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("bmachine_static_checks"),
   :states 50,
   :transitions 50,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 161957808,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "2284f97f52418acedafc54cfa73a3b4653909805",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 24,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock" "bmachine_static_checks"),
   :states 25,
   :transitions 50,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 2,
   :memory-usage 162067904,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "2284f97f52418acedafc54cfa73a3b4653909805",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 33,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 2,
 :formalism :b}
