{:properties 3,
 :definitions 1,
 :deferred_sets 0,
 :number-of-transitions 0,
 :deadlock true,
 :file "./prob-examples/B/ErrorMachines/WD_SetCompr_Error.mch",
 :enumerated_sets 1,
 :variables 0,
 :number-of-states 0,
 :included-machines
 ["./prob-examples/B/ErrorMachines/WD_SetCompr_Error.mch"],
 :sha512
 "752166b9befe48dc535b2c044662e4df729c831d56c4124cda84d6332e40850d5166b62b1c927193ed7825af50d48104df252c8ed5c5eea9a37dd8c0848c5d86",
 :comment "",
 :files 1,
 :static_assertions 1,
 :operations 2,
 :sha256
 "b37abe445fb9b12400b12276d0d905835d9918f8f64ad3938696d2444d1a1d24",
 :invariants 1,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 10,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors ("deadlock" "well_definedness_error"),
   :states 0,
   :transitions 0,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time _,
   :memory-usage 162713360,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "443a89c4de73e008fb45e1cc9396c326940a3087",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 10,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock" "well_definedness_error"),
   :states 0,
   :transitions 0,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time _,
   :memory-usage 162700464,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "443a89c4de73e008fb45e1cc9396c326940a3087",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 6,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("well_definedness_error" "well_definedness_error"),
   :states 0,
   :transitions 0,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time _,
   :memory-usage 162688480,
   :result "well_definedness_error",
   :model-checking-time-unit :msec,
   :machine-hash "443a89c4de73e008fb45e1cc9396c326940a3087",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 8,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("well_definedness_error" "well_definedness_error"),
   :states 0,
   :transitions 0,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time _,
   :memory-usage 162708448,
   :result "well_definedness_error",
   :model-checking-time-unit :msec,
   :machine-hash "443a89c4de73e008fb45e1cc9396c326940a3087",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 9,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("well_definedness_error" "well_definedness_error"),
   :states 0,
   :transitions 0,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time _,
   :memory-usage 162688656,
   :result "well_definedness_error",
   :model-checking-time-unit :msec,
   :machine-hash "443a89c4de73e008fb45e1cc9396c326940a3087",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 7,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 3,
 :formalism :b}
