{:properties 0,
 :definitions 6,
 :deferred_sets 0,
 :number-of-transitions 1,
 :deadlock true,
 :file "./prob-examples/B/Other/Dagstuhl_May13/Armstrong.mch",
 :enumerated_sets 0,
 :variables 6,
 :number-of-states 1,
 :included-machines
 ["./prob-examples/B/Other/Dagstuhl_May13/Armstrong.mch"],
 :sha512
 "fe5f94867662864d5c7bfa15a99ce7422e5cd5f03b23a861f8c9d54a4713846e646cfe2a62b160523d5a12ce7aea9662639453a4a84a3c21ee2c735f70e287d9",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 0,
 :sha256
 "4e2ccf7a14654649381db537a8f44b16e3a49ed58d0d090d88f972e206d764c6",
 :invariants 8,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 10,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors nil,
   :states 1,
   :transitions 1,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 3,
   :memory-usage 161767184,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "c8311abee731b0337a544f87344541cde7e00a12",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 50,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 0,
   :transitions 1,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 161567728,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "c8311abee731b0337a544f87344541cde7e00a12",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 15,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 0,
   :transitions 1,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 2,
   :memory-usage 161628656,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "c8311abee731b0337a544f87344541cde7e00a12",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 17,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 1,
   :transitions 1,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 161492192,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "c8311abee731b0337a544f87344541cde7e00a12",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 9,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 1,
   :transitions 1,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 161699872,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "c8311abee731b0337a544f87344541cde7e00a12",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 52,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 0,
 :formalism :b}
