{:properties 0,
 :definitions 5,
 :deferred_sets 0,
 :number-of-transitions 128,
 :deadlock false,
 :file
 "./prob-examples/B/FeatureChecks/ExecuteOperation/SchedulerOtherInit.mch",
 :enumerated_sets 1,
 :variables 3,
 :number-of-states 35,
 :included-machines
 ["./prob-examples/B/FeatureChecks/ExecuteOperation/SchedulerOtherInit.mch"],
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 4,
 :sha256
 "b6c70014a83401244ff9effb7bd30fbc4c16781096d0be922c0088e05969df63",
 :invariants 4,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 130,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 0,
 :formalism :b}
