{:properties 50,
 :definitions 2,
 :deferred_sets 0,
 :number-of-transitions 2,
 :deadlock true,
 :file
 "./prob-examples/B/Tickets/Valerio8/Z80_9_Michael/BV16_DEFINITION.mch",
 :enumerated_sets 0,
 :variables 0,
 :number-of-states 2,
 :included-machines
 ["./prob-examples/B/Tickets/Valerio8/Z80_9_Michael/BV16_DEFINITION.mch"
  "./prob-examples/B/Tickets/Valerio8/Z80_9_Michael/BIT_DEFINITION.mch"
  "./prob-examples/B/Tickets/Valerio8/Z80_9_Michael/BYTE_DEFINITION.mch"
  "./prob-examples/B/Tickets/Valerio8/Z80_9_Michael/POWER2.mch"
  "./prob-examples/B/Tickets/Valerio8/Z80_9_Michael/POWER.mch"],
 :sha512
 "8bc046c9b8d53bcfa9a3ca8871f89551fa193d3dccecb7d1aba67b22b516e98c2c167d6709e32854b9eade07fe93db4bc0bf5267a746ee41b0785666001120ce",
 :comment "",
 :files 5,
 :static_assertions 50,
 :operations 0,
 :sha256
 "d05f6c4b866be767cd95fefb1669d165722c3de5d9a0310ea6eaa0d03d2dbafc",
 :invariants 0,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 209715200,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 20,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 1,
   :transitions 2,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 2,
   :memory-usage 166090592,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "e7edbe0b81a68f0fa70c190c1e37157ce2ef0f0a",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 28,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 2,
   :transitions 2,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 3,
   :memory-usage 166029664,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "e7edbe0b81a68f0fa70c190c1e37157ce2ef0f0a",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 30,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 2,
   :transitions 2,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 165979888,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "e7edbe0b81a68f0fa70c190c1e37157ce2ef0f0a",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 24,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 1,
   :transitions 2,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 166047920,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "e7edbe0b81a68f0fa70c190c1e37157ce2ef0f0a",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 26,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 2,
   :transitions 2,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 165971568,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "e7edbe0b81a68f0fa70c190c1e37157ce2ef0f0a",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 21,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 29,
 :formalism :b}
