{:properties 0,
 :definitions 1,
 :deferred_sets 0,
 :number-of-transitions 12,
 :deadlock false,
 :file "./prob-examples/B/U2B/CHOICE_CLASS.mch",
 :enumerated_sets 0,
 :variables 1,
 :number-of-states 3,
 :included-machines ["./prob-examples/B/U2B/CHOICE_CLASS.mch"],
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 1,
 :sha256
 "46037a9ee7fc5b0f3b7531d1732f84d1b4449048edb0ec03be46963216e5f53b",
 :invariants 1,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 30,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 0,
 :formalism :b}
