{:properties 1,
 :definitions 0,
 :deferred_sets 0,
 :number-of-transitions 88,
 :deadlock false,
 :file "./prob-examples/B/Implementations/MaxDevelopment/Scalar.mch",
 :enumerated_sets 0,
 :variables 1,
 :number-of-states 20,
 :included-machines
 ["./prob-examples/B/Implementations/MaxDevelopment/Scalar.mch"],
 :sha512
 "e934121c3f28800368e68a142cc803980f3c1092ffb883e332d7f6a325fffcefb11e8bda0f937ee283770d1c7190d29d2a612244e1806d17ccf19efd87988179",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 2,
 :sha256
 "a1d96228745eb7066560be44c4c85aa43610beba0a825effc22baa6a0f5cb69b",
 :invariants 1,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 40,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors nil,
   :states 20,
   :transitions 88,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 40,
   :memory-usage 161999776,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "a23d1bf68c137078a13608a733d1607598e79b9f",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 54,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 20,
   :transitions 88,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 161710064,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "a23d1bf68c137078a13608a733d1607598e79b9f",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 35,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 20,
   :transitions 88,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 161737408,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "a23d1bf68c137078a13608a733d1607598e79b9f",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 38,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 20,
   :transitions 88,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 45,
   :memory-usage 162008208,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "a23d1bf68c137078a13608a733d1607598e79b9f",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 48,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 20,
   :transitions 88,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 161719696,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "a23d1bf68c137078a13608a733d1607598e79b9f",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 34,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 1,
 :formalism :b}
