{:number-of-transitions :unknown,
 :deadlock :unknown,
 :file
 "./prob-examples/TLA/TLC_Regression_Tests/test1_modified_tla.mch",
 :number-of-states :unknown,
 :included-machines [],
 :comment "",
 :sha256
 "9c6e7b590ee45122bfb74bc0bcbd45bb52971407ca50798a7ef384e95b763eac",
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time :timeout,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}],
 :invariant-violated :unknown,
 :formalism :b}
