{:properties 7,
 :definitions 0,
 :deferred_sets 0,
 :number-of-transitions 80,
 :deadlock false,
 :file "./prob-examples/B/Tickets/308/Dispenser.mch",
 :enumerated_sets 2,
 :variables 2,
 :number-of-states 24,
 :included-machines
 ["./prob-examples/B/Tickets/308/Dispenser.mch"
  "./prob-examples/B/Tickets/308/Vend_Data.mch"],
 :sha512
 "0b67adf398d9166e14b7671b9489f0b4bf37ff36e2f1bddbebb2572348d12950c3744bbe45b88c054727dc9629e405447ab4d67a7ebf2722dd0bc161f1ea1a43",
 :comment "",
 :files 2,
 :static_assertions 0,
 :operations 4,
 :sha256
 "05d5a6f46d555de2d4192ee138671bac786b1fcc61525bed17d1f3cc12ae07e4",
 :invariants 2,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 70,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors nil,
   :states 24,
   :transitions 66,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 88,
   :memory-usage 162807776,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "ab51d630124ee2fd56235b93e60a48704304575f",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 67,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 24,
   :transitions 80,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 81,
   :memory-usage 162809088,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "ab51d630124ee2fd56235b93e60a48704304575f",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 72,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 24,
   :transitions 80,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 162405840,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "ab51d630124ee2fd56235b93e60a48704304575f",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 74,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 24,
   :transitions 80,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 162412080,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "ab51d630124ee2fd56235b93e60a48704304575f",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 75,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 24,
   :transitions 80,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162396224,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "ab51d630124ee2fd56235b93e60a48704304575f",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 72,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 4,
 :formalism :b}
