{:properties 9,
 :definitions 5,
 :deferred_sets 0,
 :number-of-transitions 6144,
 :deadlock false,
 :file
 "./prob-examples/B/Tickets/PROB-331/HadamardMatrixRel_ForKodkod.mch",
 :enumerated_sets 0,
 :variables 0,
 :number-of-states 1536,
 :included-machines
 ["./prob-examples/B/Tickets/PROB-331/HadamardMatrixRel_ForKodkod.mch"],
 :sha512
 "29d8a8b607008d961a3fdf5ac326b57309b576a492f91cd1af69f7df25c2a033533503399d4e655254e1229ec672f388de4e20a708ef5b1fae35e789c3368e9c",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 1,
 :sha256
 "7ebdde8ae1c1730e0d835440ff641e37cbcba3e27bf3a4989ac40e4f76f9e4c1",
 :invariants 0,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 1080,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors nil,
   :states 1536,
   :transitions 6144,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 168374176,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "747361bd34c33186ae7abf4d3b3509651293aead",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 1062,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 1536,
   :transitions 6144,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 5,
   :memory-usage 168479040,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "747361bd34c33186ae7abf4d3b3509651293aead",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 1141,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 1536,
   :transitions 6144,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 168119568,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "747361bd34c33186ae7abf4d3b3509651293aead",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 1081,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 1536,
   :transitions 6144,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 168340256,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "747361bd34c33186ae7abf4d3b3509651293aead",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 1104,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 1536,
   :transitions 6144,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 4,
   :memory-usage 168711632,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "747361bd34c33186ae7abf4d3b3509651293aead",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 1131,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 2,
 :formalism :b}
