{:properties 1,
 :definitions 0,
 :deferred_sets 1,
 :number-of-transitions :unknown,
 :deadlock :unknown,
 :file "./prob-examples/B/Tickets/PROB-292/MTool1__04.eventb",
 :enumerated_sets 3,
 :variables 4,
 :number-of-states :unknown,
 :included-machines
 ["./prob-examples/B/Tickets/PROB-292/MTool1__04.eventb"],
 :sha512
 "6bc7aa7f4f3f65b254767f99daf001779ecd1b967221c85fff6624957f61aa72c2d83949fe237efd0dcae73e3f6f60bcf6712472157856b3f4d4b62242afce9f",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 5,
 :sha256
 "9f76fd1fbaf5aa0372442da0eec6ff5e23c662eab08e1cec620dbd8eb12ba2d0",
 :invariants 2,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time :timeout,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}],
 :dynamic_assertions 0,
 :invariant-violated true,
 :constants 1,
 :formalism :eventb}
