{:properties 22,
 :definitions 0,
 :deferred_sets 13,
 :number-of-transitions :unknown,
 :deadlock :unknown,
 :file
 "./prob-examples/B/Ivo/BenchmarksPOR/BPEL2B/Model_Machine_4_NoDeadlock_v4.eventb",
 :enumerated_sets 0,
 :variables 14,
 :number-of-states :unknown,
 :included-machines
 ["./prob-examples/B/Ivo/BenchmarksPOR/BPEL2B/Model_Machine_4_NoDeadlock_v4.eventb"],
 :sha512
 "4fa24a133de48d3952cd93ee10b1db4a3b53189d9443f7836e2c906f9eb3cb91031c57ff6180ced11cc16e4dd03fc74189255c84ff9f5ae04fb2220e26f650b7",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 15,
 :sha256
 "5c2f304261f31212df15b95172cbf26f9b73de24d4e2db6a7caff98fff701717",
 :invariants 31,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time :timeout,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}],
 :dynamic_assertions 0,
 :invariant-violated :unknown,
 :constants 15,
 :formalism :eventb}
