{:properties 22,
 :definitions 0,
 :deferred_sets 13,
 :number-of-transitions :unknown,
 :deadlock :unknown,
 :file
 "./prob-examples/B/Ivo/BenchmarksPOR/BPEL2B/Model_Machine_4_NoDeadlock_v2.eventb",
 :enumerated_sets 0,
 :variables 14,
 :number-of-states :unknown,
 :included-machines
 ["./prob-examples/B/Ivo/BenchmarksPOR/BPEL2B/Model_Machine_4_NoDeadlock_v2.eventb"],
 :sha512
 "927b432a99597fdd4d69b8054a0a408236c6ad9539287990e30463b5a0bd13129e72f61417d7d4707b1b0991dbde04e1b9f73bccd7a0eb84083b2479a7fcc40c",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 15,
 :sha256
 "fdfcf89144814f0cc4fd6d11ee84871a6ffbca1f4c010369c50fbfc7d0d9cc03",
 :invariants 14,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time :timeout,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}],
 :dynamic_assertions 0,
 :invariant-violated :unknown,
 :constants 15,
 :formalism :eventb}
