{:properties 1,
 :definitions 1,
 :deferred_sets 0,
 :number-of-transitions :unknown,
 :deadlock :unknown,
 :file
 "./prob-examples/B/Tickets/PARSERLIB-44/BinPacking_UnicodeMinus.mch",
 :enumerated_sets 1,
 :variables 0,
 :number-of-states :unknown,
 :included-machines
 ["./prob-examples/B/Tickets/PARSERLIB-44/BinPacking_UnicodeMinus.mch"],
 :sha512
 "5eef8753789eb71def7e0ce6f20bfdd273a542ed6b9dc32664bbfbff29dfb1033f9eb1d7433eb5c305470b232353b095fb496742fbb2a52a1982154d43817666",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 0,
 :sha256
 "3feb244d26448dcfcb2650efcd8ac1f26cff1c5bab43b5d225bdfc9773113f0d",
 :invariants 0,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time :timeout,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}],
 :dynamic_assertions 0,
 :invariant-violated :unknown,
 :constants 1,
 :formalism :b}
