{:properties 0,
 :definitions 3,
 :deferred_sets 0,
 :number-of-transitions :unknown,
 :deadlock :unknown,
 :file "./prob-examples/B/PerformanceTests/LargeRelationSetTests.mch",
 :enumerated_sets 0,
 :variables 4,
 :number-of-states :unknown,
 :included-machines
 ["./prob-examples/B/PerformanceTests/LargeRelationSetTests.mch"],
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 14,
 :sha256
 "e2e0c5cca17115def86bb7e4ebd8cdd7261242d8b13758d8ec81fa4aad1f1fc2",
 :invariants 0,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time :timeout,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated :unknown,
 :constants 0,
 :formalism :b}
