{:properties 1,
 :definitions 0,
 :deferred_sets 0,
 :number-of-transitions 34377,
 :deadlock false,
 :file "./prob-examples/B/PerformanceTests/ParallelModelCheckTest.mch",
 :enumerated_sets 0,
 :variables 2,
 :number-of-states 18751,
 :included-machines
 ["./prob-examples/B/PerformanceTests/ParallelModelCheckTest.mch"],
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 3,
 :sha256
 "cf5a85399f2593b0b68a1c2913d17fb379470617f706e830e88ac81470d1d8fa",
 :invariants 4,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 209715200,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 3730,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 1,
 :formalism :b}
