{:properties 1,
 :definitions 0,
 :deferred_sets 0,
 :number-of-transitions 1202,
 :deadlock true,
 :file "./prob-examples/B/PerformanceTests/UnionPerfTest.mch",
 :enumerated_sets 0,
 :variables 3,
 :number-of-states 1202,
 :included-machines
 ["./prob-examples/B/PerformanceTests/UnionPerfTest.mch"],
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 1,
 :sha256
 "d64bcf3c9b41618229b77e251973cbb2e047f6fb07e63d05ad4aa920687c43b9",
 :invariants 2,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 367001600,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 5200,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 1,
 :formalism :b}
