{:properties 9,
 :definitions 0,
 :deferred_sets 2,
 :number-of-transitions 8,
 :deadlock false,
 :file
 "./prob-examples/EventBPrologPackages/Vizing_Breitner/m00_Spec_mch.eventb",
 :enumerated_sets 0,
 :variables 1,
 :number-of-states 4,
 :included-machines
 ["./prob-examples/EventBPrologPackages/Vizing_Breitner/m00_Spec_mch.eventb"],
 :sha512
 "1b08382ce951e7ca9fde6a5b4d53fe5ad56b87e864a22dbfa6b4e2ef17880fcd643d6627fe5d4078dc3a5f5582b67065fa91c1abb34729236503eb1b449323dd",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 1,
 :sha256
 "f5fccba3b22d216d2591b0cd7ae07dc0a601b0ca780209daa9736685e9019146",
 :invariants 2,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 50,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors nil,
   :states 4,
   :transitions 8,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 162988736,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "c22faa41d05c009beab1744c9613c6253d872eff",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 46,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 4,
   :transitions 8,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 4,
   :memory-usage 163081712,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "c22faa41d05c009beab1744c9613c6253d872eff",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 55,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 4,
   :transitions 8,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162983296,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "c22faa41d05c009beab1744c9613c6253d872eff",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 50,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 4,
   :transitions 8,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 5,
   :memory-usage 163104240,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "c22faa41d05c009beab1744c9613c6253d872eff",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 59,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 4,
   :transitions 8,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 163012416,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "c22faa41d05c009beab1744c9613c6253d872eff",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 57,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 3,
 :formalism :eventb}
