{:properties 12,
 :definitions 1,
 :deferred_sets 0,
 :number-of-transitions 99,
 :deadlock true,
 :file "./prob-examples/B/Special/PO_ModelChecking/earley_3.mch",
 :enumerated_sets 2,
 :variables 5,
 :number-of-states 99,
 :included-machines
 ["./prob-examples/B/Special/PO_ModelChecking/earley_3.mch"],
 :sha512
 "da2536c5379a023cb3153b1aaf5c5e19d3638f35592e84802223f974464f607a2c0bad828fd146aa46a600d4bba7a4c3b13cd83fa155ef7be629926a4dbda5da",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 7,
 :sha256
 "d07953dafbaa12a381a729446c5f196b9236cfd16e0b62543f979553cdbaae14",
 :invariants 5,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 220,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors nil,
   :states 99,
   :transitions 99,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 164395616,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "53f3209be03a3091285c43f44d70e69252bfaeec",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 241,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 99,
   :transitions 99,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 164493408,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "53f3209be03a3091285c43f44d70e69252bfaeec",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 307,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 99,
   :transitions 99,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 11808,
   :memory-usage 165150400,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "53f3209be03a3091285c43f44d70e69252bfaeec",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 274,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 68,
   :transitions 77,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 164399280,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "53f3209be03a3091285c43f44d70e69252bfaeec",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 201,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 68,
   :transitions 77,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 9206,
   :memory-usage 165081344,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "53f3209be03a3091285c43f44d70e69252bfaeec",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 165,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 6,
 :formalism :b}
