{:properties 0,
 :definitions 0,
 :deferred_sets 0,
 :number-of-transitions 147,
 :deadlock false,
 :file
 "./prob-examples/B/Special/PO_ModelChecking/Simple_PO_Check.mch",
 :enumerated_sets 0,
 :variables 2,
 :number-of-states 60,
 :included-machines
 ["./prob-examples/B/Special/PO_ModelChecking/Simple_PO_Check.mch"],
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 3,
 :sha256
 "24eba7c4be776a101cdeeca904136502ac66782e8fa0f5369c9086ca3f737742",
 :invariants 2,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 60,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated true,
 :constants 0,
 :formalism :b}
