{:properties 2,
 :definitions 8,
 :deferred_sets 0,
 :number-of-transitions 12,
 :deadlock false,
 :file "./prob-examples/B/LTL/Counter.mch",
 :enumerated_sets 0,
 :variables 1,
 :number-of-states 11,
 :included-machines ["./prob-examples/B/LTL/Counter.mch"],
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 2,
 :sha256
 "056585518ab96ea449676c73e1095f6e27cea1af5362bd736b555d81b3e688a3",
 :invariants 1,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 30,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 2,
 :formalism :b}
