{:properties 8,
 :definitions 8,
 :deferred_sets 0,
 :number-of-transitions 524,
 :deadlock false,
 :file "./prob-examples/B/LTL/Mikrowelle.mch",
 :enumerated_sets 1,
 :variables 7,
 :number-of-states 109,
 :included-machines ["./prob-examples/B/LTL/Mikrowelle.mch"],
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 12,
 :sha256
 "57590907361df6d600e5fced6c6671573e298f34b7e2b18342c4fdeba03f42a4",
 :invariants 2,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 110,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 1,
 :formalism :b}
