{:properties 0,
 :definitions 2,
 :deferred_sets 2,
 :number-of-transitions 45,
 :deadlock false,
 :file "./prob-examples/B/Simple/Phonebook/phonebook6.mch",
 :enumerated_sets 0,
 :variables 3,
 :number-of-states 5,
 :included-machines
 ["./prob-examples/B/Simple/Phonebook/phonebook6.mch"],
 :sha512
 "c85eaebb7e981811691c3fb8fe1f9522fd67742bc04e22c248ae034fd588fe2a57161edcb43672c6d68cfd8caafab7d8946ba28542949965fc481247f3f48ad1",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 3,
 :sha256
 "b37e7147935646b8702f359c149ba66ec070a33837ca6478270ae4aa4cc4c167",
 :invariants 3,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 170,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors ("well_definedness_error"),
   :states 21,
   :transitions 155,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162510240,
   :result
   "state_error(abort_error(well_definedness_error,function application used for relation: ,@rel(fd(1,Name),fd(5,Code),fd(6,Code)),span_context(span_predicate(b(function(b(identifier(db),set(couple(global(Name),global(Code))),[nodeid(pos(72,1,24,7,24,9)),loc(local,phonebook6,abstract_variables)]),b(identifier(nn),global(Name),[nodeid(pos(73,1,24,10,24,12)),readonly,introduced_by(operation)])),global(Code),[contains_wd_condition,nodeid(pos(71,1,24,7,24,13))]),[bind(nn,fd(1,Name))],[bind(cc,term(undefined)),bind(db,avl_set(node((fd(1,Name),fd(5,Code)),true,1,empty,node((fd(1,Name),fd(6,Code)),true,0,empty,empty)))),bind(active,avl_set(node(fd(1,Name),true,0,empty,empty))),bind(activec,avl_set(node(fd(5,Code),true,1,empty,node(fd(6,Code),true,0,empty,empty))))]),operation(lookup_wrong,21))))",
   :model-checking-time-unit :msec,
   :machine-hash "86f9a18acf1904cd8a9d2906bf8a43464d14e888",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 204,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("well_definedness_error"),
   :states 21,
   :transitions 155,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162499728,
   :result
   "state_error(abort_error(well_definedness_error,function application used for relation: ,@rel(fd(1,Name),fd(5,Code),fd(6,Code)),span_context(span_predicate(b(function(b(identifier(db),set(couple(global(Name),global(Code))),[nodeid(pos(72,1,24,7,24,9)),loc(local,phonebook6,abstract_variables)]),b(identifier(nn),global(Name),[nodeid(pos(73,1,24,10,24,12)),readonly,introduced_by(operation)])),global(Code),[contains_wd_condition,nodeid(pos(71,1,24,7,24,13))]),[bind(nn,fd(1,Name))],[bind(cc,term(undefined)),bind(db,avl_set(node((fd(1,Name),fd(5,Code)),true,1,empty,node((fd(1,Name),fd(6,Code)),true,0,empty,empty)))),bind(active,avl_set(node(fd(1,Name),true,0,empty,empty))),bind(activec,avl_set(node(fd(5,Code),true,1,empty,node(fd(6,Code),true,0,empty,empty))))]),operation(lookup_wrong,21))))",
   :model-checking-time-unit :msec,
   :machine-hash "86f9a18acf1904cd8a9d2906bf8a43464d14e888",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 199,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("invariant_violation"),
   :states 7,
   :transitions 57,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 210,
   :memory-usage 162931616,
   :result "invariant_violation",
   :model-checking-time-unit :msec,
   :machine-hash "86f9a18acf1904cd8a9d2906bf8a43464d14e888",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 70,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("invariant_violation"),
   :states 7,
   :transitions 57,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162467040,
   :result "invariant_violation",
   :model-checking-time-unit :msec,
   :machine-hash "86f9a18acf1904cd8a9d2906bf8a43464d14e888",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 185,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("well_definedness_error"),
   :states 21,
   :transitions 155,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 169,
   :memory-usage 162876640,
   :result
   "state_error(abort_error(well_definedness_error,function application used for relation: ,@rel(fd(1,Name),fd(5,Code),fd(6,Code)),span_context(span_predicate(b(function(b(identifier(db),set(couple(global(Name),global(Code))),[nodeid(pos(72,1,24,7,24,9)),loc(local,phonebook6,abstract_variables)]),b(identifier(nn),global(Name),[nodeid(pos(73,1,24,10,24,12)),readonly,introduced_by(operation)])),global(Code),[contains_wd_condition,nodeid(pos(71,1,24,7,24,13))]),[bind(nn,fd(1,Name))],[bind(cc,term(undefined)),bind(db,avl_set(node((fd(1,Name),fd(5,Code)),true,1,empty,node((fd(1,Name),fd(6,Code)),true,0,empty,empty)))),bind(active,avl_set(node(fd(1,Name),true,0,empty,empty))),bind(activec,avl_set(node(fd(5,Code),true,1,empty,node(fd(6,Code),true,0,empty,empty))))]),???)))",
   :model-checking-time-unit :msec,
   :machine-hash "86f9a18acf1904cd8a9d2906bf8a43464d14e888",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 111,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated true,
 :constants 0,
 :formalism :b}
