{:properties 1,
 :definitions 0,
 :deferred_sets 0,
 :number-of-transitions 2,
 :deadlock true,
 :file "./prob-examples/B/Tickets/Valerio4/FailingInit2.mch",
 :enumerated_sets 1,
 :variables 2,
 :number-of-states 0,
 :included-machines
 ["./prob-examples/B/Tickets/Valerio4/FailingInit2.mch"],
 :sha512
 "e87841a316c4d502b2847de5094cadd26b499de10076fdbc09325ae04b3bfacf22aa421db0126323ab6e76f2bcb069134343fbcc0238f259a9cbeee4390d6a56",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 1,
 :sha256
 "79bbc546a3bc324fd2f749fc2a415d241643bb8d64f1d960219b3cc42f155f6a",
 :invariants 0,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 60,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors
   ("well_definedness_error"
    "bmachine_static_checks"
    "initialisation_fails"),
   :states 0,
   :transitions 2,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 5,
   :memory-usage 162128592,
   :result
   "state_error(abort_error(well_definedness_error,function applied outside of domain (#6): ,@fun(int(0),[]),span_context(span_predicate(b(function(b(identifier(f),set(couple(integer,global(ID))),[nodeid(pos(42,1,10,26,10,27)),loc(local,FailingInit2,concrete_constants),not_initialised,readonly]),b(integer(0),integer,[nodeid(pos(43,1,10,28,10,29))])),global(ID),[contains_wd_condition,nodeid(pos(41,1,10,26,10,30))]),[],[bind(xx,term(undefined)),bind(yy,term(undefined)),bind(iv,fd(1,ID)),bind(f,avl_set(node((int(1),fd(1,ID)),true,1,empty,node((int(2),fd(2,ID)),true,0,empty,empty))))]),???)))",
   :model-checking-time-unit :msec,
   :machine-hash "f6bfa4e7d3132edc63a84d4586312ce4082650f7",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 66,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors
   ("well_definedness_error"
    "bmachine_static_checks"
    "initialisation_fails"),
   :states 0,
   :transitions 2,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162088304,
   :result
   "state_error(abort_error(well_definedness_error,function applied outside of domain (#6): ,@fun(int(0),[]),span_context(span_predicate(b(function(b(identifier(f),set(couple(integer,global(ID))),[nodeid(pos(42,1,10,26,10,27)),loc(local,FailingInit2,concrete_constants),not_initialised,readonly]),b(integer(0),integer,[nodeid(pos(43,1,10,28,10,29))])),global(ID),[contains_wd_condition,nodeid(pos(41,1,10,26,10,30))]),[],[bind(xx,term(undefined)),bind(yy,term(undefined)),bind(iv,fd(1,ID)),bind(f,avl_set(node((int(1),fd(1,ID)),true,1,empty,node((int(2),fd(2,ID)),true,0,empty,empty))))]),operation($initialise_machine,0))))",
   :model-checking-time-unit :msec,
   :machine-hash "f6bfa4e7d3132edc63a84d4586312ce4082650f7",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 71,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors
   ("well_definedness_error"
    "bmachine_static_checks"
    "initialisation_fails"),
   :states 0,
   :transitions 2,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 162084512,
   :result
   "state_error(abort_error(well_definedness_error,function applied outside of domain (#6): ,@fun(int(0),[]),span_context(span_predicate(b(function(b(identifier(f),set(couple(integer,global(ID))),[nodeid(pos(42,1,10,26,10,27)),loc(local,FailingInit2,concrete_constants),not_initialised,readonly]),b(integer(0),integer,[nodeid(pos(43,1,10,28,10,29))])),global(ID),[contains_wd_condition,nodeid(pos(41,1,10,26,10,30))]),[],[bind(xx,term(undefined)),bind(yy,term(undefined)),bind(iv,fd(1,ID)),bind(f,avl_set(node((int(1),fd(1,ID)),true,1,empty,node((int(2),fd(2,ID)),true,0,empty,empty))))]),operation($initialise_machine,0))))",
   :model-checking-time-unit :msec,
   :machine-hash "f6bfa4e7d3132edc63a84d4586312ce4082650f7",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 71,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors
   ("deadlock" "bmachine_static_checks" "initialisation_fails"),
   :states 0,
   :transitions 2,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162089088,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "f6bfa4e7d3132edc63a84d4586312ce4082650f7",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 73,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors
   ("deadlock" "bmachine_static_checks" "initialisation_fails"),
   :states 0,
   :transitions 2,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 3,
   :memory-usage 162122304,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "f6bfa4e7d3132edc63a84d4586312ce4082650f7",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 67,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 2,
 :formalism :b}
