{:properties 0,
 :definitions 0,
 :deferred_sets 0,
 :number-of-transitions :unknown,
 :deadlock :unknown,
 :file "./prob-examples/B/Daniel/becomes_such.mch",
 :enumerated_sets 0,
 :variables 1,
 :number-of-states :unknown,
 :included-machines ["./prob-examples/B/Daniel/becomes_such.mch"],
 :sha512
 "e4c45162e64b9bbec70ee94b2ae46a19116425dbdcad9f0ff51b2ae077f70d967e61b22ac443aca437a367358baab51f2ef1a2e56059bb11afcf895b72f319e1",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 1,
 :sha256
 "172d57437a8b3e37dfdd0d643a3e4afd7b6b4b022a1606debb8f20ec3654e3b2",
 :invariants 1,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time :timeout,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:errors ("invariant_violation"),
   :states 4,
   :transitions 6,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 161774784,
   :result "invariant_violation",
   :model-checking-time-unit :msec,
   :machine-hash "8bcc4a502d3f146b8d66350b6370aea4e2b8788a",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 74,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("invariant_violation"),
   :states 4,
   :transitions 6,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 4,
   :memory-usage 161861568,
   :result "invariant_violation",
   :model-checking-time-unit :msec,
   :machine-hash "8bcc4a502d3f146b8d66350b6370aea4e2b8788a",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 77,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated true,
 :constants 0,
 :formalism :b}
