{:sha256
 "fe0251f55fd32764e55e3856b61eb9c0d7e4b21941c6b787d570332ad166b4e1",
 :sha512
 "f41dda1b2b80b70e543d1e8c0bedeb135fd8cf1d5325ab8dda13f971d2982ef1b29ceaaa23e33156a46bf63ae890544c3f32c4962535514c4f175029808312eb",
 :file "./prob-examples/B/Daniel/rel_fnc.mch",
 :runs
 [{:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}],
 :comment "SHA changed"}
