{:properties 0,
 :definitions 0,
 :deferred_sets 1,
 :file "./prob-examples/B/RefinementChecking/Schedular/Schedular1.mch",
 :enumerated_sets 1,
 :variables 5,
 :sha512
 "3e32831f2e483b6e736dd554e5405b9102da6ecf77de05d697173c2155e1d9593ccc9b3d0c5a5302ca9150b0baf597c31942ee35966ff5d0d6383ce3784a3164",
 :comment "SHA changed",
 :static_assertions 0,
 :operations 4,
 :sha256
 "e53276e47d359dc6a35d42eaff36b4d920d45a805615efb3a9255a98c8caf3a1",
 :invariants 1,
 :runs
 [{:errors nil,
   :states 32,
   :transitions 56,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162320016,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "d3a18379410082c863b9a8615a4d670e5e4cbc16",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 123,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 32,
   :transitions 56,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 231,
   :memory-usage 163137584,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "d3a18379410082c863b9a8615a4d670e5e4cbc16",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 78,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 32,
   :transitions 56,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 208,
   :memory-usage 163080128,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "d3a18379410082c863b9a8615a4d670e5e4cbc16",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 71,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 32,
   :transitions 56,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162349904,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "d3a18379410082c863b9a8615a4d670e5e4cbc16",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 128,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 32,
   :transitions 56,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162330288,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "d3a18379410082c863b9a8615a4d670e5e4cbc16",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 123,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :constants 0}
