{:properties 0,
 :definitions 3,
 :deferred_sets 0,
 :number-of-transitions 16,
 :deadlock true,
 :file "./prob-examples/TLC/others/TautologiesPL.mch",
 :enumerated_sets 0,
 :variables 0,
 :number-of-states 16,
 :included-machines ["./prob-examples/TLC/others/TautologiesPL.mch"],
 :sha512
 "dc47bb643edc7ef575415834632e556cf570fdefd9ffe54b11f6e5c3a3ad3e8f6fc8f86984fc0c308ce7a892f2658f8ac055ae8943153a6b00e1313a389e3785",
 :comment "",
 :files 1,
 :static_assertions 1,
 :operations 0,
 :sha256
 "da07c1d1325be05f5dcf2424903fdd4505c8b6077c71e739cd41d8bcf21d2b9e",
 :invariants 0,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 20,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 8,
   :transitions 16,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162364736,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "48e29317ba495c24f4a21072e68fee237e3c8fae",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 28,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 16,
   :transitions 16,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162291120,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "48e29317ba495c24f4a21072e68fee237e3c8fae",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 25,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 8,
   :transitions 16,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 3,
   :memory-usage 162440848,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "48e29317ba495c24f4a21072e68fee237e3c8fae",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 31,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 16,
   :transitions 16,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162285264,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "48e29317ba495c24f4a21072e68fee237e3c8fae",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 22,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 16,
   :transitions 16,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 3,
   :memory-usage 162375376,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "48e29317ba495c24f4a21072e68fee237e3c8fae",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 29,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 3,
 :formalism :b}
