{:properties 5,
 :definitions 0,
 :deferred_sets 0,
 :number-of-transitions 9154,
 :deadlock false,
 :file
 "./prob-examples/B/Compilers/Dataflow/Dataflow_ReachingDefinitions_mch.eventb",
 :enumerated_sets 2,
 :variables 5,
 :number-of-states 5720,
 :included-machines
 ["./prob-examples/B/Compilers/Dataflow/Dataflow_ReachingDefinitions_mch.eventb"],
 :sha512
 "2941229e6f0298d12a72821d03bea0069fd253ced44d5712c474653770729a4774f28b677d1aa3d4d10fd9c2bb911c331e999516192857416ba5eb3945c1ee25",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 4,
 :sha256
 "70ea39ef1cf513bb483930e999df372a786a389e6a6bb1ed6192968b4cbcf1c9",
 :invariants 2,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 209715200,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 4360,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors nil,
   :states 5720,
   :transitions 9154,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 245,
   :memory-usage 174390944,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "118748909f7b55024fa2595fea59d7406733910a",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 5629,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 5720,
   :transitions 9154,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 199,
   :memory-usage 175414752,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "118748909f7b55024fa2595fea59d7406733910a",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 5281,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 5720,
   :transitions 9154,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 173863744,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "118748909f7b55024fa2595fea59d7406733910a",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 4016,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 5720,
   :transitions 9154,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 173861488,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "118748909f7b55024fa2595fea59d7406733910a",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 4323,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 5720,
   :transitions 9154,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 172764176,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "118748909f7b55024fa2595fea59d7406733910a",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 4496,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 3,
 :formalism :eventb}
