{:properties 5,
 :definitions 0,
 :deferred_sets 0,
 :number-of-transitions 4148,
 :deadlock false,
 :file
 "./prob-examples/B/Compilers/Dataflow/LivenessAnalysis_mch.eventb",
 :enumerated_sets 2,
 :variables 5,
 :number-of-states 2568,
 :included-machines
 ["./prob-examples/B/Compilers/Dataflow/LivenessAnalysis_mch.eventb"],
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 4,
 :sha256
 "1b63fd2a8f1cf35986307973a94b9bea64ac391a7ec1860384cb83ec2ea6cdbc",
 :invariants 2,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 209715200,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 1870,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 3,
 :formalism :eventb}
