{:properties 1,
 :definitions 0,
 :deferred_sets 0,
 :number-of-transitions 116,
 :deadlock false,
 :file "./prob-examples/B/Compilers/Dataflow/Loop.mch",
 :enumerated_sets 1,
 :variables 1,
 :number-of-states 9,
 :included-machines ["./prob-examples/B/Compilers/Dataflow/Loop.mch"],
 :sha512
 "72e7c211d37667c5bf2cc634254a8884579ae035e15bf3cb87f175a58af8d55f07ca454059b1a9b21910917770ea79d84a2303fddf4016ba8963df4f1b1e8bb2",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 5,
 :sha256
 "5c9c6adb8b5ec8abf56b05fc5bb27d9653ac5a498b3d19f5948dcfcef28e86df",
 :invariants 0,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 5440,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors nil,
   :states 9,
   :transitions 116,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162849680,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "b9fdbc4cfba89d62aeefe1e3d3bde954d2bd9399",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 5444,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 9,
   :transitions 116,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162846352,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "b9fdbc4cfba89d62aeefe1e3d3bde954d2bd9399",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 5381,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 9,
   :transitions 90,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 52,
   :memory-usage 163062432,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "b9fdbc4cfba89d62aeefe1e3d3bde954d2bd9399",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 5710,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 2,
   :transitions 3,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 50,
   :memory-usage 162973680,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "b9fdbc4cfba89d62aeefe1e3d3bde954d2bd9399",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 902,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 9,
   :transitions 116,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162839216,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "b9fdbc4cfba89d62aeefe1e3d3bde954d2bd9399",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 5888,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 1,
 :formalism :b}
