{:properties 4,
 :definitions 5,
 :deferred_sets 0,
 :file "./prob-examples/B/Other/School/AbiKursWahl.mch",
 :enumerated_sets 1,
 :variables 1,
 :sha512
 "396c29a7f09526eaa6329d984e0228052ca8a28767a2bb02d738ef67008eb77227392639ca7304c2c0c4d7c8537f4351b2163a651e274596c1327e821bf69f6f",
 :static_assertions 0,
 :operations 6,
 :sha256
 "ccc2037a1b285e52400f03c185ab079918b119a0882862451dcb620f21b9a05b",
 :invariants 1,
 :runs
 [{:errors nil,
   :states 4049,
   :transitions 35910,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 175940432,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "a0079bdcab6c3db7fbe1d77699def5601901e31b",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 7640,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 4049,
   :transitions 35910,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 176719440,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "a0079bdcab6c3db7fbe1d77699def5601901e31b",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 7655,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 4049,
   :transitions 27612,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 502,
   :memory-usage 175944992,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "a0079bdcab6c3db7fbe1d77699def5601901e31b",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 7396,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 4049,
   :transitions 35910,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 176709392,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "a0079bdcab6c3db7fbe1d77699def5601901e31b",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 6930,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 4049,
   :transitions 35910,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 271,
   :memory-usage 177152384,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "a0079bdcab6c3db7fbe1d77699def5601901e31b",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 7754,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :constants 4}
