{:properties 26,
 :definitions 3,
 :deferred_sets 6,
 :number-of-transitions 1280,
 :deadlock true,
 :file "./prob-examples/B/Tickets/UnionTypes/BasicTypes.mch",
 :enumerated_sets 5,
 :variables 0,
 :number-of-states 1280,
 :included-machines
 ["./prob-examples/B/Tickets/UnionTypes/BasicTypes.mch"],
 :sha512
 "f8406ee3ca169dae6f54ae86f60b8dc8a84ceab6d0690ebfcc6e89ec8dfade5d6e7d84b5f1362c23255171e949d8e249922b8fe3dac4543d64cddf3b1711ccf7",
 :comment "",
 :files 1,
 :static_assertions 1,
 :operations 0,
 :sha256
 "989cc5789a617d46d350b7230278dec2dc80a2de81cd95ffe83158c2447bc7bc",
 :invariants 0,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 8820,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 640,
   :transitions 1280,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 2,
   :memory-usage 245231120,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "8cb8ba7189b2b0f720a3e26d11b7898661c92221",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 10362,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 1280,
   :transitions 1280,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 244876592,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "8cb8ba7189b2b0f720a3e26d11b7898661c92221",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 10063,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 1280,
   :transitions 1280,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 244644448,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "8cb8ba7189b2b0f720a3e26d11b7898661c92221",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 10102,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 640,
   :transitions 1280,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 245150912,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "8cb8ba7189b2b0f720a3e26d11b7898661c92221",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 10058,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 1280,
   :transitions 1280,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 244933984,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "8cb8ba7189b2b0f720a3e26d11b7898661c92221",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 10123,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 15,
 :formalism :b}
