{:properties 1,
 :definitions 1,
 :deferred_sets 0,
 :number-of-transitions 13,
 :deadlock false,
 :file "./prob-examples/B/RecursiveFunctions/Parity.mch",
 :enumerated_sets 0,
 :variables 0,
 :number-of-states 2,
 :included-machines
 ["./prob-examples/B/RecursiveFunctions/Parity.mch"],
 :sha512
 "b61ae8f58db4ce9527afc6a842bc521ae2f230bdb8409b0c296e792488da8eb567b3ec3ba384f3383947212d03815e89379c765f4b6bd17a02b8139763871086",
 :comment "",
 :files 1,
 :static_assertions 5,
 :operations 1,
 :sha256
 "bc10a3d9668fac8c36a35c34ca1e169879e356aac50379338640c2983ed8cfda",
 :invariants 0,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 130,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors nil,
   :states 2,
   :transitions 13,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162828352,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "a85adfd9b7b2ab07d193cc1ba0a1fbb9c2159987",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 127,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 2,
   :transitions 13,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 5,
   :memory-usage 162883120,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "a85adfd9b7b2ab07d193cc1ba0a1fbb9c2159987",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 133,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 2,
   :transitions 13,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 5,
   :memory-usage 162888992,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "a85adfd9b7b2ab07d193cc1ba0a1fbb9c2159987",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 138,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 2,
   :transitions 13,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162830288,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "a85adfd9b7b2ab07d193cc1ba0a1fbb9c2159987",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 136,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 2,
   :transitions 13,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 162819904,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "a85adfd9b7b2ab07d193cc1ba0a1fbb9c2159987",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 125,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 1,
 :formalism :b}
