{:properties 12,
 :definitions 0,
 :deferred_sets 1,
 :number-of-transitions :unknown,
 :deadlock :unknown,
 :file
 "./prob-examples/EventBPrologPackages/GraphColouring/COLORING1_40_mch.eventb",
 :enumerated_sets 0,
 :variables 1,
 :number-of-states :unknown,
 :included-machines
 ["./prob-examples/EventBPrologPackages/GraphColouring/COLORING1_40_mch.eventb"],
 :sha512
 "bcf6a218ba1e7dfee063e0ef1d6ecdc91713e42cff30631a603d9132a57e344ea9865e05ce35ae58735ccd2bf1a72ca16ae17e79b49ca090a32d43687ffecefc",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 1,
 :sha256
 "beebe0ce850feddf571b3d512cc16413391b6ff82f54e8c6353d5906b1f4c3cd",
 :invariants 1,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time :timeout,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}],
 :dynamic_assertions 0,
 :invariant-violated :unknown,
 :constants 3,
 :formalism :eventb}
