{:properties 2,
 :definitions 0,
 :deferred_sets 0,
 :number-of-transitions :unknown,
 :deadlock true,
 :file "./prob-examples/EventBPrologPackages/Laws/SetNatLaws.eventb",
 :enumerated_sets 0,
 :variables 3,
 :number-of-states :unknown,
 :included-machines
 ["./prob-examples/EventBPrologPackages/Laws/SetNatLaws.eventb"],
 :sha512
 "74f1028b66aec297000da95d9daf1e25eb35daacb6b658b9d2f4c14efcf4cfb46d864a8254318c0fb7ce7af87962ca829c998115ac01c09ec4efaf1b782bab60",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 3,
 :sha256
 "7e8d8c21767ac6e198266f023e857cdca338966048a76ac8df0d100ab7950203",
 :invariants 7,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time :timeout,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}],
 :dynamic_assertions 0,
 :invariant-violated :unknown,
 :constants 2,
 :formalism :eventb}
