{:properties 0,
 :definitions 2,
 :deferred_sets 0,
 :number-of-transitions 273,
 :deadlock false,
 :file "./prob-examples/B/Tickets/Fraikin1/BecomeSuchThat_tmp.mch",
 :enumerated_sets 0,
 :variables 1,
 :number-of-states 16,
 :included-machines
 ["./prob-examples/B/Tickets/Fraikin1/BecomeSuchThat_tmp.mch"],
 :sha512
 "1f6f032d260adc9489ee4850b3692725926d544ffbda9a66c4cd60a60f36dceeff2041f7dbbb0fe4d82a019b305f0f6f9bd798a4219d12dae7bdf9814c962a93",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 2,
 :sha256
 "504c91d7c9474342f71f7e33fca15d038bb8af521cb3b1aabd882f4fe9faccc0",
 :invariants 1,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 80,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors ("invariant_violation"),
   :states 11,
   :transitions 205,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162105088,
   :result "invariant_violation",
   :model-checking-time-unit :msec,
   :machine-hash "848367323224fac2dc8fdd6862b0c5e654ae80d2",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 85,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 16,
   :transitions 273,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 162021344,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "848367323224fac2dc8fdd6862b0c5e654ae80d2",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 76,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 16,
   :transitions 273,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 62,
   :memory-usage 162212000,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "848367323224fac2dc8fdd6862b0c5e654ae80d2",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 56,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("invariant_violation"),
   :states 11,
   :transitions 205,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 68,
   :memory-usage 162262832,
   :result "invariant_violation",
   :model-checking-time-unit :msec,
   :machine-hash "848367323224fac2dc8fdd6862b0c5e654ae80d2",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 46,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 16,
   :transitions 273,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162031968,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "848367323224fac2dc8fdd6862b0c5e654ae80d2",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 79,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated true,
 :constants 0,
 :formalism :b}
