{:properties 7,
 :definitions 0,
 :deferred_sets 0,
 :number-of-transitions :unknown,
 :deadlock :unknown,
 :file
 "./prob-examples/EventBPrologPackages/HRemo/mondex_m3_mch.eventb",
 :enumerated_sets 2,
 :variables 14,
 :number-of-states :unknown,
 :included-machines
 ["./prob-examples/EventBPrologPackages/HRemo/mondex_m3_mch.eventb"],
 :sha512
 "bd5152eddd5ad154c7263739e4bdccb6d524705bce449f436db8725675b0d84a8c02322a92f8357441e8e1e0af24efd8a9c2b70044a2020a7b925997d0927d0b",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 6,
 :sha256
 "576227b0290ee2a29db5f2775e8338bff72a9a5057be48e0b4540ca969386369",
 :invariants 30,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time :timeout,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors
   ("internal_error(exception(enumeration_warning(enumerating(b(identifier(s),set(integer),[nodeid(rodin_derived_context_pos(c2,axioms,axm2))])),INTEGER,1:sup,1:3,critical)))"),
   :states nil,
   :transitions nil,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time nil,
   :memory-usage nil,
   :result nil,
   :model-checking-time-unit :msec,
   :machine-hash nil,
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{},
   :model-checking-time nil,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors
   ("internal_error(exception(enumeration_warning(enumerating(b(identifier(s),set(integer),[nodeid(rodin_derived_context_pos(c2,axioms,axm2))])),INTEGER,1:sup,1:3,critical)))"),
   :states nil,
   :transitions nil,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time nil,
   :memory-usage nil,
   :result nil,
   :model-checking-time-unit :msec,
   :machine-hash nil,
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{},
   :model-checking-time nil,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors
   ("internal_error(exception(enumeration_warning(enumerating(b(identifier(s),set(integer),[nodeid(rodin_derived_context_pos(c2,axioms,axm2))])),INTEGER,1:sup,1:3,critical)))"),
   :states nil,
   :transitions nil,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time nil,
   :memory-usage nil,
   :result nil,
   :model-checking-time-unit :msec,
   :machine-hash nil,
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{},
   :model-checking-time nil,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors
   ("internal_error(exception(enumeration_warning(enumerating(b(identifier(s),set(integer),[nodeid(rodin_derived_context_pos(c2,axioms,axm2))])),INTEGER,1:sup,1:3,critical)))"),
   :states nil,
   :transitions nil,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time nil,
   :memory-usage nil,
   :result nil,
   :model-checking-time-unit :msec,
   :machine-hash nil,
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{},
   :model-checking-time nil,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors
   ("internal_error(exception(enumeration_warning(enumerating(b(identifier(s),set(integer),[nodeid(rodin_derived_context_pos(c2,axioms,axm2))])),INTEGER,1:sup,1:3,critical)))"),
   :states nil,
   :transitions nil,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time nil,
   :memory-usage nil,
   :result nil,
   :model-checking-time-unit :msec,
   :machine-hash nil,
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{},
   :model-checking-time nil,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 3,
 :invariant-violated :unknown,
 :constants 1,
 :formalism :eventb}
