{:properties 3,
 :definitions 0,
 :deferred_sets 0,
 :number-of-transitions 294,
 :deadlock false,
 :file
 "./prob-examples/EventBPrologPackages/HRemo/vending_m0_mch.eventb",
 :enumerated_sets 1,
 :variables 4,
 :number-of-states 63,
 :included-machines
 ["./prob-examples/EventBPrologPackages/HRemo/vending_m0_mch.eventb"],
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 4,
 :sha256
 "60625d1a7ac99712918b4b7d50f507604a3d007fe43c597ad8b49fb8947c7ba1",
 :invariants 4,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 70,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 1,
 :formalism :eventb}
