{:properties 4,
 :definitions 0,
 :deferred_sets 0,
 :number-of-transitions 2,
 :deadlock true,
 :file "./prob-examples/B/Kodkod/SimpleComputation.mch",
 :enumerated_sets 0,
 :variables 0,
 :number-of-states 2,
 :included-machines ["./prob-examples/B/Kodkod/SimpleComputation.mch"],
 :sha512
 "beb45b24008b2ee3c51efe9e5208cbed857a923061900ae4573c19103d6da1dfed572d30bd25635435346547e18048db81297195ff0984c005c96c08fe9c4704",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 0,
 :sha256
 "b91d3ea2f8a954878c68bed7801694b8ce565c835168b89b8107ceb774ef8f79",
 :invariants 0,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 20,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 1,
   :transitions 2,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 2,
   :memory-usage 161873136,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "1f18327db4bc071408ed48216467f99700f1d30d",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 30,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 2,
   :transitions 2,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 3,
   :memory-usage 161812800,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "1f18327db4bc071408ed48216467f99700f1d30d",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 28,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 2,
   :transitions 2,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 161722608,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "1f18327db4bc071408ed48216467f99700f1d30d",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 22,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 1,
   :transitions 2,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 161798864,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "1f18327db4bc071408ed48216467f99700f1d30d",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 27,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 2,
   :transitions 2,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 161731088,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "1f18327db4bc071408ed48216467f99700f1d30d",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 24,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 4,
 :formalism :b}
