{:properties 0,
 :definitions 0,
 :deferred_sets 0,
 :number-of-transitions 3,
 :deadlock false,
 :file
 "./prob-examples/B/Tickets/Hansen25_OpNamingWarning/Naming_VAR.mch",
 :enumerated_sets 0,
 :variables 0,
 :number-of-states 1,
 :included-machines
 ["./prob-examples/B/Tickets/Hansen25_OpNamingWarning/Naming_VAR.mch"],
 :sha512
 "9ec37023e7a5cbebb82d7d2314d3e6ec553dcf54add2765b74e9221d9c7a6e10cbc29fb545dcac8b64860514552add49cc6b786650775731ffc0d55a6b7e0ae2",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 2,
 :sha256
 "3568de97c2e15e8567624cf5ba96a154abc66c694ed56cce5db5714010d9a7a2",
 :invariants 0,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 70,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors ("type_error"),
   :states 1,
   :transitions 3,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 161703184,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "2443d15f00e887676577129e07caf8bdc3c6e605",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 84,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("type_error"),
   :states 1,
   :transitions 2,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 14,
   :memory-usage 161848720,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "2443d15f00e887676577129e07caf8bdc3c6e605",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 92,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("type_error"),
   :states 1,
   :transitions 3,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 161694320,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "2443d15f00e887676577129e07caf8bdc3c6e605",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 81,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("type_error"),
   :states 1,
   :transitions 3,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 161704736,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "2443d15f00e887676577129e07caf8bdc3c6e605",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 82,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("type_error"),
   :states 1,
   :transitions 3,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 13,
   :memory-usage 161859632,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "2443d15f00e887676577129e07caf8bdc3c6e605",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 94,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 0,
 :formalism :b}
