{:properties 0,
 :definitions 1,
 :deferred_sets 0,
 :file "./prob-examples/B/Tester/AnyLetDetection.mch",
 :enumerated_sets 1,
 :variables 4,
 :sha512
 "b0758afe2cbb54fddc6abd8ad8457ce12f608ddbdbc1c879339e5179650a629fe85c3b86708c39d901b076dff9bd26a4105738b122091e3060a47550d479bffa",
 :static_assertions 0,
 :operations 6,
 :sha256
 "2b1308d9ceefd3d560e6e71539daffcea1c5e0a8b456a81ac9b0c8ab7a1473b5",
 :invariants 2,
 :runs
 [{:errors ("invariant_violation"),
   :states 6,
   :transitions 72,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 163127808,
   :result "invariant_violation",
   :model-checking-time-unit :msec,
   :machine-hash "6500a2d03036c82a16fea2a3798be13c57480d0b",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 153,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("invariant_violation"),
   :states 6,
   :transitions 72,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 164,
   :memory-usage 163507184,
   :result "invariant_violation",
   :model-checking-time-unit :msec,
   :machine-hash "6500a2d03036c82a16fea2a3798be13c57480d0b",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 88,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 288,
   :transitions 2064,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 163899696,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "6500a2d03036c82a16fea2a3798be13c57480d0b",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 411,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 288,
   :transitions 2064,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 110,
   :memory-usage 164158224,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "6500a2d03036c82a16fea2a3798be13c57480d0b",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 429,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 288,
   :transitions 2064,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 163909584,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "6500a2d03036c82a16fea2a3798be13c57480d0b",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 400,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :constants 0}
