{:properties 0,
 :definitions 3,
 :deferred_sets 0,
 :number-of-transitions :unknown,
 :deadlock :unknown,
 :file "./prob-examples/B/Tester/DefTest.mch",
 :enumerated_sets 0,
 :variables 1,
 :number-of-states :unknown,
 :included-machines ["./prob-examples/B/Tester/DefTest.mch"],
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 2,
 :sha256
 "d74929b2d47ee4abc2d9f121a84c73f31c2e89bfb314ef3274ff582ba6e5d3f7",
 :invariants 2,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time :timeout,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated true,
 :constants 0,
 :formalism :b}
