{:properties 0,
 :definitions 0,
 :deferred_sets 0,
 :number-of-transitions :unknown,
 :deadlock :unknown,
 :file "./prob-examples/B/Tester/NestedFunctions2.mch",
 :enumerated_sets 4,
 :variables 1,
 :number-of-states :unknown,
 :included-machines ["./prob-examples/B/Tester/NestedFunctions2.mch"],
 :sha512
 "a8c6d751ba0a06888a39fb6ffd270e2b6ef59e0e742c19aa3075df7418dc06343ff27d92e73707270fa81b4f16bcd09242ba82cc9cfa6676a9652344f27cd1ce",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 4,
 :sha256
 "fc3650db83927d8cb974316178cc293c65b6f9b21472401bf99945562bc7bbf9",
 :invariants 1,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time :timeout,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}],
 :dynamic_assertions 0,
 :invariant-violated :unknown,
 :constants 0,
 :formalism :b}
