{:properties 0,
 :definitions 0,
 :deferred_sets 0,
 :number-of-transitions 7,
 :deadlock false,
 :file "./prob-examples/B/Tester/PredAsFunction.mch",
 :enumerated_sets 0,
 :variables 1,
 :number-of-states 3,
 :included-machines ["./prob-examples/B/Tester/PredAsFunction.mch"],
 :sha512
 "bcaf1ee6b2f6890b3f05c11f37c64df8fe21fc3e3b1af58f19b61869c45a9c99c19ff376f532aa6a72ce0837e76242fffedeafa997cd41ded374064209baa6fa",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 2,
 :sha256
 "3abe7b0fdb26a4eaac9f03962d0978ebc40e5d140db76dd9edcd1d830506c0ab",
 :invariants 1,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 70,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors nil,
   :states 3,
   :transitions 7,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 161761072,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "8f0c180efb2d01f899e0fffef505ea47f5d35733",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 99,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 3,
   :transitions 7,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 63,
   :memory-usage 162000688,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "8f0c180efb2d01f899e0fffef505ea47f5d35733",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 77,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 3,
   :transitions 7,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 161556096,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "8f0c180efb2d01f899e0fffef505ea47f5d35733",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 59,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 3,
   :transitions 7,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 161545152,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "8f0c180efb2d01f899e0fffef505ea47f5d35733",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 57,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 3,
   :transitions 7,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 34,
   :memory-usage 161799776,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "8f0c180efb2d01f899e0fffef505ea47f5d35733",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 67,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 0,
 :formalism :b}
