{:properties 3,
 :definitions 0,
 :deferred_sets 0,
 :number-of-transitions 32,
 :deadlock false,
 :file "./prob-examples/B/Tester/SquareRoot.mch",
 :enumerated_sets 0,
 :variables 0,
 :number-of-states 8,
 :included-machines ["./prob-examples/B/Tester/SquareRoot.mch"],
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 4,
 :sha256
 "a52de37b069c08096846b3e9a094f7b9a034a4a296b7b87dc88498c03ef6470d",
 :invariants 0,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 50,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 2,
 :formalism :b}
