{:properties 2,
 :definitions 1,
 :deferred_sets 0,
 :number-of-transitions 5,
 :deadlock false,
 :file "./prob-examples/B/Tester/TestAnyChoice.mch",
 :enumerated_sets 0,
 :variables 0,
 :number-of-states 2,
 :included-machines ["./prob-examples/B/Tester/TestAnyChoice.mch"],
 :sha512
 "01fa4ceca6192f97c7d2452927a68bdd8c1afd7638e4cded4e8176a78648caad83a7f940cb19e9a872d5d9a09dff1424760dd99d2605703d60909dd4a6ddc8c2",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 2,
 :sha256
 "1110c3f94b383d1f5497eaa39cb872580eec870a72daa1b141eaaa1d342ce30c",
 :invariants 0,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 170,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors nil,
   :states 2,
   :transitions 5,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162699008,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "fd8845611822a8719a8ba0905f7cd8a68d7a29ed",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 161,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 2,
   :transitions 5,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162707600,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "fd8845611822a8719a8ba0905f7cd8a68d7a29ed",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 166,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 2,
   :transitions 3,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 17,
   :memory-usage 162849328,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "fd8845611822a8719a8ba0905f7cd8a68d7a29ed",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 168,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 2,
   :transitions 5,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162709712,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "fd8845611822a8719a8ba0905f7cd8a68d7a29ed",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 157,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 2,
   :transitions 5,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 18,
   :memory-usage 162860496,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "fd8845611822a8719a8ba0905f7cd8a68d7a29ed",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 174,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 2,
 :formalism :b}
