{:properties 2,
 :definitions 1,
 :deferred_sets 0,
 :number-of-transitions 5,
 :deadlock false,
 :file "./prob-examples/B/Tester/TestAnyChoice.mch",
 :enumerated_sets 0,
 :variables 0,
 :number-of-states 2,
 :included-machines ["./prob-examples/B/Tester/TestAnyChoice.mch"],
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 2,
 :sha256
 "1110c3f94b383d1f5497eaa39cb872580eec870a72daa1b141eaaa1d342ce30c",
 :invariants 0,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 170,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 2,
 :formalism :b}
