{:properties 0,
 :definitions 2,
 :deferred_sets 0,
 :number-of-transitions :unknown,
 :deadlock :unknown,
 :file "./prob-examples/B/Tester/ThreeDimensionalArray.mch",
 :enumerated_sets 0,
 :variables 1,
 :number-of-states :unknown,
 :included-machines
 ["./prob-examples/B/Tester/ThreeDimensionalArray.mch"],
 :sha512
 "2b8d43a30f926dbfa39e9cea838617fb84dddc622276262879ffed66c38e3c39f5f93a96bf7688376b67ec67fcd82a62ef0548ad977a94d682fba5d75abb4321",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 2,
 :sha256
 "6270dc4ef2a60e4b17ec288cc1c79175e4f8322c1b7eeac590d68577e61994c1",
 :invariants 1,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time :timeout,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}],
 :dynamic_assertions 0,
 :invariant-violated :unknown,
 :constants 0,
 :formalism :b}
