{:properties 2,
 :definitions 2,
 :deferred_sets 0,
 :number-of-transitions :unknown,
 :deadlock :unknown,
 :file "./prob-examples/B/Tester/TotalFunTest3.mch",
 :enumerated_sets 1,
 :variables 1,
 :number-of-states :unknown,
 :included-machines ["./prob-examples/B/Tester/TotalFunTest3.mch"],
 :sha512
 "9fab0d67f04dc5978eedb0d9fd16474cfb41b760d2edfbecbc1222be40417e9e16145882ea7bd7af8f246ac1c0ca67e86e8a967888bd01b9df547342fda74644",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 3,
 :sha256
 "5421e6762f9937beffda133197e964fde20451cf4b94cd774312f6d99828db8e",
 :invariants 0,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time :timeout,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}],
 :dynamic_assertions 0,
 :invariant-violated :unknown,
 :constants 1,
 :formalism :b}
