{:properties 10,
 :definitions 27,
 :deferred_sets 0,
 :number-of-transitions 2,
 :deadlock true,
 :file "./prob-examples/B/Tickets/PROB-355/data.mch",
 :enumerated_sets 4,
 :variables 0,
 :number-of-states 2,
 :included-machines
 ["./prob-examples/B/Tickets/PROB-355/data.mch"
  "./prob-examples/B/Tickets/PROB-355/LibraryIO.def"
  "./prob-examples/B/Tickets/PROB-355/base.mch"],
 :sha512
 "09da35a22751d87d353c5959a4488be516e37cb0428b301972ba5e8124e10b2a6a59b4eedb7c16755b4ba556d2c862e1669f3e1c995c8f980ead9b93356bc492",
 :comment "",
 :files 3,
 :static_assertions 2,
 :operations 0,
 :sha256
 "b884d3e66d32b64ff1f7563dc066dbc4aa8da14e2576ddb6cef9c4f243d8fc3c",
 :invariants 0,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 209715200,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 20,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 1,
   :transitions 2,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 3,
   :memory-usage 168800496,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "938bd205e98aae3296a907a9cdbdd629756033d2",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 32,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 2,
   :transitions 2,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 168652896,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "938bd205e98aae3296a907a9cdbdd629756033d2",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 21,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 2,
   :transitions 2,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 168661360,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "938bd205e98aae3296a907a9cdbdd629756033d2",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 24,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 2,
   :transitions 2,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 2,
   :memory-usage 168739584,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "938bd205e98aae3296a907a9cdbdd629756033d2",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 28,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 1,
   :transitions 2,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 168729344,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "938bd205e98aae3296a907a9cdbdd629756033d2",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 28,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 10,
 :formalism :b}
