{:properties 0,
 :definitions 2,
 :deferred_sets 0,
 :number-of-transitions :unknown,
 :deadlock :unknown,
 :file "./prob-examples/B/SchneiderBook/Chapter12/Team.mch",
 :enumerated_sets 1,
 :variables 1,
 :number-of-states :unknown,
 :included-machines
 ["./prob-examples/B/SchneiderBook/Chapter12/Team.mch"],
 :sha512
 "4ae4a069510bcecb36f357d40698e433b8837afd60894f3c087fb6e10a8a194e7b6edb1863a7285e052793e7461192ee780b7c0b8b00071451401b92af038f67",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 2,
 :sha256
 "2ca3fe94e70d1fe8f82b497803313d2061b785ea16fbee0202687ae7a13c86eb",
 :invariants 2,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time :timeout,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}],
 :dynamic_assertions 0,
 :invariant-violated :unknown,
 :constants 0,
 :formalism :b}
