{:properties 4,
 :definitions 2,
 :deferred_sets 3,
 :number-of-transitions :unknown,
 :deadlock :unknown,
 :file "./prob-examples/EventBTrans/Deploy/SSF/BasicTCTM.mch",
 :enumerated_sets 1,
 :variables 8,
 :number-of-states :unknown,
 :included-machines
 ["./prob-examples/EventBTrans/Deploy/SSF/BasicTCTM.mch"],
 :sha512
 "a574051a3653c6ccc5c6defbba38b345b34484ac1f6a1c42a970fa573042f7a5881e7d5e0b7b5ec5d7bcd7839f688e87523eb9df20a000c3d6ec065a3a499dda",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 7,
 :sha256
 "b2eb6d13a63c4853fbb92f66cb17b5a20204376dd7f8a99cb2c011da5cbc29fb",
 :invariants 11,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time :timeout,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}],
 :dynamic_assertions 0,
 :invariant-violated :unknown,
 :constants 3,
 :formalism :b}
