{:properties 25,
 :definitions 37,
 :deferred_sets 0,
 :number-of-transitions :unknown,
 :deadlock :unknown,
 :file "./prob-examples/B/Tickets/Schneider4_Trees/data_complex.mch",
 :enumerated_sets 4,
 :variables 0,
 :number-of-states :unknown,
 :included-machines
 ["./prob-examples/B/Tickets/Schneider4_Trees/data_complex.mch"
  "./lib/LibraryIO.def"],
 :sha512
 "8a00060384c86988271584a949db26735e191e4be5e2e1723c596944063af3225d9490e6f8b8a3fc14b7b4a9f24d3ae2633eb3d29b145649ad22a56e9bea24fe",
 :comment "",
 :files 2,
 :static_assertions 0,
 :operations 0,
 :sha256
 "d9b820bf6aaba997473cf56821a4e5315bc9ece3135171f69739fc8fb30fe824",
 :invariants 0,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time :timeout,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}],
 :dynamic_assertions 0,
 :invariant-violated :unknown,
 :constants 13,
 :formalism :b}
