{:properties 7,
 :definitions 1,
 :deferred_sets 0,
 :number-of-transitions 2,
 :deadlock true,
 :file
 "./prob-examples/B/Tickets/PROBCORE-45/NotIntervalSol_simplified.mch",
 :enumerated_sets 1,
 :variables 0,
 :number-of-states 2,
 :included-machines
 ["./prob-examples/B/Tickets/PROBCORE-45/NotIntervalSol_simplified.mch"],
 :sha512
 "dcbb8fe751a4d5d7a7725570b7b344f828de7e501610093ee299c39ddefdeb60e80070bedf93c7efb1d17807066b2fc86f55795aa9edbd3e0f56352b3f637c37",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 0,
 :sha256
 "8475013af1b96f32031510f62f6e65130749fd947652a3de1df6033b74e5bd9d",
 :invariants 0,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 10,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 1,
   :transitions 2,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162260672,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "c058e41f2136fd1cf579069f85a35aa58695474f",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 26,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 2,
   :transitions 2,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162184752,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "c058e41f2136fd1cf579069f85a35aa58695474f",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 22,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 2,
   :transitions 2,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162193024,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "c058e41f2136fd1cf579069f85a35aa58695474f",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 24,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 2,
   :transitions 2,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 3,
   :memory-usage 162243984,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "c058e41f2136fd1cf579069f85a35aa58695474f",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 27,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 1,
   :transitions 2,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 2,
   :memory-usage 162304576,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "c058e41f2136fd1cf579069f85a35aa58695474f",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 30,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 3,
 :formalism :b}
