{:properties 19,
 :definitions 33,
 :deferred_sets 0,
 :number-of-transitions 2,
 :deadlock true,
 :file
 "./prob-examples/EventBPrologPackages/SMT_Tests/Rodin31_Jan15/NQueens4_Smt2B.mch",
 :enumerated_sets 0,
 :variables 0,
 :number-of-states 2,
 :included-machines
 ["./prob-examples/EventBPrologPackages/SMT_Tests/Rodin31_Jan15/NQueens4_Smt2B.mch"
  "./prob-examples/EventBPrologPackages/SMT_Tests/Rodin31_Jan15/LibraryIO.def"],
 :comment "",
 :files 2,
 :static_assertions 0,
 :operations 0,
 :sha256
 "cb9348b674d7e355083c658252070f93da85a3c942c8354208b623ff5f77ecca",
 :invariants 0,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 20,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 2,
 :formalism :b}
