{:properties 0,
 :definitions 1,
 :deferred_sets 0,
 :number-of-transitions 4,
 :deadlock true,
 :file "./prob-examples/B/ExternalFunctions/ASSERT_TRUE.mch",
 :enumerated_sets 0,
 :variables 1,
 :number-of-states 3,
 :included-machines
 ["./prob-examples/B/ExternalFunctions/ASSERT_TRUE.mch"],
 :sha512
 "409d6a7fb0c16e7f52381ab9a67eb4cd2390979f6bd72941748070c183e515f2031879458438b22263d2e212466f71d53208660230ce655918b9b314120386cb",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 1,
 :sha256
 "5ecb03977b019c6018bd12060e96cdbb314e450cc283e9089e022221f6d9b2ae",
 :invariants 2,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 110,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors ("invariant_violation" "ASSERT_TRUE"),
   :states 2,
   :transitions 4,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 161973824,
   :result "invariant_violation",
   :model-checking-time-unit :msec,
   :machine-hash "085cd4cfea078061ca139e96297f9fd6c5b65580",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 109,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock" "ASSERT_TRUE"),
   :states 3,
   :transitions 4,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 161967728,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "085cd4cfea078061ca139e96297f9fd6c5b65580",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 107,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("general_error_occurred" "ASSERT_TRUE"),
   :states 3,
   :transitions 4,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 161956656,
   :result "general_error_occurred",
   :model-checking-time-unit :msec,
   :machine-hash "085cd4cfea078061ca139e96297f9fd6c5b65580",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 105,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("invariant_violation" "ASSERT_TRUE"),
   :states 2,
   :transitions 4,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 5,
   :memory-usage 162063264,
   :result "invariant_violation",
   :model-checking-time-unit :msec,
   :machine-hash "085cd4cfea078061ca139e96297f9fd6c5b65580",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 113,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock" "ASSERT_TRUE"),
   :states 3,
   :transitions 4,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 5,
   :memory-usage 162008288,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "085cd4cfea078061ca139e96297f9fd6c5b65580",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 103,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated true,
 :constants 0,
 :formalism :b}
