{:properties 0,
 :definitions 36,
 :deferred_sets 0,
 :number-of-transitions :unknown,
 :deadlock :unknown,
 :file "./prob-examples/B/ExternalFunctions/PrintExternal.mch",
 :enumerated_sets 0,
 :variables 1,
 :number-of-states :unknown,
 :included-machines
 ["./prob-examples/B/ExternalFunctions/PrintExternal.mch"
  "./lib/LibraryIO.def"],
 :sha512
 "5cc8be003248e7ef8f3e3e859c5be8e30e079413fe539e990cb88ca8f8fdf61fcc4037d161831351c6e1c5681142061d17a5e26272763e4e8764d446ce9938f2",
 :comment "",
 :files 2,
 :static_assertions 0,
 :operations 6,
 :sha256
 "27c5af8e02ffa4d1a7b67327c375dd7d84023ccb080d5f63b84c4d64ae206e75",
 :invariants 1,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time :timeout,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}],
 :dynamic_assertions 0,
 :invariant-violated :unknown,
 :constants 0,
 :formalism :b}
