{:properties 9,
 :definitions 27,
 :deferred_sets 0,
 :number-of-transitions :unknown,
 :deadlock :unknown,
 :file "./prob-examples/B/ExternalFunctions/StringFunctions.mch",
 :enumerated_sets 1,
 :variables 2,
 :number-of-states :unknown,
 :included-machines
 ["./prob-examples/B/ExternalFunctions/StringFunctions.mch"
  "./lib/LibraryStrings.def"],
 :comment "",
 :files 2,
 :static_assertions 4,
 :operations 4,
 :sha256
 "a85027b3abde8531de7b4e15edb3620a5864ef79f17a52c9980001bd3900ecb3",
 :invariants 1,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time :timeout,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated true,
 :constants 5,
 :formalism :b}
