{:properties 7,
 :definitions 6,
 :deferred_sets 0,
 :number-of-transitions 5811,
 :deadlock false,
 :file "./prob-examples/B/ExternalFunctions/XML_ReqIF_Reader.mch",
 :enumerated_sets 0,
 :variables 1,
 :number-of-states 167,
 :included-machines
 ["./prob-examples/B/ExternalFunctions/XML_ReqIF_Reader.mch"],
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 8,
 :sha256
 "270d81093ac2c1fdf8e22087c706d135d4da8c15115dec509b6e68eb29bca6b8",
 :invariants 1,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 910,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 7,
 :formalism :b}
