{:properties 0,
 :definitions 6,
 :deferred_sets 0,
 :file "./prob-examples/B/Laws/ArithmeticExpLaws.mch",
 :enumerated_sets 0,
 :variables 3,
 :sha512
 "155d96db5d9f34a0f9bfba26938cfa8bf44167620fb473a846e1f4967abebea5843d997acd464560a3bd4b29eee5bce71ae1f5954f2f19f71f72355460b8c07c",
 :static_assertions 1,
 :operations 3,
 :sha256
 "345bccc2c3b04e9391318cbe3441f898917561bdb33d571f975951ebe9747a7b",
 :invariants 11,
 :runs
 [{:errors ("deadlock"),
   :states 2649,
   :transitions 7106,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 166567856,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "0cd1e66811ab94aa920dcb5694ff1ab8e99dcf69",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 570,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 2650,
   :transitions 7106,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 165559312,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "0cd1e66811ab94aa920dcb5694ff1ab8e99dcf69",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 1547,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 65,
   :transitions 66,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 17,
   :memory-usage 162319776,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "0cd1e66811ab94aa920dcb5694ff1ab8e99dcf69",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 75,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 2650,
   :transitions 7106,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 165955088,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "0cd1e66811ab94aa920dcb5694ff1ab8e99dcf69",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 478,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 2650,
   :transitions 7106,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 17,
   :memory-usage 166789184,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "0cd1e66811ab94aa920dcb5694ff1ab8e99dcf69",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 1999,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :constants 0}
