{:properties 0,
 :definitions 19,
 :deferred_sets 0,
 :number-of-transitions 66177,
 :deadlock false,
 :file "./prob-examples/B/Laws/FunLaws.mch",
 :enumerated_sets 2,
 :variables 4,
 :number-of-states 4096,
 :included-machines ["./prob-examples/B/Laws/FunLaws.mch"],
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 21,
 :sha256
 "85d2a7d2c10cd9aa4ec64151d39b1f616650101637ca7bc67723d22162c8dbd5",
 :invariants 231,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 209715200,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 9390,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 0,
 :formalism :b}
