{:properties 6,
 :definitions 6,
 :deferred_sets 0,
 :number-of-transitions 10214,
 :deadlock false,
 :file "./prob-examples/B/Laws/RelClosureLaws.mch",
 :enumerated_sets 0,
 :variables 2,
 :number-of-states 4095,
 :included-machines ["./prob-examples/B/Laws/RelClosureLaws.mch"],
 :comment "",
 :files 1,
 :static_assertions 32,
 :operations 3,
 :sha256
 "9aa53745a25867b66fd7c0950bfea498235016ab33c35e08adaea6065ccff085",
 :invariants 0,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 209715200,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 2550,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}],
 :dynamic_assertions 12,
 :invariant-violated false,
 :constants 6,
 :formalism :b}
