{:properties 0,
 :definitions 1,
 :deferred_sets 0,
 :number-of-transitions 2,
 :deadlock false,
 :file "./prob-examples/B/Laws/REPL_UNIT_TESTS2.mch",
 :enumerated_sets 0,
 :variables 0,
 :number-of-states 1,
 :included-machines
 ["./prob-examples/B/Laws/REPL_UNIT_TESTS2.mch"
  "./prob-examples/B/Laws/REPL_UNIT_TESTS2.def"],
 :comment "",
 :files 2,
 :static_assertions 1,
 :operations 1,
 :sha256
 "012911d6aef061cf443b5719002efa3a51fe0e0c356a102fa091e8162747711f",
 :invariants 0,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 1030,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 0,
 :formalism :b}
