{:properties 0,
 :definitions 45,
 :deferred_sets 0,
 :number-of-transitions 3145729,
 :deadlock false,
 :file "./prob-examples/B/Laws/SetRelLaws_NatBool.mch",
 :enumerated_sets 0,
 :variables 3,
 :number-of-states 262144,
 :included-machines ["./prob-examples/B/Laws/SetRelLaws_NatBool.mch"],
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 6,
 :sha256
 "6e1c7a1799b7ee050c99ab0885788fe86eac943c4791be3eb995d5f32d38cc05",
 :invariants 65,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 514330,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 0,
 :formalism :b}
