{:properties 0,
 :definitions 1,
 :deferred_sets 0,
 :file "./prob-examples/B/Laws/UnicodeLaws.mch",
 :enumerated_sets 2,
 :variables 0,
 :sha512
 "4b4b3a519ad37793825af4d8fd9d7a2d776f5c76ee3d8e6793b57d1c39659bd8a1c61d7174c9e79fb9e0404960b0228135aa6246508bc3e9e8d5d721cece4322",
 :static_assertions 53,
 :operations 0,
 :sha256
 "8b74ef31b32d34e904e7a9938ba3808e16d6384229c769ce06434fb16d668bdb",
 :invariants 0,
 :runs
 [{:errors ("deadlock"),
   :states 16,
   :transitions 32,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 2,
   :memory-usage 162758528,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "fe90aa47893264ac3132e4e28bf603aeded5d60c",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 34,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 16,
   :transitions 32,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162712928,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "fe90aa47893264ac3132e4e28bf603aeded5d60c",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 28,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 32,
   :transitions 32,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 162633424,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "fe90aa47893264ac3132e4e28bf603aeded5d60c",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 21,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 32,
   :transitions 32,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 2,
   :memory-usage 162691136,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "fe90aa47893264ac3132e4e28bf603aeded5d60c",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 28,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 32,
   :transitions 32,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162636048,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "fe90aa47893264ac3132e4e28bf603aeded5d60c",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 25,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :constants 1}
