{:properties 0,
 :definitions 0,
 :deferred_sets 0,
 :file "./prob-examples/B/Simple/EnumSets.mch",
 :enumerated_sets 2,
 :variables 0,
 :sha512
 "a1b659871d5cb38685265731cbb820ae62f785c7c9373625532b2c6dbb4bf8df3e994e3faffad8171cf96e5dea77e183cb7fef8d615a6a973ad7af68fe54347d",
 :static_assertions 0,
 :operations 0,
 :sha256
 "e7d0c381c89d4565113e6fb4815f102b10316e65bedede6f376488f6d9d22681",
 :invariants 0,
 :runs
 [{:errors ("deadlock"),
   :states 0,
   :transitions 1,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 2,
   :memory-usage 160654624,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "e9dfcfb260c2fe47662127e925c9880c5a5beab3",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 17,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 0,
   :transitions 1,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 160593504,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "e9dfcfb260c2fe47662127e925c9880c5a5beab3",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 16,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 1,
   :transitions 1,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 2,
   :memory-usage 160594912,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "e9dfcfb260c2fe47662127e925c9880c5a5beab3",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 13,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 1,
   :transitions 1,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 160526960,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "e9dfcfb260c2fe47662127e925c9880c5a5beab3",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 12,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 1,
   :transitions 1,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 160518000,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "e9dfcfb260c2fe47662127e925c9880c5a5beab3",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 9,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :constants 0}
