{:properties 0,
 :definitions 0,
 :deferred_sets 0,
 :number-of-transitions 6561,
 :deadlock false,
 :file "./prob-examples/B/Simple/find.mch",
 :enumerated_sets 0,
 :variables 1,
 :number-of-states 80,
 :included-machines ["./prob-examples/B/Simple/find.mch"],
 :sha512
 "d777d91aac40815c7b10fda109d0b3ffc09b674d63c711acc85b9d5c7f93ff23fa415b7737e4cc85709f38b4f8a5d62e2fa2bdff863af89b19d734ad1e1b57dd",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 3,
 :sha256
 "7ac1ee0f5fee057065c4f3c6d59faaf572ec9acfe83b84a884f8817c53053a84",
 :invariants 1,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 520,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors nil,
   :states 80,
   :transitions 6561,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 163814416,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "266cc479319710d92f48e55c73d736df3ac62017",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 446,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 80,
   :transitions 6561,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 163801520,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "266cc479319710d92f48e55c73d736df3ac62017",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 424,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 80,
   :transitions 6561,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 183,
   :memory-usage 164191040,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "266cc479319710d92f48e55c73d736df3ac62017",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 348,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 80,
   :transitions 6561,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 183,
   :memory-usage 164213088,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "266cc479319710d92f48e55c73d736df3ac62017",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 328,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 80,
   :transitions 6561,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 163811248,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "266cc479319710d92f48e55c73d736df3ac62017",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 424,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 0,
 :formalism :b}
