{:properties 2,
 :definitions 0,
 :deferred_sets 0,
 :number-of-transitions 66,
 :deadlock false,
 :file "./prob-examples/B/Simple/Grid.mch",
 :enumerated_sets 0,
 :variables 2,
 :number-of-states 17,
 :included-machines ["./prob-examples/B/Simple/Grid.mch"],
 :sha512
 "120427daa309b71edbb0bf8542f677f6eee6e4d25de2322ef199dd00e7e2cf44e7e2e571078878be51bd58c4f64bd57424fffa0fd2223c63b837d81187afb90d",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 4,
 :sha256
 "44fcf42f2f3507c984d707960a511edcf56aa43646c2839baa31ee23ea8e258a",
 :invariants 3,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 60,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors nil,
   :states 14,
   :transitions 28,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 35,
   :memory-usage 162154976,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "e521b86052679053b1e75d2f00959551ed5271d2",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 70,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 17,
   :transitions 66,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 161916928,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "e521b86052679053b1e75d2f00959551ed5271d2",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 59,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("invariant_violation"),
   :states 16,
   :transitions 66,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 72,
   :memory-usage 162443184,
   :result "invariant_violation",
   :model-checking-time-unit :msec,
   :machine-hash "e521b86052679053b1e75d2f00959551ed5271d2",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 80,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 17,
   :transitions 66,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 161906816,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "e521b86052679053b1e75d2f00959551ed5271d2",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 59,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("invariant_violation"),
   :states 16,
   :transitions 66,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 162042912,
   :result "invariant_violation",
   :model-checking-time-unit :msec,
   :machine-hash "e521b86052679053b1e75d2f00959551ed5271d2",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 79,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated true,
 :constants 1,
 :formalism :b}
