{:properties 0,
 :definitions 0,
 :deferred_sets 0,
 :number-of-transitions 26,
 :deadlock false,
 :file "./prob-examples/B/Simple/VerySimpleDFA.mch",
 :enumerated_sets 0,
 :variables 2,
 :number-of-states 8,
 :included-machines ["./prob-examples/B/Simple/VerySimpleDFA.mch"],
 :sha512
 "38c64dad5d7c834a1f434776424b8ae49bb0f651ad6c5907e9f0b453725d970925081d4fe5ada1c95c0be5df87fbb1c988d13bacb224166136b60b384754ba4b",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 5,
 :sha256
 "b8272ceca9e5ba43d45a9b8573177f0674e13b939d67e810a05b301de6aea3d4",
 :invariants 2,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 80,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors nil,
   :states 8,
   :transitions 26,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 161800464,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "0a95acdc7f95a0822ecc6c8b58755d7de50b22bb",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 89,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 8,
   :transitions 26,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 176,
   :memory-usage 162380368,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "0a95acdc7f95a0822ecc6c8b58755d7de50b22bb",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 30,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 8,
   :transitions 26,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 161750144,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "0a95acdc7f95a0822ecc6c8b58755d7de50b22bb",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 79,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 8,
   :transitions 26,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 161761600,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "0a95acdc7f95a0822ecc6c8b58755d7de50b22bb",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 80,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 8,
   :transitions 26,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 176,
   :memory-usage 162340704,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "0a95acdc7f95a0822ecc6c8b58755d7de50b22bb",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 29,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 0,
 :formalism :b}
