{:properties 0,
 :definitions 2,
 :deferred_sets 0,
 :number-of-transitions 4530,
 :deadlock false,
 :file "./prob-examples/B/ABCD/FinalTravelAgency.mch",
 :enumerated_sets 10,
 :variables 11,
 :number-of-states 1078,
 :included-machines ["./prob-examples/B/ABCD/FinalTravelAgency.mch"],
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 11,
 :sha256
 "8bf99fc5e1a84fb900a9b84faf8068df9ecf9e170b138e76a4dc13f697ecf81c",
 :invariants 24,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 1450,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 0,
 :formalism :b}
