{:properties 0,
 :definitions 2,
 :deferred_sets 0,
 :number-of-transitions 4530,
 :deadlock false,
 :file "./prob-examples/B/ABCD/FinalTravelAgency.mch",
 :enumerated_sets 10,
 :variables 11,
 :number-of-states 1078,
 :included-machines ["./prob-examples/B/ABCD/FinalTravelAgency.mch"],
 :sha512
 "558c9a1a37cbb8f23b6a5e4dabb82a6866422d0c667967e8fd04c43f3131b8f8b981f0609f072ce4554ea74a02b12b3d6baa4dd3f56d6670bab3cadc06dd06a8",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 11,
 :sha256
 "8bf99fc5e1a84fb900a9b84faf8068df9ecf9e170b138e76a4dc13f697ecf81c",
 :invariants 24,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 1450,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors nil,
   :states 1078,
   :transitions 4530,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 167130816,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "c8f3414fb35cd04ec72adfb36045c0af43642484",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 2192,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 1078,
   :transitions 4530,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 167237856,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "c8f3414fb35cd04ec72adfb36045c0af43642484",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 1399,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 1078,
   :transitions 4530,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 167228064,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "c8f3414fb35cd04ec72adfb36045c0af43642484",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 1384,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 1,
   :transitions 2,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 6563,
   :memory-usage 164603920,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "c8f3414fb35cd04ec72adfb36045c0af43642484",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 24,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 1078,
   :transitions 4530,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 2347,
   :memory-usage 168138848,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "c8f3414fb35cd04ec72adfb36045c0af43642484",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 2339,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 0,
 :formalism :b}
