{:properties 0,
 :definitions 0,
 :deferred_sets 0,
 :number-of-transitions 2007,
 :deadlock true,
 :file "./prob-examples/B/ABCD/TheSystem_small.mch",
 :enumerated_sets 10,
 :variables 11,
 :number-of-states 817,
 :included-machines ["./prob-examples/B/ABCD/TheSystem_small.mch"],
 :sha512
 "aa700fa24f4e040b87c3bd3b996da7b3c06c27cef0562953941cc02387b405ba8834bd35013c8f9715f30311e6c879e390e4ccfe8b96ad0838df0b2c86095749",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 10,
 :sha256
 "2677a35ea6b442901d9a0475ce606608fc3875f6588c16779d13e23993bba208",
 :invariants 11,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 860,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors ("invariant_violation"),
   :states 198,
   :transitions 535,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 164434128,
   :result "invariant_violation",
   :model-checking-time-unit :msec,
   :machine-hash "43843a8baf2b95789172e01b98aa0e5ec6aed95e",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 342,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 198,
   :transitions 533,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1020,
   :memory-usage 164956080,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "43843a8baf2b95789172e01b98aa0e5ec6aed95e",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 295,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 817,
   :transitions 2007,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 165396624,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "43843a8baf2b95789172e01b98aa0e5ec6aed95e",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 851,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 232,
   :transitions 621,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 164431952,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "43843a8baf2b95789172e01b98aa0e5ec6aed95e",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 339,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("invariant_violation"),
   :states 211,
   :transitions 559,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 885,
   :memory-usage 165089968,
   :result "invariant_violation",
   :model-checking-time-unit :msec,
   :machine-hash "43843a8baf2b95789172e01b98aa0e5ec6aed95e",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 327,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated true,
 :constants 0,
 :formalism :b}
