{:properties 953,
 :definitions 3,
 :deferred_sets 0,
 :file
 "./prob-examples/B/PerformanceTests/SATLIB/blocksworld_medium.mch",
 :enumerated_sets 0,
 :variables 0,
 :sha512
 "f694a4235ea32d2845c00f7a974ba75f0a6c0539fded6802be713752d218045dd012b08e77396eb6908a8690ae54c6632373f8e3258c46de41da1dd592ad522d",
 :comment "SHA changed",
 :static_assertions 0,
 :operations 1,
 :sha256
 "7db21cbaea91aa7c70d95021ba4cf2710be008071b9bf1d054ee13587351a61f",
 :invariants 0,
 :runs
 [{:errors nil,
   :states 4,
   :transitions 6,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 4,
   :memory-usage 176669488,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "6aae9f1b11803669eb61239ce613f166b7c3d43c",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 62,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 4,
   :transitions 6,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 176608256,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "6aae9f1b11803669eb61239ce613f166b7c3d43c",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 55,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 4,
   :transitions 6,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 5,
   :memory-usage 176663424,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "6aae9f1b11803669eb61239ce613f166b7c3d43c",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 64,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 4,
   :transitions 6,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 176598624,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "6aae9f1b11803669eb61239ce613f166b7c3d43c",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 56,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 4,
   :transitions 6,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 176606544,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "6aae9f1b11803669eb61239ce613f166b7c3d43c",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 57,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :constants 116}
