{:properties 2237,
 :definitions 2,
 :deferred_sets 0,
 :number-of-transitions :unknown,
 :deadlock :unknown,
 :file "./prob-examples/B/PerformanceTests/SATLIB/flat200-90.mch",
 :enumerated_sets 0,
 :variables 0,
 :number-of-states :unknown,
 :included-machines
 ["./prob-examples/B/PerformanceTests/SATLIB/flat200-90.mch"],
 :sha512
 "d36964df0ed92516e7ca07543c49d244fecf76a82425a7046ba1ca7e80d6c964b7d1a6ff59312ec95a6a4c9586d76bd8cc94b7d8d03b4c9bbc0b3b7716790f46",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 0,
 :sha256
 "d9d89d546a6a3efdab2dd6609a9b393ff09936f7d8276c4bc64033312e97608f",
 :invariants 0,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time :timeout,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}],
 :dynamic_assertions 0,
 :invariant-violated :unknown,
 :constants 600,
 :formalism :b}
