{:properties 1,
 :definitions 0,
 :deferred_sets 0,
 :number-of-transitions 1001,
 :deadlock true,
 :file "./prob-examples/B/Tickets/Hansen20_WhileInc/Counter500.mch",
 :enumerated_sets 0,
 :variables 1,
 :number-of-states 1001,
 :included-machines
 ["./prob-examples/B/Tickets/Hansen20_WhileInc/Counter500.mch"],
 :sha512
 "11eab6415615197937e255de1954e181bcc34e90e66b3e0807d178fba2e3bbf83db2a427418313d358ec58fff10f9c7c6f4a4d902a91f66ee61ef4839cc31cd7",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 1,
 :sha256
 "9cd74c278d599489f9fc40d0ef6e29e1284840d3d5c71a01c1bb9369f9e2bc6f",
 :invariants 1,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 100,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 1000,
   :transitions 1001,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 163033232,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "35e0678ac458c9f33abe347e6789661e6761f893",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 120,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 1001,
   :transitions 1001,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162717792,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "35e0678ac458c9f33abe347e6789661e6761f893",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 106,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 1000,
   :transitions 1001,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 5,
   :memory-usage 163310816,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "35e0678ac458c9f33abe347e6789661e6761f893",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 169,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("invariant_violation"),
   :states 500,
   :transitions 502,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 162532864,
   :result "invariant_violation",
   :model-checking-time-unit :msec,
   :machine-hash "35e0678ac458c9f33abe347e6789661e6761f893",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 132,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("invariant_violation"),
   :states 500,
   :transitions 502,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 5,
   :memory-usage 162717504,
   :result "invariant_violation",
   :model-checking-time-unit :msec,
   :machine-hash "35e0678ac458c9f33abe347e6789661e6761f893",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 153,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated true,
 :constants 1,
 :formalism :b}
