{:properties 2,
 :definitions 0,
 :deferred_sets 0,
 :number-of-transitions 2580,
 :deadlock true,
 :file
 "./prob-examples/EventBPrologPackages/Pitesti/SimpleVar_mch.eventb",
 :enumerated_sets 0,
 :variables 1,
 :number-of-states 2525,
 :included-machines
 ["./prob-examples/EventBPrologPackages/Pitesti/SimpleVar_mch.eventb"],
 :sha512
 "4e6b1edbca7da0828b1f92c7502c412554290d4a5df174dd22c5c8fdfc1eb2b77b169da5bc76ccb4ed04a206dfb92b0ae14572ff28b3cbcd2b3cf556151a2548",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 3,
 :sha256
 "2f959ae7ef47c45ea25fde0d95af5afbfb3de558fdeeaadff040c5e62814082e",
 :invariants 1,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 280,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors nil,
   :states 2525,
   :transitions 2580,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 163713424,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "5284ab0b3c3d58f8b02f2763853fa598a085d51c",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 405,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 2525,
   :transitions 2580,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 13,
   :memory-usage 164397392,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "5284ab0b3c3d58f8b02f2763853fa598a085d51c",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 525,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 25,
   :transitions 2525,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 14,
   :memory-usage 164334464,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "5284ab0b3c3d58f8b02f2763853fa598a085d51c",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 171,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 25,
   :transitions 2525,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 164170624,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "5284ab0b3c3d58f8b02f2763853fa598a085d51c",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 167,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 2525,
   :transitions 2580,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 164167040,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "5284ab0b3c3d58f8b02f2763853fa598a085d51c",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 302,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 3,
 :formalism :eventb}
