{:properties 0,
 :definitions 0,
 :deferred_sets 0,
 :number-of-transitions 7,
 :deadlock true,
 :file
 "./prob-examples/EventBPrologPackages/Theory/NaturalTest.eventb",
 :enumerated_sets 0,
 :variables 2,
 :number-of-states 7,
 :included-machines
 ["./prob-examples/EventBPrologPackages/Theory/NaturalTest.eventb"],
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 1,
 :sha256
 "c54cc4d4312ec3a62cb2f9c0b8f2e8178044ba26124a60ac7ce486fcae37bd41",
 :invariants 3,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 50,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 0,
 :formalism :eventb}
