{:properties 18,
 :definitions 0,
 :deferred_sets 2,
 :number-of-transitions :unknown,
 :deadlock :unknown,
 :file "./prob-examples/B/predicate_analysis/function_cards.mch",
 :enumerated_sets 0,
 :variables 0,
 :number-of-states :unknown,
 :included-machines
 ["./prob-examples/B/predicate_analysis/function_cards.mch"],
 :sha512
 "ce5bbbf620a919190b0756c4f20ff5cb48f5b7ee66ac38c71986c2049ab5ff92e3da7aff73c6496fcaa4013ada9cbfdad83008c398649706b7bb3c62048fa2ec",
 :comment "",
 :files 1,
 :static_assertions 24,
 :operations 0,
 :sha256
 "9bfa0c8d170550586d88a6253c45340d07b900f9974dbeb7ad92d66d40b66f25",
 :invariants 0,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time :timeout,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}],
 :dynamic_assertions 0,
 :invariant-violated :unknown,
 :constants 24,
 :formalism :b}
