{:properties 16,
 :definitions 0,
 :deferred_sets 1,
 :number-of-transitions :unknown,
 :deadlock :unknown,
 :file "./prob-examples/B/predicate_analysis/sets.mch",
 :enumerated_sets 0,
 :variables 0,
 :number-of-states :unknown,
 :included-machines ["./prob-examples/B/predicate_analysis/sets.mch"],
 :sha512
 "01c538d6d14a9fb586d2dc94384395470bf194bf4cc5de21892a0d586e33f066dbd91c7d52c0203f177a037064612825944af75ee704b1f6dd37ee8a6e0cca55",
 :comment "",
 :files 1,
 :static_assertions 13,
 :operations 0,
 :sha256
 "8004b1efc5990344bc3cf401a9891d65cd22c9dba00a2c473ce0cde5b48c2f06",
 :invariants 0,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time :timeout,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}],
 :dynamic_assertions 0,
 :invariant-violated :unknown,
 :constants 19,
 :formalism :b}
