{:properties 5,
 :definitions 1,
 :deferred_sets 0,
 :number-of-transitions 228,
 :deadlock false,
 :file "./prob-examples/B/EventB/ETH_Elevator/elevator6.mch",
 :enumerated_sets 3,
 :variables 7,
 :number-of-states 123,
 :included-machines
 ["./prob-examples/B/EventB/ETH_Elevator/elevator6.mch"],
 :comment "",
 :files 1,
 :static_assertions 1,
 :operations 13,
 :sha256
 "1004632f19381753bae24f114c8748fb2aa281e5d7eb7634669dc8505545cdd7",
 :invariants 9,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 80,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 2,
 :formalism :b}
