{:properties 5,
 :definitions 1,
 :deferred_sets 0,
 :number-of-transitions 3378,
 :deadlock false,
 :file "./prob-examples/B/EventB/ETH_Elevator/elevator9.mch",
 :enumerated_sets 3,
 :variables 17,
 :number-of-states 195,
 :included-machines
 ["./prob-examples/B/EventB/ETH_Elevator/elevator9.mch"],
 :sha512
 "43ad5928325fcfbd1904c93da6c68d09374e6681eecc9144ad9deb3535a130745b35b3d8a643e6f9af63e0bc32b35f3fca3f3ef89d60e9faed93d32c3b5bb46a",
 :comment "",
 :files 1,
 :static_assertions 1,
 :operations 28,
 :sha256
 "1d11ddbbb0699a57256f605f95a0c3a159934d2c665fdb977043a1a184dcddaf",
 :invariants 23,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 620,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors ("load_main_file" "parse_error"),
   :states nil,
   :transitions nil,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time nil,
   :memory-usage nil,
   :result nil,
   :model-checking-time-unit :msec,
   :machine-hash nil,
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{},
   :model-checking-time nil,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("load_main_file" "parse_error"),
   :states nil,
   :transitions nil,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time nil,
   :memory-usage nil,
   :result nil,
   :model-checking-time-unit :msec,
   :machine-hash nil,
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{},
   :model-checking-time nil,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("load_main_file" "parse_error"),
   :states nil,
   :transitions nil,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time nil,
   :memory-usage nil,
   :result nil,
   :model-checking-time-unit :msec,
   :machine-hash nil,
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{},
   :model-checking-time nil,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("load_main_file" "parse_error"),
   :states nil,
   :transitions nil,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time nil,
   :memory-usage nil,
   :result nil,
   :model-checking-time-unit :msec,
   :machine-hash nil,
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{},
   :model-checking-time nil,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("load_main_file" "parse_error"),
   :states nil,
   :transitions nil,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time nil,
   :memory-usage nil,
   :result nil,
   :model-checking-time-unit :msec,
   :machine-hash nil,
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{},
   :model-checking-time nil,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 2,
 :formalism :b}
