{:properties 1,
 :definitions 0,
 :deferred_sets 0,
 :number-of-transitions 14,
 :deadlock false,
 :file "./prob-examples/B/Tester/OpCalls/GetTrain2.mch",
 :enumerated_sets 1,
 :variables 1,
 :number-of-states 4,
 :included-machines
 ["./prob-examples/B/Tester/OpCalls/GetTrain2.mch"
  "./prob-examples/B/Tester/OpCalls/GetTrain.mch"],
 :comment "",
 :files 2,
 :static_assertions 0,
 :operations 4,
 :sha256
 "11ceed2256116145c5f70ea9eeb21b19490d1e4d79ff1f81806374e264951cd0",
 :invariants 1,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 160,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 1,
 :formalism :b}
