{:properties 0,
 :definitions 1,
 :deferred_sets 0,
 :number-of-transitions 9,
 :deadlock false,
 :file "./prob-examples/B/Tester/OpCalls/UseCopy.mch",
 :enumerated_sets 0,
 :variables 2,
 :number-of-states 2,
 :included-machines
 ["./prob-examples/B/Tester/OpCalls/UseCopy.mch"
  "./prob-examples/B/Tester/OpCalls/Copy.mch"],
 :sha512
 "e9dc6d57867440e1614bc080dd6b2fb133e1dfb1ead7823e4152d681eb2a1b286545afa892fcbfda3390aff6f32db5a22005e46f973715cc8342db267d3ae964",
 :comment "",
 :files 2,
 :static_assertions 0,
 :operations 7,
 :sha256
 "f5e06248eb99ccecf7e5fc0f21f553d40dfa9d60846ae4eb52f8774e6bbf1ec4",
 :invariants 3,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 80,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors nil,
   :states 2,
   :transitions 9,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 162257232,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "7c9fe9133d00968204ebf509cc2103803f062ab4",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 98,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("identifier_not_found"),
   :states 2,
   :transitions 9,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 96,
   :memory-usage 162586096,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "7c9fe9133d00968204ebf509cc2103803f062ab4",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 75,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 2,
   :transitions 9,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162041008,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "7c9fe9133d00968204ebf509cc2103803f062ab4",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 54,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 2,
   :transitions 9,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162030624,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "7c9fe9133d00968204ebf509cc2103803f062ab4",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 55,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("identifier_not_found"),
   :states 2,
   :transitions 9,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 79,
   :memory-usage 162458672,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "7c9fe9133d00968204ebf509cc2103803f062ab4",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 64,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 0,
 :formalism :b}
