{:properties 0,
 :definitions 1,
 :deferred_sets 0,
 :number-of-transitions 9,
 :deadlock false,
 :file "./prob-examples/B/Tester/OpCalls/UseCopy.mch",
 :enumerated_sets 0,
 :variables 2,
 :number-of-states 2,
 :included-machines
 ["./prob-examples/B/Tester/OpCalls/UseCopy.mch"
  "./prob-examples/B/Tester/OpCalls/Copy.mch"],
 :comment "",
 :files 2,
 :static_assertions 0,
 :operations 7,
 :sha256
 "f5e06248eb99ccecf7e5fc0f21f553d40dfa9d60846ae4eb52f8774e6bbf1ec4",
 :invariants 3,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 80,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 0,
 :formalism :b}
