{:properties 18,
 :definitions 0,
 :deferred_sets 0,
 :number-of-transitions :unknown,
 :deadlock :unknown,
 :file
 "./prob-examples/EventBPrologPackages/Dedale/Platooning-1D-2.5/platoon2_mch.eventb",
 :enumerated_sets 0,
 :variables 4,
 :number-of-states :unknown,
 :included-machines
 ["./prob-examples/EventBPrologPackages/Dedale/Platooning-1D-2.5/platoon2_mch.eventb"],
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 7,
 :sha256
 "2458627d0bd13e05abfd3894c91a995362b353580e5e7716b53410ee6dd482ee",
 :invariants 6,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time :timeout,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated :unknown,
 :constants 11,
 :formalism :eventb}
