{:properties 12,
 :definitions 0,
 :deferred_sets 3,
 :number-of-transitions 3001,
 :deadlock false,
 :file
 "./prob-examples/EventBPrologPackages/AbrialAccessControl/mac4_mch.eventb",
 :enumerated_sets 0,
 :variables 14,
 :number-of-states 716,
 :included-machines
 ["./prob-examples/EventBPrologPackages/AbrialAccessControl/mac4_mch.eventb"],
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 12,
 :sha256
 "447d49710aae24ae340dfe01c0d7b249a603d6f2a37fdaa2ea0f0ab7109c5d04",
 :invariants 18,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 209715200,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 890,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated true,
 :constants 5,
 :formalism :eventb}
