{:properties 1,
 :definitions 0,
 :deferred_sets 1,
 :number-of-transitions 36,
 :deadlock false,
 :file "./prob-examples/B/RefinementChecking/Jobshop.mch",
 :enumerated_sets 0,
 :variables 1,
 :number-of-states 14,
 :included-machines
 ["./prob-examples/B/RefinementChecking/Jobshop.mch"],
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 3,
 :sha256
 "154d43e7f73c062d1bf3fc2b414d15d2616f1714654ce1be26ae690f03929b57",
 :invariants 2,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 110,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 1,
 :formalism :b}
