{:properties 7,
 :definitions 4,
 :deferred_sets 0,
 :number-of-transitions :unknown,
 :deadlock :unknown,
 :file "./prob-examples/B/SymbolicModelChecking/Lightbot.mch",
 :enumerated_sets 1,
 :variables 7,
 :number-of-states :unknown,
 :included-machines
 ["./prob-examples/B/SymbolicModelChecking/Lightbot.mch"],
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 7,
 :sha256
 "173befaa22819d382e4edc4c43ff2bd821afe6ca71ccfa22cf38aaf1508233b4",
 :invariants 8,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time :timeout,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated :unknown,
 :constants 6,
 :formalism :b}
