{:properties 16,
 :definitions 0,
 :deferred_sets 0,
 :number-of-transitions :unknown,
 :deadlock :unknown,
 :file
 "./prob-examples/B/SymbolicModelChecking/Timing_DifficultConstraint.mch",
 :enumerated_sets 0,
 :variables 0,
 :number-of-states :unknown,
 :included-machines
 ["./prob-examples/B/SymbolicModelChecking/Timing_DifficultConstraint.mch"],
 :sha512
 "d00c6e3d860262bf3a973331a1d11001ac8ee1f15796aa45659b2c44c9913b23024e200ef2d832043999c99a98aa7a052327fbe3de94b41626c6a5c3a3af0e2b",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 0,
 :sha256
 "c86fe0d9f079f8c2c85339d858c36ec37fc6c5cdcfb2790d7a1a800d59bedfc4",
 :invariants 0,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time :timeout,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}],
 :dynamic_assertions 0,
 :invariant-violated :unknown,
 :constants 12,
 :formalism :b}
