{:properties 0,
 :definitions 0,
 :deferred_sets 0,
 :number-of-transitions 1,
 :deadlock true,
 :file
 "./prob-examples/EventBPrologPackages/Tickets/Akira_getOpParNames/m1_simplified_mch.eventb",
 :enumerated_sets 2,
 :variables 19,
 :number-of-states 1,
 :included-machines
 ["./prob-examples/EventBPrologPackages/Tickets/Akira_getOpParNames/m1_simplified_mch.eventb"],
 :sha512
 "02810f84d134c9b69deec7026fce1e14c4db257bb66b886cd0f4382123028b1b959dc711f355b5915e4198a7b57eed4a1710321888c0fbba6f2b67bbaa9c85ce",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 54,
 :sha256
 "60abcb08f65e7af4f290531222d5478516266b7d8237567476fd29526c9c0ced",
 :invariants 3,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 30,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 0,
   :transitions 1,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 164455920,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "d3407ad131759e295c18d3756556de1cc4b95708",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 45,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 0,
   :transitions 1,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 21673,
   :memory-usage 166148928,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "d3407ad131759e295c18d3756556de1cc4b95708",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 24,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 1,
   :transitions 1,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 164451664,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "d3407ad131759e295c18d3756556de1cc4b95708",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 55,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 1,
   :transitions 1,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 6054,
   :memory-usage 166032880,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "d3407ad131759e295c18d3756556de1cc4b95708",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 24,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 1,
   :transitions 1,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 164381520,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "d3407ad131759e295c18d3756556de1cc4b95708",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 41,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 0,
 :formalism :eventb}
