{:properties 6,
 :definitions 6,
 :deferred_sets 0,
 :file "./prob-examples/B/VisB/Train/SimpleTrainTrack.mch",
 :enumerated_sets 1,
 :variables 2,
 :sha512
 "fd8629c2f9ae2e10a215c1ebfe6db4b2bf41fd44985c1d71ba1f33cc74bb2ea8804226112826b3fc359811e0abe195c3740fd94edc71a6942423a3a2b88a9d6f",
 :static_assertions 0,
 :operations 3,
 :sha256
 "cbb89dc000b97ceeca71da9699406ce419ffead82fb95c85cec5bc241b3d9e01",
 :invariants 1,
 :runs
 [{:errors nil,
   :states 249,
   :transitions 986,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 163171600,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "4c7aa3bccc0004b5702eb00a4ed4d0b1b82e8042",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 206,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 199,
   :transitions 448,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 137,
   :memory-usage 163505472,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "4c7aa3bccc0004b5702eb00a4ed4d0b1b82e8042",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 153,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 249,
   :transitions 986,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 163181328,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "4c7aa3bccc0004b5702eb00a4ed4d0b1b82e8042",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 200,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 249,
   :transitions 870,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 155,
   :memory-usage 163642384,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "4c7aa3bccc0004b5702eb00a4ed4d0b1b82e8042",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 205,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 249,
   :transitions 986,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 163161968,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "4c7aa3bccc0004b5702eb00a4ed4d0b1b82e8042",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 217,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :constants 4}
