{:properties 0,
 :definitions 0,
 :deferred_sets 0,
 :number-of-transitions 82534,
 :deadlock false,
 :file "./prob-examples/CSPB/LTSMin/Counters.mch",
 :enumerated_sets 0,
 :variables 3,
 :number-of-states 27511,
 :included-machines ["./prob-examples/CSPB/LTSMin/Counters.mch"],
 :sha512
 "01ada8581016c20c6330bdc15397a62e188b78132ddf031ab6543bc81286da05c75f3a1906942f9f3a48f17e68eeebe3fbe01f2e64b907d8f5e9628c206e564e",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 3,
 :sha256
 "b4291d881028dc083b5b658308a19a880eda65a5e58500f0b6a5dd70598b7abb",
 :invariants 0,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 209715200,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 4720,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors nil,
   :states 490,
   :transitions 491,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 14,
   :memory-usage 162449696,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "a195558ddee0bd1b984fb1f3be4434df64e6c086",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 173,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 27511,
   :transitions 82534,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 200901104,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "a195558ddee0bd1b984fb1f3be4434df64e6c086",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 4412,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 18546,
   :transitions 26493,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 14,
   :memory-usage 181139840,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "a195558ddee0bd1b984fb1f3be4434df64e6c086",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 4673,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 27511,
   :transitions 82534,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 200891312,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "a195558ddee0bd1b984fb1f3be4434df64e6c086",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 4957,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 27511,
   :transitions 82534,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 195450192,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "a195558ddee0bd1b984fb1f3be4434df64e6c086",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 4889,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 0,
 :formalism :b}
