{:properties 23,
 :definitions 0,
 :deferred_sets 0,
 :number-of-transitions 0,
 :deadlock true,
 :file
 "./prob-examples/B/PragmasUnits/CaseStudies/Abrial_Hybrid/hybrid_flight/f_m1_mch.eventb",
 :enumerated_sets 0,
 :variables 5,
 :number-of-states 0,
 :included-machines
 ["./prob-examples/B/PragmasUnits/CaseStudies/Abrial_Hybrid/hybrid_flight/f_m1_mch.eventb"],
 :sha512
 "1de07aed352248243ed0e94250f8e1e8b5a047371c45298316946c0d42407d3de2f899cc9c7e5aa6ce1027e763026f8427b4719494dcc9fa8074eaa895ec51dc",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 5,
 :sha256
 "d0a14fa2b8ff1e93a3115acc2eaa5132e7a993a33b1efa0ad93da8a1c24428a9",
 :invariants 13,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 20,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 0,
   :transitions 0,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time _,
   :memory-usage 163100352,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "1b604c9a2d2d86c19e2033e805191c80ccfe0e05",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 12,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 0,
   :transitions 0,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 162988032,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "1b604c9a2d2d86c19e2033e805191c80ccfe0e05",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 8,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 0,
   :transitions 0,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 52,
   :memory-usage 163223984,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "1b604c9a2d2d86c19e2033e805191c80ccfe0e05",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 10,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 0,
   :transitions 0,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162987232,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "1b604c9a2d2d86c19e2033e805191c80ccfe0e05",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 11,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 0,
   :transitions 0,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time _,
   :memory-usage 163045008,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "1b604c9a2d2d86c19e2033e805191c80ccfe0e05",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 14,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 8,
 :formalism :eventb}
