{:properties 6,
 :definitions 4,
 :deferred_sets 0,
 :number-of-transitions 48,
 :deadlock false,
 :file "./prob-examples/B/Mathematical/Voting/Condorcet.mch",
 :enumerated_sets 2,
 :variables 0,
 :number-of-states 2,
 :included-machines
 ["./prob-examples/B/Mathematical/Voting/Condorcet.mch"],
 :sha512
 "183b2c7ff1458072c3c8963f4b0bed2452a3733ba8fefdd27860f48b5f44c5b4345fbfb80392b882d6f97af7192f86caf6d271827de20f98f88743cf3e9fcb66",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 6,
 :sha256
 "31e826d905f11994245d2660f153dcb9f671e1924834cacb76c589a52dad90de",
 :invariants 0,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 200,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors nil,
   :states 2,
   :transitions 8,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 67,
   :memory-usage 163431312,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "7f23974bc0d7d630fb5e9128f8f43bf111987f51",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 214,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 2,
   :transitions 48,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 163213936,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "7f23974bc0d7d630fb5e9128f8f43bf111987f51",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 182,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 2,
   :transitions 48,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 163224032,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "7f23974bc0d7d630fb5e9128f8f43bf111987f51",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 185,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 2,
   :transitions 48,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 163222208,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "7f23974bc0d7d630fb5e9128f8f43bf111987f51",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 188,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 2,
   :transitions 48,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 67,
   :memory-usage 163459296,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "7f23974bc0d7d630fb5e9128f8f43bf111987f51",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 202,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 1,
 :formalism :b}
