{:properties 3,
 :definitions 6,
 :deferred_sets 0,
 :number-of-transitions 122676,
 :deadlock false,
 :file "./prob-examples/B/Mathematical/Voting/CopelandVoting.mch",
 :enumerated_sets 2,
 :variables 0,
 :number-of-states 6144,
 :included-machines
 ["./prob-examples/B/Mathematical/Voting/CopelandVoting.mch"],
 :comment "",
 :files 1,
 :static_assertions 1,
 :operations 7,
 :sha256
 "1a96720db3a31e80489a113658cd4480cc6555ee7eebbe1098bee856125513d6",
 :invariants 0,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 80340,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 2,
 :formalism :b}
