{:properties 4,
 :definitions 2,
 :deferred_sets 2,
 :number-of-transitions :unknown,
 :deadlock :unknown,
 :file "./prob-examples/B/Mathematical/Voting/ThreeApprovalKodkod.mch",
 :enumerated_sets 1,
 :variables 3,
 :number-of-states :unknown,
 :included-machines
 ["./prob-examples/B/Mathematical/Voting/ThreeApprovalKodkod.mch"],
 :sha512
 "efa1e662be9c4bc9d80888e58d36e77c214ba383f6479ee8d53a3410bd273e05b44a355ac7d24b446b74015b29b409430bdfe100132c5018156c943a5e97f873",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 5,
 :sha256
 "3497f97d3faaf9ece7c158712935b0988510dbe7c2b87dc1a8566b048662f3b1",
 :invariants 1,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time :timeout,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}],
 :dynamic_assertions 0,
 :invariant-violated :unknown,
 :constants 1,
 :formalism :b}
