{:properties 10,
 :definitions 0,
 :deferred_sets 0,
 :number-of-transitions :unknown,
 :deadlock :unknown,
 :file
 "./prob-examples/EventBPrologPackages/platoon/platoon1_prob_simplified.eventb",
 :enumerated_sets 1,
 :variables 4,
 :number-of-states :unknown,
 :included-machines
 ["./prob-examples/EventBPrologPackages/platoon/platoon1_prob_simplified.eventb"],
 :sha512
 "165d44c108811b5fadfec498988456bfb7eee47f806e22cccbdafb18f2d435e2fdc85219568bc821f137b202bfc6cc203b8b143fc1d4de011662b3d07a9812ec",
 :comment "",
 :files 1,
 :static_assertions 15,
 :operations 3,
 :sha256
 "19f51cdaad2fee69868a8e06d238975382cbebd3cd0a40b0227ff666c78d154e",
 :invariants 6,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time :timeout,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}],
 :dynamic_assertions 1,
 :invariant-violated :unknown,
 :constants 8,
 :formalism :eventb}
