{:properties 0,
 :definitions 0,
 :deferred_sets 0,
 :number-of-transitions 127,
 :deadlock false,
 :file "./prob-examples/CSPB/NeilEvans/test.mch",
 :enumerated_sets 2,
 :variables 3,
 :number-of-states 34,
 :included-machines ["./prob-examples/CSPB/NeilEvans/test.mch"],
 :sha512
 "91062f4b6f15f98d05d09613de83befaed357a8c3c2180f11511405ff13bd02d6eba0657650a12d57a6e1e4ad0c61080be756a78659de3ea5e3a2756e7959ebc",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 2,
 :sha256
 "e53a8d45961b3f2866dde21972e7333f29a4a1722bcf98fca102f6977f28f900",
 :invariants 1,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 160,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors nil,
   :states 34,
   :transitions 127,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 162274192,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "2f652b4f6d4e086f94e9ed0a8388e655adfe19d4",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 173,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 34,
   :transitions 127,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 165,
   :memory-usage 162699648,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "2f652b4f6d4e086f94e9ed0a8388e655adfe19d4",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 93,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 34,
   :transitions 127,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 162317744,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "2f652b4f6d4e086f94e9ed0a8388e655adfe19d4",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 182,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 34,
   :transitions 127,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 180,
   :memory-usage 162762944,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "2f652b4f6d4e086f94e9ed0a8388e655adfe19d4",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 95,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 34,
   :transitions 127,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162284736,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "2f652b4f6d4e086f94e9ed0a8388e655adfe19d4",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 169,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 0,
 :formalism :b}
