{:properties 0,
 :definitions 5,
 :deferred_sets 1,
 :number-of-transitions 28,
 :deadlock false,
 :file "./prob-examples/VDM/Airport/Airport.mch",
 :enumerated_sets 0,
 :variables 1,
 :number-of-states 9,
 :included-machines ["./prob-examples/VDM/Airport/Airport.mch"],
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 4,
 :sha256
 "ed1fbdab64c69ecbb41ea211f793036a5fe49370f9088344ba46fe94d8568eec",
 :invariants 1,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 100,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 0,
 :formalism :b}
