{:properties 2,
 :definitions 0,
 :deferred_sets 0,
 :number-of-transitions :unknown,
 :deadlock :unknown,
 :file
 "./prob-examples/EventBPrologPackages/BMS/Poker_v2/FiveCardSolo_mch.eventb",
 :enumerated_sets 1,
 :variables 11,
 :number-of-states :unknown,
 :included-machines
 ["./prob-examples/EventBPrologPackages/BMS/Poker_v2/FiveCardSolo_mch.eventb"],
 :sha512
 "d3ed3a9d07277feb8d4dd7526a0a4dc8d16347ef80e27d0ebbd112383cb2ab257207cdff05296ed9ee698bdfff9be73668470cf4fa06e5a4205dc30e2e824500",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 15,
 :sha256
 "78c4f297213910619070acb99e94325e7fb74f372cc731521c1186c61e6ff5c1",
 :invariants 9,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time :timeout,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:errors nil,
   :states nil,
   :transitions nil,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time nil,
   :memory-usage 165039360,
   :result nil,
   :model-checking-time-unit :msec,
   :machine-hash "96ab5950627ed88e0afb31f0577595c9d1565329",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time nil,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}],
 :dynamic_assertions 0,
 :invariant-violated :unknown,
 :constants 2,
 :formalism :eventb}
