{:properties 2237,
 :definitions 0,
 :deferred_sets 0,
 :number-of-transitions :unknown,
 :deadlock :unknown,
 :file
 "./prob-examples/EventBPrologPackages/PerformanceTests/SATLIB_flat_200_90_v2_ctx.eventb",
 :enumerated_sets 0,
 :variables 0,
 :number-of-states :unknown,
 :included-machines
 ["./prob-examples/EventBPrologPackages/PerformanceTests/SATLIB_flat_200_90_v2_ctx.eventb"],
 :sha512
 "07ff932d0c461080a1b10b572ce8bc243893eee226bffa47351c33116aa8b0183f76af52783fe7ec51e53c63a25af63ea8b56d2b313ed4b70bb898e01bf2abcd",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 0,
 :sha256
 "a06fa92c08e3486aae075591212ff2eaa3d7f3b2ee2c7652d08c8917c87d31de",
 :invariants 0,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time :timeout,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}],
 :dynamic_assertions 0,
 :invariant-violated :unknown,
 :constants 600,
 :formalism :eventb}
