{:properties 9,
 :definitions 6,
 :deferred_sets 0,
 :number-of-transitions 53594,
 :deadlock false,
 :file "./prob-examples/B/BZTT/GSM_revue.mch",
 :enumerated_sets 6,
 :variables 9,
 :number-of-states 1849,
 :included-machines ["./prob-examples/B/BZTT/GSM_revue.mch"],
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 6,
 :sha256
 "59daf0ea6adc45728258c41cd9022d8661732a72b8cb9522ed174cea95708034",
 :invariants 15,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 209715200,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 5410,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 5,
 :formalism :b}
