{:properties 9,
 :definitions 6,
 :deferred_sets 0,
 :number-of-transitions 53594,
 :deadlock false,
 :file "./prob-examples/B/BZTT/GSM_revue.mch",
 :enumerated_sets 6,
 :variables 9,
 :number-of-states 1849,
 :included-machines ["./prob-examples/B/BZTT/GSM_revue.mch"],
 :sha512
 "ff53180dde774793f87c209c4647ba5f1e01b0725dfb5def3e573407f43886aa6b2f9496bbb697d03353424ed66e65820f25949d69b03cfed458ac712c30f146",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 6,
 :sha256
 "59daf0ea6adc45728258c41cd9022d8661732a72b8cb9522ed174cea95708034",
 :invariants 15,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 209715200,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 5410,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors nil,
   :states 1849,
   :transitions 53594,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 183851168,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "4adb20f577e69a943e774125caf4db3be595a131",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 6231,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 1849,
   :transitions 53594,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 183842640,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "4adb20f577e69a943e774125caf4db3be595a131",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 5476,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 1849,
   :transitions 53594,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1041,
   :memory-usage 184558688,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "4adb20f577e69a943e774125caf4db3be595a131",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 6737,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 1849,
   :transitions 53594,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 183644528,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "4adb20f577e69a943e774125caf4db3be595a131",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 6383,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 1849,
   :transitions 53594,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 249,
   :memory-usage 184641264,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "4adb20f577e69a943e774125caf4db3be595a131",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 6443,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 5,
 :formalism :b}
