{:properties 0,
 :definitions 0,
 :deferred_sets 0,
 :number-of-transitions 176,
 :deadlock false,
 :file "./prob-examples/B/BZTT/TestBZTT_Data.mch",
 :enumerated_sets 0,
 :variables 2,
 :number-of-states 25,
 :included-machines ["./prob-examples/B/BZTT/TestBZTT_Data.mch"],
 :sha512
 "8c5d280df8ad588c12c9251e692e81579c46b63f6b44f2e1226f1bc4cbf98b4a99ede85c4c9af7e1ee9a65704738bd944ef5e5ddcd542bf3d2dceac2da096cd5",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 7,
 :sha256
 "cf26b40887da310a4843685908b441902da7ec425549dce49b59e3224b2232ae",
 :invariants 0,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 450,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors nil,
   :states 25,
   :transitions 176,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 90,
   :memory-usage 165638144,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "291b4615905c80e7892b860a9c2b0d55d0eb3a62",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 557,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 25,
   :transitions 176,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 165181056,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "291b4615905c80e7892b860a9c2b0d55d0eb3a62",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 403,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 25,
   :transitions 176,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 165188048,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "291b4615905c80e7892b860a9c2b0d55d0eb3a62",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 398,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 25,
   :transitions 176,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 165177184,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "291b4615905c80e7892b860a9c2b0d55d0eb3a62",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 402,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 25,
   :transitions 176,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 86,
   :memory-usage 165630688,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "291b4615905c80e7892b860a9c2b0d55d0eb3a62",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 557,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 0,
 :formalism :b}
