{:properties 0,
 :definitions 0,
 :deferred_sets 0,
 :number-of-transitions :unknown,
 :deadlock :unknown,
 :file "./prob-examples/B/BZTT/TestBZTT2.mch",
 :enumerated_sets 1,
 :variables 3,
 :number-of-states :unknown,
 :included-machines ["./prob-examples/B/BZTT/TestBZTT2.mch"],
 :sha512
 "e985144f25ac2306877381fad3b82599d157c3afc5ffaccdd350fc6165bedc0b12fa03d0e4f6cb511239a7d1aa6f28d1f20fd5ff1bcbfbf36ca09b3007d2b853",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 4,
 :sha256
 "978e6e6faa731444482fd1ae51f323d139364499b90d9038c32cf57b2e7a1a69",
 :invariants 1,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time :timeout,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}],
 :dynamic_assertions 0,
 :invariant-violated :unknown,
 :constants 0,
 :formalism :b}
