{:properties 10,
 :definitions 8,
 :deferred_sets 0,
 :number-of-transitions :unknown,
 :deadlock :unknown,
 :file "./prob-examples/TLA/Consumer_Producer/buffer7_6_v3.mch",
 :enumerated_sets 1,
 :variables 2,
 :number-of-states :unknown,
 :included-machines
 ["./prob-examples/TLA/Consumer_Producer/buffer7_6_v3.mch"],
 :sha512
 "62c6be461ac4332ff6d8a730f9c75e780729c312eac763c6280713e3f5cb9f7be524442ef8a3088d42d3dc667bc1d6b1dceac61607e34dd5735b60f115d21277",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 2,
 :sha256
 "df80df91320b7ed116b0a73eebe90f7ba3e288ae773e094342fdf038e9c971bd",
 :invariants 3,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time :timeout,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}],
 :dynamic_assertions 0,
 :invariant-violated :unknown,
 :constants 4,
 :formalism :b}
