{:properties 6,
 :definitions 0,
 :deferred_sets 0,
 :number-of-transitions :unknown,
 :deadlock :unknown,
 :file "./prob-examples/B/IPD/colouring/GraphColouringNat_ctx.eventb",
 :enumerated_sets 0,
 :variables 0,
 :number-of-states :unknown,
 :included-machines
 ["./prob-examples/B/IPD/colouring/GraphColouringNat_ctx.eventb"],
 :sha512
 "1fe7029853da12272ef6952d2b0186c7cc808636e07d68eb02ed8a87ee42d34555d3b7bfc5f4633153563d539a4a1848bf9f72acc0f29de7346ff4be6ff4d1b1",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 0,
 :sha256
 "a7f15cb0207a7cb1a6a44b17a3fa112358a7d8b4c617911788714b92347897e8",
 :invariants 0,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time :timeout,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}],
 :dynamic_assertions 0,
 :invariant-violated :unknown,
 :constants 3,
 :formalism :eventb}
