{:properties 0,
 :definitions 0,
 :deferred_sets 0,
 :file
 "./prob-examples/B/FeatureChecks/StrangeFeatures/NoAssignmentToOutput.mch",
 :enumerated_sets 0,
 :variables 0,
 :sha512
 "a617878681aa274c327f3ad5491fc2a77f23a264047b65293c11614efff4772787a6646825240fab0bf396245541dbcd2a2f3df29d187968d0f307e9b2827843",
 :static_assertions 0,
 :operations 1,
 :sha256
 "981332ed4149f91785a8eafda911b3628d67e64afb6dedb0be748886d2378b43",
 :invariants 0,
 :runs
 [{:errors nil,
   :states 1,
   :transitions 6,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 5,
   :memory-usage 161955696,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "b04d06cac7026e41b731a64784bb2a21254e3606",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 138,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 1,
   :transitions 6,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 161854208,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "b04d06cac7026e41b731a64784bb2a21254e3606",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 137,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 1,
   :transitions 6,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 5,
   :memory-usage 161949456,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "b04d06cac7026e41b731a64784bb2a21254e3606",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 135,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 1,
   :transitions 6,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 161863088,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "b04d06cac7026e41b731a64784bb2a21254e3606",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 136,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 1,
   :transitions 6,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 161864720,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "b04d06cac7026e41b731a64784bb2a21254e3606",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 138,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :constants 0}
