{:properties 0,
 :definitions 0,
 :deferred_sets 0,
 :file
 "./prob-examples/B/Other/SysML2B/BModules_081214/Input_Interface_1.mch",
 :enumerated_sets 3,
 :variables 5,
 :sha512
 "18a2c4b2b129cf92998ac2956440d89de7cc0f3709fef5a3866eb604f0aae71f2891adcb45bba92e57b863a80c7df6733828950a60e92aa557dc91e3a797a584",
 :static_assertions 0,
 :operations 6,
 :sha256
 "2079c8b7a890f30660c55893254079503ecb826b021637e40fd8e59bd90d42aa",
 :invariants 2,
 :runs
 [{:errors nil,
   :states 400,
   :transitions 162400,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 197640448,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "821cd124927a7e75a039e91fc507fc8e7659c621",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 6543,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 400,
   :transitions 162400,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 91,
   :memory-usage 198140896,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "821cd124927a7e75a039e91fc507fc8e7659c621",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 6186,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 400,
   :transitions 162400,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 76,
   :memory-usage 198019696,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "821cd124927a7e75a039e91fc507fc8e7659c621",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 5982,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 400,
   :transitions 162400,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 197630560,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "821cd124927a7e75a039e91fc507fc8e7659c621",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 6157,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 400,
   :transitions 162400,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 197569168,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "821cd124927a7e75a039e91fc507fc8e7659c621",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 6079,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :constants 0}
