{:properties 6,
 :definitions 0,
 :deferred_sets 1,
 :file "./prob-examples/B/Other/MobileComm/CXCC.mch",
 :enumerated_sets 2,
 :variables 3,
 :sha512
 "e687421ffc9ec57eca074c38ed41d32bb716e103b43215616b90c4bcc6603803af8dba29ad62a3f158f45f67038ea847f8e947d9602cfa8393b0e0f866ee1d00",
 :static_assertions 3,
 :operations 5,
 :sha256
 "ce7a5dc8aa2f9a863dab4ae8f1c20d04ac509046584266881ae677cb64e1728a",
 :invariants 4,
 :runs
 [{:errors ("invariant_violation"),
   :states 136,
   :transitions 392,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 164450368,
   :result "invariant_violation",
   :model-checking-time-unit :msec,
   :machine-hash "86a5d504e2a2f56c874999580fd80281913b12cc",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 377,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 448,
   :transitions 1452,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 164876720,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "86a5d504e2a2f56c874999580fd80281913b12cc",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 676,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("invariant_violation" "clpfd_interface"),
   :states 136,
   :transitions 391,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 4114,
   :memory-usage 164892928,
   :result "invariant_violation",
   :model-checking-time-unit :msec,
   :machine-hash "86a5d504e2a2f56c874999580fd80281913b12cc",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 320,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 445,
   :transitions 1442,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 2674,
   :memory-usage 165465568,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "86a5d504e2a2f56c874999580fd80281913b12cc",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 708,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 558,
   :transitions 1788,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 164900160,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "86a5d504e2a2f56c874999580fd80281913b12cc",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 810,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :constants 3}
