{:properties 3,
 :definitions 2,
 :deferred_sets 0,
 :file "./prob-examples/B/Other/MobileComm/Ether.mch",
 :enumerated_sets 3,
 :variables 1,
 :sha512
 "eaa9a176fe1b00a21bd371e64f91015d97c03b43d5744d63046022dcb527db29eed9b3fc5304d157da8f76ba1d8e2617fd0f3f61334f9ecf14851cace066611f",
 :static_assertions 0,
 :operations 4,
 :sha256
 "4407b9e9c188daff2a5de8a26f70eaf0df36d59c25ca30156eebc74c33de3e32",
 :invariants 2,
 :runs
 [{:errors nil,
   :states 18,
   :transitions 450,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 163770800,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "82088110935179601a9a890cfc5f210d25f59631",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 4524,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 2,
   :transitions 14,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 185,
   :memory-usage 163866672,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "82088110935179601a9a890cfc5f210d25f59631",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 365,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 18,
   :transitions 450,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 163761248,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "82088110935179601a9a890cfc5f210d25f59631",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 4259,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 18,
   :transitions 450,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 163808896,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "82088110935179601a9a890cfc5f210d25f59631",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 4124,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 18,
   :transitions 450,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 492,
   :memory-usage 164210656,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "82088110935179601a9a890cfc5f210d25f59631",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 4142,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 1,
 :constants 1}
