{:properties 0,
 :definitions 0,
 :deferred_sets 0,
 :file "./prob-examples/B/Tickets/Vu_Inclusion/BError_2.mch",
 :enumerated_sets 4,
 :variables 6,
 :sha512
 "7d764182c92fc9ab126b2d949f4bf9f3fbc971d68f94b79f4bf8c8b94bd978f48bf54cba1b703894cadd4eda5814e3bc1100f9e8075f73be5d4a9c8618365160",
 :static_assertions 0,
 :operations 2,
 :sha256
 "042508e5f08b7e07dfa87851800afdea2e92f98d8e0eccfb419cfb90ad9cb83f",
 :invariants 6,
 :runs
 [{:errors nil,
   :states 5,
   :transitions 30,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162247888,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "0188b89353b0fdb1a701d0a57378b2bfbd866353",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 23,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("model_check_incomplete"),
   :states 5,
   :transitions 30,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 5,
   :memory-usage 162523024,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "0188b89353b0fdb1a701d0a57378b2bfbd866353",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 57,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("model_check_incomplete"),
   :states 5,
   :transitions 30,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 5,
   :memory-usage 162395424,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "0188b89353b0fdb1a701d0a57378b2bfbd866353",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 29,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("general_error_occurred" "internal_error(error_manager)"),
   :states 1,
   :transitions 15,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 162521552,
   :result "general_error_occurred",
   :model-checking-time-unit :msec,
   :machine-hash "0188b89353b0fdb1a701d0a57378b2bfbd866353",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 74,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 5,
   :transitions 30,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162259696,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "0188b89353b0fdb1a701d0a57378b2bfbd866353",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 25,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :constants 0}
