{:properties 0,
 :definitions 0,
 :deferred_sets 0,
 :file "./prob-examples/B/Tickets/Vu_Inclusion/BError_5.mch",
 :enumerated_sets 2,
 :variables 3,
 :sha512
 "f4e21504d2ee40cc0fb75f86fda69a8e91cf5af867d02eb82f1f88f694de7ebaf489f5cced55e03bcc47bd0f36392e38e9346b2ac23a1aa12161ff39b65c2b79",
 :static_assertions 0,
 :operations 1,
 :sha256
 "84f363bd0ff59feb7f01242104a5a2d2133f51b6feb4820fea4345cbf8a8c953",
 :invariants 3,
 :runs
 [{:errors nil,
   :states 5,
   :transitions 30,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162060784,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "f6d24f9879162f3cada304c2b93d042d2fef14b0",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 23,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("model_check_incomplete"),
   :states 5,
   :transitions 30,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 5,
   :memory-usage 162212464,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "f6d24f9879162f3cada304c2b93d042d2fef14b0",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 27,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 5,
   :transitions 30,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162072352,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "f6d24f9879162f3cada304c2b93d042d2fef14b0",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 24,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("model_check_incomplete"),
   :states 5,
   :transitions 30,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 4,
   :memory-usage 162366752,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "f6d24f9879162f3cada304c2b93d042d2fef14b0",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 58,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("general_error_occurred" "internal_error(error_manager)"),
   :states 1,
   :transitions 15,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162361488,
   :result "general_error_occurred",
   :model-checking-time-unit :msec,
   :machine-hash "f6d24f9879162f3cada304c2b93d042d2fef14b0",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 78,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :constants 0}
