{:properties 0,
 :definitions 0,
 :deferred_sets 0,
 :number-of-transitions 41,
 :deadlock false,
 :file
 "./prob-examples/EventBPrologPackages/Abrial_BRP/b_0_mch.eventb",
 :enumerated_sets 1,
 :variables 2,
 :number-of-states 9,
 :included-machines
 ["./prob-examples/EventBPrologPackages/Abrial_BRP/b_0_mch.eventb"],
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 3,
 :sha256
 "bfdb2d62ee35fbd01ef718d85a4e50c258573514157a18c742b63634909dde7b",
 :invariants 0,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 90,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 0,
 :formalism :eventb}
