{:properties 2,
 :definitions 0,
 :deferred_sets 1,
 :number-of-transitions 700,
 :deadlock false,
 :file
 "./prob-examples/EventBPrologPackages/Abrial_BRP/b_4_mch.eventb",
 :enumerated_sets 1,
 :variables 7,
 :number-of-states 438,
 :included-machines
 ["./prob-examples/EventBPrologPackages/Abrial_BRP/b_4_mch.eventb"],
 :sha512
 "17f593dde6dace3007263db52da00cb514270bb4f942d28032c5bf954652ffe726804d3ce607603fd64a3aa98aa9b8c3ab4271cab30b7bf9c3db2682b6344662",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 9,
 :sha256
 "35360dc7c772cad310acc0bffc31b1a42d2cae6ffa395c8744668b60021301b5",
 :invariants 8,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 250,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors nil,
   :states 438,
   :transitions 700,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 2340,
   :memory-usage 197533760,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "9b40bf49e4c2495fb68094bdca86693d173c8217",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 355,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 438,
   :transitions 700,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 163455872,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "9b40bf49e4c2495fb68094bdca86693d173c8217",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 308,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 438,
   :transitions 700,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1517,
   :memory-usage 197477808,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "9b40bf49e4c2495fb68094bdca86693d173c8217",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 364,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 438,
   :transitions 700,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 163374832,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "9b40bf49e4c2495fb68094bdca86693d173c8217",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 255,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 438,
   :transitions 700,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 163377712,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "9b40bf49e4c2495fb68094bdca86693d173c8217",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 268,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 2,
 :formalism :eventb}
