{:properties 6,
 :definitions 3,
 :deferred_sets 0,
 :number-of-transitions 90,
 :deadlock true,
 :file "./prob-examples/B/TestCaseGeneration/MCDC_CBC_v2.mch",
 :enumerated_sets 1,
 :variables 0,
 :number-of-states 90,
 :included-machines
 ["./prob-examples/B/TestCaseGeneration/MCDC_CBC_v2.mch"],
 :sha512
 "134dacb23d8dca8cc74948d0fb564d471538a6b3fc77b4bda20198ccc24fe3186f14cdc76f29b53ad34003bef27235d7cdb1d414aff3355667a011d4945f9c24",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 0,
 :sha256
 "0ac81f0ca648a2a251cd6c5b0e02d3d77847d57b845de40a982db552c54af2f8",
 :invariants 0,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 30,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors nil,
   :states 90,
   :transitions 90,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162963328,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "ed054e5439bacea6ee71abbe9fbcbe8cbb597dfd",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 30,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 45,
   :transitions 90,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 3,
   :memory-usage 163137424,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "ed054e5439bacea6ee71abbe9fbcbe8cbb597dfd",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 35,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 45,
   :transitions 90,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 163146848,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "ed054e5439bacea6ee71abbe9fbcbe8cbb597dfd",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 31,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 90,
   :transitions 90,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162970960,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "ed054e5439bacea6ee71abbe9fbcbe8cbb597dfd",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 27,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 90,
   :transitions 90,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 2,
   :memory-usage 163058672,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "ed054e5439bacea6ee71abbe9fbcbe8cbb597dfd",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 38,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 2,
 :formalism :b}
