{:properties 0,
 :definitions 1,
 :deferred_sets 0,
 :number-of-transitions 48,
 :deadlock false,
 :file "./prob-examples/B/TestCaseGeneration/SimpleCounter2.mch",
 :enumerated_sets 0,
 :variables 1,
 :number-of-states 10,
 :included-machines
 ["./prob-examples/B/TestCaseGeneration/SimpleCounter2.mch"],
 :sha512
 "93fbfc6a3996d6b752f885b628df23c9b0a607e683d7f97c9802d250bd9f3bd50fd846d857932d479f6c0b6bf20f983aee83d5ee6c1630b26785bc814d007518",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 3,
 :sha256
 "37a5f7a7201c22c464e050d5e9451fa83fcec0f1dfa5ccee00da8736afbbaf19",
 :invariants 1,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 90,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors nil,
   :states 10,
   :transitions 48,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 164,
   :memory-usage 162356208,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "ee11961eabbddfa6ef04c4a7e9c6b3bf589c77a9",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 29,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 10,
   :transitions 48,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 161875600,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "ee11961eabbddfa6ef04c4a7e9c6b3bf589c77a9",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 91,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 10,
   :transitions 48,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 158,
   :memory-usage 162354848,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "ee11961eabbddfa6ef04c4a7e9c6b3bf589c77a9",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 33,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 10,
   :transitions 48,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 161895088,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "ee11961eabbddfa6ef04c4a7e9c6b3bf589c77a9",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 99,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 10,
   :transitions 48,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 161865328,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "ee11961eabbddfa6ef04c4a7e9c6b3bf589c77a9",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 91,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 0,
 :formalism :b}
