{:properties 2,
 :definitions 0,
 :deferred_sets 0,
 :number-of-transitions :unknown,
 :deadlock :unknown,
 :file
 "./prob-examples/ProofObligations/Abrial_ABZ_Devel1/LPN62_mch.eventb",
 :enumerated_sets 3,
 :variables 37,
 :number-of-states :unknown,
 :included-machines
 ["./prob-examples/ProofObligations/Abrial_ABZ_Devel1/LPN62_mch.eventb"],
 :sha512
 "0deb33bfdaadb3e8fb6c52a1ee61779988135a50811cd63ae4a2dbda5060dd0c23b86687c525a8936c3e013df7b2a7561aebd98725ebcace89e33fd772088a84",
 :comment "",
 :files 1,
 :static_assertions 1,
 :operations 76,
 :sha256
 "eaedca973ba447fd27908107cac0b7f95699b1837965779b9e4a9e6a2109b7e9",
 :invariants 88,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time :timeout,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}],
 :dynamic_assertions 4,
 :invariant-violated :unknown,
 :constants 2,
 :formalism :eventb}
