{:properties 10,
 :definitions 0,
 :deferred_sets 0,
 :number-of-transitions 6,
 :deadlock false,
 :file "./prob-examples/B/Demo/BirthdayPuzzle.mch",
 :enumerated_sets 1,
 :variables 0,
 :number-of-states 2,
 :included-machines ["./prob-examples/B/Demo/BirthdayPuzzle.mch"],
 :sha512
 "1d4112b31f8ca540b510f4c9a58e562ae120bd402c6a8dcb96e9fa458f18f769cfb4a66d99f31c7d072b3638647349a18df77931937e9bd3edebbd3064ece280",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 4,
 :sha256
 "bc3cd4277f5c68a56a8c01678b23406803d5f7918051f25ad5faee745b9a4094",
 :invariants 0,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 30,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors nil,
   :states 2,
   :transitions 3,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 13,
   :memory-usage 162200144,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "3751386a2e96ff9bbfc14c0f37a96343f2c9a122",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 35,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 2,
   :transitions 6,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162055616,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "3751386a2e96ff9bbfc14c0f37a96343f2c9a122",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 29,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 2,
   :transitions 6,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162045520,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "3751386a2e96ff9bbfc14c0f37a96343f2c9a122",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 28,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 2,
   :transitions 6,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 12,
   :memory-usage 162211600,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "3751386a2e96ff9bbfc14c0f37a96343f2c9a122",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 39,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 2,
   :transitions 6,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162053824,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "3751386a2e96ff9bbfc14c0f37a96343f2c9a122",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 30,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 4,
 :formalism :b}
