{:properties 0,
 :definitions 0,
 :deferred_sets 0,
 :number-of-transitions 116641,
 :deadlock false,
 :file "./prob-examples/B/Demo/PetsSimple.mch",
 :enumerated_sets 2,
 :variables 2,
 :number-of-states 6561,
 :included-machines ["./prob-examples/B/Demo/PetsSimple.mch"],
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 5,
 :sha256
 "427376e4763f586edf142a9bfa0c46e7f720ddae0aa079d8bdf23f92d04ef4cd",
 :invariants 1,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 209715200,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 15620,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 0,
 :formalism :b}
