{:properties 2,
 :definitions 2,
 :deferred_sets 0,
 :number-of-transitions 61040,
 :deadlock false,
 :file "./prob-examples/B/Demo/SortByPermutation.mch",
 :enumerated_sets 0,
 :variables 1,
 :number-of-states 1297,
 :included-machines ["./prob-examples/B/Demo/SortByPermutation.mch"],
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 7,
 :sha256
 "8a01975bf14097c4e8210233f6e7a878d7e038df309f40f19d7eba46e29239c4",
 :invariants 1,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 209715200,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 9250,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 1,
 :formalism :b}
