{:properties 0,
 :definitions 3,
 :deferred_sets 0,
 :file "./prob-examples/B/Demo/TheracBug.mch",
 :enumerated_sets 0,
 :variables 3,
 :sha512
 "f0d16e01c6c1dc3a9fdda460b87e206c64fae72ad608962ab95656f24ec935f3bb167a6ab743499e344efb3e00f6d85f18f55eb4842035220f2a8bdda3a66f1d",
 :comment "SHA changed",
 :static_assertions 0,
 :operations 3,
 :sha256
 "2c166dbcb144777dbb0beb6bba5113acf20a2342b83b3b0c621275f689819695",
 :invariants 2,
 :runs
 [{:errors nil,
   :states 769,
   :transitions 2308,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 163013104,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "68a54b81e96440c66119cbf377cf4cfdc5b09b87",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 179,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("invariant_violation"),
   :states 767,
   :transitions 2305,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 88,
   :memory-usage 163800272,
   :result "invariant_violation",
   :model-checking-time-unit :msec,
   :machine-hash "68a54b81e96440c66119cbf377cf4cfdc5b09b87",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 368,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 769,
   :transitions 2308,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 163003392,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "68a54b81e96440c66119cbf377cf4cfdc5b09b87",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 181,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("invariant_violation"),
   :states 767,
   :transitions 2305,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 163317280,
   :result "invariant_violation",
   :model-checking-time-unit :msec,
   :machine-hash "68a54b81e96440c66119cbf377cf4cfdc5b09b87",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 259,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 769,
   :transitions 2308,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 34,
   :memory-usage 163403344,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "68a54b81e96440c66119cbf377cf4cfdc5b09b87",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 334,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :constants 0}
