{:properties 0,
 :definitions 1,
 :deferred_sets 0,
 :file "./prob-examples/B/Other/U2B/DSP0.mch",
 :enumerated_sets 3,
 :variables 7,
 :sha512
 "e9b553ad1d97bcdb5a0e85706793c7b7fc79c7fa032b703c0986bb583ee0001506f4c9a56d48d4413248651a3ff376a361b2cd89afa65394dc74400e81927e17",
 :static_assertions 0,
 :operations 5,
 :sha256
 "237149a7c847a8a05a7b05cf056d75b1c15e2ac5f10953b5fd97476ef9442ad2",
 :invariants 6,
 :runs
 [{:errors ("deadlock"),
   :states 16,
   :transitions 32,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 96,
   :memory-usage 162947376,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "0e5239980d312d4b7c51bb494b1a56f1007bfa8f",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 33,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 16,
   :transitions 32,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162539760,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "0e5239980d312d4b7c51bb494b1a56f1007bfa8f",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 36,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("invariant_violation"),
   :states 0,
   :transitions 17,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 163,
   :memory-usage 163236016,
   :result "invariant_violation",
   :model-checking-time-unit :msec,
   :machine-hash "0e5239980d312d4b7c51bb494b1a56f1007bfa8f",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 35,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("invariant_violation"),
   :states 0,
   :transitions 17,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162736032,
   :result "invariant_violation",
   :model-checking-time-unit :msec,
   :machine-hash "0e5239980d312d4b7c51bb494b1a56f1007bfa8f",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 81,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 68,
   :transitions 92,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162459520,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "0e5239980d312d4b7c51bb494b1a56f1007bfa8f",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 41,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :constants 0}
