{:properties 2,
 :definitions 0,
 :deferred_sets 0,
 :number-of-transitions :unknown,
 :deadlock :unknown,
 :file
 "./prob-examples/EventBPrologPackages/SET_Game/SET_Game_mch.eventb",
 :enumerated_sets 3,
 :variables 5,
 :number-of-states :unknown,
 :included-machines
 ["./prob-examples/EventBPrologPackages/SET_Game/SET_Game_mch.eventb"],
 :sha512
 "d50e18aa02326aae89ce67c1db95eafd5c7046daeacd029d39ee593c4fc23fa9c8da868106cac10bdb94b9f27e21a91dfd4f608329b45c59cf4cd29ef0df5138",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 2,
 :sha256
 "761481854eb810ad8509d42ce7a052cbdb794cf9f02373a7d964c7bd182211ca",
 :invariants 5,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time :timeout,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}],
 :dynamic_assertions 0,
 :invariant-violated :unknown,
 :constants 2,
 :formalism :eventb}
