{:properties 19,
 :definitions 0,
 :deferred_sets 1,
 :number-of-transitions 2,
 :deadlock true,
 :file
 "./prob-examples/EventBPrologPackages/Frappier_HL3/KAOS/C2_prob2_ctx.eventb",
 :enumerated_sets 1,
 :variables 0,
 :number-of-states 2,
 :included-machines
 ["./prob-examples/EventBPrologPackages/Frappier_HL3/KAOS/C2_prob2_ctx.eventb"],
 :sha512
 "c81d1484464736b91e099f85dd5c4a967d33378f801b3149cb1d6fb0f002a2977054acb556cc05b7da9f68092d8dfc5022a792406483c44a24aa6d23a79aff32",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 0,
 :sha256
 "0c713172bc97038219cce94d274f2ce11d200fc0dfa58dfc3a17ca8823985aad",
 :invariants 0,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 20,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors nil,
   :states 2,
   :transitions 2,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 162479232,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "24df44ce82a2f268f1eddb621be014d63a181a66",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 20,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 1,
   :transitions 2,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 162553648,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "24df44ce82a2f268f1eddb621be014d63a181a66",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 26,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 2,
   :transitions 2,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 162566800,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "24df44ce82a2f268f1eddb621be014d63a181a66",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 27,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 1,
   :transitions 2,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 2,
   :memory-usage 162633104,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "24df44ce82a2f268f1eddb621be014d63a181a66",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 29,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 2,
   :transitions 2,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162487168,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "24df44ce82a2f268f1eddb621be014d63a181a66",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 23,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 5,
 :formalism :eventb}
