{:properties 1,
 :definitions 1,
 :deferred_sets 0,
 :number-of-transitions :unknown,
 :deadlock :unknown,
 :file
 "./prob-examples/EventBPrologPackages/Disprover/EnumWarningTests/MammarLaleau_PropertyVerification_OutputRetractEV_inv16_all.mch",
 :enumerated_sets 3,
 :variables 0,
 :number-of-states :unknown,
 :included-machines
 ["./prob-examples/EventBPrologPackages/Disprover/EnumWarningTests/MammarLaleau_PropertyVerification_OutputRetractEV_inv16_all.mch"],
 :sha512
 "694eb8ee1f36cce606617af8038af8e68e179475d4585b9ba9cb8b3151cf1f34e9b807ae5caf7f4b614f963b418e9a48fa2b8955eed5ad09d4a6486a51235d6e",
 :comment "",
 :files 1,
 :static_assertions 1,
 :operations 0,
 :sha256
 "2e8aa9088dc69f038d8c790844a76f1d72cb3e69028c047119af20527967513c",
 :invariants 0,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time :timeout,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}],
 :dynamic_assertions 0,
 :invariant-violated :unknown,
 :constants 53,
 :formalism :b}
