{:properties 7,
 :definitions 1,
 :deferred_sets 0,
 :number-of-transitions 450,
 :deadlock true,
 :file "./prob-examples/TLC/Deadlock_LongRunning/GraphIsoSimple7.mch",
 :enumerated_sets 0,
 :variables 1,
 :number-of-states 129,
 :included-machines
 ["./prob-examples/TLC/Deadlock_LongRunning/GraphIsoSimple7.mch"],
 :sha512
 "7cd9142186edc84a83ca03456f948ce06f93ea5cada77479100570254d314fbb6f28ff7d53b022ea74c55bd98eb354d45a08829280f14e22d24f68a5ef26d19e",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 1,
 :sha256
 "701f40b5e0715ce93c33d6075c66f80cddb50e5202bdd7cb659cd22ec255a82a",
 :invariants 1,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 100,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 128,
   :transitions 450,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 163338384,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "1c7d18bb05334976c6cfe5d4f3ae0bef9351813f",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 118,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 129,
   :transitions 450,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 162974080,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "1c7d18bb05334976c6cfe5d4f3ae0bef9351813f",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 119,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 129,
   :transitions 450,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 4,
   :memory-usage 163087008,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "1c7d18bb05334976c6cfe5d4f3ae0bef9351813f",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 123,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 128,
   :transitions 450,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 5,
   :memory-usage 163463968,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "1c7d18bb05334976c6cfe5d4f3ae0bef9351813f",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 113,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 129,
   :transitions 450,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162950064,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "1c7d18bb05334976c6cfe5d4f3ae0bef9351813f",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 102,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 4,
 :formalism :b}
