{:properties 7,
 :definitions 1,
 :deferred_sets 0,
 :number-of-transitions 1026,
 :deadlock true,
 :file "./prob-examples/TLC/Deadlock_LongRunning/GraphIsoMedium8.mch",
 :enumerated_sets 0,
 :variables 1,
 :number-of-states 257,
 :included-machines
 ["./prob-examples/TLC/Deadlock_LongRunning/GraphIsoMedium8.mch"],
 :sha512
 "05d3333ddb763cbcdf27f2c06d3b9eb287db8f65a6d8d22d2e635b1d2321fac9f31900080f73f59ed6e0601a3377349bcdc9ac375d254c5b873cd93ae32675ba",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 1,
 :sha256
 "bcb3303d190da0eba6ea0d1a76ec4678b14b5f58d286477393e26caa4becc2a4",
 :invariants 1,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 160,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors nil,
   :states 257,
   :transitions 1026,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 163472800,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "53890b194902052e1c6547b8967244c385f2968a",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 168,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 257,
   :transitions 1026,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 4,
   :memory-usage 163609712,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "53890b194902052e1c6547b8967244c385f2968a",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 187,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 257,
   :transitions 1026,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 163471936,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "53890b194902052e1c6547b8967244c385f2968a",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 191,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 256,
   :transitions 1026,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 163591904,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "53890b194902052e1c6547b8967244c385f2968a",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 163,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 256,
   :transitions 1026,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 5,
   :memory-usage 163756048,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "53890b194902052e1c6547b8967244c385f2968a",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 179,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 4,
 :formalism :b}
