{:properties 1,
 :definitions 0,
 :deferred_sets 0,
 :number-of-transitions 161,
 :deadlock true,
 :file "./prob-examples/B/Other/BinSearchOps.mch",
 :enumerated_sets 1,
 :variables 2,
 :number-of-states 4,
 :included-machines ["./prob-examples/B/Other/BinSearchOps.mch"],
 :sha512
 "194a8da8e6267768e65166b52d9ddf9f395bfeea2f1ca24aa8b7cd11b8df7075d1d192d947748b8954454d45ca6532998141b87f6f38bbd0395c7c7acc3cc47e",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 1,
 :sha256
 "154fe3a707a6fffae48175cebec30ac75d5dc5d9b9cafdaf024daf32999fe8cd",
 :invariants 3,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 120,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 157,
   :transitions 314,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 163324224,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "f5a62543228e4537de7c0820dba04f965af0bd70",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 144,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("invariant_violation"),
   :states 157,
   :transitions 314,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 4,
   :memory-usage 163447024,
   :result "invariant_violation",
   :model-checking-time-unit :msec,
   :machine-hash "f5a62543228e4537de7c0820dba04f965af0bd70",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 156,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("well_definedness_error"),
   :states 157,
   :transitions 314,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 5,
   :memory-usage 163464704,
   :result
   "state_error(abort_error(well_definedness_error,Well-definedness error evaluating expression: ,{}(0),span_context(span_predicate(b(function(b(value([]),set(couple(integer,integer)),[was_identifier(arr),nodeid(pos(63,1,13,9,13,12)),loc(local,BinSearchOps,concrete_constants),readonly]),b(value(int(0)),integer,[was_identifier(k),nodeid(pos(64,1,13,13,13,14)),readonly])),integer,[contains_wd_condition,nodeid(pos(62,1,13,9,13,15))]),[bind(k,int(0)),bind(o,int(0))],[bind(res,term(undefined)),bind(i,int(1)),bind(j,int(0)),bind(arr,[]),bind(n,int(0))]),???)))",
   :model-checking-time-unit :msec,
   :machine-hash "f5a62543228e4537de7c0820dba04f965af0bd70",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 156,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("well_definedness_error"),
   :states 157,
   :transitions 314,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 163318592,
   :result
   "state_error(abort_error(well_definedness_error,Well-definedness error evaluating expression: ,{}(0),span_context(span_predicate(b(function(b(value([]),set(couple(integer,integer)),[was_identifier(arr),nodeid(pos(63,1,13,9,13,12)),loc(local,BinSearchOps,concrete_constants),readonly]),b(value(int(0)),integer,[was_identifier(k),nodeid(pos(64,1,13,13,13,14)),readonly])),integer,[contains_wd_condition,nodeid(pos(62,1,13,9,13,15))]),[bind(k,int(0)),bind(o,int(0))],[bind(res,term(undefined)),bind(i,int(1)),bind(j,int(0)),bind(arr,[]),bind(n,int(0))]),operation(Search,157))))",
   :model-checking-time-unit :msec,
   :machine-hash "f5a62543228e4537de7c0820dba04f965af0bd70",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 137,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("invariant_violation"),
   :states 157,
   :transitions 314,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 163305856,
   :result "invariant_violation",
   :model-checking-time-unit :msec,
   :machine-hash "f5a62543228e4537de7c0820dba04f965af0bd70",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 145,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 2,
 :formalism :b}
