{:properties 0,
 :definitions 1,
 :deferred_sets 0,
 :file "./prob-examples/B/NewSyntax/CallOperationInExpr_Compile.mch",
 :enumerated_sets 1,
 :variables 2,
 :sha512
 "d0f1dbb58e40a5edcc960ddaf78152588b0679af757e86949157be2b976afc059cc17471d53e381ae3664454c174f6c8e48c392f3666f610cf122495e135f00a",
 :static_assertions 2,
 :operations 7,
 :sha256
 "47c1c71bae1bac6adf5d0da4d1295b3fd7ab9d658c30de76bd92f71901e53321",
 :invariants 1,
 :runs
 [{:errors nil,
   :states 3,
   :transitions 7,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 95,
   :memory-usage 163123888,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "03db89d720928c9d501cf09b97bcbf8d81ae324f",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 239,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 120,
   :transitions 62010,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 182266384,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "03db89d720928c9d501cf09b97bcbf8d81ae324f",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 7531,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 120,
   :transitions 62010,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 182261856,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "03db89d720928c9d501cf09b97bcbf8d81ae324f",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 7528,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 120,
   :transitions 62010,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 182256048,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "03db89d720928c9d501cf09b97bcbf8d81ae324f",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 7058,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 112,
   :transitions 57369,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 115,
   :memory-usage 181298464,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "03db89d720928c9d501cf09b97bcbf8d81ae324f",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 7812,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :constants 0}
