{:properties 0,
 :definitions 1,
 :deferred_sets 0,
 :file
 "./prob-examples/B/NewSyntax/CallOperationInExprMultipleReturns.mch",
 :enumerated_sets 0,
 :variables 0,
 :sha512
 "e5a806dc66bc26038daf9cccee898c9d92231c21fb3bba74c42794b6381d96eb9b0f728acfc1121677b65a9a4e2fdecf03d2e4287f5e3e7a88ce2234ff57c1da",
 :static_assertions 3,
 :operations 2,
 :sha256
 "ed5a63c705bdb062a6bfdec9678ffb6fc37c23121a69027b037ef66bd25c49bd",
 :invariants 0,
 :runs
 [{:errors ("model_check_incomplete"),
   :states 1,
   :transitions 1537,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 30,
   :memory-usage 163055936,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "6a2b548a9d7ef1d6241ea51cbcfc45279dbce35f",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 379,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 1,
   :transitions 1537,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162809424,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "6a2b548a9d7ef1d6241ea51cbcfc45279dbce35f",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 383,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("model_check_incomplete"),
   :states 1,
   :transitions 257,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 31,
   :memory-usage 162377328,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "6a2b548a9d7ef1d6241ea51cbcfc45279dbce35f",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 193,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 1,
   :transitions 1537,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 162808544,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "6a2b548a9d7ef1d6241ea51cbcfc45279dbce35f",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 379,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 1,
   :transitions 1537,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162799584,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "6a2b548a9d7ef1d6241ea51cbcfc45279dbce35f",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 396,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :constants 0}
