{:sha256
 "40ad5e3c502e1bc81850e37cde93992c7aa02604eb1ae1f9a79ade3618d3c6fc",
 :sha512
 "cbfa79a97ea9ab47dfec6c004fc895714a92d072dd8c1a1edcd3bce538c04f3715411fc4366403a6b625987c487c3939bede717a6ce4e6248a0404bd1ff08a90",
 :file "./prob-examples/B/NewSyntax/FreeTypeAndRecursion.mch",
 :runs
 [{:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}],
 :comment "SHA changed"}
