{:properties 0,
 :definitions 0,
 :deferred_sets 0,
 :number-of-transitions 1280,
 :deadlock true,
 :file "./prob-examples/B/NewSyntax/RecTest3_Simple.mch",
 :enumerated_sets 1,
 :variables 1,
 :number-of-states 256,
 :included-machines
 ["./prob-examples/B/NewSyntax/RecTest3_Simple.mch"],
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 1,
 :sha256
 "f24c671978570a1ba4ce4d34b16dc61c67de4a10345e1f239825d3916a717142",
 :invariants 1,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 110,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 0,
 :formalism :b}
