{:sha256
 "0c014445ed386b97507d85a223dc913aad4e3790e1b88ab40207097ec587b0ec",
 :sha512
 "9ed21015d24b5791ef24bb95be9e097f02dfa8fdcee64a8f968d8dc381bc04f6c06a2f24f68e91d65f8dd13f1a06f98eba44b853f27b6dd682704c007f629ae8",
 :file "./prob-examples/B/NewSyntax/SET_Game_Rec.mch",
 :runs
 [{:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}],
 :comment "SHA changed"}
