{:properties 2,
 :definitions 0,
 :deferred_sets 0,
 :number-of-transitions 10,
 :deadlock true,
 :file "./prob-examples/EventBPrologPackages/KKS/Ablauf_PC_mch.eventb",
 :enumerated_sets 2,
 :variables 2,
 :number-of-states 7,
 :included-machines
 ["./prob-examples/EventBPrologPackages/KKS/Ablauf_PC_mch.eventb"],
 :sha512
 "83556c7e7e148876413dc7e64abd3dd90e44803fd4d3f78dc6a4bb1b640b51564fb8bfd37accef8819a4dad4c4ac26098739c76fc5f08dc9bab43ddadda241cd",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 2,
 :sha256
 "6c93c532bb3f9e5b5b0fcf1434406f9e1a17588a19de753938851df6e25118f1",
 :invariants 2,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 140,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 5,
   :transitions 10,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 481,
   :memory-usage 163340608,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "f856692b5ef2900e92bdaf2969883932faae2aec",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 85,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 7,
   :transitions 10,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 162322608,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "f856692b5ef2900e92bdaf2969883932faae2aec",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 143,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 7,
   :transitions 10,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162244032,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "f856692b5ef2900e92bdaf2969883932faae2aec",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 125,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 7,
   :transitions 10,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 206,
   :memory-usage 162979104,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "f856692b5ef2900e92bdaf2969883932faae2aec",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 69,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 5,
   :transitions 10,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162322512,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "f856692b5ef2900e92bdaf2969883932faae2aec",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 133,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 2,
 :formalism :eventb}
