{:properties 3,
 :definitions 7,
 :deferred_sets 0,
 :number-of-transitions :unknown,
 :deadlock true,
 :file "./prob-examples/B/Compilers/ArithTermGrammar.mch",
 :enumerated_sets 1,
 :variables 1,
 :number-of-states :unknown,
 :included-machines
 ["./prob-examples/B/Compilers/ArithTermGrammar.mch"],
 :sha512
 "90ed75864de3bda799555ba71760d41b8cc4c8319e1db74efe4ba7ee2a36ed5cabe1df75ce5d099d54cd5abe9758d13fe01e7a19bda010dbf689cb75a3e3206e",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 1,
 :sha256
 "6f1e19493206769954b5b9c7a28938cfc06d8f5f6fb26152e689388deddfbb0b",
 :invariants 1,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time :timeout,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 2,
   :transitions 6,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 4,
   :memory-usage 162513488,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "c6f5be7f763aa532891b5a376bc9a72ef7ca94db",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 93,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 2,
   :transitions 6,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 162428224,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "c6f5be7f763aa532891b5a376bc9a72ef7ca94db",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 88,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}],
 :dynamic_assertions 0,
 :invariant-violated :unknown,
 :constants 3,
 :formalism :b}
