{:properties 4,
 :definitions 1,
 :deferred_sets 0,
 :number-of-transitions 19888,
 :deadlock false,
 :file "./prob-examples/B/Compilers/DFA_Minimizing.mch",
 :enumerated_sets 1,
 :variables 3,
 :number-of-states 1541,
 :included-machines ["./prob-examples/B/Compilers/DFA_Minimizing.mch"],
 :sha512
 "6b2b7374cf555e6200528f6c0c894c290cba0dcc2b17fc1ac1920b36ed4542ea7dbcb48654a5d170a57ca4c6bdca8f0d678dd41239547cb1a7188860edd5eb34",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 5,
 :sha256
 "95a7c87f4dbab949ba79ed51f16cf9daa0ef9c0d083dfd35703070fd96f21652",
 :invariants 0,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 209715200,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 19300,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors nil,
   :states 1459,
   :transitions 14665,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 890,
   :memory-usage 172495472,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "70c9b351b28144d857cb4889238f39a254d9acca",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 20138,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 1541,
   :transitions 19888,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 174737520,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "70c9b351b28144d857cb4889238f39a254d9acca",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 19861,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 1036,
   :transitions 6711,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 507,
   :memory-usage 168453392,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "70c9b351b28144d857cb4889238f39a254d9acca",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 13660,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 1541,
   :transitions 19888,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 174433232,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "70c9b351b28144d857cb4889238f39a254d9acca",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 21324,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 1541,
   :transitions 19888,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 174747216,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "70c9b351b28144d857cb4889238f39a254d9acca",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 21366,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 3,
 :formalism :b}
