{:properties 6,
 :definitions 2,
 :deferred_sets 0,
 :file
 "./prob-examples/B/Compilers/GrammarChomskyNormalForm_CYK_unicode.mch",
 :enumerated_sets 1,
 :variables 3,
 :sha512
 "573ad8936433282f4d9ae074d9faef6dd63736328a98d4e93eb008a2d8a23247f0ddbc5ee28bde8baf9401fc58d849ab26ca326d67134816b60db4a02a041510",
 :static_assertions 0,
 :operations 2,
 :sha256
 "4207d92c9e15e9b201df7b2297d53fcb0926007b7da2591639acb29ab8e6a87e",
 :invariants 3,
 :runs
 [{:errors nil,
   :states 12,
   :transitions 13,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 227,
   :memory-usage 163755888,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "e0baa35bfb8ff04d7eb090cc8370ff281cd9a7f4",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 87,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 12,
   :transitions 13,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 163258752,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "e0baa35bfb8ff04d7eb090cc8370ff281cd9a7f4",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 200,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 12,
   :transitions 13,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 163308832,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "e0baa35bfb8ff04d7eb090cc8370ff281cd9a7f4",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 226,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 12,
   :transitions 13,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 163248464,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "e0baa35bfb8ff04d7eb090cc8370ff281cd9a7f4",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 201,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 12,
   :transitions 13,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 184,
   :memory-usage 163721840,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "e0baa35bfb8ff04d7eb090cc8370ff281cd9a7f4",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 116,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :constants 5}
