{:properties 4,
 :definitions 8,
 :deferred_sets 0,
 :number-of-transitions 17418,
 :deadlock true,
 :file
 "./prob-examples/B/Compilers/LLParsingStagedEfficient_v3_Expr.mch",
 :enumerated_sets 1,
 :variables 4,
 :number-of-states 6021,
 :included-machines
 ["./prob-examples/B/Compilers/LLParsingStagedEfficient_v3_Expr.mch"],
 :sha512
 "ddd07acf447066d7ab59810753f442986d2a82cec38c801f4f229507950c7b3dba886e18b456a40b60883bd2cc98d02fe0ae299850ab9ccd86331e6c232f2933",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 6,
 :sha256
 "be33e8c73163a14c99b572fdac3f837aac78d9cc4dafd8e41909e020bef57bed",
 :invariants 4,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 209715200,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 43360,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors nil,
   :states 6021,
   :transitions 17418,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 2352,
   :memory-usage 184447008,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "1513d63fac479f28a3e2f0f5e8a7f99a6c268ff2",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 45998,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 6021,
   :transitions 17418,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 182855280,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "1513d63fac479f28a3e2f0f5e8a7f99a6c268ff2",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 49676,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 6021,
   :transitions 17418,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 183897824,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "1513d63fac479f28a3e2f0f5e8a7f99a6c268ff2",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 48812,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 94,
   :transitions 315,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 164268448,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "1513d63fac479f28a3e2f0f5e8a7f99a6c268ff2",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 627,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 94,
   :transitions 315,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1144,
   :memory-usage 164858800,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "1513d63fac479f28a3e2f0f5e8a7f99a6c268ff2",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 533,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 3,
 :formalism :b}
