{:properties 4,
 :definitions 1,
 :deferred_sets 0,
 :number-of-transitions 134199,
 :deadlock true,
 :file "./prob-examples/B/Compilers/LLParsingStagedEfficient.mch",
 :enumerated_sets 1,
 :variables 4,
 :number-of-states 31048,
 :included-machines
 ["./prob-examples/B/Compilers/LLParsingStagedEfficient.mch"],
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 6,
 :sha256
 "bc254c4a952296c800ffcc98556af3c98800e7abb522c70eb4b4737977672ff7",
 :invariants 4,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 277450,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 3,
 :formalism :b}
