{:properties 4,
 :definitions 1,
 :deferred_sets 0,
 :file "./prob-examples/B/Compilers/LLParsingStaged.mch",
 :enumerated_sets 1,
 :variables 4,
 :sha512
 "20205df103a9baa28e5f39c07b697e838ce895e74a724d5dcc61ddbfb693873c5cb980cb089ef7b36cb5bbfd41263c02d7a07f11d470d716040955d50f997026",
 :comment "SHA changed",
 :static_assertions 0,
 :operations 5,
 :sha256
 "cfcb5e772166eefe617e66f5a3af6c0411e0ab86e8877d7dfe4a59b6dfbe3154",
 :invariants 4,
 :runs
 [{:errors nil,
   :states 12872,
   :transitions 38823,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 195541520,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "65575d572abbfbfad3f118c457833d6d4977c962",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 86817,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 112,
   :transitions 436,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 164278688,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "65575d572abbfbfad3f118c457833d6d4977c962",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 854,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 112,
   :transitions 436,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 300,
   :memory-usage 164776592,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "65575d572abbfbfad3f118c457833d6d4977c962",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 834,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 12872,
   :transitions 38823,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 193045408,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "65575d572abbfbfad3f118c457833d6d4977c962",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 97845,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 12872,
   :transitions 38823,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 640,
   :memory-usage 196092656,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "65575d572abbfbfad3f118c457833d6d4977c962",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 97726,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :constants 3}
