{:properties 12,
 :definitions 5,
 :deferred_sets 0,
 :number-of-transitions 244,
 :deadlock true,
 :file "./prob-examples/B/Compilers/TuringMachine_Goedelisation.mch",
 :enumerated_sets 3,
 :variables 3,
 :number-of-states 244,
 :included-machines
 ["./prob-examples/B/Compilers/TuringMachine_Goedelisation.mch"],
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 2,
 :sha256
 "f508c96a0b5c368ed04c06abf1d197299f5c72f8f18130ab44b30fd1e6aec055",
 :invariants 2,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 209715200,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 260,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 12,
 :formalism :b}
