{:properties 11,
 :definitions 0,
 :deferred_sets 0,
 :number-of-transitions 19702,
 :deadlock false,
 :file
 "./prob-examples/B/Namur/Projects/Feduniak/CarController_mch.eventb",
 :enumerated_sets 2,
 :variables 8,
 :number-of-states 7579,
 :included-machines
 ["./prob-examples/B/Namur/Projects/Feduniak/CarController_mch.eventb"],
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 10,
 :sha256
 "906d1855cdd588ea56757ee3291958e561bef3e04a765621b4955b0d0368d433",
 :invariants 5,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 2250,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 6,
 :formalism :eventb}
