{:properties 2,
 :definitions 0,
 :deferred_sets 1,
 :number-of-transitions 30,
 :deadlock false,
 :file
 "./prob-examples/EventBPrologPackages/Deploy/s1_mch1_switches_mch.eventb",
 :enumerated_sets 0,
 :variables 3,
 :number-of-states 9,
 :included-machines
 ["./prob-examples/EventBPrologPackages/Deploy/s1_mch1_switches_mch.eventb"],
 :sha512
 "de683a8428ab2ef38ae7bca293e332b03d9cce81b7bd7a696ed37919df1dccff55f92c5ec8e92bc87597511a33997d7c3fae1c8c54ba3318c92ece5498fbfc6c",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 6,
 :sha256
 "da05d2298c0e2911d2fff20d85d84e6d7f75073412c9d7903d0c63b3c3c62e72",
 :invariants 2,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 70,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors nil,
   :states 9,
   :transitions 30,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 162105696,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "cb25b92d62fcf848e4890fbaeb68c66f33fc65b6",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 60,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 9,
   :transitions 30,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 162110224,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "cb25b92d62fcf848e4890fbaeb68c66f33fc65b6",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 64,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 9,
   :transitions 28,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 134,
   :memory-usage 162682672,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "cb25b92d62fcf848e4890fbaeb68c66f33fc65b6",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 50,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 9,
   :transitions 30,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162101808,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "cb25b92d62fcf848e4890fbaeb68c66f33fc65b6",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 65,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 9,
   :transitions 30,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 145,
   :memory-usage 162703152,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "cb25b92d62fcf848e4890fbaeb68c66f33fc65b6",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 52,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 1,
 :formalism :eventb}
