{:properties 3,
 :definitions 1,
 :deferred_sets 1,
 :number-of-transitions 142982,
 :deadlock false,
 :file "./prob-examples/B/SymmetryReduction/Peterson_err.mch",
 :enumerated_sets 1,
 :variables 4,
 :number-of-states 35746,
 :included-machines
 ["./prob-examples/B/SymmetryReduction/Peterson_err.mch"],
 :sha512
 "232fef6d868c0b246f03a6a7933bfe9dba1f18bc29e5554ee8cf68cb53dc95db1c247e108e8a205be1366321f704bf48618360c3510455406f3b8248a15b31d8",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 5,
 :sha256
 "5e9c9fc0120ca1fe9c38f1ea69ac42ca5880f2cb3c8a54bc2a1ec9b10c66a0fa",
 :invariants 5,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 262144000,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 75260,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors nil,
   :states 35746,
   :transitions 142982,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1975,
   :memory-usage 260629328,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "76f106c8cf51b36b527454454c55f3df95837d2c",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 84733,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("invariant_violation"),
   :states 1921,
   :transitions 7686,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 169157408,
   :result "invariant_violation",
   :model-checking-time-unit :msec,
   :machine-hash "76f106c8cf51b36b527454454c55f3df95837d2c",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 4461,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 35746,
   :transitions 142982,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 253083824,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "76f106c8cf51b36b527454454c55f3df95837d2c",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 76539,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 35746,
   :transitions 142982,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 253093328,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "76f106c8cf51b36b527454454c55f3df95837d2c",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 78305,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("invariant_violation"),
   :states 1921,
   :transitions 7686,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 2593,
   :memory-usage 169964224,
   :result "invariant_violation",
   :model-checking-time-unit :msec,
   :machine-hash "76f106c8cf51b36b527454454c55f3df95837d2c",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 4728,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated true,
 :constants 1,
 :formalism :b}
