{:sha256
 "fc4b38b6856aeb89c29d536192b9f3654d14327c7c67c16a3ca0a3d7f1d1adc3",
 :sha512
 "c36e149ebbde2df29a17690bf1a7de77789286523cffae96e0b2014e019fdce41eb2d43be47ba9f2b3ed1f79a64c1eb97240db3a8feff6718dbe82da89b2d4d1",
 :file "./prob-examples/B/SymmetryReduction/Rubik2.mch",
 :runs
 [{:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}],
 :comment "SHA changed"}
