{:properties 3,
 :definitions 12,
 :deferred_sets 2,
 :file "./prob-examples/B/SymmetryReduction/TicTacToe_SimplerSym.mch",
 :enumerated_sets 1,
 :variables 2,
 :sha512
 "8a3bc30ea33e9fc3fd764e6b7ce048fec4411e419ed34f070e9af490431186a2d22a866c57f822015038f4692de63fe3b93a37cda2b8c65ed4ee2857c15d548a",
 :static_assertions 0,
 :operations 4,
 :sha256
 "c62f2398d2aeba01a2bc26e3fabfa83ede889a734077e2b47e18e81b12eca4ed",
 :invariants 2,
 :runs
 [{:errors ("deadlock" "clpfd_interface"),
   :states 5402,
   :transitions 17050,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1073,
   :memory-usage 178459536,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "5cab76fcbaece142ac5c26a983d7717d83d60514",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 15778,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 5479,
   :transitions 17132,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1920,
   :memory-usage 175250480,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "5cab76fcbaece142ac5c26a983d7717d83d60514",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 16068,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 5479,
   :transitions 17132,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 173731520,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "5cab76fcbaece142ac5c26a983d7717d83d60514",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 15881,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 5402,
   :transitions 17050,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 176894288,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "5cab76fcbaece142ac5c26a983d7717d83d60514",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 16050,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 5479,
   :transitions 17132,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 174659776,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "5cab76fcbaece142ac5c26a983d7717d83d60514",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 17002,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :constants 1}
