{:properties 5,
 :definitions 10,
 :deferred_sets 0,
 :number-of-transitions 98,
 :deadlock false,
 :file "./prob-examples/B/TLA/DieHarder_TLA.mch",
 :enumerated_sets 0,
 :variables 1,
 :number-of-states 17,
 :included-machines ["./prob-examples/B/TLA/DieHarder_TLA.mch"],
 :sha512
 "172cbbc11b28f1b7799606197d63a7e0638df20ba7b2daeaf41e080830097880f09ff10652d1719f2dc885e57bf98a609ac487285aecd4fa68cccf658f34b280",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 3,
 :sha256
 "99402f20824a896790e107592aebdf0e48f8203ef652956582b309a165efa36a",
 :invariants 1,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 60,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors ("bmachine_construction"),
   :states 17,
   :transitions 98,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 163066112,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "0e86dd02cc2ffa8b991584812b73f43464c659e6",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 75,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("invariant_violation" "bmachine_construction"),
   :states 14,
   :transitions 86,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 163185632,
   :result "invariant_violation",
   :model-checking-time-unit :msec,
   :machine-hash "0e86dd02cc2ffa8b991584812b73f43464c659e6",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 101,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("invariant_violation" "bmachine_construction"),
   :states 14,
   :transitions 86,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1371,
   :memory-usage 163822464,
   :result "invariant_violation",
   :model-checking-time-unit :msec,
   :machine-hash "0e86dd02cc2ffa8b991584812b73f43464c659e6",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 65,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("bmachine_construction"),
   :states 17,
   :transitions 98,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1376,
   :memory-usage 163723824,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "0e86dd02cc2ffa8b991584812b73f43464c659e6",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 62,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("bmachine_construction"),
   :states 17,
   :transitions 98,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 163076416,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "0e86dd02cc2ffa8b991584812b73f43464c659e6",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 72,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated true,
 :constants 3,
 :formalism :b}
