{:properties 0,
 :definitions 0,
 :deferred_sets 0,
 :number-of-transitions 401,
 :deadlock false,
 :file "./prob-examples/B/TLA/NegDivision.mch",
 :enumerated_sets 0,
 :variables 1,
 :number-of-states 201,
 :included-machines ["./prob-examples/B/TLA/NegDivision.mch"],
 :sha512
 "8f10ab397123cc68794a01bf364c90aa0d527d00f284734284861352f9ec0066038ed1d38974297a90677b838bf627ca6833083e933cf81370b3b6f3be626fcc",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 2,
 :sha256
 "9662beb95c2f4972a4e04efb6c9c8911331585478e9c055e0c4fb5bed4343450",
 :invariants 4,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 80,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors nil,
   :states 201,
   :transitions 401,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 161999824,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "48b311e0dac266b9eff095532bfe5e8ded442550",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 73,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 201,
   :transitions 401,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162009376,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "48b311e0dac266b9eff095532bfe5e8ded442550",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 72,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 201,
   :transitions 401,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 125,
   :memory-usage 162489520,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "48b311e0dac266b9eff095532bfe5e8ded442550",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 96,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 201,
   :transitions 401,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 161814848,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "48b311e0dac266b9eff095532bfe5e8ded442550",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 115,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 201,
   :transitions 401,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 107,
   :memory-usage 162433296,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "48b311e0dac266b9eff095532bfe5e8ded442550",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 75,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 0,
 :formalism :b}
