{:properties 1,
 :definitions 0,
 :deferred_sets 0,
 :number-of-transitions 8,
 :deadlock true,
 :file "./prob-examples/B/Tickets/PROB-333/TestForallScope.mch",
 :enumerated_sets 1,
 :variables 0,
 :number-of-states 8,
 :included-machines
 ["./prob-examples/B/Tickets/PROB-333/TestForallScope.mch"],
 :sha512
 "340629ac5662a6c1c20738ecec9b2155a21916809b0e016d3ba60f9e774fc8468c7877f7cbc37d5afa6d648d09e920bcbca4f73ead4984520f95ff2f1217ee32",
 :comment "",
 :files 1,
 :static_assertions 7,
 :operations 0,
 :sha256
 "1f0ce6888cacbd847d526214e93b999ede9dee0249d0147b5407ace8b98125c8",
 :invariants 0,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 20,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 4,
   :transitions 8,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 2,
   :memory-usage 161966384,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "f64a2ed7f036f63e9ac4be205777e7ce0c7c7776",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 31,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 8,
   :transitions 8,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 161811552,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "f64a2ed7f036f63e9ac4be205777e7ce0c7c7776",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 23,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 8,
   :transitions 8,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 161818640,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "f64a2ed7f036f63e9ac4be205777e7ce0c7c7776",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 24,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 4,
   :transitions 8,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 161890736,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "f64a2ed7f036f63e9ac4be205777e7ce0c7c7776",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 27,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 8,
   :transitions 8,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 3,
   :memory-usage 161901792,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "f64a2ed7f036f63e9ac4be205777e7ce0c7c7776",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 28,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 2,
 :formalism :b}
