{:properties 2,
 :definitions 1,
 :deferred_sets 0,
 :number-of-transitions 510,
 :deadlock false,
 :file "./prob-examples/B/Tickets/UnicodeSupport/t1_2_atelierb.mch",
 :enumerated_sets 2,
 :variables 1,
 :number-of-states 211,
 :included-machines
 ["./prob-examples/B/Tickets/UnicodeSupport/t1_2_atelierb.mch"],
 :sha512
 "9a2e60d96671175341e51ed2fa2d65189f8a58349d470465dd13551467dabd6794df16cf6a8f28a62cb532fed76fc89530cf20fc163b995c1d5e5b853bb85b7c",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 2,
 :sha256
 "df12a4d6042b39b6dbeba8cdae812b2a60b04a181a3bee06e79471fb3e82629c",
 :invariants 3,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 960,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors nil,
   :states 211,
   :transitions 510,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 752,
   :memory-usage 164260816,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "c9f986d6d714c5a56ef6edd45932667a5d7b2f23",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 819,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 211,
   :transitions 510,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 163691360,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "c9f986d6d714c5a56ef6edd45932667a5d7b2f23",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 904,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 211,
   :transitions 510,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 332,
   :memory-usage 164518832,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "c9f986d6d714c5a56ef6edd45932667a5d7b2f23",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 1017,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 211,
   :transitions 510,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 163954352,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "c9f986d6d714c5a56ef6edd45932667a5d7b2f23",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 1153,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 211,
   :transitions 510,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 163680192,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "c9f986d6d714c5a56ef6edd45932667a5d7b2f23",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 964,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 2,
 :formalism :b}
