{:properties 3,
 :definitions 0,
 :deferred_sets 0,
 :file
 "./prob-examples/B/Tickets/UnicodeSupport/TestUmlauteInString_Internal_Saved.mch",
 :enumerated_sets 0,
 :variables 0,
 :sha512
 "095af2d6511bfa09230758876446b67fa79a16bdaaa73e64d1c451d7c5d0d8c742791e83d36ba6f682accca1e7360189eb891a80124559a45ad0cbbd805307cd",
 :static_assertions 1,
 :operations 0,
 :sha256
 "93c7f3170fd27d15092562dede9de0849e8dd15f77f69cda48540b2fe9975c1c",
 :invariants 0,
 :runs
 [{:errors nil,
   :states 2,
   :transitions 2,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 3,
   :memory-usage 161591952,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "1b71ba7fc1517c5d455e9c6b5497a54d77ec9b97",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 27,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 2,
   :transitions 2,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 161501744,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "1b71ba7fc1517c5d455e9c6b5497a54d77ec9b97",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 22,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 1,
   :transitions 2,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 2,
   :memory-usage 161652576,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "1b71ba7fc1517c5d455e9c6b5497a54d77ec9b97",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 33,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 2,
   :transitions 2,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 161510176,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "1b71ba7fc1517c5d455e9c6b5497a54d77ec9b97",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 24,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 1,
   :transitions 2,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 161577872,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "1b71ba7fc1517c5d455e9c6b5497a54d77ec9b97",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 25,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :constants 3}
