{:properties 8,
 :definitions 0,
 :deferred_sets 0,
 :file "./prob-examples/B/Mathematical/diophantisch_hoch_vier.mch",
 :enumerated_sets 0,
 :variables 0,
 :sha512
 "2ead3dcdc9b7f6246abfa72603b6c238c0175902ed01786526c1adc3dd1b670995a4b58fb6f069cc278df0a2feb53f9208098a2a7ae178a14ac640e9103227b2",
 :static_assertions 0,
 :operations 0,
 :sha256
 "9d5d034d2bb67683eb53443ff51ecd30bb31cf3a08b8f5d4a3872b3ef4e913ce",
 :invariants 0,
 :runs
 [{:errors ("state_error:CLPFD_integer_overflow" "clpfd_overflow"),
   :states 0,
   :transitions 0,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time _,
   :memory-usage 161658608,
   :result "state_error(CLPFD_integer_overflow)",
   :model-checking-time-unit :msec,
   :machine-hash "2282a75dd750b028083a2ae4da1808204c2b6d56",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 8,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("state_error:CLPFD_integer_overflow" "clpfd_overflow"),
   :states 0,
   :transitions 0,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time _,
   :memory-usage 161658320,
   :result "state_error(CLPFD_integer_overflow)",
   :model-checking-time-unit :msec,
   :machine-hash "2282a75dd750b028083a2ae4da1808204c2b6d56",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 7,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock" "clpfd_overflow"),
   :states 0,
   :transitions 0,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time _,
   :memory-usage 161713328,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "2282a75dd750b028083a2ae4da1808204c2b6d56",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 11,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("state_error:CLPFD_integer_overflow" "clpfd_overflow"),
   :states 0,
   :transitions 0,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time _,
   :memory-usage 161709456,
   :result "state_error(CLPFD_integer_overflow)",
   :model-checking-time-unit :msec,
   :machine-hash "2282a75dd750b028083a2ae4da1808204c2b6d56",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 7,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock" "clpfd_overflow"),
   :states 0,
   :transitions 0,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time _,
   :memory-usage 161669520,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "2282a75dd750b028083a2ae4da1808204c2b6d56",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 11,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :constants 4}
