{:properties 49,
 :definitions 0,
 :deferred_sets 0,
 :file "./prob-examples/B/Mathematical/FormaleSprachenUnicode.mch",
 :enumerated_sets 1,
 :variables 0,
 :sha512
 "739f5403373740e04a680d5e30038bc0a4e0a1ddba6608a93c4d71dd0ece47b4f1f1ff8b22991c5fd124580b145bf4cece7682928f46aebd06c333f1fd012f0c",
 :static_assertions 1,
 :operations 0,
 :sha256
 "043f0c58f6d826096d9d24c3c27a1beddadcf08df34490924c87aa32a4351e0c",
 :invariants 0,
 :runs
 [{:errors nil,
   :states 2,
   :transitions 2,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 2,
   :memory-usage 164158976,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "f98329c267ba83999125ae3c2c7e440f43011aac",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 29,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 1,
   :transitions 2,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 164148480,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "f98329c267ba83999125ae3c2c7e440f43011aac",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 27,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 2,
   :transitions 2,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 164072816,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "f98329c267ba83999125ae3c2c7e440f43011aac",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 20,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 2,
   :transitions 2,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 164080960,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "f98329c267ba83999125ae3c2c7e440f43011aac",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 24,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 1,
   :transitions 2,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 164219424,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "f98329c267ba83999125ae3c2c7e440f43011aac",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 30,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :constants 15}
