{:properties 5,
 :definitions 6,
 :deferred_sets 0,
 :number-of-transitions 768,
 :deadlock false,
 :file "./prob-examples/B/Mathematical/GraphColouring_K5.mch",
 :enumerated_sets 1,
 :variables 0,
 :number-of-states 192,
 :included-machines
 ["./prob-examples/B/Mathematical/GraphColouring_K5.mch"],
 :sha512
 "877ff9a0b413dbc4f5bb2f755287301c512a876ad23eb838951caac6b2f9e895e5ff2c3e0b1bdef8eb9bde229ec0068c2c92e6fa358d8ecaecb436bf337b6e1f",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 1,
 :sha256
 "9dc2653c064f5e18649a8711b8e96704c85aef20885482076d6bb74cd4f18c82",
 :invariants 0,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 90,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors nil,
   :states 192,
   :transitions 768,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 164072736,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "6ec9ae0ab6e3d62122f252413dc7b1ffe45f9ce7",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 89,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 192,
   :transitions 768,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 164046384,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "6ec9ae0ab6e3d62122f252413dc7b1ffe45f9ce7",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 95,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 192,
   :transitions 768,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 164095904,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "6ec9ae0ab6e3d62122f252413dc7b1ffe45f9ce7",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 92,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 192,
   :transitions 768,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 4,
   :memory-usage 164107456,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "6ec9ae0ab6e3d62122f252413dc7b1ffe45f9ce7",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 104,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 192,
   :transitions 768,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 4,
   :memory-usage 164148288,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "6ec9ae0ab6e3d62122f252413dc7b1ffe45f9ce7",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 108,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 3,
 :formalism :b}
