{:properties 0,
 :definitions 4,
 :deferred_sets 0,
 :number-of-transitions 103,
 :deadlock false,
 :file "./prob-examples/B/Mathematical/Sieve.mch",
 :enumerated_sets 0,
 :variables 3,
 :number-of-states 102,
 :included-machines ["./prob-examples/B/Mathematical/Sieve.mch"],
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 3,
 :sha256
 "3a739c5eafc7dfb75f9c97fbf8f9dbc10f827c0230ae6522bf2fb1a43ea5a3c7",
 :invariants 2,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 400,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 0,
 :formalism :b}
