{:properties 0,
 :definitions 4,
 :deferred_sets 0,
 :number-of-transitions 103,
 :deadlock false,
 :file "./prob-examples/B/Mathematical/SieveAlternate.mch",
 :enumerated_sets 0,
 :variables 3,
 :number-of-states 102,
 :included-machines
 ["./prob-examples/B/Mathematical/SieveAlternate.mch"],
 :sha512
 "f3a54af52dc18b9254a90a5deb3afe05ef141419bcf172b5acb6099a7cae3b02fac92159e67ad273778dae3aa5ea389b3c9942e3724479fccc9a37ba4baf5de5",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 3,
 :sha256
 "0f31a5bcd821fa89ad2285d81fdc3540f49f6919d52d24f4b762dabb7c0a4062",
 :invariants 2,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 1270,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors nil,
   :states 102,
   :transitions 103,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 165360192,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "48907dea998d89731679db37e288bf20c6b0ebed",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 1122,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("model_check_incomplete"),
   :states 102,
   :transitions 103,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 251,
   :memory-usage 165825760,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "48907dea998d89731679db37e288bf20c6b0ebed",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 977,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 102,
   :transitions 103,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 165369856,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "48907dea998d89731679db37e288bf20c6b0ebed",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 1155,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("model_check_incomplete"),
   :states 102,
   :transitions 103,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 261,
   :memory-usage 165836608,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "48907dea998d89731679db37e288bf20c6b0ebed",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 979,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("general_error_occurred" "internal_error(error_manager)"),
   :states 1,
   :transitions 3,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162868256,
   :result "general_error_occurred",
   :model-checking-time-unit :msec,
   :machine-hash "48907dea998d89731679db37e288bf20c6b0ebed",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 243,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 0,
 :formalism :b}
