{:properties 4,
 :definitions 1,
 :deferred_sets 0,
 :number-of-transitions 6,
 :deadlock true,
 :file "./prob-examples/B/Mathematical/SpanningTree.mch",
 :enumerated_sets 1,
 :variables 0,
 :number-of-states 6,
 :included-machines
 ["./prob-examples/B/Mathematical/SpanningTree.mch"],
 :sha512
 "8802e0d2775943c1702ebb100635f70ab47dec51b52e3bb9885a908e15094f0ddd6b254f69397e5722664380a9a8b6babb369280b2527fecc94cd066c0dfcb72",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 0,
 :sha256
 "20a61a9317fbfe18c3bc7c5db708aea951b5332a226a339aa9b5b024ba055c28",
 :invariants 0,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 20,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors ("deadlock" "bmachine_static_checks"),
   :states 3,
   :transitions 6,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 162708944,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "babeba375f04c1c3da47777b2d47947c66912476",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 28,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("bmachine_static_checks"),
   :states 6,
   :transitions 6,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162677456,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "babeba375f04c1c3da47777b2d47947c66912476",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 22,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("bmachine_static_checks"),
   :states 6,
   :transitions 6,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 3,
   :memory-usage 162765984,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "babeba375f04c1c3da47777b2d47947c66912476",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 27,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock" "bmachine_static_checks"),
   :states 3,
   :transitions 6,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 2,
   :memory-usage 162782672,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "babeba375f04c1c3da47777b2d47947c66912476",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 31,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("bmachine_static_checks"),
   :states 6,
   :transitions 6,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162685168,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "babeba375f04c1c3da47777b2d47947c66912476",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 23,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 2,
 :formalism :b}
