{:properties 8,
 :definitions 3,
 :deferred_sets 0,
 :number-of-transitions 52,
 :deadlock false,
 :file "./prob-examples/B/CBC/BinarySearchEvents_Overflow.mch",
 :enumerated_sets 0,
 :variables 5,
 :number-of-states 44,
 :included-machines
 ["./prob-examples/B/CBC/BinarySearchEvents_Overflow.mch"],
 :sha512
 "8763c9a24263ac1c917e1fc3a2fa111c47b5a2d8cb46f6f9c523dd72e0beed71e874896c4e394ccfa4752f8e836469f329497c24f44076b42a861b2d341ae079",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 4,
 :sha256
 "b2e04a77cda45b82ca74caacd54c4b9aa59130d8ed4158d4b5199cbb0d538cfa",
 :invariants 5,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 50,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors nil,
   :states 44,
   :transitions 52,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 163159600,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "7e0ec946294b7a34d3917989150577b3ea4e8920",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 48,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 44,
   :transitions 52,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 163185184,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "7e0ec946294b7a34d3917989150577b3ea4e8920",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 55,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 44,
   :transitions 52,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 117,
   :memory-usage 163405264,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "7e0ec946294b7a34d3917989150577b3ea4e8920",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 52,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 44,
   :transitions 52,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 163169392,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "7e0ec946294b7a34d3917989150577b3ea4e8920",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 47,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 44,
   :transitions 52,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 81,
   :memory-usage 163525424,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "7e0ec946294b7a34d3917989150577b3ea4e8920",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 48,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 4,
 :formalism :b}
