{:properties 1,
 :definitions 2,
 :deferred_sets 0,
 :number-of-transitions 6,
 :deadlock true,
 :file "./prob-examples/B/CBC/Constraint_with_exists_v2.mch",
 :enumerated_sets 2,
 :variables 0,
 :number-of-states 6,
 :included-machines
 ["./prob-examples/B/CBC/Constraint_with_exists_v2.mch"],
 :sha512
 "c7f9caa2bdbb2c86a80aba418e0c37bf25eda2d8e62cad025f42ab339039b11a504308e8a8f4b7d77aacb444d4d8af5c0b1f73461cd8a58d9563309784e0c449",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 0,
 :sha256
 "7fd33ace112005b5e3b59a434f111613cadcf07d1fd5082905e85e119af0bf78",
 :invariants 0,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 20,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 3,
   :transitions 6,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 163069248,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "ab013e561cbd559c2bbbf78bc899c470c522605a",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 25,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 6,
   :transitions 6,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162997360,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "ab013e561cbd559c2bbbf78bc899c470c522605a",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 21,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 6,
   :transitions 6,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 162989824,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "ab013e561cbd559c2bbbf78bc899c470c522605a",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 22,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 6,
   :transitions 6,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 2,
   :memory-usage 163048080,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "ab013e561cbd559c2bbbf78bc899c470c522605a",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 27,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 3,
   :transitions 6,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 2,
   :memory-usage 163112624,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "ab013e561cbd559c2bbbf78bc899c470c522605a",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 33,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 1,
 :formalism :b}
