{:properties 1,
 :definitions 0,
 :deferred_sets 0,
 :file "./prob-examples/B/CBC/EnumerationWarning.mch",
 :enumerated_sets 1,
 :variables 1,
 :sha512
 "0f63ae7d6bb761248c52883a6874ed37f98c9acdee4b5b93ea063891602f344626c9371b10db8ea668dbba8471612479f5896b38b79e478251c00cc1e10e2518",
 :static_assertions 1,
 :operations 1,
 :sha256
 "8984f8545f76897c84239ea5b5204f3da76eda1bd50c198c8daf667b54fed34a",
 :invariants 3,
 :runs
 [{:errors nil,
   :states 398,
   :transitions 398,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162509344,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "b1b69c0ad67e4852cabc771eb73bd1fa65303367",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 73,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 391,
   :transitions 395,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162674576,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "b1b69c0ad67e4852cabc771eb73bd1fa65303367",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 76,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("invariant_violation"),
   :states 4,
   :transitions 9,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 161993040,
   :result "invariant_violation",
   :model-checking-time-unit :msec,
   :machine-hash "b1b69c0ad67e4852cabc771eb73bd1fa65303367",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 50,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 391,
   :transitions 395,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 4,
   :memory-usage 162797760,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "b1b69c0ad67e4852cabc771eb73bd1fa65303367",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 97,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("invariant_violation"),
   :states 4,
   :transitions 9,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 4,
   :memory-usage 162083840,
   :result "invariant_violation",
   :model-checking-time-unit :msec,
   :machine-hash "b1b69c0ad67e4852cabc771eb73bd1fa65303367",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 51,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :constants 1}
