{:properties 5,
 :definitions 2,
 :deferred_sets 2,
 :number-of-transitions 0,
 :deadlock true,
 :file "./prob-examples/B/CBC/phonebook7_cbc_add_exists.mch",
 :enumerated_sets 0,
 :variables 0,
 :number-of-states 0,
 :included-machines
 ["./prob-examples/B/CBC/phonebook7_cbc_add_exists.mch"],
 :sha512
 "eab2db8c54408e1c7c4a298dc0765cbc4c6523c4a26009bf42abe9d5fd549e32d8aa0dd60d778f75c03530105dbaad3aa59e3e0b257fe5f76acfd6dfacbd3dea",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 0,
 :sha256
 "10b2e11e00f80d4c0035d7adc3f0e19f6b10c335216317e974b0b90690458ab8",
 :invariants 0,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 10,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors nil,
   :states 0,
   :transitions 0,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162404240,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "102e8b0c78abf8913c638cb777a713ea1dcdbedd",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 11,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 0,
   :transitions 0,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time _,
   :memory-usage 162504112,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "102e8b0c78abf8913c638cb777a713ea1dcdbedd",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 12,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 0,
   :transitions 0,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time _,
   :memory-usage 162461552,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "102e8b0c78abf8913c638cb777a713ea1dcdbedd",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 12,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 0,
   :transitions 0,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162403648,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "102e8b0c78abf8913c638cb777a713ea1dcdbedd",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 10,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 0,
   :transitions 0,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 162460736,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "102e8b0c78abf8913c638cb777a713ea1dcdbedd",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 10,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 6,
 :formalism :b}
