{:properties 6,
 :definitions 0,
 :deferred_sets 1,
 :number-of-transitions 504,
 :deadlock true,
 :file "./prob-examples/B/Daniel/stellwerk/switching.mch",
 :enumerated_sets 0,
 :variables 3,
 :number-of-states 224,
 :included-machines
 ["./prob-examples/B/Daniel/stellwerk/switching.mch"
  "./prob-examples/B/Daniel/stellwerk/layout.mch"],
 :sha512
 "96bff1a22c929dcbdd84fbca77f702e787012dcdc580d22cd4dc029543a0e89dfe23339184dac2c039ea861eaa42595be9f47bef27acb37cfa9100c4739cadcd",
 :comment "",
 :files 2,
 :static_assertions 0,
 :operations 2,
 :sha256
 "d71abd3c8825577360ea0ca82981ef0adbf5bbbd857d78485e77ad93e63cadca",
 :invariants 5,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 120,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 116,
   :transitions 264,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 41,
   :memory-usage 163559120,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "0e70faf59ba88694a86529e4da4b5f061ae2c9c1",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 114,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 224,
   :transitions 504,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 52,
   :memory-usage 163555968,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "0e70faf59ba88694a86529e4da4b5f061ae2c9c1",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 192,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 116,
   :transitions 264,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 163275552,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "0e70faf59ba88694a86529e4da4b5f061ae2c9c1",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 93,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 224,
   :transitions 504,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 163280688,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "0e70faf59ba88694a86529e4da4b5f061ae2c9c1",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 166,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 224,
   :transitions 504,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 163248112,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "0e70faf59ba88694a86529e4da4b5f061ae2c9c1",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 132,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 7,
 :formalism :b}
