{:properties 2,
 :definitions 1,
 :deferred_sets 0,
 :number-of-transitions :unknown,
 :deadlock :unknown,
 :file
 "./prob-examples/B/Ivo/BenchmarksFairness/ProB/Peterson/Peterson4.mch",
 :enumerated_sets 0,
 :variables 3,
 :number-of-states :unknown,
 :included-machines
 ["./prob-examples/B/Ivo/BenchmarksFairness/ProB/Peterson/Peterson4.mch"],
 :sha512
 "6092a8c2fbf24a62dd8819783bb8596b691af9acc4864da68248a0196d4a7e5c4a9d130d17ed0e7b04669c30bf784e060c3db0753e54278db85438144bc2e90c",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 4,
 :sha256
 "61851e712103f0e71beff4a28cfb952bd57ed8886155874128022811ba0957c5",
 :invariants 3,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time :timeout,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:errors ("invariant_violation"),
   :states 3,
   :transitions 167,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 543,
   :memory-usage 163771296,
   :result "invariant_violation",
   :model-checking-time-unit :msec,
   :machine-hash "a6316918553592080312c674b5b75990d6386cfb",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 77,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("invariant_violation"),
   :states 3,
   :transitions 167,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 163174368,
   :result "invariant_violation",
   :model-checking-time-unit :msec,
   :machine-hash "a6316918553592080312c674b5b75990d6386cfb",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 217,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}],
 :dynamic_assertions 0,
 :invariant-violated true,
 :constants 2,
 :formalism :b}
