{:properties 11,
 :definitions 0,
 :deferred_sets 1,
 :number-of-transitions :unknown,
 :deadlock :unknown,
 :file
 "./prob-examples/EventBPrologPackages/TopologyDiscovery/rm_5.eventb",
 :enumerated_sets 0,
 :variables 8,
 :number-of-states :unknown,
 :included-machines
 ["./prob-examples/EventBPrologPackages/TopologyDiscovery/rm_5.eventb"],
 :sha512
 "777e64c8cdbea6603d25f342c784cbb6a841d535d4440ac5742285a22cdeca6218105f3b1293005c0a5feb421d920a8628aa23a2ba8f3fe2d6c86a4c8403e988",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 5,
 :sha256
 "a9e6b2bc9330b8412479bbebaa7c6a3543f54d01a113cc8c52c226d4a5b3b021",
 :invariants 19,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time :timeout,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}],
 :dynamic_assertions 4,
 :invariant-violated :unknown,
 :constants 5,
 :formalism :eventb}
