{:properties 0,
 :definitions 0,
 :deferred_sets 0,
 :number-of-transitions 32,
 :deadlock false,
 :file
 "./prob-examples/EventBPrologPackages/Advance/DoorLockSystem/LOCKSR2_mch.eventb",
 :enumerated_sets 3,
 :variables 9,
 :number-of-states 23,
 :included-machines
 ["./prob-examples/EventBPrologPackages/Advance/DoorLockSystem/LOCKSR2_mch.eventb"],
 :sha512
 "09e50f271817bd10eb9a0040f17e37a2ed23becdad45dbb7d4a2a74fd1bf397dd5a6f75b223ff44269604197d205920ef7d4557012ff3f67d603261472a05ef6",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 18,
 :sha256
 "15c15074985a41ed4c9a0b4c4b3317430555254af40eace75fc98354dcf68435",
 :invariants 7,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 80,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors nil,
   :states 23,
   :transitions 32,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 264,
   :memory-usage 163017472,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "d0f11e84a7402ebcf4f8ee80cfae0cf39ab90901",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 42,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 23,
   :transitions 32,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 162386576,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "d0f11e84a7402ebcf4f8ee80cfae0cf39ab90901",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 88,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 23,
   :transitions 32,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 162336416,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "d0f11e84a7402ebcf4f8ee80cfae0cf39ab90901",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 83,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 23,
   :transitions 32,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162339696,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "d0f11e84a7402ebcf4f8ee80cfae0cf39ab90901",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 82,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 23,
   :transitions 32,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 390,
   :memory-usage 163123200,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "d0f11e84a7402ebcf4f8ee80cfae0cf39ab90901",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 43,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 0,
 :formalism :eventb}
