{:properties 15,
 :definitions 0,
 :deferred_sets 3,
 :number-of-transitions :unknown,
 :deadlock :unknown,
 :file
 "./prob-examples/EventBPrologPackages/arinc653model-master/M3_Mach_PartProc_Manage_mch.eventb",
 :enumerated_sets 6,
 :variables 27,
 :number-of-states :unknown,
 :included-machines
 ["./prob-examples/EventBPrologPackages/arinc653model-master/M3_Mach_PartProc_Manage_mch.eventb"],
 :sha512
 "e51e9ace798916820ac92aa36da2af79d018249ddee063cce349db25ffa7985503fc218283a5a81ca4774ff40f93c326963818161248d7f3ec8977675e5dc7c1",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 42,
 :sha256
 "004bdc17e8e72ac27a7cb97d8b29d1da261afb3754bf4b011db897810ee480aa",
 :invariants 46,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time :timeout,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}],
 :dynamic_assertions 0,
 :invariant-violated :unknown,
 :constants 13,
 :formalism :eventb}
