{:properties 4,
 :definitions 0,
 :deferred_sets 5,
 :number-of-transitions 65746,
 :deadlock false,
 :file "./prob-examples/B/Tickets/110/Library_mch.eventb",
 :enumerated_sets 0,
 :variables 16,
 :number-of-states 1133,
 :included-machines
 ["./prob-examples/B/Tickets/110/Library_mch.eventb"],
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 19,
 :sha256
 "66123c3eb2dc290ffc6bef0f593b80a9143857df34e93112ecd56d3120a5e7dc",
 :invariants 14,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 262144000,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 16060,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 4,
 :formalism :eventb}
