{:properties 17,
 :definitions 15,
 :deferred_sets 0,
 :number-of-transitions 37384,
 :deadlock false,
 :file "./prob-examples/B/Puzzles/RushHour/RushHour_MultiMove.mch",
 :enumerated_sets 0,
 :variables 2,
 :number-of-states 4781,
 :included-machines
 ["./prob-examples/B/Puzzles/RushHour/RushHour_MultiMove.mch"],
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 4,
 :sha256
 "832db99b541705a3c06654508e0e4de19923d2493e2e04d72e1eb3e5dc1bb91d",
 :invariants 2,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 209715200,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 99380,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}],
 :dynamic_assertions 3,
 :invariant-violated false,
 :constants 8,
 :formalism :b}
