{:properties 1,
 :definitions 0,
 :deferred_sets 2,
 :file
 "./prob-examples/B/Other/MobileComm/RefinementDevelopment/MultiFlowSpec.mch",
 :enumerated_sets 0,
 :variables 1,
 :sha512
 "2d6c6e6d4d8ca13c721122b7ba3e0928ac1cc643a8cf2b055fee122d252da642ed5516ca4bddbe8c80c55fea61652d2f37dd27db0adc66b051c48b064a8cf6f0",
 :static_assertions 0,
 :operations 3,
 :sha256
 "81cb1610fc5f25845253799e11e97edf7bdd3852b86103565b44e8bedf01a00e",
 :invariants 2,
 :runs
 [{:errors ("model_check_incomplete"),
   :states 5,
   :transitions 14,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 204,
   :memory-usage 163268400,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "c54c623ca33e2eabb88095923b6bac072ddf659f",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 80,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("general_error_occurred" "internal_error(error_manager)"),
   :states 2,
   :transitions 18,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162891696,
   :result "general_error_occurred",
   :model-checking-time-unit :msec,
   :machine-hash "c54c623ca33e2eabb88095923b6bac072ddf659f",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 206,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("model_check_incomplete"),
   :states 5,
   :transitions 34,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 233,
   :memory-usage 163359168,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "c54c623ca33e2eabb88095923b6bac072ddf659f",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 78,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 5,
   :transitions 34,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 162617440,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "c54c623ca33e2eabb88095923b6bac072ddf659f",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 161,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 5,
   :transitions 34,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 162627456,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "c54c623ca33e2eabb88095923b6bac072ddf659f",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 158,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :constants 1}
