{:properties 0,
 :definitions 2,
 :deferred_sets 0,
 :number-of-transitions :unknown,
 :deadlock true,
 :file "./prob-examples/B/Demo/nasty_coin/NastyCoin.mch",
 :enumerated_sets 0,
 :variables 7,
 :number-of-states :unknown,
 :included-machines
 ["./prob-examples/B/Demo/nasty_coin/NastyCoin.mch"],
 :sha512
 "09ac5ee0639c21731481982628267e61ea3eaed8df47c0c6112ae3b1c32a48255090e57f42b361213961890d94ce451c10cc447f79529da4bd018071f3ffb36e",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 8,
 :sha256
 "93800354def46f1e48632f1687adea60eb8c99a9ccd88323c0977b5311bf1346",
 :invariants 7,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage :timeout,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time :timeout,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors ("invariant_violation"),
   :states 130,
   :transitions 645,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 162819456,
   :result "invariant_violation",
   :model-checking-time-unit :msec,
   :machine-hash "28c96a43f234b96cb0c83bb2ce4bb300275c339a",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 122,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("invariant_violation"),
   :states 130,
   :transitions 645,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 196,
   :memory-usage 163431152,
   :result "invariant_violation",
   :model-checking-time-unit :msec,
   :machine-hash "28c96a43f234b96cb0c83bb2ce4bb300275c339a",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 125,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 1418,
   :transitions 7088,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 166092832,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "28c96a43f234b96cb0c83bb2ce4bb300275c339a",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 557,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 1198,
   :transitions 5985,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1434,
   :memory-usage 166626912,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "28c96a43f234b96cb0c83bb2ce4bb300275c339a",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 813,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:tool :prob,
   :timeout 1800000,
   :timeout-unit :msecs,
   :result :timeout}],
 :dynamic_assertions 0,
 :invariant-violated true,
 :constants 0,
 :formalism :b}
