{:properties 0,
 :definitions 0,
 :deferred_sets 0,
 :file "./prob-examples/B/Other/Corinna/GraphIso.mch",
 :enumerated_sets 1,
 :variables 4,
 :sha512
 "b31e39e26e82fbb3de248a3015d1af0be26a1a3fe7f5c730cadec53953d821871874b02c5adea881749cd9ed6c9adb97effd296ce5fed8a088f5d91af23d9c4e",
 :static_assertions 0,
 :operations 3,
 :sha256
 "115a71562d6fa448b34afa8a34ddd3b6c9e846f7383d77888fb8aeb38d1ca635",
 :invariants 1,
 :runs
 [{:errors nil,
   :states 768,
   :transitions 25345,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 175386400,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "6537e52ea647443162c29b9ace9ea855a4422cce",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 3585,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 768,
   :transitions 25345,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 175359088,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "6537e52ea647443162c29b9ace9ea855a4422cce",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 3616,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 768,
   :transitions 25345,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 175376416,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "6537e52ea647443162c29b9ace9ea855a4422cce",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 3595,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 768,
   :transitions 25345,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 41,
   :memory-usage 175675712,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "6537e52ea647443162c29b9ace9ea855a4422cce",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 3854,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 768,
   :transitions 25345,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 120,
   :memory-usage 175767984,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "6537e52ea647443162c29b9ace9ea855a4422cce",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 3701,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :constants 0}
