{:properties 0,
 :definitions 0,
 :deferred_sets 0,
 :number-of-transitions 11,
 :deadlock true,
 :file "./prob-examples/B/CBC/Enabling/OpCallSelect2.mch",
 :enumerated_sets 0,
 :variables 1,
 :number-of-states 11,
 :included-machines
 ["./prob-examples/B/CBC/Enabling/OpCallSelect2.mch"],
 :sha512
 "efe2bf43d4d6b680007d7e6ce3bd1998065682ccd4416c61d366f3bbf5fa32b3057109b6aa4e03db62a0d425587579d2814cf441c0a5386a683a49ed686ae349",
 :comment "",
 :files 1,
 :static_assertions 0,
 :operations 2,
 :sha256
 "07ce87a7088d85f663a5648b454c1fc96b0c12c50c9b3d6f1662036e2ce644d8",
 :invariants 1,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 157286400,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 40,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}
  {:errors ("invariant_violation"),
   :states 4,
   :transitions 6,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 161663104,
   :result "invariant_violation",
   :model-checking-time-unit :msec,
   :machine-hash "aac868e3e2cfe8adb06033ba1563d1fcea75d0f3",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations},
   :model-checking-time 70,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 10,
   :transitions 11,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 108,
   :memory-usage 162026224,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "aac868e3e2cfe8adb06033ba1563d1fcea75d0f3",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors
     :partial_order_reduction},
   :model-checking-time 23,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors nil,
   :states 11,
   :transitions 11,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 1,
   :memory-usage 161555472,
   :result "all",
   :model-checking-time-unit :msec,
   :machine-hash "aac868e3e2cfe8adb06033ba1563d1fcea75d0f3",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options #{:inspect_existing_nodes :find_state_errors},
   :model-checking-time 55,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("invariant_violation"),
   :states 4,
   :transitions 6,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 104,
   :memory-usage 162013888,
   :result "invariant_violation",
   :model-checking-time-unit :msec,
   :machine-hash "aac868e3e2cfe8adb06033ba1563d1fcea75d0f3",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:inspect_existing_nodes :find_state_errors
     :find_invariant_violations :partial_order_reduction},
   :model-checking-time 27,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}
  {:errors ("deadlock"),
   :states 10,
   :transitions 11,
   :tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :static-analysis-time 0,
   :memory-usage 161633632,
   :result "deadlock",
   :model-checking-time-unit :msec,
   :machine-hash "aac868e3e2cfe8adb06033ba1563d1fcea75d0f3",
   :commit "1b6f14bbd533c2459b1ce675eb57ab24fee89caa",
   :options
   #{:find_deadlocks :inspect_existing_nodes :find_state_errors},
   :model-checking-time 60,
   :revision-date "Fri May 7 15:43:25 2021 +0200",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated true,
 :constants 0,
 :formalism :b}
