{:properties 93,
 :definitions 18,
 :deferred_sets 0,
 :number-of-transitions 2,
 :deadlock true,
 :file "./prob-examples/B/Tickets/Valerio9/Michael_12/ALU.mch",
 :enumerated_sets 0,
 :variables 0,
 :number-of-states 2,
 :included-machines
 ["./prob-examples/B/Tickets/Valerio9/Michael_12/ALU.mch"
  "./prob-examples/B/Tickets/Valerio9/Michael_12/TYPES.mch"
  "./prob-examples/B/Tickets/Valerio9/Michael_12/UCHAR_DEFINITION.mch"
  "./prob-examples/B/Tickets/Valerio9/Michael_12/BIT_DEFINITION.mch"
  "./prob-examples/B/Tickets/Valerio9/Michael_12/BYTE_DEFINITION.mch"
  "./prob-examples/B/Tickets/Valerio9/Michael_12/POWER2.mch"
  "./prob-examples/B/Tickets/Valerio9/Michael_12/POWER.mch"
  "./prob-examples/B/Tickets/Valerio9/Michael_12/SCHAR_DEFINITION.mch"
  "./prob-examples/B/Tickets/Valerio9/Michael_12/USHORT_DEFINITION.mch"
  "./prob-examples/B/Tickets/Valerio9/Michael_12/BV16_DEFINITION.mch"
  "./prob-examples/B/Tickets/Valerio9/Michael_12/SSHORT_DEFINITION.mch"],
 :comment "",
 :files 11,
 :static_assertions 56,
 :operations 0,
 :sha256
 "bee64be6df82bba7acb10b548dceb38e84519121b39d4364e805e849e4cd152e",
 :invariants 0,
 :runs
 [{:tool :prob,
   :hardware
   {:name :hilbert-ivybridge,
    :memory "2 GB",
    :cpu "Intel E5-2697v2 (Ivy Bridge EP), 2,70GHz"},
   :memory-usage 209715200,
   :model-checking-time-unit :msec,
   :commit "a2072ff1b7e810931787fc1d214ee8cc5cfbf373",
   :timeout 1800000,
   :model-checking-time 30,
   :revision-date "  Mon Jan 14 21:18:10 2019 +0100",
   :memory-unit :byte}],
 :dynamic_assertions 0,
 :invariant-violated false,
 :constants 74,
 :formalism :b}
